<div class="container-fluid frame-1">
    <!-- <div class="ai-header-container d-flex justify-content-start align-items-center">
        <div class="logo mr-3"routerLink="/">
            <img src="../../../../assets/ai/casestudy/logo.png"class="cursor-pointer " style="width:100px" alt="">
        </div>
        <div class="ai-header">
            <h1>Quantum<span> &#x2022; Case study</span></h1>
        </div>
    </div> -->
    <div class="mt-5">
        <div class="head w-100 h-100 d-flex flex-column align-items-center justify-content-center">
            <div class="button my-2" data-aos="slide-up">
                <button class="our-project-btn">About Project</button>
            </div>

            <div class="our-process my-2 " data-aos="slide-up">
                <h1 class=" text-align-center text-capitalize text-white">{{aiCaseStudy.title}}</h1>
            </div>

            <div class="success-desc my-2 text-align-center text-white" data-aos="slide-up">
                <p>{{aiCaseStudy.descriptionOne}}</p>
            </div>
        </div>
    </div>
    <div class="banner-img-container">
        <div class="images position-relative">
            <img class="w-100" src="{{aiCaseStudy.img}}" alt="">
            <img class="position-absolute bottom-0 view-more d-none d-sm-block"
                src="../.../../../../../assets/casestudybanner/view-more.jpg" alt="">

            <!-- <img class="position-absolute bottom-0 view-more d-none d-sm-block"
                src="../.../../../../../assets/casestudybanner/view_more2.png" alt=""*ngIf="!isDarkTheme"> -->
        </div>
    </div>
</div>
<div class="container frame-2" [ngStyle]="{background:isDarkTheme?'#070015':'white'}">
    <div class="pt-sm-5 pt-3">
        <div class="head w-100 h-100 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex flex-column flex-sm-row justify-content-between align-tiems-center">
                <div>
                    <div class="button my-2 d-flex justify-content-center justify-content-sm-start" data-aos="slide-up">
                        <button class="our-process-btn">Problem</button>
                    </div>

                    <div class="our-process my-2 " data-aos="slide-up">
                        <h1 class=" text-sm-start text-center  text-capitalize">Challenges Faced<br> by client.</h1>
                    </div>
                </div>
                <div class="success-desc my-2 text-sm-start text-center align-self-center" data-aos="slide-up">
                    <p [innerHTML]="aiCaseStudy.problemDescription"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="svg-container">
        <div>
            <img src="../../../../assets/ai/casestudy/banner3.png" alt="" *ngIf="isDarkTheme">
            <img src="../../../../assets/ai/casestudy/banner4.png" alt="" *ngIf="!isDarkTheme">

        </div>
    </div>
</div>
<div class="container-fluid frame-3" [ngStyle]="{background:isDarkTheme?'#070015':'#ECF0FF'}">
    <div class="">
        <div class="head w-100 h-100 d-flex flex-column align-items-center justify-content-center">
            <div class="button my-2 d-flex" data-aos="slide-up">
                <button class="our-process-btn">Solution</button>
            </div>

            <div class="our-process my-2 " data-aos="slide-up">
                <h1 class=" text-align-center  text-capitalize">Our Solution that make<br> Customer life Easy. </h1>
            </div>

            <div class="success-desc my-2 text-align-center" data-aos="slide-up">
                <p>{{aiCaseStudy.solutionDescription}}</p>
            </div>
        </div>
    </div>
    <div class="container frame-4 pt-sm-5 pt-3">
        <ng-cotainer *ngFor="let solution of aiCaseStudy.solutions;let i=index;">
            <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between  align-items-center gap-sm-5 gap-3 mt-sm-5 mt-5"
                *ngIf="i%2==0">
                <div class="img-container">
                    <img src="{{solution.img}}" alt="">
                </div>
                <div class="heading-container">
                    <div>
                        <h1 class="heading  text-capitalize">{{solution.title}}</h1>
                        <p class="sub-heading">{{solution.desc}}</p>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between align-items-center gap-sm-5 gap-3 mt-5"
                *ngIf="i%2!=0">
                <div class="heading-container order-last order-sm-first">
                    <div>
                        <h1 class="heading  text-capitalize">{{solution.title}}</h1>
                        <p class="sub-heading">{{solution.desc}}</p>
                    </div>
                </div>
                <div class="img-container order-first order-sm-last">
                    <img src="{{solution.img}}" alt="">
                </div>
            </div>
        </ng-cotainer>
    </div>
</div>
<div class="container-fluid frame-5 pt-sm-5 pt-3" [ngStyle]="{background:isDarkTheme?'#070015':'#ECF0FF'}">
    <div class="container">
        <div class="head my-3 d-flex flex-column align-items-sm-start align-items-center justify-content-center ">
            <div class="d-flex justify-content-start align-tiems-center">
                <div>
                    <div class="button my-2 d-flex flex-row justify-content-center justify-content-sm-start"
                        data-aos="slide-up">
                        <button class="our-process-btn">Impact</button>
                    </div>

                    <div class="our-process my-2 " data-aos="slide-up">
                        <h1 class=" text-sm-start text-center  text-capitalize">Our Solution That<br> impact on Product
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="progress-container">
            <div class="progress-data-container">
                <div class="progress-1 " [ngClass]="isDarkTheme?'bg-progress-dark':'bg-progress-light'">
                    <div class="data">
                        <h1>{{aiCaseStudy.impacts[0].title}}</h1>
                        <p>{{aiCaseStudy.impacts[0].desc}}</p>
                    </div>
                </div>
                <div class="progress-2" [ngClass]="isDarkTheme?'bg-progress-dark':'bg-progress-light'">
                    <div class="data">
                        <h1>{{aiCaseStudy.impacts[1].title}}</h1>
                        <p>{{aiCaseStudy.impacts[1].desc}}</p>
                    </div>
                </div>
                <div class="progress-3" [ngClass]="isDarkTheme?'bg-progress-dark':'bg-progress-light'">
                    <div class="data">
                        <h1>{{aiCaseStudy.impacts[2].title}}</h1>
                        <p>{{aiCaseStudy.impacts[2].desc}}</p>
                    </div>
                </div>
                <div class="progress-4">
                    <div class="data">
                        <h1>{{aiCaseStudy.impacts[3].title}}</h1>
                        <p>{{aiCaseStudy.impacts[3].desc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>