footer {
    height: auto;
    font-family: 'Plus Jakarta Sans';
    justify-content: start !important;

}

footer * {
    margin: 4px;
}

footer>.container div:nth-child(1) {
    justify-content: start;
}

button {
    height: 48px;
    width: 48px;
}

.fa-solid {
    transition: all 1s ease;
}

.social-icon {
    height: 100px;
    width: 180px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

@keyframes vibrate {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-5deg);
    }

    20% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    60% {
        transform: rotate(0deg);
    }

    70% {
        transform: rotate(-5deg);
    }

    80% {
        transform: rotate(5deg);
    }

    90% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.si-one::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url("../../../assets/socials/linkedin.png");
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 0px 6px 0 0;
    opacity: 20%;
    overflow: hidden;
    /* Add transition property */
}

.si-one:hover::before,
.fa-phone-volume,
.fa-envelope-open,
.fa-location-pin,
.fa-fax {
    animation: vibrate 1s ease;
}

.si-two:hover::before {
    animation: vibrate 1s ease;
}

.si-three:hover::before {
    animation: vibrate 1s ease;
}


.si-two::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url("../../../assets/socials/facebook.png");
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 0px 6px 0 0;
    opacity: 20%;
}

.si-three::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url("../../../assets/socials/instagram.png");
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 0px 6px 0 0;
    opacity: 20%;
}

.follow>span {
    font-size: 13px;
}

.contact-value {
    font-size: 16px;
    transition: all 1s ease;
}

.contact-value:hover,
.pages p:hover {
    /* color: black !important; */
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quantum .tagline p {
    font-size: 16px;
}

.ipad-mini-landscape1 {
    width: 40%;
}

.ipad-mini-landscape {
    width: 64%;
    padding: 0px;
}

.social-links-container {
    gap: 15px;
    /* padding-left: 55px; */
}

@media(min-width:1025px) and (max-width:1180px) {
    footer>.container {
        padding: 0px !important;
        margin: 0px;
    }
}


@media (max-width: 1024px)and (min-width:768px) {
    .social-links-container {
        flex-wrap: wrap;
    }

    footer>.container {
        margin: 0px;
        padding: 0px !important;
    }

    footer>.container div:nth-child(1) {
        justify-content: start;
    }
}

@media (max-width: 992px) {
    .social-icon {
        height: 80px;
        width: 150px;
    }

    .social-platform {
        font-size: 12px;
    }

    .follow>span {
        font-size: 8px;
    }

    .ipad-mini-landscape1 {
        width: 100%;
    }

    .ipad-mini-landscape {
        width: 100%;
    }
}

@media(max-width:820px) {
    .social-icon {
        width: 130px;
    }
}

@media(max-width:768px) {

    .social-links-container {
        height: auto;
    }

    .social-links-container>.social-icon {
        height: 90px;
        width: 150px;
    }
}

@media (max-width: 575.98px) {

    .text-container {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* Number of lines to show */
        -webkit-box-orient: vertical;
    }

    .text-container.expanded {
        -webkit-line-clamp: unset;
    }

    .tagline button {
        color: white;
        background: transparent;
        border: none;
        white-space: nowrap;
        margin: 0px;
        /* padding: 0px; */
        height: 30px;
        font-size: 14px;
        cursor: pointer;
    }

    .contact-value {
        font-size: 14px;
    }

    .contact-icon-info a {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heading {
        margin: 0px !important;
    }

    .heading>h5 {
        font-size: 14px;
        white-space: nowrap;
    }

    .pages>p {
        margin-bottom: 10px !important;
        font-size: 12px;
        white-space: nowrap;
        margin-right: 0px;
        margin-left: 0px;
    }

    .ipad-mini-landscape {
        margin: 0px;
        padding: 0px;
    }

    .pages-container {
        padding: 0px;
    }

    .pages-container>div {
        margin: 0px;
    }

    .quantum .tagline p {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400 !important;
    }

    .social-links-container {
        gap: 0px;
        padding-left: 0px;
    }

    .rights p {
        font-size: 12px;
    }
}