<footer [ngStyle]="{'background-color': isDarkMode ? '#111111' : '#ECF0FF'}"
    class="w-100 d-flex flex-column align-items-center justify-content-center">
    <div class="container-fluid d-flex p-1 p-lg-5 flex-lg-row flex-column">
        <div class="container-fluid d-flex flex-column ipad-mini-landscape1">
            <div class="quantum">
                <div routerLink="/" class="logo" *ngIf="isDarkMode">
                    <img [ngStyle]="{'filter': isDarkMode ? 'none' : 'invert(1)'}" height="49" width="114"
                        src="../../../assets/logo-white.png" alt="">
                </div>
                <div routerLink="/" class="logo" *ngIf="!isDarkMode">
                    <img height="49" width="114" src="../../../assets/Logo light mode app logo.png" alt="">
                </div>
                <div class="tagline">
                    <p class="text-secondary text-container"
                        [ngClass]="{'collapsed': !isExpanded, 'expanded': isExpanded}">Quantum IT Innovation stands at
                        the forefront of digital transformation, offering solutions that revolutionize businesses.
                        Focussing on innovation, we harness the power of technology to propel your organization into the
                        future. </p>
                    <button class="d-block d-sm-none" [ngStyle]="{color:isDarkMode?'#AEBDE5':'#5f82df'}"
                        (click)="toggleReadMore()">{{ isExpanded ? 'Read Less' :
                        'ReadMore' }}</button>
                </div>
            </div>
            <div class="contact-info-div d-none d-sm-block">
                <div class="contanct-info-+content d-flex align-items-center"
                    *ngFor="let contact of contacts; let i = index">
                    <button
                        [ngStyle]="{background: isDarkMode ? '#343538' : 'linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%)'}"
                        class="btn rounded-circle text-align-center" (mouseenter)="isHovering[i] = true"
                        (mouseleave)="isHovering[i] = false">
                        <i class="m-0 fs-6 fa-solid w-100 text-align-center"
                            [class]="isHovering[i] ? contact.hoverIcon : contact.icon"></i>
                    </button>
                    <div>
                        <label for="btn" class="text-secondary">
                            {{contact.label}}
                            <p>
                                <a [ngStyle]="{'color': isDarkMode ? 'white' : 'black'}"
                                    class="m-0  text-decoration-none fw-semibold contact-value" [href]="contact.link"
                                    (mouseenter)="isHovering[i] = true"
                                    (mouseleave)="isHovering[i] = false">{{contact.value}}</a>
                            </p>
                        </label>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid ipad-mini-landscape">
            <div class="d-flex flex-column align-items-center">
                <div class="container pages-container d-none d-sm-flex justify-content-around">
                    <div class="d-flex flex-column " *ngFor="let page of pageLabels">
                        <div class="heading">
                            <h5 [ngStyle]="{'color': isDarkMode ? 'white' : 'black'}" class=" fw-bold">
                                {{page.heading}}</h5>
                        </div>
                        <div class="pages">
                            <p style="cursor:pointer" class="text-secondary mb-4" [routerLink]="page.link"
                                (click)="page.label === 'Services' ? scrollToGetServices() : scrollToTop()"
                                *ngFor="let page of page.pages">
                                {{page.label}}</p>
                        </div>
                    </div>
                </div>
                <div class="container pages-container d-flex d-sm-none justify-content-start row">
                    <div class="d-flex flex-column col-6 " *ngFor="let page of pageLabels;let i=index;">
                        <div class="" [ngStyle]="{'border-right':i==0?'1px solid #262626':'none'}">
                            <div class="heading">
                                <h5 [ngStyle]="{'color': isDarkMode ? 'white' : 'black'}" class=" fw-bold">
                                    {{page.heading}}</h5>
                            </div>
                            <div class="pages">
                                <p style="cursor:pointer" class="text-secondary mb-4 "
                                    [ngStyle]="{'margin-right':i==2?'20px':'0px','margin-top':i==2?'20px':'10px'}"
                                    [routerLink]="page.link"
                                    (click)="page.label === 'Services' ? scrollToGetServices() : scrollToTop()"
                                    *ngFor="let page of page.pages">
                                    {{page.label}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container social-links-container d-flex justify-content-center justify-content-sm-start" >
                    <a href="https://www.linkedin.com/company/quantumit-it-innovation/mycompany/" target="_blank"
                        style="background-color:#0077B5" class="social-icon text-decoration-none  si-one">
                        <div class="follow container align-content-end py-2 w-100 h-100">
                            <span style="color:white" class="fw-lighter follow-us">Follow Us On</span>
                            <h5 style="color:white" class="social-platform">LinkedIn</h5>
                        </div>
                    </a>
                    <a href="https://www.instagram.com/quantumitpro/" target="_blank" style="background-color: #D62976;"
                        class="social-icon text-decoration-none  si-three">
                        <div class="follow container align-content-end py-2 w-100 h-100">
                            <span style="color:white" class="fw-lighter follow-us">Follow Us On</span>
                            <h5 style="color:white" class="social-platform">Instagram</h5>
                        </div>
                    </a>
                    <a href="https://www.facebook.com/quantumitinnovationindia " target="_blank"
                        style="background-color: #1B76F2;" class="social-icon text-decoration-none  si-two">
                        <div class="follow container align-content-end py-2 w-100 h-100">
                            <span style="color:white" class="fw-lighter follow-us">Follow Us On</span>
                            <h5 style="color:white" class="social-platform">Facebook</h5>
                        </div>
                    </a>

                </div>
            </div>
            <div class="contact-info-div d-block d-sm-none">
                <div class="d-flex flex-row justify-content-center gap-5">
                    <div class="contanct-info-+content contact-icon-info d-flex align-items-center"
                        *ngFor="let contact of contacts; let i = index">
                        <a [href]="contact.link"
                            [ngStyle]="{background: isDarkMode ? '#343538' : 'linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%)'}"
                            class="btn rounded-circle text-align-center" (mouseenter)="isHovering[i] = true"
                            (mouseleave)="isHovering[i] = false">
                            <i class="m-0 fs-6 fa-solid w-100 text-align-center"
                                [class]="isHovering[i] ? contact.hoverIcon : contact.icon"></i>
                        </a>
                        <!-- <div>
                            <label for="btn" class="text-secondary">
                                {{contact.label}}
                                <p>
                                    <a [ngStyle]="{'color': isDarkMode ? 'white' : 'black'}"
                                        class="m-0  text-decoration-none fw-semibold contact-value"
                                        [href]="contact.link" (mouseenter)="isHovering[i] = true"
                                        (mouseleave)="isHovering[i] = false">{{contact.value}}</a>
                                </p>
                            </label>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rights">
        <p class=" opacity-50">© 2000-2021, All Rights Reserved</p>
    </div>
</footer>