footer {
    /* position: fixed; */
    bottom: 0;
    height: auto;
    font-family: 'Plus Jakarta Sans';
}

footer * {
    margin: 4px;
}

footer>.container div:nth-child(1) {
    justify-content: start;
}

button {
    height: 48px;
    width: 48px;
}

.social-icon {
    height: 100px;
    width: 170px;
    border-radius: 6px;
    position: relative;
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

.si-one::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url("../../../assets/socials/dribbble.png");
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 0px 6px 0 0;
    opacity: 20%;
    transition: background-position 0.5s ease;
    overflow: hidden;
    /* Add transition property */
}

.si-one:hover::before {
    animation: bounce 1s ease;
    overflow: hidden;
    /* Change background position on hover */
}


.si-two::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url("../../../assets/socials/facebook.png");
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 0px 6px 0 0;
    opacity: 20%;
}

.si-three::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url("../../../assets/socials/youtube.png");
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 0px 6px 0 0;
    opacity: 20%;
}

.follow>span {
    font-size: 13px;
}

.contact-value {
    font-size: 1.25rem;
}

@media(max-width:1366px) {
    footer {

        justify-content: start !important;
        height: 130vh;
    }
}

@media(min-width:821px) and (max-width:1180px) {
    footer {
        justify-content: start !important;
        height: 130vh;
    }

    footer>.container {
        height: 80vh;
    }
}

/* this is form ipad pro portrait */
@media(max-width:1366px) and (min-height: 1366px) {
    footer>.container {
        height: 50vh;

    }
}

@media(min-width:1025px) and (max-width:1180px) {
    footer>.container {
        padding: 0px !important;
        margin: 0px;
    }
}


@media (max-width: 1024px)and (min-width:768px) {
    .social-links-container {
        flex-wrap: wrap;
    }

    footer>.container {
        margin: 0px;
        padding: 0px !important;
    }

    footer>.container div:nth-child(1) {
        justify-content: start;
    }

    .ipad-mini-landscape {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width: 992px) {
    .social-icon {
        height: 80px;
        width: 100px;
    }

    .social-platform {
        font-size: 12px;
    }

    .follow>span {
        font-size: 8px;
    }
}

@media(max-width:820px) {
    .social-icon {
        width: 130px;
    }

    footer {
        justify-content: start !important;
        height: 140vh;
    }

    footer>.container {
        height: 80vh;
    }

}

@media(max-width:768px) {
    footer {
        justify-content: start !important;
        height: 145vh;
    }

    footer>.container {
        height: 95vh;
    }

    .social-links-container {
        height: 55vh;
    }

    .social-links-container>.social-icon {
        height: 90px;
        width: 150px;
    }
}

@media (max-width: 575.98px) {
    footer {
        height: 170vh;
    }

    footer>.container {
        height: 125vh;
    }

    .contact-value {
        font-size: 15px;
    }
    .heading{
        margin: 0px!important;
    }
    .heading>h5 {
        font-size: 16px;
        white-space: nowrap;
    }

    .pages>p {
        margin-bottom: 10px !important;
        font-size: 14px;
        white-space: nowrap;
        margin-right: 0px;
        margin-left: 0px;
    }

    .ipad-mini-landscape {
        margin: 0px ;
        padding: 0px;
    }

    .pages-container {
        padding: 0px;
    }

    .pages-container>div {
        margin: 0px;
    }

}

@media (max-width: 375px) {

    footer>.container {
        height: auto;
    }

    .social-links-container {
        height: auto;
    }
}