<footer [ngStyle]="{'background-color': isDarkMode ? '#111111' : '#ECF0FF'}"
    class="w-100 d-flex flex-column align-items-center justify-content-center">
    <div class="container d-flex p-1 p-lg-5 flex-lg-row flex-column">
        <div class="container-fluid d-flex flex-column ">
            <div class="quantum">
                <div routerLink="/" class="logo">
                    <img [ngStyle]="{'filter': isDarkMode ? 'none' : 'invert(1)'}" height="49" width="114"
                        src="../../../assets/logo-white.png" alt="">
                </div>
                <div class="tagline">
                    <p class="text-secondary">Quantum IT Innovation stands at the forefront of digital transformation,
                        offering cutting-edge solutions that revolutionize businesses. With a dedicated focus on
                        innovation, we harness the power of technology to propel your organization into the future,
                        ensuring success in today's dynamic landscape. </p>
                </div>
            </div>
            <div class="contact-info-div">
                <div class="contanct-info-+content d-flex align-items-center" *ngFor="let contact of contacts">
                    <button
                        [ngStyle]="{background:isDarkMode?'#343538':'linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%)'}"
                        class="btn rounded-circle text-align-center"><i (mouseenter)="isHovering = true"
                            (mouseleave)="isHovering = false" class="m-0 fs-6 fa-solid w-100 text-align-center"
                            [class]="isHovering ? contact.hoverIcon : contact.icon"></i></button>
                    <div>
                        <label for="btn" class="text-secondary">
                            {{contact.label}}
                            <p>
                                <a [ngStyle]="{'color': isDarkMode ? 'white' : 'black'}"
                                    class="m-0  text-decoration-none fw-semibold contact-value"
                                    [href]="contact.link">{{contact.value}}</a>
                            </p>
                        </label>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid ipad-mini-landscape">
            <div class="d-flex flex-column">
                <div class="container pages-container d-flex justify-content-evenly">
                    <div class="d-flex flex-column " *ngFor="let page of pageLabels">
                        <div class="heading">
                            <h5 [ngStyle]="{'color': isDarkMode ? 'white' : 'black'}" class=" fw-bold">
                                {{page.heading}}</h5>
                        </div>
                        <div class="pages">
                            <p style="cursor:pointer" class="text-secondary mb-4" [routerLink]="page.link"
                                (click)="page.label === 'Services' ? scrollToGetServices() : scrollToTop()"
                                *ngFor="let page of page.pages">
                                {{page.label}}</p>
                        </div>
                    </div>
                </div>
                <div class="container social-links-container d-flex justify-content-center">
                    <a href="https://dribbble.com/QuantumIt" target="_blank" style="background-color: #F85895;"
                        class="social-icon text-decoration-none  si-one">
                        <div class="follow container align-content-end py-2 w-100 h-100">
                            <span style="color:white" class="fw-lighter follow-us">Follow Us On</span>
                            <h5 style="color:white" class="social-platform">Dribble</h5>
                        </div>
                    </a>
                    <a href="https://www.facebook.com/quantumitinnovationindia " target="_blank"
                        style="background-color: #1B76F2;" class="social-icon text-decoration-none  si-two">
                        <div class="follow container align-content-end py-2 w-100 h-100">
                            <span style="color:white" class="fw-lighter follow-us">Follow Us On</span>
                            <h5 style="color:white" class="social-platform">Facebook</h5>
                        </div>
                    </a>
                    <a href="https://www.youtube.com/@quantumitinnovation6761" target="_blank"
                        style="background-color: #F04444;" class="social-icon text-decoration-none  si-three">
                        <div class="follow container align-content-end py-2 w-100 h-100">
                            <span style="color:white" class="fw-lighter follow-us">Follow Us On</span>
                            <h5 style="color:white" class="social-platform">Youtube</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="rights">
        <p class=" opacity-50">© 2000-2021, All Rights Reserved</p>
    </div>
</footer>