<nav id="pr-nav" class="primary-menu navbar navbar-expand-lg navbar-dark nav-white-desktop" id="navbarColor01">
    <div class="container-fluid primary-menu-inner px-0">
        <div class="top-wrap">
            <a class="custom-logo-link navbar-brand">
                <img height="49" width="114" src="../../../assets/logo-white 1.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-lg-end justify-content-start" id="navbarSupportedContent">
            <ul class="navbar-nav pl-3">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1553 nav-item">
                    <a class="nav-link border-0" routerLink="/"><span>Home</span></a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1553 nav-item">
                    <a class="nav-link border-0"><span>About</span></a>
                </li>
                <li id="menu-item-1553"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1553 nav-item">
                    <a class="nav-link border-0 "><span>Company</span></a>
                </li>
                <li id="menu-item-1675"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1675 nav-item"><a
                        class="nav-link border-0 "><span>Portfolio</span></a></li>
                <li id="menu-item-1949"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-1949 nav-item">
                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="dropdown-toggle nav-link border-0 " id="menu-item-dropdown-1949"><span>Service</span></a>
                    <ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-1949">
                        <li id="menu-item-1864"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1864 nav-item"><a
                                class="dropdown-item" routerLink="mobileapp"><span>Mobile App Development</span></a>
                        </li>
                        <li id="menu-item-1953"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1953 nav-item"><a
                                class="dropdown-item" routerLink="webdev"><span>Web Apps/Websites</span></a></li>
                        <li id="menu-item-1951"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1951 nav-item"><a
                                class="dropdown-item" routerLink="aiRobot"><span>AI/Robotics</span></a></li>
                        <li id="menu-item-1952"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1952 nav-item"><a
                                class="dropdown-item" routerLink="digital-marketing"><span>Digital Marketing</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav pl-3">
                <li id="menu-item-1814"
                    class=" border-0 menu-item menu-item-type-post_type menu-item-object-page menu-item-1814 nav-item">
                    <a class="nav-link"><span>Contact Us</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>