.navbar-dark {
    background: #1A1A1A;
}

.navbar-light {
    background: #ECF0FF;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}

/* styles.css (or your component-specific CSS file) */
.black-image {
    filter: invert(1);
}


.menu-item-1814 {
    /* background: #141414; */
    /* border: 1px solid #262626; */
    border-radius: 8px;
}

li {
    margin: 0 5px;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu.show {
    display: flex !important;
    /* flex-wrap: wrap; */
}

.dropdown-menu {
    left: -350px;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: black;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    width: 59px;
    height: 35px;
    border-radius: 50px;
    position: relative;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: white;
}

.fa-sun {
    color: white;
}

.checkbox-label .ball {
    background-color: #B2B4B9;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 4px;
    top: 6px;
    border-radius: 50%;
    transition: transform 0.2s linear;
    background-size: contain;
    padding: 3px;
    display: flex;
    justify-content: center;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(30px);
}

@media (max-width: 1024px) {

    .dropdown-menu {
        display: none !important;
    }

    .dropdown-menu:hover {
        display: flex !important;
    }

    .top-wrap {
        width: auto;
    }
}


@media (max-width: 992px) {
    .dropdown-menu {
        flex-direction: column;
        max-height: 30vh;
        overflow-y: scroll;
        background: #1A1A1A;
    }

    .top-wrap {
        width: 100%;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }

    .dropdown-menu li:first-child a {
        font-weight: bold;
        text-transform: uppercase;
        color: #516beb;
    }

}

@media (max-width: 575.98px) {
    nav {
        width: 100%;
    }
}