<nav id="pr-nav" class=" navbar navbar-expand-lg nav-white-desktop p-0" [ngClass]="isDarkTheme?'navbar-dark':'navbar-light'"
        id="navbarColor01">
        <div class="container-fluid primary-menu-inner px-0 ">
                <div class="top-wrap w-auto">
                        <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="custom-logo-link navbar-brand m-0 m-lg-auto" *ngIf="isDarkTheme" >
                                <img routerLink="/" height="49" [ngClass]="{ 'black-image': !isDarkTheme }" width="114"
                                        src="../../../assets/logo-white.png">
                        </a>
                        <a class="custom-logo-link navbar-brand m-0 m-lg-auto"*ngIf="!isDarkTheme">
                                <img routerLink="/" height="49"  width="114"
                                        src="../../../assets/Logo light mode app logo.png">
                        </a>
                        <div class="d-flex align-items-center justifycontent-center d-lg-none w-auto pe-3 ">
                                <div class="form-check ps-0 ">

                                        <input (click)="toggleTheme()" [checked]="isDarkTheme" type="checkbox"
                                                class="checkbox" id="checkbox">
                                        <label for="checkbox" class="checkbox-label mb-0"
                                                [ngStyle]="{'background':isDarkTheme?'#111':'white'}">
                                                <img style="filter: invert(1);" src="../../../assets/sun.svg" alt="">
                                                <i class="fa-regular fa-moon text-black"></i>
                                                <span class="ball">
                                                        <img *ngIf="!isDarkTheme" src="../../../assets/sun.svg" alt="">
                                                        <i *ngIf="isDarkTheme" class="fa-regular fa-moon"></i>
                                                </span>
                                        </label>
                                </div>
                        </div>
                </div>
                <div class="collapse navbar-collapse w-100 justify-content-start justify-content-lg-center"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav m-0">
                                <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1553 nav-item"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                        <a class="nav-link border-0" routerLink="/"
                                                (click)="closeNavbar()"><span>Home</span></a>
                                </li>
                                <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1553 nav-item"routerLinkActive="active">
                                        <a class="nav-link border-0" routerLink="company/about"
                                                (click)="closeNavbar()"><span>About
                                                        Us</span></a>
                                </li>
                                <li id="menu-item-1949"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-1949 nav-item"(mouseenter)="toggleDropdown(true)" (mouseleave)="toggleDropdown(false)">
                                        <a data-toggle="dropdown" aria-expanded="false"
                                                class="dropdown-toggle nav-link border-0 " id="menu-item-dropdown-1949">
                                                <span>Services</span>
                                        </a>
                                        <div [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}"
                                                class="dropdown-menu" aria-labelledby="navbarDropdown"[ngClass]="{'show': isDropdownOpenService}">
                                                <ul>
                                                        <li >
                                                                <a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        routerLink="app-development"
                                                                        (click)="closeNavbar()">Mobile
                                                                        App Development
                                                                </a>
                                                        </li>
                                                        <li routerLinkActive="active1">
                                                                <a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['app-development', 'details', 'android']"
                                                                        (click)="closeNavbar()">
                                                                        <img class="me-2"
                                                                                src="../../../assets/navbar/android.svg"
                                                                                alt="">
                                                                        Android App
                                                                        Development
                                                                </a>
                                                        </li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['app-development', 'details', 'ios']"
                                                                        (click)="closeNavbar()"> <img class="me-2"
                                                                                src="../../../assets/navbar/ios.svg"
                                                                                alt="">
                                                                        iOS App Development</a>
                                                        </li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['app-development', 'details', 'swift']"
                                                                        (click)="closeNavbar()"> <img class="me-2"
                                                                                src="../../../assets/navbar/swift.svg"
                                                                                alt="">
                                                                        Swift App
                                                                        Development</a></li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['app-development', 'details', 'crossPlatform']"
                                                                        (click)="closeNavbar()"> <img class="me-2"
                                                                                src="../../../assets/navbar/cross.svg"
                                                                                alt="">
                                                                        Cross Platform App</a>
                                                        </li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['app-development', 'details', 'iPad']"
                                                                        (click)="closeNavbar()"> <img class="me-2"
                                                                                src="../../../assets/navbar/iPad.svg"
                                                                                alt="">
                                                                        iPad App
                                                                        Development</a></li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['app-development', 'details', 'mobileGame']"
                                                                        (click)="closeNavbar()"> <img class="me-2"
                                                                                src="../../../assets/navbar/game.svg"
                                                                                alt="">
                                                                        Mobile Game
                                                                        Development</a></li>
                                                </ul>
                                                <ul>
                                                        <li><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        routerLink="web-development"
                                                                        (click)="closeNavbar()">Web App
                                                                        Development</a></li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['digital-marketing', 'services', 'php']"
                                                                        (click)="closeNavbar()"> <img class="me-2"
                                                                                src="../../../assets/navbar/php.svg"
                                                                                alt="">
                                                                        PHP Development</a>
                                                        </li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['digital-marketing', 'services', 'dotnet']"
                                                                        (click)="closeNavbar()"> <img class="me-2"
                                                                                src="../../../assets/navbar/net.svg"
                                                                                alt="">
                                                                        .Net Development</a>
                                                        </li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['digital-marketing', 'services', 'ror']"
                                                                        (click)="closeNavbar()"> <img class="me-2"
                                                                                src="../../../assets/navbar/ror.svg"
                                                                                alt="">
                                                                        ROR Development</a>
                                                        </li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['digital-marketing', 'services', 'node']"
                                                                        (click)="closeNavbar()"> <img class="me-2"
                                                                                src="../../../assets/navbar/node.svg"
                                                                                alt="">
                                                                        NODE.js Development</a>
                                                        </li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['digital-marketing', 'services', 'joomla']"
                                                                        (click)="closeNavbar()"> <img class="me-2"
                                                                                src="../../../assets/navbar/joomla.svg"
                                                                                alt="">
                                                                        Joomla Development</a>
                                                        </li>
                                                </ul>
                                                <ul>
                                                        <li><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        routerLink="digital-marketing"
                                                                        (click)="closeNavbar()">Digital Marketing</a>
                                                        </li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['digital-marketing', 'services', 'seoServices']"
                                                                        (click)="closeNavbar()"> <img class="me-2"
                                                                                src="../../../assets/navbar/seo.svg"
                                                                                alt="">
                                                                        SEO</a></li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['digital-marketing', 'services', 'payPerClick']"
                                                                        (click)="closeNavbar()"> <img class="me-2"
                                                                                src="../../../assets/navbar/ppp.svg"
                                                                                alt="">
                                                                        Pay Per Click</a>
                                                        </li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['digital-marketing', 'services', 'socialMedia']"
                                                                        (click)="closeNavbar()"> <img class="me-2"
                                                                                src="../../../assets/navbar/marketing.svg"
                                                                                alt="">
                                                                        Social Media
                                                                        Marketing</a></li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['digital-marketing', 'services', 'contentMarketing']"
                                                                        (click)="closeNavbar()"> <img class="me-2"
                                                                                src="../../../assets/navbar/cm.svg"
                                                                                alt="">
                                                                        Content
                                                                        Marketing</a></li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['digital-marketing', 'services', 'websiteDev']"
                                                                        (click)="closeNavbar()"> <img class="me-2"
                                                                                src="../../../assets/navbar/webdev.svg"
                                                                                alt="">
                                                                        Website
                                                                        Development</a></li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['digital-marketing', 'services', 'mobileDev']"
                                                                        (click)="closeNavbar()"> <img class="me-2"
                                                                                src="../../../assets/navbar/appdev.svg"
                                                                                alt="">
                                                                        Mobile App
                                                                        Development</a></li>
                                                </ul>
                                                <ul>
                                                        <li><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0">Emerging
                                                                        Technology</a>
                                                        </li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        routerLink="artificial-intelligence"
                                                                        (click)="closeNavbar()"><img class="me-2 rounded"width="20px"
                                                                        src="../../../assets/ai/ai_header_logo.png"
                                                                        alt="">
                                                                        Artificial
                                                                        Intelligence</a></li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['app-development', 'details', 'iot']"
                                                                        (click)="closeNavbar()"><img class="me-2 rounded"width="20px"
                                                                        src="../../../assets/ai/internet_of_thing_header.png"
                                                                        alt="">
                                                                        Internet Of Things</a>
                                                        </li>
                                                        <li routerLinkActive="active1"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        [routerLink]="['app-development', 'details', 'roboticProcessAutomation']"
                                                                        (click)="closeNavbar()"><img class="me-2 rounded"width="20px"
                                                                        src="../../../assets/ai/robotic_process_header.png"
                                                                        alt="">
                                                                        Robotic Process
                                                                        Automation</a></li>
                                                </ul>
                                        </div>
                                </li>
                                <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1675 nav-item"routerLinkActive="active">
                                        <a class="nav-link border-0" routerLink="portfolio"
                                                (click)="closeNavbar()"><span>Portfolio</span></a>
                                </li>
                                <li id="menu-item-1949"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-1949 nav-item"(mouseenter)="toggleDropdownCaseStudy(true)" (mouseleave)="toggleDropdownCaseStudy(false)">
                                        <a data-toggle="dropdown" aria-expanded="false"
                                                class="dropdown-toggle nav-link border-0 " id="menu-item-dropdown-1949">
                                                <span>Case Study</span>
                                        </a>
                                        <div [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}"
                                                class="dropdown-menu dp-menu-case-study"
                                                aria-labelledby="navbarDropdown"[ngClass]="{'show': isDropdownOpenCaseStudy}">
                                                <ul>
                                                        <li ><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        >Case Study</a></li>
                                                        <li routerLinkActive="active"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        routerLink="app-development/casestudy"
                                                                        (click)="closeNavbar()">Mobile App
                                                                        Development</a></li>
                                                        <li routerLinkActive="active"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        routerLink="web-development/casestudy"
                                                                        (click)="closeNavbar()">Web App
                                                                        Development</a></li>
                                                        <li routerLinkActive="active"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        routerLink="digital-marketing/casestudy"
                                                                        (click)="closeNavbar()">Digital
                                                                        Marketing</a></li>
                                                        <li routerLinkActive="active"><a [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                                        class="dropdown-item border-0"
                                                                        routerLink="ai/casestudy"
                                                                        (click)="closeNavbar()">Artificial
                                                                        Intelligence</a></li>
                                                </ul>
                                        </div>
                                </li>
                                <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1675 nav-item"routerLinkActive="active">
                                        <a class="nav-link border-0" routerLink="company/contact"
                                                (click)="closeNavbar()"><span>Contact</span></a>
                                </li>
                        </ul>
                </div>
                <div class="collapse navbar-collapse justify-content-end w-auto">
                        <div class="form-check form-switch">

                                <input (click)="toggleTheme()" [checked]="isDarkTheme" type="checkbox" class="checkbox"
                                        id="checkbox">
                                <label for="checkbox" class="checkbox-label mb-0"
                                        [ngStyle]="{'background':isDarkTheme?'#111':'white'}">
                                        <img style="filter: invert(1);" src="../../../assets/sun.svg" alt="">
                                        <i class="fa-regular fa-moon text-black"></i>
                                        <span class="ball">
                                                <img *ngIf="!isDarkTheme" src="../../../assets/sun.svg" alt="">
                                                <i *ngIf="isDarkTheme" class="fa-regular fa-moon"></i>
                                        </span>
                                </label>
                        </div>
                </div>
        </div>
</nav>