<div class="contianer-fluid casestudy">
    <div class="container frame-1 p-5 my-2">
        <div class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
            <div class="text frame-2-head w-100 d-flex align-items-center align-items-lg-start flex-column text-white">
                <div class="d-flex flex-column flex-lg-row">
                    <div class="w-100">
                        <div class="button d-flex d-lg-block justify-content-center">
                            <button class="our-process-btn">
                                UX Case Study
                            </button>
                        </div>
                        <div class="txt w-75 mt-3">
                            <h1 class="text-align-center text-lg-start text-capitalize">
                                Digital
                                Marketing Project
                            </h1>
                        </div>
                        <div class="desc w-100 d-flex align-items-center">
                            <p class=" opacity-50">
                                Is An Iconic American Footwear Brand Known For Its Timeless Style And Cultural
                                Significance. Established In 1908, Converse Initially Gained Fame For Its Canvas
                                Basketball Shoes. Over The Years,
                            </p>
                        </div>
                    </div>

                    <div class="desc w-100 d-flex align-items-center">
                        <img src="https://s3-alpha-sig.figma.com/img/2cc2/5cda/925925081fa4f2a9df0c206aee28d6c4?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MRcHCCea9aa27ut1UsKuVSwXaGseC~GBPN~yoI135PZBFo-X1CLpqH5d9YlgmGGhx3CsPmSSUh5cz85-14h2eEke32aR7RpH7Ny8u26cV2zvebYsR1TP3HRFIBeXZt8PxOmzRt7zR8ko-i077xjRApw~wEWIH5NvxWToII84VwyiSI~coUIYX11iCOIQzd74wZcV6zipsaYhq82zLy0c1TSvKb7esx0OU8smdm1EIu9-eY8g03X3bj7DeP5I7h96L3SU-IHLkUSsGBS9NxGfGeQlAOSbRM6efoeED5h~dmP4u9AtbVYBcJVeXPbhBmm6n2g7jYbDyMom8umyzYeZMQ__"
                            alt="">
                    </div>
                </div>
                <div class="numbers-section container-fluid w-100">
                    <div class="app-details justify-content-center d-flex">
                        <div class="details w-100 justify-content-around text-white d-flex">
                            <div class="detail">
                                <div class="title">
                                    <h3 class=" text-align-center">
                                        Zoe Stewart
                                    </h3>
                                </div>
                                <div class="desc">
                                    <p class=" text-align-center">
                                        Client
                                    </p>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="title">
                                    <h3 class=" text-align-center">
                                        Zoe Stewart
                                    </h3>
                                </div>
                                <div class="desc">
                                    <p class=" text-align-center">
                                        Client
                                    </p>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="title">
                                    <h3 class=" text-align-center">
                                        Zoe Stewart
                                    </h3>
                                </div>
                                <div class="desc">
                                    <p class=" text-align-center">
                                        Client
                                    </p>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="title">
                                    <h3 class=" text-align-center">
                                        Zoe Stewart
                                    </h3>
                                </div>
                                <div class="desc">
                                    <p class=" text-align-center">
                                        Client
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="container">
                    <div class="container-fluid numbers w-100">

                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- <div class=" vh-100 d-flex justify-content-center">
        <img src="https://s3-alpha-sig.figma.com/img/2cc2/5cda/925925081fa4f2a9df0c206aee28d6c4?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MRcHCCea9aa27ut1UsKuVSwXaGseC~GBPN~yoI135PZBFo-X1CLpqH5d9YlgmGGhx3CsPmSSUh5cz85-14h2eEke32aR7RpH7Ny8u26cV2zvebYsR1TP3HRFIBeXZt8PxOmzRt7zR8ko-i077xjRApw~wEWIH5NvxWToII84VwyiSI~coUIYX11iCOIQzd74wZcV6zipsaYhq82zLy0c1TSvKb7esx0OU8smdm1EIu9-eY8g03X3bj7DeP5I7h96L3SU-IHLkUSsGBS9NxGfGeQlAOSbRM6efoeED5h~dmP4u9AtbVYBcJVeXPbhBmm6n2g7jYbDyMom8umyzYeZMQ__"
            alt="">
    </div> -->

    <div class="container frame-3 mt-5">
        <div class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
            <div class="text frame-2-head w-100 d-flex align-items-center flex-column text-white">
                <div class="button">
                    <button class="our-process-btn">
                        Challenges
                    </button>
                </div>
                <div class="txt w-100 mt-3">
                    <h1 class="text-align-center text-capitalize">
                        The Problem Statement
                    </h1>
                </div>


                <div class="desc w-100 align-items-center">
                    <p class=" opacity-50 mb-0 text-align-center">
                        ​The main constrain was to design for an audience that has minimum reading proficiency.

                    </p>
                    <p class=" opacity-50 text-align-center">
                        We designed visual cues and interactions at each step to familiarize the users with the system's
                        status and updates.
                    </p>
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="slider">
                <div class="slide-track">
                    <div class="slide" *ngFor="let img of aiService">
                        <h5 class="text-white fw-lighter">{{img.title}}</h5>
                    </div>
                    <div class="slide" *ngFor="let img of aiService">
                        <h5 class="text-white fw-lighter">{{img.title}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
            <div class="text frame-2-head w-100 d-flex align-items-center flex-column text-white">
                <div class="button">
                    <button class="our-process-btn">
                        Solution
                    </button>
                </div>
                <div class="txt w-100 mt-3">
                    <h1 class="text-align-center text-capitalize">
                        Digital Marketing Solution
                    </h1>
                </div>


                <div class="desc w-100 align-items-center">
                    <p class=" opacity-50 text-align-center">
                        The 4 step delivery of the project included: User flows, wireframes, UI mockups and
                        micro-interaction design. 
                    </p>
                    <p class=" opacity-50 text-align-center">
                        An integrated system of lights on the device and micro-interaction in the application was
                        created to signal the users for the required actionable.
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="container w-75 d-flex flex-column flex-lg-row justify-content-between gap-3">
            <div class="cards d-flex gap-3 flex-column justify-content-between">
                <div class="card p-3 text-white rounded-3">
                    <div class="container card-body">
                        <div class="image my-3">
                            <img src="../../../../assets/dm/casestudy/icon.svg" alt="">
                        </div>
                        <div class="title my-3">
                            <h5>Script Commands</h5>
                        </div>
                        <div class="desc my-3">
                            <p class="opacity-50">
                                Write scripts in your favorite
                                programming language to
                                connect to web APIs, control
                                apps, tools, and more.
                            </p>
                        </div>
                        <div class="link align-items-center d-flex justify-content-between w-100">
                            <p class="link-desc mx-2">Check out more than 600
                                scripts from the community</p>
                            <i class="fa fa-solid fa-arrow-right mx-2"></i>
                        </div>
                    </div>
                </div>
                <div class="card text-white rounded-3">

                    <div class="card-body p-0 rounded-top-3 numbers-section">
                        <div class="card-header border-0 d-flex justify-content-between">
                            <i class="fa-solid fa-xmark"></i>
                            <i class="fa-solid fa-arrow-up-from-bracket"></i>
                        </div>
                        <div class="p-4">
                            <p class="card-text">
                                Knight Rider. A shadowy flight into the
                                dangerous world of a man who does
                                not exist.
                            </p>
                            <p class="card-text">"And to our future. No matter who it
                                may take us up against or where."
                            </p>
                        </div>
                        <div
                            class="card-footer align-items-center rounded-0 text-body-secondary d-flex justify-content-between border-0">
                            <i class="fa-solid fa-paintbrush"></i>
                            <p class="jetbrains m-0 text-white">31 words · 125 characters</p>
                        </div>
                    </div>
                    <div class="container card-body p-5">
                        <div class="image my-3">
                            <img src="../../../../assets/dm/casestudy/icon.svg" alt="">
                        </div>
                        <div class="title my-3">
                            <h5>Floating Notes</h5>
                        </div>
                        <div class="desc my-3">
                            <p class="opacity-50">
                                Floating Notes are a quick
                                way to jot down a thought
                                while working on something
                                else. Always handy when you
                                need it.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards d-flex flex-column gap-3 justify-content-between">
                <div class="card p-3 text-white rounded-3">
                    <div class="container card-body">
                        <div class="image my-3">
                            <img src="../../../../assets/dm/casestudy/icon.svg" alt="">
                        </div>
                        <div class="title my-3">
                            <h5>Shortcuts</h5>
                        </div>
                        <div class="desc my-3">
                            <p class="opacity-50">
                                Write scripts in your favorite
                                programming language to
                                connect to web APIs, control
                                apps, tools, and more.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card text-white rounded-3">
                    <div class="container card-body p-5">
                        <div class="title my-3">
                            <h5>System Commands</h5>
                        </div>
                        <div class="desc my-3">
                            <p class="opacity-50">
                                Control your Mac with over 20
                                system commands built in.
                                From turning up or down
                                volume, to emptying your
                                trash, sleep or restarting your
                                system, and much more.
                            </p>
                        </div>
                    </div>
                    <div class="container p-0 card-body">
                        <div class="image my-3">
                            <img src="https://s3-alpha-sig.figma.com/img/e482/0519/1a4fc0f1f2a6a1be69f19856a44a608c?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UgI9xXYqx0UH8v8jy4PVDhRkXMN8z5ymcz9gJrOg6yxiKNN5kKApYJ9x8zUELv5DQW12zuv4xWHnLZBDySF6BUnJxdQUGWU8YW4HH2ZxNgrVGYj4s-tDHB2A-Zr1Yr-kWBaYqq1MLznYApPnuRREuuz7dknkcvl-ZYZJOAMd2~BJINtL0zKQM0ikwBJqEHC3fL9xe6A1plKsXXt2XIBGhWaSUgVNOWUG9nUjudZNodZLcncEwXgFEJ3b0jmbX7uJjHhL3Pfj6jMmnP~cUOEYHGj66ppOwMzraBzy7Ndl6wQ8FwHaCMcy5jrpj0pEdMcAint2Zdp2ysC5wGjGsmp4xA__"
                                alt="">
                        </div>
                    </div>
                </div>
                <div class="card text-white rounded-3">
                    <div class="container text-center  my-1 card-body">
                        <div class="image">
                            <img src="../../../../assets/dm/casestudy/icon2.svg" alt="">
                        </div>
                    </div>
                    <div class="container text-center card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="link-desc mx-2 mb-0">Build Your Own</p>
                            <i class="fa fa-solid fa-arrow-right mx-2"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards d-flex flex-column justify-content-between gap-3 gap-lg-0">
                <div class="card p-3 text-white rounded-3">
                    <div class="container card-body">
                        <div class="image my-3">
                            <img src="../../../../assets/dm/casestudy/icon.svg" alt="">
                        </div>
                        <div class="title my-3">
                            <h5>Script Commands</h5>
                        </div>
                        <div class="desc my-3">
                            <p class="opacity-50">
                                Write scripts in your favorite
                                programming language to
                                connect to web APIs, control
                                apps, tools, and more.
                            </p>
                        </div>
                        <div class="image p-3 container align-items-center d-flex justify-content-between w-100">
                            <img src="https://s3-alpha-sig.figma.com/img/5e13/0880/6fa9e5fb80aa424c539e1672aadeddad?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=icZ6RYIVt0oVJ9bzIG8~0ElKTEAfk8WT4vt4ktGKM~RM5KrbMpw9YZrlprEobcoRDgeZ0XLgAHcIOUVLaFVUd7yRKksnNg9SYOYK~320FSLc3VT1-AMJI6mj9KdJn3D2gHzogXje4I7HL9-~RseZiq5Bvm-VUIRigrJ2uxVErxXStukcoxB7eRUG-Ic61T7TCcorfLU4s-q76Xjy6epYef7ZsLEVfkNC--d1ju7XXA~Zirro5Ta4bH~5u3scutD7xVk0XXQwwsDCRyWpy7CPPOQZn2ShKkSieSjeFTSJ-Rl3CX~j0hMexDCAZPEvSIt4fPucaEBlSATrb1HKplLhKA__"
                                alt="">
                        </div>
                    </div>
                </div>
                <div class="card text-white rounded-3">
                    <div class="container p-5 card-body">
                        <div class="image my-3">
                            <img src="../../../../assets/dm/casestudy/icon.svg" alt="">
                        </div>
                        <div class="title my-3">
                            <h5>Quick Links</h5>
                        </div>
                        <div class="desc my-3">
                            <p class="opacity-50">
                                Open links in the browser,
                                folders in the terminal or
                                projects in any text editor.
                                And search the web much
                                more efficient.
                            </p>
                            <p class="opacity-50">
                                Use queries to perform
                                searches on Google, Dribbble
                                or other websites, like below.
                            </p>
                        </div>
                    </div>
                    <div class="image mt-4 container align-items-center d-flex justify-content-between w-100">
                        <img src="../../../../assets/dm/casestudy/quicklink.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="container-fluid numbers w-100">
            <div class="numbers-section rounded-3 container-fluid w-100">
                <div
                    class="heading container d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
                    <div
                        class="text frame-2-head w-100 d-flex align-items-center justify-content-center flex-column text-white">
                        <div class="button">
                            <button class="our-result-btn">
                                Result
                            </button>
                        </div>
                        <div class="txt w-100 mt-4">
                            <h1 class="text-align-center text-capitalize">
                                Results & Feedback
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="container our-numbers w-100 mt-lg-5 mt-3">
                    <div class="num-sec container w-100">
                        <div class="row text-align-center justify-content-center align-content-center">
                            <div *ngFor="let nums of sectionFourNums" class="col-3 text-white">
                                <div class="miletone-number fw-bolder">{{nums.num}}</div>
                                <div>
                                    <p class="miletone-title fw-bold text-uppercase ">
                                        {{nums.heading}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>