<div class="contianer-fluid casestudy">
    <div class="container frame-1 p-3 p-sm-0 p-lg-3 my-2">
        <div class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
            <div class="text frame-2-head w-100 d-flex align-items-center align-items-lg-start flex-column ">
                <div class="d-flex flex-column flex-lg-row mt-2">
                    <div class="w-100 d-flex justify-content-center flex-column">
                        <div class="button d-flex d-lg-block justify-content-sm-center justify-content-start">
                            <button class="our-process-btn">
                                Marketing Case Study
                            </button>
                        </div>
                        <div class="txt w-75 mt-3">
                            <h1 class="text-start text-sm-center text-lg-start text-capitalize">
                                Seanautic Marine Inc.
                            </h1>
                        </div>
                        <div class="desc w-100 d-flex align-items-center">
                            <p class=" " [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">Seanautic Marine Inc. /
                                ECTN-Africa is a leading independent service provider specializing in Cargo Tracking
                                Note (CTN) services for 22 African countries. Quantum IT significantly boosted digital
                                impressions and organic traffic for them, amplifying their online visibility and reach.
                            </p>
                        </div>
                    </div>

                    <div class="desc w-100 d-flex align-items-center justify-content-end">
                        <img class="rounded-3" src="../../../../assets/dm/casestudy/banner.png" alt="">
                    </div>
                </div>
                <div class="numbers-section container-fluid w-100">
                    <div class="app-details justify-content-center d-flex">
                        <div class="details w-100 justify-content-around  d-flex">
                            <div class="detail">
                                <div class="title">
                                    <h3 class=" text-align-center">
                                        Zoe Stewart
                                    </h3>
                                </div>
                                <div class="desc">
                                    <p class=" text-align-center">
                                        Client
                                    </p>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="title">
                                    <h3 class=" text-align-center">
                                        Services
                                    </h3>
                                </div>
                                <div class="desc">
                                    <p class=" text-align-center">
                                        Web Design
                                    </p>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="title">
                                    <h3 class=" text-align-center">
                                        16.12.23
                                    </h3>
                                </div>
                                <div class="desc">
                                    <p class=" text-align-center">
                                        Date
                                    </p>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="title">
                                    <h3 class=" text-decoration-underline text-align-center">
                                        Live Link
                                    </h3>
                                </div>
                                <div class="desc">
                                    <p class=" text-align-center">
                                        Website
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="container">
                    <div class="container-fluid numbers w-100">

                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- <div class=" vh-100 d-flex justify-content-center">
        <img src="https://s3-alpha-sig.figma.com/img/2cc2/5cda/925925081fa4f2a9df0c206aee28d6c4?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MRcHCCea9aa27ut1UsKuVSwXaGseC~GBPN~yoI135PZBFo-X1CLpqH5d9YlgmGGhx3CsPmSSUh5cz85-14h2eEke32aR7RpH7Ny8u26cV2zvebYsR1TP3HRFIBeXZt8PxOmzRt7zR8ko-i077xjRApw~wEWIH5NvxWToII84VwyiSI~coUIYX11iCOIQzd74wZcV6zipsaYhq82zLy0c1TSvKb7esx0OU8smdm1EIu9-eY8g03X3bj7DeP5I7h96L3SU-IHLkUSsGBS9NxGfGeQlAOSbRM6efoeED5h~dmP4u9AtbVYBcJVeXPbhBmm6n2g7jYbDyMom8umyzYeZMQ__"
            alt="">
    </div> -->

    <div class="container frame-3 mt-5">
        <div class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
            <div class="text frame-2-head w-100 d-flex align-items-sm-center align-items-start flex-column ">
                <div class="button">
                    <button class="our-process-btn">
                        Challenges
                    </button>
                </div>
                <div class="txt w-100 mt-3">
                    <h1 class="text-sm-center text-start text-capitalize">
                        The Problem Statement
                    </h1>
                </div>


                <div class="desc w-75 align-items-center">
                    <p class="  mb-0 text-start text-sm-center" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                        One significant challenge faced was the lack of visibility and engagement across their target
                        audience. Despite offering essential services their online presence was relatively low.

                    </p>
                    <!-- <p class=" opacity-50 text-align-center">
                        We designed visual cues and interactions at each step to familiarize the users with the system's
                        status and updates.
                    </p> -->
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="slider">
                <div class="slide-track">
                    <div class="slide" *ngFor="let img of aiService">
                        <h5 [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}" class=" fw-lighter">{{img.title}}
                        </h5>
                    </div>
                    <div class="slide" *ngFor="let img of aiService">
                        <h5 [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}" class=" fw-lighter">{{img.title}}
                        </h5>
                    </div>
                    <div class="slide" *ngFor="let img of aiService">
                        <h5 [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}" class=" fw-lighter">{{img.title}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center mt-5">
            <div class="text frame-2-head w-100 d-flex align-items-start align-items-sm-center flex-column ">
                <div class="button">
                    <button class="our-process-btn">
                        Solution
                    </button>
                </div>
                <div class="txt w-100 mt-3">
                    <h1 class="text-sm-center tex-start text-capitalize">
                        Solution Implementation
                    </h1>
                </div>


                <div class="desc w-75 align-items-center">
                    <p class=" text-start text-sm-center" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                        Quantum IT devised a comprehensive digital marketing strategy focused on enhancing Seanautic
                        Marine Inc. / ECTN-Africa's online visibility and engagement. This resulted in increased organic
                        traffic. We also helped rank several of their primary keywords on top charts.
                    </p>
                    <p class="  text-align-center" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">

                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="container w-75 d-flex flex-column flex-lg-row justify-content-between gap-3 p-0 ">
            <div class="cards d-flex gap-3 flex-column justify-content-between">
                <div class="card p-0 p-sm-3 rounded-3" [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                    [ngClass]="isDarkTheme?'text-white':'text-black'">
                    <div class="container card-body">
                        <div class="image my-3">
                            <img src="../../../../assets/dm/casestudy/icon.svg" alt="">
                        </div>
                        <div class="title my-3">
                            <h5>Enhanced Online Visibility</h5>
                        </div>
                        <div class="desc my-3">
                            <p class="" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                Quantum IT implemented SEO strategies to improve search engine rankings.
                            </p>
                        </div>
                        <div class="link align-items-center d-flex justify-content-between w-100">
                            <p class="link-desc">Check out more than 600
                                scripts from the community</p>
                            <i class="fa fa-solid fa-arrow-right mx-2"></i>
                        </div>
                    </div>
                </div>
                <div class="card rounded-3" [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}">

                    <div class="card-body p-0 rounded-top-3 numbers-section">
                        <div class="card-header border-0 d-flex justify-content-between">
                            <i class="fa-solid fa-xmark"></i>
                            <i class="fa-solid fa-arrow-up-from-bracket"></i>
                        </div>
                        <div class="p-4">
                            <div class="title my-3">
                                <h5 style="color:white">Result-Oriented Approach</h5>
                            </div>
                            <p class="card-text">
                                The overarching goal was to generate tangible results, such as increased website traffic
                                and lead generation.
                            </p>
                        </div>
                        <div
                            class="card-footer align-items-center rounded-0 text-body-secondary d-flex justify-content-between border-0">
                            <i class="fa-solid fa-paintbrush"></i>
                            <p class="jetbrains m-0 ">31 words · 125 characters</p>
                        </div>
                    </div>
                    <div [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                        [ngClass]="isDarkTheme?'text-white':'text-black'" class="container card-body p-4">
                        <div class="image my-3">
                            <img src="../../../../assets/dm/casestudy/text.svg" alt="">
                        </div>
                        <div class="title my-3">
                            <h5>Targeted Content Creation</h5>
                        </div>
                        <div class="desc my-3">
                            <p class="" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                Tailored content marketing efforts were employed to create engaging and informative
                                content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards d-flex flex-column gap-3 justify-content-between">
                <div [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                    [ngClass]="isDarkTheme?'text-white':'text-black'" class="card p-0 p-sm-3 rounded-3">
                    <div class="container card-body">
                        <div class="image my-3">
                            <img src="../../../../assets/dm/casestudy/sk.svg" alt="">
                        </div>
                        <div class="title my-3">
                            <h5>Social Media Management</h5>
                        </div>
                        <div class="desc my-3">
                            <p class="" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                Quantum IT managed and optimized social media profiles to boost brand awareness and
                                engagement.
                            </p>
                        </div>
                    </div>
                </div>
                <div [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                    [ngClass]="isDarkTheme?'text-white':'text-black'" class="card p-0 p-sm-3 rounded-3">
                    <div class="container card-body p-3">
                        <div class="title my-3">
                            <h5>Paid Advertising Campaigns</h5>
                        </div>
                        <div class="desc my-3">
                            <p class="" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                Strategic pay-per-click (PPC) and display advertising campaigns were launched to target
                                specific audience segments.
                            </p>
                        </div>
                    </div>
                    <div class="container p-0 card-body">
                        <div class="image my-3">
                            <img class="w-100" src="../../../../assets/dm/casestudy/script-cmd.png" alt="">
                        </div>
                    </div>
                </div>
                <div [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                    [ngClass]="isDarkTheme?'text-white':'text-black'" class="card  rounded-3">
                    <div class="container text-center  my-1 card-body">
                        <div class="image">
                            <img src="../../../../assets/dm/casestudy/icon2.svg" alt="">
                        </div>
                    </div>
                    <div class="container text-center card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="link-desc mx-2 mb-0">Build Your Own</p>
                            <i class="fa fa-solid fa-arrow-right mx-2"
                                [ngClass]="isDarkTheme?'text-white':'text-black'"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards d-flex flex-column justify-content-between gap-3 gap-lg-0">
                <div [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                    [ngClass]="isDarkTheme?'text-white':'text-black'" class="card p-0 p-sm-3  rounded-3">
                    <div class="container card-body">
                        <div class="image my-3">
                            <img src="../../../../assets/dm/casestudy/fs.svg" alt="">
                        </div>
                        <div class="title my-3">
                            <h5>Data-Driven Analytics</h5>
                        </div>
                        <div class="desc my-3">
                            <p class="" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                Advanced analytics tools were utilized to track campaign performance and analyze user
                                behavior
                            </p>
                        </div>
                        <div class="image p-3 container align-items-center d-flex justify-content-between w-100">
                            <img src="../../../../assets/dm/casestudy/file-search.png" alt="">
                        </div>
                    </div>
                </div>
                <div [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                    [ngClass]="isDarkTheme?'text-white':'text-black'" class="card rounded-3 p-0 p-sm-3">
                    <div class="container p-3 card-body">
                        <div class="image my-3">
                            <img src="../../../../assets/dm/casestudy/ql.svg" alt="">
                        </div>
                        <div class="title my-3">
                            <h5>Continuous Optimization</h5>
                        </div>
                        <div class="desc my-3">
                            <p class="" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                Quantum IT conducted ongoing optimization of digital marketing efforts based on
                                performance insights.
                            </p>
                            <!-- <p class="opacity-50">
                                Use queries to perform
                                searches on Google, Dribbble
                                or other websites, like below.
                            </p> -->
                        </div>
                    </div>
                    <div class="image mt-4 container align-items-center d-flex justify-content-between w-100">
                        <img src="../../../../assets/dm/casestudy/quicklink.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" mt-4">
        <div class="numbers w-100 p-2 p-sm-0">
            <div class="numbers-section rounded-3  w-100">
                <div
                    class="heading d-flex flex-column mb-lg-0 flex-lg-row justify-content-between align-items-center">
                    <div
                        class="text text-white frame-2-head w-100 d-flex align-items-center justify-content-center flex-column ">
                        <div class="button">
                            <button class="our-result-btn">
                                Result
                            </button>
                        </div>
                        <div class="txt w-100 mt-4">
                            <h1 class="text-align-center text-capitalize">
                                Results & Feedback
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="container our-numbers w-100 mt-lg-5 mt-3">
                    <div class="num-sec container w-100">
                        <div class="row text-align-center justify-content-center align-content-center">
                            <div *ngFor="let nums of sectionFourNums" class="miletone-container col-lg-3 col-sm-6 col-12 text-white mb-5">
                                <div class="miletone-number fw-bolder">{{nums.num}}</div>
                                <div>
                                    <p class="miletone-title fw-bold text-uppercase mt-3">
                                        ● {{nums.heading}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>