* {
    font-family: 'Plus Jakarta Sans';
}


.our-process-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0099FF;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.our-result-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid white;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.linear-text {
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 90%;
    /* Adjust this width as needed */
    max-width: 1200px;
    /* Optional: Set a maximum width for larger screens */
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 21);
}

.slider .slide {
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.slide h5 {
    background: #111111;
    box-shadow: 0px 13px 12px 0px #B5B8C808;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
}

.heading>.frame-2-head>div:first-child {
    padding-bottom: 30px;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translate(calc(-250px * 7));
    }
}

.numbers {
    height: 100%;
    width: 100%;
    position: relative;
}

.numbers-section {
    border-radius: 10px;
    padding: 40px 40px;
    /* background: linear-gradient(90deg, #43BAFF 0%, #7141B1 100%); */
}

.miletone-number {
    font-size:42px;
}

.miletone-title {
    font-size: 15px;
}

.link-desc {
    font-size: 16px;
    margin: 0px;
}

.card-header,
.card-footer {
    background: #0000004D;
    box-shadow: 0px -1px 0px 0px #FFFFFF1A inset;
}
.card-text{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color:white
}
.jetbrains {
    font-family: 'Mono';
}
.app-details > .details > .detail:not(:last-child) {
    border-right: 3px solid white;
    padding-right: 6%;
    padding-left: 4%;
}
.app-details > .details > .detail {
    padding-left: 4%;
}
.frame-2-head .txt>h1 ,.txt h2{
    font-size: 42px;
    line-height: 50px;
    font-weight: 600 !important;
}

.desc>p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.title h3 {
    font-size: 30px;
    line-height: 37px;
    font-weight: 500 !important;
}
.detail .desc p{
    white-space: nowrap;
    text-align: center;
}
.detail .desc p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400!important;
}
.title h5{
    font-size: 20px;
    line-height: 27px;
    font-weight: 600!important;
}
.card-body .desc p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400!important;
}
.miletone-number {
    font-size: 42px;
    line-height: 50px;
    font-weight: 700!important;
}

.miletone-title {
    font-size: 16px;
    font-weight: 600!important;
    line-height: 16px;
    text-align: center;
}
.num-sec .row div{
    padding: 0px;
}
@media(max-width:768px) {
    .frame-2-head .desc {
        justify-content: center !important;
    }

    .frame-2-head .desc>img {
        width: 100%;
    }

    .frame-2-head .txt {
        width: 100% !important;
    }

    .frame-2-head .desc>p {
        text-align: center;
    }
    .card-text{
        font-size: 12px;
        line-height: 18px;
    }
    .app-details>.details>.detail:not(:last-child) {
        border-right: 3px solid white;
        padding-right: 3%;
        padding-left: 1%;
        padding-left: 0%;

    }
    .numbers-section {
        padding: 0px 0px;
    }
}

@media (max-width: 575.98px) {
    .w-75 {
        width: 100% !important;
    }

    .title h3 {
        font-size: 12px;
        line-height: 20px;
    }

    .numbers-section {
        /* padding: 10px */
    }

    .miletone-number {
        font-size: 15px;
    }

    .miletone-title {
        font-size: 10px;
    }

    .our-process-btn, .our-result-btn {
        font-size: 10px;
        line-height: 20px;
        padding: 4px 10px 4px 10px;
    }

    .frame-2-head .txt>h1 ,.txt h2{
        font-size: 22px;
        line-height: 26px;
    }
    .frame-2-head .desc>p {
        font-size: 12px;
        line-height: 18px;
        text-align: start;
    }
    .heading> .frame-2-head > div:first-child {
        padding-bottom: 0px;
    }
    .app-details>.details>.detail:not(:last-child) {
        border-right: none;
        padding-right: 0%;
    }
    .app-details > .details> .detail:not(:last-child) {
        padding-left: 0%;
    }
    .slide h5 {
        font-size: 12px;
    }
    .desc>p {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
    .detail .desc p{
        font-size: 12px;
        line-height: 18px;
    }
    .title h5{
        font-size: 14px;
        line-height: 20px;
    }
    .card-body .desc p{
        font-size: 12px;
        line-height: 18px;
        text-align: start!important;
    }
    .miletone-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        text-align: start;
        padding-left: 33%!important;
    }

    .miletone-number {
        font-size: 48px;
        line-height: 48px;
    }

    .miletone-title {
        font-size: 12px;
        text-align: start;
    }
}