* {
    font-family: 'Plus Jakarta Sans';
}

.frame-1 {
    height: 100vh;

}

.frame-1::before {
    background-image: url("../../../assets/ai/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 0 0 20px 20px;
}

.our-process-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0099FF;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.tagline {
    font-size: 62px;
    line-height: 64px;
    font-weight: 800 !important;
}

.frame-1 .heading p {
    font-size: 16px !important;
    line-height: 24px;
    font-weight: 400 !important;
}

.linear-text {
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-lm {
    color: white;
    padding: 10px 20px;
    background-color: #43BAFF;
    border: none;
    border-radius: 5px;
}

.ai-data {
    box-sizing: border-box;
    height: 300px;
    border: 1px solid #FFFFFF0F;
    box-shadow: 0px 17px 25px 0px #07496F05;
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.slide h5 {
    box-shadow: 0px 13px 12px 0px #B5B8C808;
    padding: 10px 30px;
    border-radius: 5px;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translate(calc(-250px*7));
    }
}

.frame-4 {
    height: 110vh;
    position: relative;
}

.frame-4::before {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url("../../../assets/ai/about.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 75%
}

.frame-4-light {
    height: 110vh;
    position: relative;
}

.frame-4-light::before {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url("../../../assets/ai/about-light.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ai-showcase {
    background: linear-gradient(0deg, rgba(4, 1, 21, 0.1), rgba(4, 1, 21, 0.1)),
        radial-gradient(50% 50% at 50% 50%, rgba(168, 127, 255, 0.04) 0%, rgba(168, 127, 255, 0) 100%);
    border: 1px solid #FFFFFF1A;
    padding: 10px;
    border-radius: 25px;
    top: 30%;
}

.ai-showcase-inner {
    background:
        linear-gradient(0deg, rgba(4, 1, 21, 0.1), rgba(4, 1, 21, 0.1)),
        radial-gradient(50% 50% at 50% 50%, rgba(168, 127, 255, 0.04) 0%, rgba(168, 127, 255, 0) 100%);
    border: 1px solid #FFFFFF1A;
    border-radius: 25px;
    /* Adds the frosted glass effect */
}



.showcase-txt {
    font-size: 15px;
}

.magic-btn {
    background: linear-gradient(90deg, #FC72FF 0%, #8F68FF 25%, #487BFF 50%, #2CD9FF 75%, #2CFFCC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
}

.fa-check {
    background: linear-gradient(237.17deg, #0FD2ED 16.7%, #008DF3 98.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list-check {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 26px;
}

.milestone-col {
    border: 1px solid #FFFFFF0F;
    background: #FFFFFF0A;
    padding: 20px 0px;
    border-radius: 5px;
}

.ai-data:hover {
    color: #4b4ba1;
    transition: all 0.5s ease-in-out;
}

.sub-heading {
    font-size: 15px;
    line-height: 26px;
    font-weight: 400 !important;
}

.txt h1 {
    font-size: 40px !important;
    font-weight: 700 !important;
    line-height: 60px;
    letter-spacing: 0.5px;
}

.title h3 {
    font-size: 25px;
    line-height: 34px;
    font-weight: 400 !important;
}

.number h1 {
    font-size: 45px;
    line-height: 57px;
    font-weight: 400 !important;
}

.number p {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400 !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .frame-1 {
        height: 75vh;
    }

    .frame-4 {
        height: 70vh;
    }

    .frame-4::before {
        background-position: right;
    }

    .ai-showcase-inner {
        padding: 10px;
        border-radius: 15px;
    }
}

@media (max-width: 575.98px) {

    .frame-1 {
        height: 55vh;
    }
    .frame-1::before{
        background-size: 100% 180%;
    }

    .frame-1 .heading p {
        font-size: 14px !important;
        line-height: 20px;
    }

    .frame-1-cont {
        height: 100% !important;
    }

    .frame-2 {
        padding-right: 0;
        padding-left: 0;
    }

    .our-process-btn {
        font-size: 12px;
    }

    .frame-1-cont,
    p,
    .frame-2-head {
        width: 100% !important;
    }

    .tagline {
        font-size: 28px;
        line-height: 38px;
    }

    .txt {
        width: 100% !important;
    }

    .txt h1 {
        margin-top: 15px;
    }

    .txt h1 {
        font-size: 22px !important;
        line-height: 30px;
        letter-spacing: 0.5px;
    }

    .title h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .number h1 {
        text-align: center;

        font-size: 22px;
        line-height: 30px;
    }

    .number p {
        text-align: center;

        font-size: 14px;
        line-height: 20px;
    }

    .ai-data {
        height: 200px;
    }

    .title {
        width: 100% !important;
    }

    .title h3 {
        font-size: 18px;
        text-align: center;
    }

    .frame-4-cont {
        width: 100% !important;
    }

    .desc {
        margin-bottom: 20px;
    }

    .desc-txt {
        text-align: center;
        font-size: 0.8rem !important;
    }

    .list-check {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    .what-we-do {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .showcase-btn {
        display: flex;
    }

    .showcase-txt {
        font-size: 10px;
    }

    .ai-showcase-inner {
        padding: 15px;
    }

    .magic-btn {
        font-size: 8px;
    }

    .frame-4 {
        height: 100vh;
    }

    .frame-5 {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .milestone-col {
        padding: 20px 10px;
    }

    .btn-lm,
    .btn {
        padding: 5px 10px;
        font-size: 15px !important;
    }

    .milestone-img {
        height: 35px;
    }

    .sub-heading {
        font-size: 12px;
        line-height: 20px;
        font-weight: 400 !important;
    }
}