<div class="container-fluid h-auto w-100 p-0">
    <div data-aos="fade-in"
        class="container-fluid position-relative p-0 frame-1 d-flex flex-column justify-content-center align-items-center">
        <div class="container frame-1-cont position-absolute w-75 h-75">
            <div class="heading w-100 h-100 d-flex flex-column align-items-center justify-content-center ">
                <div class="button my-2" data-aos="slide-up">
                    <button class="our-process-btn">Quantum It Innovation</button>
                </div>
                <h1 class="tagline text-center fw-bolder" data-aos="slide-up">
                    <span class="linear-text">Artificial Intelligence </span>
                    Solutions
                    with Unmatched Expertise
                </h1>
                <p data-aos="slide-up" class="fs-5 text-align-center w-75 opacity-50">
                    Discover our leading AI solutions' unparalleled expertise and innovation, where cutting-edge
                    technology meets exceptional service.
                </p>
                <div data-aos="fade-up" class="buttons d-flex justify-content-center w-100">
                    <button class="btn btn-dark mx-3 px-4" (click)="scrollToService()">Get Started</button>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-5 my-lg-5" id="wwd">
        <div class="text w-100 d-flex flex-column  justify-content-center align-items-center">
            <div class="button" data-aos="slide-up">
                <button class="our-process-btn">
                    What We Do
                </button>
            </div>
            <div class="txt w-75 text-align-center px-sm-5 px-2 my-lg-5" data-aos="slide-up">
                <h1>Deliver dynamic business solutions tailored to your needs using data science, machine learning, and
                    AI technologies.</h1>
            </div>
        </div>
        <div class="milestones container my-3">
            <div class="row custom-gap d-flex align-items-center justify-content-lg-center justify-content-evenly">
                <div *ngFor="let stone of milestones" data-aos="slide-up"
                    class="col-sm-3 col-8 milestone-col m-lg-2 d-flex align-items-center flex-sm-column flex-row  flex-lg-row justify-content-around h-100"
                    style="max-width:250px;">
                    <div class="image">
                        <img [src]="stone.img" class="milestone-img" alt="" style="height:50px;">
                    </div>
                    <div class="number d-flex flex-column justify-content-center justify-content-lg-start ">
                        <h1 class=" fw-lighter">{{stone.num}}</h1>
                        <p class="m-0">{{stone.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-flex frame-2">
        <div class="container d-flex flex-column justify-content-between my-sm-5 my-0 px-lg-5">
            <div
                class="heading d-flex flex-column mb-sm-5 mb-2 mb-lg-0 flex-lg-row justify-content-between align-items-center">
                <div class="text w-75 d-flex frame-2-head align-items-start align-items-sm-center align-items-lg-start flex-column "
                    data-aos="slide-up">
                    <div class="button">
                        <button class="our-process-btn">
                            What We Offer
                        </button>
                    </div>
                    <div class="txt w-100 mt-3 mt-sm-5">
                        <h1 class=" text-align-start text-align-sm-center text-lg-start">Artificial intelligence <br>
                            development across all domains</h1>
                    </div>
                </div>
            </div>

            <div class="what-we-do w-100 h-100 mt-lg-5" data-aos="zoom-in">
                <div class="row w-100 h-100 ">
                    <div *ngFor="let data of aiService" data-aos="zoom-out"
                        [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                        class=" col-lg-4 col-6 ai-data pt-lg-5 px-lg-5 pb-lg-3 d-flex  align-items-center justify-content-around flex-column">
                        <div class="image image1">
                            <img [src]="data.img" alt="">
                        </div>
                        <div class="title w-100 text-center">
                            <h3 class=" fw-lighter">{{data.title}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-3 container p-0 p-lg-5 mb-2">
        <div class="service-section mt-3">
            <div class="head w-100 h-100 d-flex flex-column align-items-center justify-content-center">
                <div class="button my-2" data-aos="slide-up">
                    <button routerLink="/portfolio" class="our-process-btn">Our Process</button>
                </div>

                <div class="our-process my-2 txt" data-aos="slide-up">
                    <h1 class=" text-align-center">AI Development Company</h1>
                </div>
            </div>
            <div class="d-flex align-items-center flex-column h-100 w-100 ">
                <div class="d-flex align-items-center flex-column flex-lg-row my-sm-5 my-1 h-100 w-100 gap-3">
                    <div class="text w-100 p-3 p-sm-4">
                        <div class="brief " [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                            <p>At Quantum IT Innovation, we specialise in transforming businesses through cutting-edge
                                AI consulting services. As one of the leading AI consulting firms, we offer
                                comprehensive solutions tailored to meet your specific needs. Our expert AI consultants
                                bring unparalleled expertise in artificial intelligence, ensuring seamless artificial
                                intelligence integration into your business processes.</p>
                            <p>
                                We provide a range of services, including chatbot consulting services and chatbot
                                development services, to enhance customer interaction and support. Our proficiency in
                                AI/ML development services and MLOps solutions guarantees that your AI models are
                                efficiently developed, deployed, and maintained.</p>

                        </div>

                    </div>
                    <div class="image h-100 w-100 ">
                        <img class="w-100" style="max-height:60%; object-fit:cover;border-radius:10px;opacity:0.8"
                            src="../../../assets/ai/banner/img1.png" alt="">
                    </div>
                </div>
                <div class="d-flex align-items-center my-sm-5 my-3 flex-column flex-lg-row-reverse gap-3">
                    <div class="text w-100 p-0 p-3 p-sm-4">
                        <div class="brief" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                            <p>As one of the prominent GenAI companies, Quantum IT Innovation stands out in the field of
                                generative AI consulting. We leverage the latest advancements in LLM companies to
                                deliver innovative and scalable AI solutions. Our AI business consulting services are
                                designed to drive growth, improve efficiency, and create a competitive edge.</p>
                            <p>
                                Partner with us to harness the power of artificial intelligence. Whether you're looking
                                for an artificial intelligence consultant or need comprehensive AI integration, Quantum
                                IT Innovation is your go-to AI consulting firm. Embrace the future with our expert
                                guidance and top-tier AI solutions.</p>
                        </div>
                    </div>
                    <div class="image h-100 w-100 max-height:65%; object-fit:cover;border-radius:10px;opacity:0.8">
                        <img class="rounded-3" src="../../../assets/ai/banner/img2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-lg-5 services">
        <div class="container d-flex align-items-center justify-content-center">
            <div class="text w-100 d-flex flex-column  justify-content-center align-items-center">
                <div class="button" data-aos="zoom-in">
                    <button class="our-process-btn mb-2">
                        Our Services
                    </button>
                </div>
                <div class="txt w-50 text-align-center">
                    <h1 class=" text-capitalize">Our Generative AI</h1>
                </div>
            </div>
        </div>
        <div class="what-we-do w-100 h-100 mt-lg-5 container" data-aos="zoom-in">
            <div class="row w-100 h-100 gap-2 justify-content-center mb-4">
                <ng-container *ngFor="let data of ourAIGenerative;let i=index;">
                    <div routerLink="{{data?.link || '/artificial-intelligence'}}" data-aos="zoom-out" style="box-shadow:0px 0px 1px black;border-radius:10px;"
                        [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                        class=" col-lg-3 col-sm-4 col-6 ai-data2 pt-lg-5 px-lg-5 pb-lg-3 d-flex  align-items-center justify-content-around flex-column">
                        <div class="image" *ngIf="i!=9">
                            <img [src]="data.img" alt="" style="height:40px;">
                        </div>
                        <div class="image" *ngIf="i==9">
                            <img [src]="data.img" alt="" style="height:25px;">
                        </div>
                        <div class="title w-100 text-center">
                            <h3 class=" fw-lighter text-capitalize">{{data.title}}</h3>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>

    </div>
    <div class="container my-lg-5">
        <div class="container d-flex align-items-center justify-content-center">
            <div class="text w-100 d-flex flex-column  justify-content-center align-items-center">
                <div class="button" data-aos="zoom-in">
                    <button class="our-process-btn mb-2">
                        Our Services
                    </button>
                </div>
                <div class="txt w-50 text-align-center">
                    <h1 class=" text-capitalize">Our AI Services</h1>
                </div>
            </div>
        </div>
        <div class="what-we-do w-100 h-100 mt-lg-5 container" data-aos="zoom-in">
            <div class="row w-100 h-100 justify-content-center gap-2">
                <div *ngFor="let data of ourAIServices" data-aos="zoom-out"
                    style="box-shadow:0px 0px 1px black;border-radius:10px;"
                    [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                    class=" col-lg-3 col-6 ai-data2 pt-lg-5 px-lg-5 pb-lg-3 d-flex  align-items-center justify-content-around flex-column">
                    <div class="image">
                        <img [src]="data.img" alt="" style="height:40px;">
                    </div>
                    <div class="title w-100 text-center">
                        <h3 class=" fw-lighter text-capitalize">{{data.title}}</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="frame-3 container-fluid mt-4 my-lg-5">
        <div class="container d-flex align-items-center justify-content-center">
            <div class="text w-100 d-flex flex-column  justify-content-center align-items-center">
                <div class="button" data-aos="zoom-in">
                    <button class="our-process-btn">
                        Industries
                    </button>
                </div>
                <div class="txt w-50 text-align-center">
                    <h1 class=" text-capitalize">Our primary sectors of focus</h1>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <div class="slider">
                <div class="slide-track">
                    <div class="slide" *ngFor="let img of aiService">
                        <h5 [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}" class=" fw-lighter">{{img.title}}
                        </h5>
                    </div>
                    <div class="slide" *ngFor="let img of aiService">
                        <h5 [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}" class=" fw-lighter">{{img.title}}
                        </h5>
                    </div>
                    <div class="slide" *ngFor="let img of aiService">
                        <h5 [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}" class=" fw-lighter">{{img.title}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [ngClass]="isDarkTheme?'frame-4':'frame-4-light'" class="container w-100">
        <div class="container d-flex flex-column flex-lg-row w-100 h-100">
            <div class="d-block d-sm-none ai-image">
                <div
                    class="frame-4-image position-relative w-100 h-100 d-flex align-items-center justify-content-center">
                    <div data-aos="zoom-in" class=" container w-100 position-absolute h-auto"
                        [ngClass]="isDarkTheme?'ai-showcase':'ai-showcase-light'">
                        <div [ngStyle]="{'backdrop-filter': isDarkTheme? 'blur(10px)':'blur(180px)'}"
                            class=" d-flex flex-column justify-content-center p-lg-4 "
                            [ngClass]="isDarkTheme?'ai-showcase-inner':'ai-showcase-inner-light'">
                            <div class="head d-flex justify-content-between align-items-center">
                                <div class="txt">
                                    <p class="showcase-txt">How to use AI to take better notes</p>
                                </div>
                                <div data-aos="zoom-out" class="button showcase-btn">
                                    <img src="../../../assets/ai/magic.png" alt="">
                                    <button class="magic-btn" routerLink="../ai/casestudy">
                                        Click To See AI Case Study
                                    </button>
                                </div>
                            </div>
                            <div class="tail">
                                <p class="fw-bold showcase-txt m-0">What can LLMs like GPT do, specifically for
                                    note-taking?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text w-100 h-100 d-flex d-lg-block justify-content-center">
                <div class="text frame-4-cont w-100 d-flex flex-column h-100 justify-content-evenly ">
                    <div class="button align-self-start align-self-sm-center align-self-lg-start" data-aos="zoom-in">
                        <button class="our-process-btn">
                            About Us
                        </button>
                    </div>
                    <div class="txt w-100 text-align-start text-align-sm-center text-lg-start" data-aos="zoom-in">
                        <h1>Cutting-edge <br class="d-none d-sm-block"> technology <br class="d-none d-sm-block">
                            integrating AI and <br class="d-none d-sm-block"> Machine Learning</h1>
                    </div>
                    <div class="desc" data-aos="zoom-in">
                        <p class="m-0 desc-txt sub-heading">
                            Experience transformative advancements in your business operations through our innovative
                            technology, which omit seamlessly integrates artificial intelligence and machine learning
                            capabilities to drive innovation, efficiency, and growth.
                        </p>
                    </div>
                    <div class="list">
                        <ul class=" list-unstyled ">
                            <li data-aos="zoom-in" class=" d-flex align-items-center list-unstyled my-3"
                                *ngFor="let check of checks">
                                <i class="fa-solid fa-check mx-2"></i>
                                <p class=" m-0 list-check">{{check}}</p>
                            </li>
                        </ul>
                    </div>
                    <div data-aos="zoom-in"
                        class="buttons d-flex justify-content-lg-start justify-content-center w-100">
                        <button (click)="scrollToWWD()" class="btn-lm btn-primary mx-3 px-2 px-lg-4 py-2 py-lg-2"
                            style="white-space:nowrap;">Our
                            Mission</button>
                        <button (click)="scrollToForm()"
                            class="btn btn-outline-primary mx-3 px-2 px-lg-4 py-2 py-lg-2 text-uppercase "
                            style="white-space:nowrap;" [ngStyle]="{color:isDarkTheme?'white':'black'}">learn
                            More</button>
                    </div>
                </div>
            </div>
            <!-- <div class="d-none d-sm-block"> -->
            <div
                class="frame-4-image position-relative w-100 d-none d-sm-flex align-items-center justify-content-center">
                <div data-aos="zoom-in" class="container w-100 position-absolute h-auto"
                    [ngClass]="isDarkTheme?'ai-showcase':'ai-showcase-light'">
                    <div [ngStyle]="{'backdrop-filter': isDarkTheme? 'blur(10px)':'blur(180px)'}"
                        class="d-flex flex-column justify-content-center p-lg-4 "
                        [ngClass]="isDarkTheme?'ai-showcase-inner':'ai-showcase-inner-light'">
                        <div class="head d-flex justify-content-between align-items-center">
                            <div class="txt">
                                <p class="showcase-txt fw-bold">How to use AI to take better notes</p>
                            </div>
                            <div data-aos="zoom-out" class="button showcase-btn">
                                <img src="../../../assets/ai/magic.png" alt="">
                                <button class="magic-btn" routerLink="../ai/casestudy">
                                    Click To See AI Case Study
                                </button>
                            </div>
                        </div>
                        <div class="tail">
                            <p class=" showcase-txt m-0" style="font-weight:500!important">What can LLMs like GPT do,
                                specifically for
                                note-taking?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>

    <!-- <div class="frame-5 my-lg-5" id="wwd">
        <div class="text w-100 d-flex flex-column  justify-content-center align-items-center">
            <div class="button" data-aos="slide-up">
                <button class="our-process-btn">
                    What We Do
                </button>
            </div>
            <div class="txt w-75 text-align-center px-sm-5 px-2 my-lg-4" data-aos="slide-up">
                <h1 style="font-size:20px!important;line-height:35px!important;">Deliver dynamic business solutions using data science, machine learning, and AI technologies
                    tailored to your needs.</h1>
            </div>
        </div>
        <div class="milestones container my-3">
            <div class="row custom-gap d-flex align-items-center justify-content-lg-center justify-content-evenly">
                <div *ngFor="let stone of milestones" data-aos="slide-up"
                    class="col-sm-3 col-8 milestone-col m-lg-2 d-flex align-items-center flex-sm-column flex-row  flex-lg-row justify-content-around h-100"style="max-width:250px;">
                    <div class="image">
                        <img [src]="stone.img" class="milestone-img" alt=""style="height:50px;">
                    </div>
                    <div class="number d-flex flex-column justify-content-center justify-content-lg-start ">
                        <h1 class=" fw-lighter">{{stone.num}}</h1>
                        <p class="m-0">{{stone.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<app-form></app-form>