<div class="container-fluid h-auto w-100 p-0">
    <div data-aos="fade-in"
        class="container-fluid position-relative p-0 frame-1 d-flex flex-column justify-content-center align-items-center">
        <div class="container frame-1-cont position-absolute w-75 h-75">
            <div class="heading w-100 h-100 d-flex flex-column align-items-center justify-content-center ">
                <div class="button my-2" data-aos="slide-up">
                    <button class="our-process-btn">Quantum It Innovation</button>
                </div>
                <h1 class="tagline text-center fw-bolder" data-aos="slide-up">
                    <span class="linear-text">Artificial Intelligence </span>
                    Solutions
                    with Unmatched Expertise
                </h1>
                <p data-aos="slide-up" class="fs-5 text-align-center w-75 opacity-50">
                    Discover our leading AI solutions' unparalleled expertise and innovation, where cutting-edge technology meets exceptional service.
                </p>
                <div data-aos="fade-up" class="buttons d-flex justify-content-center w-100">
                    <button class="btn btn-dark mx-3 px-4" (click)="scrollToForm()">Get Started</button>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-5 my-lg-5" id="wwd">
        <div class="text w-100 d-flex flex-column  justify-content-center align-items-center">
            <div class="button" data-aos="slide-up">
                <button class="our-process-btn">
                    What We Do
                </button>
            </div>
            <div class="txt w-75 text-align-center px-sm-5 px-2 my-lg-4" data-aos="slide-up">
                <h1 style="font-size:20px!important;line-height:35px!important;">Deliver dynamic business solutions tailored to your needs using data science, machine learning, and AI technologies.</h1>
            </div>
        </div>
        <div class="milestones container my-3">
            <div class="row custom-gap d-flex align-items-center justify-content-lg-center justify-content-evenly">
                <div *ngFor="let stone of milestones" data-aos="slide-up"
                    class="col-sm-3 col-8 milestone-col m-lg-2 d-flex align-items-center flex-sm-column flex-row  flex-lg-row justify-content-around h-100"
                    style="max-width:250px;">
                    <div class="image">
                        <img [src]="stone.img" class="milestone-img" alt="" style="height:50px;">
                    </div>
                    <div class="number d-flex flex-column justify-content-center justify-content-lg-start ">
                        <h1 class=" fw-lighter">{{stone.num}}</h1>
                        <p class="m-0">{{stone.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-flex frame-2">
        <div class="container d-flex flex-column justify-content-between my-5 px-lg-5">
            <div class="heading d-flex flex-column mb-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
                <div class="text w-75 d-flex frame-2-head align-items-start align-items-sm-center align-items-lg-start flex-column "
                    data-aos="slide-up">
                    <div class="button">
                        <button class="our-process-btn">
                            What We Offer
                        </button>
                    </div>
                    <div class="txt w-100">
                        <h1 class=" text-align-start text-align-sm-center text-lg-start">Artificial intelligence <br>
                            development across all domains</h1>
                    </div>
                </div>
            </div>

            <div class="what-we-do w-100 h-100 mt-lg-5" data-aos="zoom-in">
                <div class="row w-100 h-100 ">
                    <div *ngFor="let data of aiService" data-aos="zoom-out"
                        [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                        class=" col-lg-4 col-6 ai-data pt-lg-5 px-lg-5 pb-lg-3 d-flex  align-items-center justify-content-around flex-column">
                        <div class="image">
                            <img [src]="data.img" alt="">
                        </div>
                        <div class="title w-100 text-center">
                            <h3 class=" fw-lighter">{{data.title}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-lg-5">
        <div class="container d-flex align-items-center justify-content-center">
            <div class="text w-100 d-flex flex-column  justify-content-center align-items-center">
                <div class="button" data-aos="zoom-in">
                    <button class="our-process-btn">
                        Our Services
                    </button>
                </div>
                <div class="txt w-50 text-align-center">
                    <h1 class=" text-capitalize">Our Generative AI</h1>
                </div>
            </div>
        </div>
        <div class="what-we-do w-100 h-100 mt-lg-5 container" data-aos="zoom-in">
            <div class="row w-100 h-100 gap-2 justify-content-center">
                <ng-container *ngFor="let data of ourAIGenerative;let i=index;">
                    <div data-aos="zoom-out" style="box-shadow:0px 0px 1px black;border-radius:10px;"
                        [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                        class=" col-lg-3 col-6 ai-data2 pt-lg-5 px-lg-5 pb-lg-3 d-flex  align-items-center justify-content-around flex-column">
                        <div class="image" *ngIf="i!=9">
                            <img [src]="data.img" alt="" style="height:40px;">
                        </div>
                        <div class="image" *ngIf="i==9">
                            <img [src]="data.img" alt="" style="height:25px;">
                        </div>
                        <div class="title w-100 text-center">
                            <h3 class=" fw-lighter text-capitalize" style="font-size:18px;">{{data.title}}</h3>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>

    </div>
    <div class="container my-lg-5">
        <div class="container d-flex align-items-center justify-content-center">
            <div class="text w-100 d-flex flex-column  justify-content-center align-items-center">
                <div class="button" data-aos="zoom-in">
                    <button class="our-process-btn">
                        Our Services
                    </button>
                </div>
                <div class="txt w-50 text-align-center">
                    <h1 class=" text-capitalize">Our AI Services</h1>
                </div>
            </div>
        </div>
        <div class="what-we-do w-100 h-100 mt-lg-5 container" data-aos="zoom-in">
            <div class="row w-100 h-100 justify-content-center gap-2">
                <div *ngFor="let data of ourAIServices" data-aos="zoom-out"
                    style="box-shadow:0px 0px 1px black;border-radius:10px;"
                    [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                    class=" col-lg-3 col-6 ai-data2 pt-lg-5 px-lg-5 pb-lg-3 d-flex  align-items-center justify-content-around flex-column">
                    <div class="image">
                        <img [src]="data.img" alt="" style="height:40px;">
                    </div>
                    <div class="title w-100 text-center">
                        <h3 class=" fw-lighter text-capitalize" style="font-size:18px;">{{data.title}}</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="frame-3 container-fluid my-lg-5">
        <div class="container d-flex align-items-center justify-content-center">
            <div class="text w-100 d-flex flex-column  justify-content-center align-items-center">
                <div class="button" data-aos="zoom-in">
                    <button class="our-process-btn">
                        Industries
                    </button>
                </div>
                <div class="txt w-50 text-align-center">
                    <h1 class=" text-capitalize">Our primary sectors of focus</h1>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <div class="slider">
                <div class="slide-track">
                    <div class="slide" *ngFor="let img of aiService">
                        <h5 [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}" class=" fw-lighter">{{img.title}}
                        </h5>
                    </div>
                    <div class="slide" *ngFor="let img of aiService">
                        <h5 [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}" class=" fw-lighter">{{img.title}}
                        </h5>
                    </div>
                    <div class="slide" *ngFor="let img of aiService">
                        <h5 [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}" class=" fw-lighter">{{img.title}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [ngClass]="isDarkTheme?'frame-4':'frame-4-light'" class="container w-100">
        <div class="container d-flex flex-column flex-lg-row w-100 h-100">
            <div class="d-block d-sm-none ai-image">
                <div
                    class="frame-4-image position-relative w-100 h-100 d-flex align-items-center justify-content-center">
                    <div data-aos="zoom-in" class="ai-showcase container w-100 position-absolute h-auto">
                        <div [ngStyle]="{'backdrop-filter': isDarkTheme? 'blur(10px)':'blur(180px)'}"
                            class="ai-showcase-inner d-flex flex-column justify-content-center p-lg-4 ">
                            <div class="head d-flex justify-content-between align-items-center">
                                <div class="txt">
                                    <p class="showcase-txt">How to use AI to take better notes</p>
                                </div>
                                <div data-aos="zoom-out" class="button showcase-btn">
                                    <img src="../../../assets/ai/magic.png" alt="">
                                    <button class="magic-btn" routerLink="../ai/casestudy">
                                        Click To See AI Case Study
                                    </button>
                                </div>
                            </div>
                            <div class="tail">
                                <p class="fw-lighter showcase-txt m-0">What can LLMs like GPT do, specifically for
                                    note-taking?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text w-100 h-100 d-flex d-lg-block justify-content-center">
                <div class="text frame-4-cont w-100 d-flex flex-column h-100 justify-content-evenly ">
                    <div class="button align-self-start align-self-sm-center align-self-lg-start" data-aos="zoom-in">
                        <button class="our-process-btn">
                            About Us
                        </button>
                    </div>
                    <div class="txt w-100 text-align-start text-align-sm-center text-lg-start" data-aos="zoom-in">
                        <h1>Cutting-edge <br class="d-none d-sm-block"> technology <br class="d-none d-sm-block">
                            integrating AI and <br class="d-none d-sm-block"> Machine Learning</h1>
                    </div>
                    <div class="desc" data-aos="zoom-in">
                        <p class="m-0 desc-txt sub-heading">
                            Experience transformative advancements in your business operations through our innovative
                            technology, which omit seamlessly integrates artificial intelligence and machine learning
                            capabilities to drive innovation, efficiency, and growth.
                        </p>
                    </div>
                    <div class="list">
                        <ul class=" list-unstyled ">
                            <li data-aos="zoom-in" class=" d-flex align-items-center list-unstyled my-3"
                                *ngFor="let check of checks">
                                <i class="fa-solid fa-check mx-2"></i>
                                <p class=" m-0 list-check">{{check}}</p>
                            </li>
                        </ul>
                    </div>
                    <div data-aos="zoom-in"
                        class="buttons d-flex justify-content-lg-start justify-content-center w-100">
                        <button (click)="scrollToWWD()" class="btn-lm btn-primary mx-3 px-2 px-lg-4 py-2 py-lg-2"
                            style="white-space:nowrap;">Our
                            Mission</button>
                        <button (click)="scrollToForm()"
                            class="btn btn-outline-primary mx-3 px-2 px-lg-4 py-2 py-lg-2 text-uppercase "
                            style="white-space:nowrap;color:white;">learn
                            More</button>
                    </div>
                </div>
            </div>
            <!-- <div class="d-none d-sm-block"> -->
            <div
                class="frame-4-image position-relative w-100 d-none d-sm-flex align-items-center justify-content-center">
                <div data-aos="zoom-in" class="ai-showcase container w-100 position-absolute h-auto">
                    <div [ngStyle]="{'backdrop-filter': isDarkTheme? 'blur(10px)':'blur(180px)'}"
                        class="ai-showcase-inner d-flex flex-column justify-content-center p-lg-4 ">
                        <div class="head d-flex justify-content-between align-items-center">
                            <div class="txt">
                                <p class="showcase-txt">How to use AI to take better notes</p>
                            </div>
                            <div data-aos="zoom-out" class="button showcase-btn">
                                <img src="../../../assets/ai/magic.png" alt="">
                                <button class="magic-btn" routerLink="../ai/casestudy">
                                    Click To See AI Case Study
                                </button>
                            </div>
                        </div>
                        <div class="tail">
                            <p class="fw-lighter showcase-txt m-0">What can LLMs like GPT do, specifically for
                                note-taking?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>

    <!-- <div class="frame-5 my-lg-5" id="wwd">
        <div class="text w-100 d-flex flex-column  justify-content-center align-items-center">
            <div class="button" data-aos="slide-up">
                <button class="our-process-btn">
                    What We Do
                </button>
            </div>
            <div class="txt w-75 text-align-center px-sm-5 px-2 my-lg-4" data-aos="slide-up">
                <h1 style="font-size:20px!important;line-height:35px!important;">Deliver dynamic business solutions using data science, machine learning, and AI technologies
                    tailored to your needs.</h1>
            </div>
        </div>
        <div class="milestones container my-3">
            <div class="row custom-gap d-flex align-items-center justify-content-lg-center justify-content-evenly">
                <div *ngFor="let stone of milestones" data-aos="slide-up"
                    class="col-sm-3 col-8 milestone-col m-lg-2 d-flex align-items-center flex-sm-column flex-row  flex-lg-row justify-content-around h-100"style="max-width:250px;">
                    <div class="image">
                        <img [src]="stone.img" class="milestone-img" alt=""style="height:50px;">
                    </div>
                    <div class="number d-flex flex-column justify-content-center justify-content-lg-start ">
                        <h1 class=" fw-lighter">{{stone.num}}</h1>
                        <p class="m-0">{{stone.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<app-form></app-form>