<div class="container-fluid h-auto w-100 p-0">
    <div
        class="container-fluid position-relative p-0 frame-1 d-flex flex-column justify-content-center align-items-center">
        <div class="container position-absolute w-50 h-75">
            <div class="heading w-100 h-100 d-flex flex-column align-items-center justify-content-center text-white">
                <div class="button my-2">
                    <button class="our-process-btn">Quantum It Innovation</button>
                </div>
                <h1 class="tagline text-center fw-bolder w-lg-50">Unparalled
                    <span class="linear-text">Artificial Intelligence </span>Company
                </h1>
                <p class="fs-5 text-align-center w-50" style="color: #EFEDFDB2;                ">
                    Master the principles of note-taking in
                    Reflect's free online Academy.
                </p>
                <div class="buttons d-flex justify-content-center w-100">
                    <button class="btn btn-dark mx-3 px-4">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>