<div class="frames h-auto w-100 container-fluid p-0 d-flex flex-column mb-5 mb-lg-0">
    <div data-aos="fade-in"
        class="digital-marketing d-flex align-items-center justify-content-center container-fluid p-0 w-100 frame-1">
        <div class="container w-100 h-75">
            <div class="heading w-100 h-100 d-flex flex-column align-items-center justify-content-start ">
                <div class="button my-2" data-aos="fade-in">
                    <button class="our-process-btn">Expertise You Can Turst</button>
                </div>
                <h1 data-aos="fade-in" class="tagline text-center fw-bolder w-100 ">Experience our services and
                    foresee
                    the future of
                    <span class="linear-text"> Digital Marketing</span>
                </h1>
                <p data-aos="fade-in" class="head-desc text-align-center w-75"
                    style="color: #EFEDFDB2;                ">
                    Delve into our comprehensive array of services to witness the transformative evolution of digital
                    marketing, where innovation meets strategy, and possibilities are limitless.
                </p>
                <div class="buttons d-flex justify-content-center w-100 mt-3">
                    <button class="btn btn-primary mx-3 px-2 px-lg-4 py-3" (click)="scrollToForm()">Get Started</button>
                    <button class="btn btn-outline-primary mx-3 px-2 px-lg-4 py-3 text-uppercase "
                        (click)="scrollToProcess()">learn
                        More</button>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-2 container d-flex" id="our-process">
        <div class="container d-flex flex-column justify-content-center my-5 px-lg-5">
            <div class="heading d-flex justify-content-center align-items-center">
                <div class="text w-100 d-flex flex-column justify-content-center align-items-center ">
                    <div class="button my-lg-3" data-aos="slide-up">
                        <button class="our-process-btn">
                            Our Process
                        </button>
                    </div>
                    <div class="txt w-75 text-center my-lg-3" data-aos="slide-up">
                        <h1>How Can We Help You?</h1>
                    </div>
                    <div class="txt w-75 text-center my-lg-3" data-aos="slide-up">
                        <p class="fw-light" style="color: #EFEDFDB2;">Let's do great work together</p>
                    </div>

                    <div class="steps-container circles">
                        <div class="step-circle" data-aos="fade-up"></div>
                        <div class="step-dashed-line" data-aos="slide-up"></div>
                        <div class="step-circle" data-aos="fade-down"></div>
                        <div class="step-dashed-line" data-aos="slide-up"></div>
                        <div class="step-circle" data-aos="fade-up"></div>
                        <div class="step-dashed-line" data-aos="slide-up"></div>
                        <div class="step-circle" data-aos="fade-down"></div>
                        <!-- Add more circles and dashed lines as needed -->
                    </div>
                    <div class="steps-container w-100 mt-4" data-aos="fade-up">
                        <div class="step-title w-25 d-flex justify-content-center">
                            <p class="w-50 fw-light text-align-center">Update Content on My Website</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                        <div class="step-title w-25 d-flex justify-content-center">
                            <p class="w-50 fw-light text-align-center">Revitalize User Experience Design</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                        <div class="step-title w-25 d-flex justify-content-center">
                            <p class="w-50 fw-light text-align-center">Request Free Website Review</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                        <div class="step-title w-25 d-flex justify-content-center">
                            <p class="w-50 fw-light text-align-center">Improve Your SEO Rankings</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-3 container-fluid">
        <div class="d-flex justify-content-center align-items-center">
            <div class="slider">
                <div class="slide-track">
                    <div class="slide" *ngFor="let img of brandLogo">
                        <img style="filter:grayscale(100%)" height="100" width="100" [src]="img.img"
                            class="d-block w-auto" alt="...">
                    </div>
                    <div class="slide" *ngFor="let img of brandLogo">
                        <img style="filter:grayscale(100%)" height="100" width="100" [src]="img.img"
                            class="d-block w-auto" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-4 container d-flex">
        <div class="container d-flex flex-column justify-content-between my-5 px-lg-5">
            <div class="heading d-flex flex-column mb-5 mb-lg-0 flex-lg-row justify-content-center align-items-center">
                <div class="text frame-2-head w-50 d-flex align-items-center justify-content-center flex-column ">
                    <div class="button" data-aos="fade-in">
                        <button class="our-process-btn">
                            Our Services
                        </button>
                    </div>
                    <div class="txt w-100" data-aos="fade-in">
                        <h1 class=" text-align-center text-capitalize">Navigate through our
                            comprehensive solutions</h1>
                    </div>
                </div>
            </div>
            <div class="what-we-do w-100 h-100 mt-lg-5">
                <table class="table table-dark table-bordered table-responsive-sm">
                    <tbody>
                        <tr *ngFor="let data of tableData" data-aos="fade-up">
                            <th scope="row" class="align-middle p-4">
                                <img [src]="data.img" alt="">
                            </th>
                            <td class="align-middle p-4">
                                <h4 class="fw-light">{{data.heading}}</h4>
                                <p class="m-0 fw-lighter" style="color:#B5B5B5">{{data.tail}}</p>
                            </td>
                            <td class="align-middle p-4">
                                <p class="m-0" style="color:#B5B5B5">{{data.desc}}</p>
                                <div class="list mb-2" *ngIf="data.list">
                                    <ul class=" list-unstyled  row">
                                        <li data-aos="fade-up"
                                            class=" d-flex col-6 align-items-center justify-content-start list-unstyled my-3"
                                            *ngFor="let list of data.list">
                                            <i class="fa-solid fa-check mx-2"></i>
                                            <p class="fw-light m-0 list-check">{{list}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td class="align-middle py-4 px-2">
                                <p routerLink="services" (click)="scrollToTop()" class="m-0 table-lm fw-light">Learn
                                    More <i class="fa-solid fa-arrow-right text-secondary"
                                        style="transform: rotate(325deg);"></i></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="frame-5 container">
        <div data-aos="slide-up" class="text w-100 d-flex flex-column justify-content-center align-items-center ">
            <div class="button my-lg-3">
                <button class="our-process-btn">
                    Our Process
                </button>
            </div>
            <div class="txt w-50 text-center my-lg-3">
                <h1>Our Work Progress In Digital Mastery.</h1>
            </div>
        </div>

    </div>
    <div class="steps-container squares w-100 mt-lg-5 mb-lg-3 ">
        <div class="step-line"></div>
        <div class="step-square" data-aos="fade-up">Step 01</div>
        <div class="step-line"></div>
        <div class="step-square" data-aos="fade-down">Step 02</div>
        <div class="step-line"></div>
        <div class="step-square" data-aos="fade-up">Step 03</div>
        <div class="step-line"></div>
    </div>
    <div class="steps-container w-100 mt-5 ">
        <div class="step-title w-25 mt-3 mt-lg-0 d-flex flex-column align-items-center justify-content-center">
            <p data-aos="fade-up" class="w-50 fw-lighter fs-5 text-align-center">Client Consultation</p>
            <p data-aos="fade-up" class="w-75 fw-lighter fs-6 text-align-center" style="color: #B5B5B5;">Quantum begins
                by thoroughly understanding the client's goals, target audience, and unique needs through in-depth
                consultations.</p>
        </div>
        <div class="step-dashed-line visually-hidden"></div>
        <div class="step-title w-25 mt-3 mt-lg-0 d-flex justify-content-center align-items-center flex-column">
            <p data-aos="fade-up" class="w-50 fw-lighter fs-5 text-align-center">Strategy Development</p>
            <p data-aos="fade-up" class="w-75 fw-lighter fs-6 text-align-center" style="color: #B5B5B5;">Based on the
                insights gained, Quantum crafts tailored digital marketing strategies, aligning with the client's
                objectives and maximizing ROI.</p>
        </div>
        <div class="step-dashed-line visually-hidden"></div>
        <div class="step-title w-25 mt-3 mt-lg-0 d-flex justify-content-center align-items-center flex-column">
            <p data-aos="fade-up" class="w50 fw-lighter fs-5 text-align-center">Market Research</p>
            <p data-aos="fade-up" class="w-75 fw-lighter fs-6 text-align-center" style="color: #B5B5B5;">We conduct
                extensive market research to identify trends, opportunities, and competitor strategies to make campaigns
                effective.</p>
        </div>
        <div class="step-dashed-line visually-hidden"></div>
    </div>

    <div class="container button w-100 d-flex mt-5 align-items-center justify-content-center">
        <button data-aos="fade-up" class="our-marketing-btn ">
            <i class="fa-solid fa-arrow-left  mx-2"></i>
            Our Process
            <i class="fa-solid fa-arrow-right  mx-2"></i>
        </button>
    </div>

    <div class="frame-6 d-flex container">
        <div class="container w-100 h-100 my-5 d-flex flex-column justify-content-center align-items-center">
            <div data-aos="fade-up" class="text w-100 d-flex flex-column justify-content-center align-items-center ">
                <div class="button my-lg-3">
                    <button class="our-process-btn">
                        Our Stories
                    </button>
                </div>
                <div class="txt w-50 text-center my-lg-3">
                    <h1>Stories Of Growth Triumph</h1>
                </div>
            </div>

            <div class="container w-100 h-100 mt-5 d-flex flex-column justify-content-center align-items-center">
                <div class="container flex-column flex-lg-row align-items-center d-flex g-3 h-100 w-100">
                    <div class="mx-2 my-4 my-lg-0 w-100 h-100 our-stories-col" *ngFor="let story of our_stories">
                        <div class="container d-flex h-100 flex-column p-4">
                            <div class="blank w-100 h-100">
                                <div class="text opacity-0 d-flex flex-column ">
                                    <div class="name my-2">
                                        <h2>{{story.name}}</h2>
                                    </div>
                                    <div class="num my-2">
                                        <h2>{{story.num}}</h2>
                                    </div>
                                    <div class="buttons d-flex my-2">
                                        <button class="our-process-btn">
                                            Organic Social Media
                                        </button>
                                        <button class="our-process-btn">
                                            Paid Social
                                        </button>
                                        <button class="our-process-btn">
                                            SEO
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="details w-100 h-100">
                                <div class="text d-flex flex-column ">
                                    <div data-aos="fade-up" class="name my-2">
                                        <h3>{{story.name}}</h3>
                                    </div>
                                    <div data-aos="fade-up" class="num my-2">
                                        <h2 class="fw-light" style="color:#43BAFF">{{story.num}}</h2>
                                    </div>
                                    <div data-aos="fade-up" class="buttons d-flex justify-content-between my-2">
                                        <button class="our-gm-btn">
                                            Organic Social Media
                                        </button>
                                        <button class="our-gm-btn">
                                            Paid Social
                                        </button>
                                        <button class="our-gm-btn">
                                            SEO
                                        </button>
                                    </div>
                                    <div data-aos="fade-up" class="desc my-2">
                                        <p>Read the Success Stories</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="learnMore d-flex align-items-center justify-content-center">
        <button routerLink="services" (click)="scrollToTop()"
            class="btn-lm fs-5 rounded d-flex align-items-center justify-content-between">View
            All
        </button>
    </div>
</div>

<app-form></app-form>