<div class="frames h-auto w-100 container-fluid p-0 d-flex flex-column mb-5 mb-lg-0">
    <div data-aos="fade-in"
        class="digital-marketing d-flex align-items-center justify-content-center container-fluid p-0 w-100 frame-1">
        <div class="container w-100 h-75">
            <div class="heading w-100 h-100 d-flex flex-column align-items-center justify-content-start ">
                <div class="button my-2" data-aos="fade-in">
                    <button class="our-process-btn">Expertise You Can Turst</button>
                </div>
                <h1 data-aos="fade-in" class="tagline text-center fw-bolder w-100 ">Experience our services and
                    foresee
                    the future of <br class=" d-lg-none">
                    <span class="linear-text"> Digital Marketing</span>
                </h1>
                <p data-aos="fade-in" class="head-desc text-align-center w-75 fs-4">
                    Delve into our comprehensive array of services to witness the transformative evolution of digital
                    marketing, where innovation meets strategy, and possibilities are limitless.
                </p>
                <div class="buttons d-flex justify-content-center w-100 mt-3">
                    <button class="btn btn-primary mx-3 px-2 px-lg-4 py-3" (click)="scrollToProcess()">Get
                        Started</button>
                    <button class="btn btn-outline-primary mx-3 px-2 px-lg-4 py-3 text-uppercase "
                        (click)="scrollToForm()">learn
                        More</button>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-2 container d-flex" id="our-process">
        <div class="container d-flex flex-column justify-content-center my-5 px-lg-5">
            <div class="heading d-flex justify-content-center align-items-center">
                <div class="text w-100 d-flex flex-column justify-content-center align-items-center ">
                    <div class="button my-lg-3" data-aos="slide-up">
                        <button class="our-process-btn">
                            Our Process
                        </button>
                    </div>
                    <div class="txt w-75 text-center my-lg-3" data-aos="slide-up">
                        <h1>How Can We Help You?</h1>
                    </div>
                    <div class="txt w-75 text-center my-lg-3" data-aos="slide-up">
                        <p class="fw-light sub-heading " style="color: #EFEDFDB2;">Let's do great work together</p>
                    </div>

                    <div class="steps-container circles">
                        <div [ngClass]="isDarkTheme?'step-first-circle':'step-first-circle-light'"
                            class="align-content-center text-align-center" data-aos="fade-up">
                            <img height="30" width="30" src="../../../../assets/dm/first-circle.svg" alt="">
                        </div>
                        <div [ngClass]="isDarkTheme?'step-dashed-line':'step-dashed-line-light'" data-aos="slide-up">
                        </div>
                        <div [ngClass]="isDarkTheme?'step-circle':'step-circle-light'" data-aos="fade-down"></div>
                        <div [ngClass]="isDarkTheme?'step-dashed-line':'step-dashed-line-light'" data-aos="slide-up">
                        </div>
                        <div [ngClass]="isDarkTheme?'step-circle':'step-circle-light'" data-aos="fade-up"></div>
                        <div [ngClass]="isDarkTheme?'step-dashed-line':'step-dashed-line-light'" data-aos="slide-up">
                        </div>
                        <div [ngClass]="isDarkTheme?'step-circle':'step-circle-light'" data-aos="fade-down"></div>
                        <!-- Add more circles and dashed lines as needed -->
                    </div>
                    <div class="steps-container w-100 mt-4" data-aos="fade-up">
                        <div class="step-title w-25 d-flex justify-content-center">
                            <p class="w-75 fw-light text-align-center">Refresh your website content optimal performance
                            </p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                        <div class="step-title w-25 d-flex justify-content-center">
                            <p class="w-75 fw-light text-align-center">Revitalize User Experience Design</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                        <div class="step-title w-25 d-flex justify-content-center">
                            <p class="w-75 fw-light text-align-center">Request a no-cost website review now</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                        <div class="step-title w-25 d-flex justify-content-center">
                            <p class="w-75 fw-light text-align-center">Enhance your SEO Rankings for better online
                                presence</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-3 container-fluid">
        <div class="d-flex justify-content-center align-items-center">
            <div class="slider" [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}">
                <div class="slide-track">
                    <div class="slide" *ngFor="let img of brandLogo">
                        <img [ngStyle]="{filter:isDarkTheme?'grayscale(100%)':'invert(1)'}" height="100" width="100"
                            [src]="img.img" class="d-block w-auto" alt="...">
                    </div>
                    <div class="slide" *ngFor="let img of brandLogo">
                        <img [ngStyle]="{filter:isDarkTheme?'grayscale(100%)':'invert(1)'}" height="100" width="100"
                            [src]="img.img" class="d-block w-auto" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-4 container d-flex">
        <div class="container d-flex flex-column justify-content-between my-5 px-lg-5">
            <div class="heading d-flex flex-column mb-5 mb-lg-0 flex-lg-row justify-content-center align-items-center">
                <div class="text frame-2-head w-50 d-flex align-items-center justify-content-center flex-column ">
                    <div class="button" data-aos="fade-in">
                        <button class="our-process-btn">
                            Our Services
                        </button>
                    </div>
                    <div class="txt w-100" data-aos="fade-in">
                        <h1 class=" text-align-center text-capitalize">Navigate through our
                            comprehensive solutions</h1>
                    </div>
                </div>
            </div>
            <div class="what-we-do w-100 h-100 mt-lg-5">
                <table class="table table-bordered table-responsive-sm"
                    [ngClass]="isDarkTheme?' table-dark':'table-light'">
                    <tbody>
                        <tr *ngFor="let data of tableData" data-aos="fade-up">
                            <th scope="row" class="align-middle p-4">
                                <img [ngStyle]="{filter:isDarkTheme?'none':'invert(1)'}" [src]="data.img" alt="">
                            </th>
                            <td class="align-middle p-4">
                                <h4 class="fw-light">{{data.heading}}</h4>
                                <p class="m-0 fw-lighter sub-heading" style="color:#B5B5B5">{{data.tail}}</p>
                            </td>
                            <td class="align-middle p-4">
                                <p class="m-0 sub-heading" style="color:#B5B5B5">{{data.desc}}</p>
                                <div class="list mb-2" *ngIf="data.list">
                                    <ul class=" list-unstyled  row">
                                        <li data-aos="fade-up"
                                            class=" d-flex col-6 align-items-center justify-content-start list-unstyled my-3"
                                            *ngFor="let list of data.list">
                                            <i class="fa-solid fa-check mx-2"></i>
                                            <p class="fw-light m-0 list-check">{{list}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td class="align-middle py-4 px-2 ">
                                <p [routerLink]="['services', data.link]" (click)="scrollToTop()"
                                    class="m-0 table-lm fw-light learn sub-heading">Learn
                                    More <i class="fa-solid fa-arrow-right text-secondary"
                                        style="transform: rotate(325deg);"></i></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="frame-5 container">
        <div class="d-none d-sm-block">
            <div data-aos="slide-up"
                class="text mb-3  w-100 d-flex flex-column justify-content-center align-items-center ">
                <div class="button my-lg-3">
                    <button class="our-process-btn">
                        Our Process
                    </button>
                </div>
                <div class="txt w-75 w-sm-50 text-center my-lg-3">
                    <h1>Our Progressive Approach
                        in Digital Marketing</h1>
                </div>
            </div>
            <div class="steps-container squares w-100 mt-lg-5 mb-lg-3 ">
                <div [ngStyle]="{background:isDarkTheme?'white':'black'}" class="step-line"></div>
                <div [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                    [ngClass]="isDarkTheme?'step-square':'step-square-light'" data-aos="fade-up">Step 01
                </div>
                <div [ngStyle]="{background:isDarkTheme?'white':'black'}" class="step-line"></div>
                <div [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                    [ngClass]="isDarkTheme?'step-square':'step-square-light'" data-aos="fade-down">Step 02
                </div>
                <div [ngStyle]="{background:isDarkTheme?'white':'black'}" class="step-line"></div>
                <div [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                    [ngClass]="isDarkTheme?'step-square':'step-square-light'" data-aos="fade-up">Step 03
                </div>
                <div [ngStyle]="{background:isDarkTheme?'white':'black'}" class="step-line"></div>
            </div>
            <div class="steps-container w-100 mt-5 ">
                <div class="step-title w-25 mt-3 mt-lg-0 d-flex flex-column align-items-center justify-content-center">
                    <p data-aos="fade-up" class="w-50 fw-lighter fs-5 text-align-center">Client Consultation</p>
                    <p data-aos="fade-up" class="w-75 fw-lighter fs-6 text-align-center"
                        [ngStyle]="{color: isDarkTheme ? '#B5B5B5':'black'}">Quantum begins
                        by thoroughly understanding the client's goals, target audience, and unique needs through
                        in-depth
                        consultations.</p>
                </div>
                <div class="step-dashed-line visually-hidden"></div>
                <div class="step-title w-25 mt-3 mt-lg-0 d-flex justify-content-center align-items-center flex-column">
                    <p data-aos="fade-up" class="w-50 fw-lighter fs-5 text-align-center">Strategy Development</p>
                    <p data-aos="fade-up" class="w-75 fw-lighter fs-6 text-align-center"
                        [ngStyle]="{color: isDarkTheme ? '#B5B5B5':'black'}">Based on the
                        insights gained, Quantum crafts tailored digital marketing strategies, aligning with the
                        client's
                        objectives and maximizing ROI.</p>
                </div>
                <div class="step-dashed-line visually-hidden"></div>
                <div class="step-title w-25 mt-3 mt-lg-0 d-flex justify-content-center align-items-center flex-column">
                    <p data-aos="fade-up" class="w50 fw-lighter fs-5 text-align-center">Market Research</p>
                    <p data-aos="fade-up" class="w-75 fw-lighter fs-6 text-align-center"
                        [ngStyle]="{color: isDarkTheme ? '#B5B5B5':'black'}">We conduct
                        extensive market research to identify trends, opportunities, and competitor strategies to make
                        campaigns
                        effective.</p>
                </div>
                <div class="step-dashed-line visually-hidden"></div>
            </div>

            <div class="container button w-100 d-flex mt-5 align-items-center justify-content-center">
                <button [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF','color':isDarkTheme?'white':'black'}"
                    data-aos="fade-up" class="our-marketing-btn ">
                    <i [ngClass]="isDarkTheme?'text-white':'text-black'" class="fa-solid fa-arrow-left  mx-2"></i>
                    Our Process
                    <i [ngClass]="isDarkTheme?'text-white':'text-black'" class="fa-solid fa-arrow-right  mx-2"></i>
                </button>
            </div>
        </div>

        <div id="carouselExampleControls" class="carousel slide d-block d-sm-none" data-ride="carousel">
            <div class="carousel-inner ">
                <div class="text w-100 d-flex flex-column justify-content-center align-items-center ">
                    <div class="button my-3">
                        <button class="our-process-btn">
                            Our Process
                        </button>
                    </div>
                    <div class="txt w-75 text-center my-3">
                        <h1 class="text-capitalize">Our Progressive Approach
                            in Digital Marketing</h1>
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="steps-container squares w-100 mt-lg-5 mb-lg-3 ">
                        <div [ngStyle]="{background:isDarkTheme?'white':'black'}" class="step-line"></div>
                        <div [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                            [ngClass]="isDarkTheme?'step-square':'step-square-light'" data-aos="fade-up">Step 01
                        </div>
                        <div [ngStyle]="{background:isDarkTheme?'white':'black'}" class="step-line"></div>
                    </div>
                    <div class="steps-container-1 gap-lg-3 w-100 mt-5 ">
                        <div
                            class="step-title w-25 mt-3 mt-lg-0 d-flex flex-column align-items-center justify-content-center">
                            <p data-aos="fade-up" class="w-50 fw-lighter fs-5 text-align-center">Client Consultation</p>
                            <p data-aos="fade-up" class="w-75 fw-lighter fs-6 text-align-center"
                                [ngStyle]="{color: isDarkTheme ? '#B5B5B5':'black'}">Quantum begins
                                by thoroughly understanding the client's goals, target audience, and unique needs
                                through
                                in-depth
                                consultations.</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>

                    </div>

                </div>
                <div class="carousel-item ">
                    <div class="steps-container squares w-100 mt-lg-5 mb-lg-3 ">
                        <div [ngStyle]="{background:isDarkTheme?'white':'black'}" class="step-line"></div>
                        <div [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                            [ngClass]="isDarkTheme?'step-square':'step-square-light'" data-aos="fade-up">Step 02
                        </div>
                        <div [ngStyle]="{background:isDarkTheme?'white':'black'}" class="step-line"></div>
                    </div>
                    <div class="steps-container-1 gap-lg-3 w-100 mt-5 ">
                        <div class="step-title w-25 mt-3 mt-lg-0 d-flex justify-content-center align-items-center flex-column">
                            <p data-aos="fade-up" class="w-50 fw-lighter fs-5 text-align-center">Strategy Development</p>
                            <p data-aos="fade-up" class="w-75 fw-lighter fs-6 text-align-center"
                                [ngStyle]="{color: isDarkTheme ? '#B5B5B5':'black'}">Based on the
                                insights gained, Quantum crafts tailored digital marketing strategies, aligning with the
                                client's
                                objectives and maximizing ROI.</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>

                    </div>

                </div>
                <div class="carousel-item ">
                    <div class="steps-container squares w-100 mt-lg-5 mb-lg-3 ">
                        <div [ngStyle]="{background:isDarkTheme?'white':'black'}" class="step-line"></div>
                        <div [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                            [ngClass]="isDarkTheme?'step-square':'step-square-light'" data-aos="fade-up">Step 03
                        </div>
                        <div [ngStyle]="{background:isDarkTheme?'white':'black'}" class="step-line"></div>
                    </div>
                    <div class="steps-container-1 gap-lg-3 w-100 mt-5 ">
                        <div class="step-title w-25 mt-3 mt-lg-0 d-flex justify-content-center align-items-center flex-column">
                            <p data-aos="fade-up" class="w50 fw-lighter fs-5 text-align-center">Market Research</p>
                            <p data-aos="fade-up" class="w-75 fw-lighter fs-6 text-align-center"
                                [ngStyle]="{color: isDarkTheme ? '#B5B5B5':'black'}">We conduct
                                extensive market research to identify trends, opportunities, and competitor strategies to make
                                campaigns
                                effective.</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>

                    </div>

                </div>
            </div>
            <div class="container button w-100 d-flex mt-5 align-items-center justify-content-center">
                <button [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}"
                    [ngClass]="isDarkTheme?'text-white':'text-black'" class="our-marketing-btn ">
                    <i [ngClass]="isDarkTheme?'text-white':'text-black'" class="fa-solid fa-arrow-left  mx-2"
                        href="#carouselExampleControls" role="button" data-slide="prev"></i>
                    Our Process
                    <i [ngClass]="isDarkTheme?'text-white':'text-black'" class="fa-solid fa-arrow-right  mx-2"
                        href="#carouselExampleControls" role="button" data-slide="next"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="frame-6 d-flex container">
        <div class="container w-100 h-100 my-5 d-flex flex-column justify-content-center align-items-center">
            <div data-aos="fade-up" class=" text w-100 d-flex flex-column justify-content-center align-items-center ">
                <div class="button my-lg-3">
                    <button class="our-process-btn">
                        Our Stories
                    </button>
                </div>
                <div class="txt w-50 text-center my-lg-3">
                    <h1>Stories Of Growth Triumph</h1>
                </div>
            </div>

            <div class="container w-100 h-100 mt-5 d-flex flex-column justify-content-center align-items-center">
                <div class="container flex-column flex-lg-row align-items-center d-flex g-3 h-100 w-100">
                    <div class="mx-2 my-4 my-lg-0 w-100 h-100 our-stories-col hover-card"
                        [ngStyle]="{border:isDarkTheme?'1.5px solid #FFFFFF40':'1.5px solid black'}"
                        *ngFor="let story of our_stories">
                        <div class="container d-flex h-100 flex-column p-3">
                            <div class="blank w-100 h-100">
                                <div class="text opacity-0 d-flex flex-column ">
                                    <div class="name my-2">
                                        <h2>{{story.name}}</h2>
                                    </div>
                                    <div class="num my-2">
                                        <h2>{{story.num}}</h2>
                                    </div>
                                    <div class="buttons d-flex my-2">
                                        <button class="our-process-btn"*ngFor="let type of story.types">
                                            {{type}}
                                        </button>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="details w-100 h-100">
                                <div class="text d-flex flex-column ">
                                    <div data-aos="fade-up" class="name my-2">
                                        <h3>{{story.name}}</h3>
                                    </div>
                                    <div data-aos="fade-up" class="num my-2">
                                        <h2 class="fw-light " style="color:#43BAFF">{{story.num}}</h2>
                                    </div>
                                    <div data-aos="fade-up" class="buttons d-flex justify-content-between my-2"style="gap:10px;">
                                        <button  style="white-space:nowrap;" [ngClass]="isDarkTheme?'our-gm-btn':'our-gm-btn-light'"*ngFor="let type of story.types">
                                            {{type}}
                                        </button>
                                        
                                    </div>
                                    <div data-aos="fade-up" class="desc my-2">
                                        <p>Read the Success Stories</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="learnMore d-flex align-items-center justify-content-center">
        <button routerLink="services" (click)="scrollToTop()"
            class="btn-lm fs-5 rounded d-flex align-items-center justify-content-between">View
            All
        </button>
    </div>
</div>

<app-form></app-form>