* {
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
}

.digital-marketing {
    height: 100vh;
}

.digital-marketing::before {
    background-image: url("../../../../assets/backgroungimages/dm.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    z-index: -1;
}

.our-process-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0099FF;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.tagline {
    font-size: 68px;
    line-height: 78px;
}

.linear-text {
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    /* Add underline */
    /* Adjust these values to customize the underline */
    /* text-shadow: 0 0.04em rgba(0, 0, 0, 0.5); */
    background-clip: text;
    position: relative;
}

/* Create pseudo-element for the underline */
.linear-text::after {
    content: '';
    /* Required for pseudo-elements */
    position: absolute;
    bottom: -2px;
    /* Adjust as needed */
    left: 0;
    width: 100%;
    height: 3px;
    /* Adjust thickness of underline */
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
}

.view-more {
    color: #43BAFF;
}

.view-more .fa-arrow-right {
    color: #43BAFF;
}

.steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circles {
    width: 80%;
}

.step-circle {
    width: 40px;
    height: 40px;
    background: #000000;
    border: 1px solid #7EA6BE;
    border-radius: 50%;
    margin-right: 20px;
}

.step-circle-light {
    width: 40px;
    height: 40px;
    background: #ECF0FF;
    border: 1px solid #7EA6BE;
    border-radius: 50%;
    margin-right: 20px;
}

.step-first-circle {
    width: 60px;
    height: 60px;
    background: #000000;
    border: 1px solid #7EA6BE;
    border-radius: 50%;
    margin-right: 20px;
}

.step-first-circle-light {
    width: 60px;
    height: 60px;
    background: #ECF0FF;
    border: 1px solid #7EA6BE;
    border-radius: 50%;
    margin-right: 20px;
}

.step-square {
    width: 70px;
    height: 60px;
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Position for vertical line */
}

.step-square::after {
    content: '';
    position: absolute;
    top: 100%;
    /* Position the vertical line below the square */
    left: 50%;
    /* Position the vertical line in the middle of the square */
    transform: translateX(-50%);
    /* Center the vertical line horizontally */
    height: 100%;
    width: 1px;
    /* Width of the vertical line */
    background-color: #fff;
    /* Color of the vertical line */
}

.step-square-light {
    width: 70px;
    height: 60px;
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    /* Position for vertical line */
}

.step-square-light::after {
    content: '';
    position: absolute;
    top: 100%;
    /* Position the vertical line below the square */
    left: 50%;
    /* Position the vertical line in the middle of the square */
    transform: translateX(-50%);
    /* Center the vertical line horizontally */
    height: 100%;
    width: 1px;
    /* Width of the vertical line */
    background-color: black;
    /* Color of the vertical line */
}

.step-text {
    color: #fff;
    margin-top: 5px;
    font-size: 14px;
}

.step-dashed-line {
    flex-grow: 1;
    height: 1px;
    background-image: linear-gradient(to right, #fff 50%, transparent 50%);
    background-size: 10px 1px;
    background-repeat: repeat-x;
    /* margin-top: 20px; */
}

.step-dashed-line-light {
    flex-grow: 1;
    height: 1px;
    background-image: linear-gradient(to right, #7EA6BE 50%, transparent 50%);
    background-size: 10px 1px;
    background-repeat: repeat-x;
    /* margin-top: 20px; */
}

.step-line {
    flex-grow: 1;
    height: 1px;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
    display: flex;
    align-items: center;
}


@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translate(calc(-250px*7));
    }
}

.btn-lm {
    color: white;
    padding: 10px 20px;
    background-color: #43BAFF;
    border: none;
    border-radius: 5px;
}

.table-bordered {
    border: 1px solid #FFFFFF14 !important;
}

.table-dark {
    border: 1px solid #FFFFFF14 !important;
    background-color: #000000 !important;
}

.table-light {
    border: 1px solid #111111 !important;
    background-color: white !important;
}

.table-dark>tbody>tr:nth-child(odd)>td,
.table-dark>tbody>tr:nth-child(odd)>th {
    background-color: black;
    border: 1px solid #FFFFFF14 !important;

}

.table-dark>tbody>tr:nth-child(even)>td,
.table-dark>tbody>tr:nth-child(even)>th {
    background-color: black;
    border: 1px solid #FFFFFF14 !important;

}

.table-light>tbody>tr:nth-child(odd)>td,
.table-light>tbody>tr:nth-child(odd)>th {
    background-color: white;
    border: 1px solid #111111 !important;

}

.table-light>tbody>tr:nth-child(even)>td,
.table-light>tbody>tr:nth-child(even)>th {
    background-color: white;
    border: 1px solid #111111 !important;

}

.table-lm {
    font-size: 13px;
    cursor: pointer;
}

.our-marketing-btn {
    width: Hug (352px)px;
    height: Hug (66px)px;
    top: 524.35px;
    left: 544px;
    padding: 20px 40px 20px 40px;
    gap: 20px;
    border-radius: 50px 50px 0px 0px;
    opacity: 0px;
    background: #111111;
    border: #000000;
}

.our-stories-col {
    border-radius: 10px;
}

.frame-6 {
    height: auto;
}

.our-gm-btn {
    font-size: 12px;
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0099FF;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.our-gm-btn-light {
    font-size: 12px;
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid black;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    color: black;
    opacity: 50%;
    backdrop-filter: blur(2px);
}

.blank {
    display: none;
}

@media(max-width:1180px) {
    .frame-4>.container>.heading>.text {
        width: 70% !important;
    }
}

@media (max-width:1024px) and (min-width:768px) {
    .tagline {
        font-size: 60px;
        line-height: 70px;
    }

    .frame-6>.container {
        height: 75vh !important;
    }
}

@media(max-width:768px) {
    .frame-6>.container {
        height: 100vh !important;
    }
}

@media (max-width: 575.98px) {

    .frame-1 {
        height: 70vh;
    }

    .frame-1 .container {
        width: 100% !important;
    }

    .head-desc,
    .frame-2-head {
        width: 100% !important;
    }

    .container {
        padding-right: 5px;
    }

    .tagline {
        font-size: 28px;
        line-height: 38px;
    }

    .heading>p {
        font-size: 16px;
        line-height: 23px;
    }

    td p {
        font-size: 7px;
    }

    td h4 {
        font-size: 12px;
    }

    td,
    th {
        padding: 5px !important;
    }

    .txt h1 {
        font-size: 22px;
        margin-top: 30px;
    }

    .btn-lm {
        padding: 5px 10px;
        font-size: 15px !important;
    }

    .our-process-btn {
        font-size: 10px;
        line-height: 20px;
        padding: 5px 12px 5px 12px;
    }

    .frame-1 button {
        padding: 10px 18px !important;
        font-size: 14px !important;
        line-height: 21px;
        border-radius: 8px !important;
    }

    .step-circle {
        margin: 0;
    }

    .step-title p {
        font-size: 14px !important;
        width: 100% !important;
    }
    .step-title p:first-child{
        margin-top: 10px;
    }

    .step-title .fs-6 {
        font-size: 14px !important;
    }

    .circles {
        width: 100% !important;
    }

    .step-title {
        width: 100% !important;
    }

    .opacity-0 {
        display: none !important;
    }

    .frame-6 {
        padding-left: 0px;
        height: 180vh;
    }

    .frame-6>.container {
        padding-left: 0px;
        padding-top: 50px;
    }

    .learnMore {
        padding: 20px;
    }
    .our-marketing-btn {
        padding: 15px 20px;
    }

    .our-marketing-btn>i {
        padding: 5px;
    }
}