* {
    font-family: 'Plus Jakarta Sans';
}


.numbers-section {
    padding: 50px 50px;
    background: linear-gradient(90deg, #43BAFF 0%, #7141B1 100%);
}

.latest-news {
    min-height: 140px;
}

.blog-heading h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700 !important;
}

.blog-title p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400 !important;
}

.card-title1 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
}

.linear-text {
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.text h4 {
    font-size: 16px;
}

.contributor-image::before {
    content: "";
    background-position: top;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    /* opacity: 30%; */
    background-image: url("../../../../assets/blog/contributer-bg.svg")
}

.days {
    font-size: 12px;
}

.card-footer {
    border-top: 1px solid;
}

.card-footer-light {
    border-top: 1px solid rgb(237, 225, 225);
}

.popular {
    max-height: 100px;
    position: relative;
    cursor: pointer;
}

.popular-last {
    cursor: pointer;
}

.popular::after {
    content: '';
    /* Required for pseudo-elements */
    position: absolute;
    /* Position relative to the container */
    bottom: 10%;
    /* Align at the bottom */
    left: 10%;
    /* Adjust as needed, this is the starting point */
    width: 80%;
    /* Adjust as needed, this is the width of the border */
    height: 1px;
    /* Height of the border */
    background-color: white;
    /* Color of the border */
    opacity: 10%;
}

.frame-3>.contributors-section {
    min-height: 60vh !important;
}

.frame-3>.contributors-section>.contributors>.card {
    width: 20rem;
}

.single-blog>div {
    width: 49%;
    min-height: 500px;
}

@media(max-width:1366px) and (min-height:1024px) {
    .frame-1-container>.frame-3 {
        min-height: 50vh !important;
    }
}

/* @media(min-width:1025px) and (max-width:1180px) {
    .frame-1-container {
        height: 205vh;
    }
} */

@media(max-width:1024px) {
    .frame-3>.contributors-section>.contributor-image {
        height: 50vh !important;

    }
}

@media(max-width:820px) {
    .frame-2>.container>.cards {
        width: 100%;
    }

    .frame-3>.contributors-section>.contributors>.card {
        width: 100%;
    }

    .single-blog>div {
        width: 80%;
    }

    .single-blog {
        justify-content: center;
    }
}

@media (max-width:768px) {
    .frame-2>.container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .frame-2>.container>.cards {
        width: 100%;
    }

    .frame-3>.contributors-section>.contributors {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .frame-3>.contributors-section>.contributors>.card {
        width: 100%;
    }

    .frame-3>.contributors-section>.contributor-image {
        padding-top: 10px;
    }

    .frame-3>.contributors-section>.contributor-image::before {
        height: 38vh;
    }
}

.fa-arrow-right {
    cursor: pointer;
}


@media (max-width: 575.98px) {

    .cards,
    .contributors-section {
        align-items: center;
    }

    .single-cont,
    .latest-news {
        width: 100% !important;
    }

    .latest-news {
        min-height: 100px;
    }

    .blog-heading h1 {
        font-size: 22px;
        line-height: 27px;
    }

    .blog-title p {
        font-size: 12px;
        line-height: 15px;
    }
    .miletone-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .single-blog>div {
        width: 100%;
        max-height: 330px;
    }
    .numbers-section {
        padding: 50px 5px;
    }

    .contributors {
        width: 100% !important;
    }
    .text h4 {
        font-size: 12px;
    }
    .card-title1 {
        font-size: 16px;
        line-height: 25px;
    }
    .card-title{
        font-size: 16px;
    }
    .card .text h5{
        font-size: 16px;

    }
    .card .text p{
        font-size: 12px;
    }
    .name p{
        font-size: 12px;
    }
    .card >img{
        width:100%!important;
    }
}