<div class="container-fluid ">
    <div class="container d-flex flex-column frame-1-container p-0">
        <div class="frame-1 h-100 w-100 p-0">
            <div class="container numbers w-100 my-5">
                <div class="numbers-section rounded-3 d-flex align-items-center justify-content-center container w-100">
                    <div class="latest-news d-flex text-align-center w-75 justify-content-center align-content-center">
                        <div class="text-white">
                            <div class="blog-heading fw-bolder">
                                <h1>
                                    Latest Insights & Articles
                                </h1>
                            </div>
                            <div class="blog-title fw-light">
                                <p>Welcome to quantum, where collaboration, expertise, and client-centricity intersect
                                    to <br class="d-none d-md-block">shape the future of digital innovation.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status"*ngIf="loadingStatus">
                <span class="sr-only">Loading...</span>
              </div>
        </div>
        <div class="frame-2 w-100 h-100"*ngIf="!loadingStatus">
            <div class="container d-flex">
                <div class="cards row">
                    <div class="categories col-4">
                        <div class="card col py-4 my-3 m-lg-3 w-100"
                            [ngStyle]="{'color':isDarkTheme?'white':'black','background':isDarkTheme?'#111111':'#ECF0FF'}">
                            <div class="card-body ">
                                <h4 class="card-title card-title1 linear-text d-inline-block ps-3">Categories</h4>
                            </div>
                            <div class="card-body popular" routerLink="inner-blog/66795ec3a37d607032b766b5">
                                <div class="container d-flex justify-content-between">
                                    <div class="text">
                                        <h4 class="fw-light  w-100 text-capitalize">App Development</h4>
                                        <!-- <span class=" opacity-50  days">15 Videos</span> -->
                                    </div>
                                    <div class="arrow">
                                        <!-- <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                            [routerLink]="['inner-blog/'+blogs[0]._id]"
                                            class="fa fa-solid fa-arrow-right"></i> -->
                                        <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                            class="fa fa-solid fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body popular" routerLink="inner-blog/667962640b494ad0884d5e05">
                                <div class="container d-flex justify-content-between">
                                    <div class="text">
                                        <h4 class="fw-light  w-100 text-capitalize">Website Development</h4>
                                        <!-- <span class=" opacity-50  days">15 Videos</span> -->
                                    </div>
                                    <div class="arrow">
                                        <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                            class="fa fa-solid fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body popular" routerLink="inner-blog/66795c8ea37d607032b766af">
                                <div class="container d-flex justify-content-between">
                                    <div class="text">
                                        <h4 class="fw-light  w-100 text-capitalize">SEO</h4>
                                        <!-- <span class=" opacity-50  days">15 Videos</span> -->
                                    </div>
                                    <div class="arrow">
                                        <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                            class="fa fa-solid fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body popular" routerLink="inner-blog/667968600b494ad0884d5e09">
                                <div class="container d-flex justify-content-between">
                                    <div class="text">
                                        <h4 class="fw-light  w-100 text-capitalize">App Store Optimization</h4>
                                        <!-- <span class=" opacity-50  days">15 Videos</span> -->
                                    </div>
                                    <div class="arrow">
                                        <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                            class="fa fa-solid fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body popular" routerLink="inner-blog/66794424a37d607032b76653">
                                <div class="container d-flex justify-content-between">
                                    <div class="text">
                                        <h4 class="fw-light  w-100 text-capitalize">Digital Marketing</h4>
                                        <!-- <span class=" opacity-50  days">15 Videos</span> -->
                                    </div>
                                    <div class="arrow">
                                        <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                            class="fa fa-solid fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body popular-last" routerLink="inner-blog/6630bfb418c3b9df7378027a">
                                <div class="container d-flex justify-content-between">
                                    <div class="text">
                                        <h4 class="fw-light  w-100 text-capitalize">Robotic Process Automation</h4>
                                        <!-- <span class=" opacity-50  days">15 Videos</span> -->
                                    </div>
                                    <div class="arrow">
                                        <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                            class="fa fa-solid fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blogs blogs-pagination-container col-8">
                        <div class="single-blog d-grid mb-4" style="  grid-template-columns: auto auto;gap:20px">
                            <div *ngFor="let blog of blogs | paginate: { id: 'foo',
                                itemsPerPage: pageSize,
                                currentPage: currentPage,
                                totalItems: totalItem }" [routerLink]="['inner-blog/'+blog._id]"
                                class="card g-col-6 my-3 m-lg-3 w-100 g-3" style="cursor: pointer;"
                                [ngStyle]="{'color':isDarkTheme?'white':'black','background':isDarkTheme?'#111111':'#ECF0FF'}">
                                <img style="height: 40%;" [src]="blog.image" class="card-img-top" alt="...">
                                <div class="card-body px-3">
                                    <div class="container">
                                        <h5 class="card-title text-capitalize fw-lighter">{{blog?.category}}
                                            - <span class="days opacity-50">{{blog?.readTime}}</span></h5>
                                    </div>
                                </div>
                                <div class="card-body px-3">
                                    <div class="container d-flex">
                                        <div class="text">
                                            <h5 class="fw-light ">{{blog?.title}}
                                            </h5>
                                            <p class="opacity-50">
                                                {{(blog?.description.length>100)?(blog?.description |
                                                slice:0:100)+'...':(blog?.description)}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-body-secondary px-3">
                                    <div class="container d-flex justify-content-between"
                                        [ngClass]="isDarkTheme?'text-white':'text-black'">
                                        <div class="profile d-flex justify-content-evenly">
                                            <div class="img mx-2">
                                                <img style="object-fit: contain;"
                                                    src="../../../../assets/blog/profile.svg" alt="">
                                            </div>
                                            <div class="name mx-2 ">
                                                <p>{{blog?.author.authorName}}</p>
                                            </div>
                                        </div>
                                        <div style="opacity: 50%;" class="time">
                                            <p class="days mb-0">2 Days Ago</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- pagination button  -->
                        <div class="d-flex justify-content-end">
                            <pagination-controls id="foo" (pageChange)="pageChanged($event)" [maxSize]="9"
                                [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="Previous"
                                nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
                            </pagination-controls>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- <div class="frame-3 container w-100 my-5 min-vh-100">
            <div class="contributors-section d-flex flex-column h-auto flex-lg-row">
                <div class="contributors w-auto flex-lg-grow-0 flex mx-lg-2 mx-0">
                    <div  class="card py-4"
                        [ngStyle]="{'color':isDarkTheme?'white':'black','background':isDarkTheme?'#111111':'#ECF0FF'}">
                        <div class="card-body">
                            <h5 class="card-title fw-bold linear-text">Top Contributors</h5>
                        </div>
                        <div [ngStyle]="{'color':isDarkTheme?'white':'black'}"
                            class="card-body d-flex flex-column justify-content-between">
                            <div *ngFor="let contributor of contributors"
                                class="profile my-3 d-flex align-items-center ">
                                <div class="img mx-2">
                                    <img style="object-fit: contain;" class=" rounded-circle" height="60" width="60"
                                        [src]="contributor.profileImage" alt="">
                                </div>
                                <div class="name mx-2">
                                    <p class="mb-0">{{contributor.name}}</p>
                                    <span class="opacity-50" style="font-size: 10px;">{{contributor.numberOfArticles}}
                                        articles</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="contributor-image position-relative w-100 h-auto flex-lg-grow-1 mx-0 mx-lg-2">
                    <div class="text-white single-cont w-50 d-flex flex-column h-100 p-sm-5 p-3 top-0 position-absolute">
                        <div class="title my-2">
                            <h2>Technologies For Future Of Healthcare</h2>
                        </div>
                        <div class="profile d-flex my-2 align-items-center">
                            <div class="image me-2">
                                <img src="../../../../assets/blog/contr-img.svg" alt="">
                            </div>
                            <div class="name">Samantha William</div>
                        </div>
                        <div class="desc my-2">
                            <p class=" opacity-50">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<app-form></app-form>