<div class="container-fluid ">
    <div class="container d-flex flex-column frame-1-container p-0">
        <div class="frame-1 h-100 w-100 p-0">
            <div class="container numbers w-100 my-5 px-4">
                <div class="numbers-section rounded-3 d-flex align-items-center justify-content-center container w-100">
                    <div class="latest-news d-flex text-align-center w-75 justify-content-center align-content-center">
                        <div class="text-white miletone-container">
                            <div class="blog-heading fw-bolder">
                                <h1>
                                    Latest Insights & Articles
                                </h1>
                            </div>
                            <div class="blog-title fw-light">
                                <p>Welcome to quantum, where collaboration, expertise, and client-centricity intersect
                                    to <br class="d-none d-md-block">shape the future of digital innovation.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status" *ngIf="loadingStatus">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="frame-2 w-100 h-100" *ngIf="!loadingStatus">
            <div class="container d-flex">
                <div class="cards row ">
                    <div class="categories col-lg-4 col-12">
                        <div class="card py-4 my-3 m-lg-3 w-100"
                            [ngStyle]="{'color':isDarkTheme?'white':'black','background':isDarkTheme?'#111111':'#ECF0FF'}">
                            <div class="card-body ">
                                <h4 class="card-title card-title1 linear-text d-inline-block ">Categories</h4>
                            </div>
                            <ng-container *ngFor="let category of categories">
                                <div class="card-body popular" routerLink="{{category.link}}">
                                    <div class="container d-flex justify-content-between">
                                        <div class="text">
                                            <h4 class="fw-light  w-100 text-capitalize">{{category.name}}</h4>
                                            <!-- <span class=" opacity-50  days">15 Videos</span> -->
                                        </div>
                                        <div class="arrow">
                                            <!-- <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                [routerLink]="['inner-blog/'+blogs[0]._id]"
                                                class="fa fa-solid fa-arrow-right"></i> -->
                                            <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                                class="fa fa-solid fa-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="card-body popular-last" routerLink="inner-blog/1">
                                <div class="container d-flex justify-content-between">
                                    <div class="text">
                                        <h4 class="fw-light  w-100 text-capitalize">Robotic Process Automation</h4>
                                        <!-- <span class=" opacity-50  days">15 Videos</span> -->
                                    </div>
                                    <div class="arrow">
                                        <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                            class="fa fa-solid fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blogs blogs-pagination-container col-lg-8 col-12">
                        <div class="single-blog row mb-4 ms-md-4" style="gap:10px;">
                            <div *ngFor="let blog of blogs | paginate: { id: 'foo',
                                itemsPerPage: pageSize,
                                currentPage: currentPage,
                                totalItems: totalItem }" [routerLink]="['inner-blog/'+blog.id]"
                                class="card col-lg-5 col-8 my-3 p-0 justify-content-between" style="cursor: pointer;height:auto;"
                                [ngStyle]="{'color':isDarkTheme?'white':'black','background':isDarkTheme?'#111111':'#ECF0FF'}">
                                <img style="height: 40%;" [src]="blog.image" class="card-img-top" alt="...">
                                <div class="px-3 my-3"style="height:auto">
                                    <div class="container">
                                        <h5 class="card-title text-capitalize fw-lighter">{{blog?.category}}
                                            - <span class="days opacity-50">{{blog?.readTime}}</span></h5>
                                    </div>
                                </div>
                                <div class=" px-3"style="height:auto">
                                    <div class="container d-flex">
                                        <div class="text">
                                            <h5 class="fw-light ">{{(blog?.title.length>25)?(blog?.title | slice:0:25)+'...':(blog?.title)}}
                                            </h5>
                                            <p class="opacity-50"[innerHTML]="(blog?.description.length>70)?(blog?.description |
                                                slice:0:70)+'...':(blog?.description)">
                                                
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="text-body-secondary px-3 "[ngClass]="isDarkTheme?'card-footer':'card-footer-light'">
                                    <div class="container d-flex justify-content-between"style="height:auto;min-height:52px;max-height:90px;"
                                        [ngClass]="isDarkTheme?'text-white':'text-black'">
                                        <div class="profile d-flex justify-content-evenly">
                                            <div class="img mx-2 align-self-center">
                                                <img style="object-fit: contain;width: 40px;border-radius: 50%;"
                                                    src="../../../../assets/blog/profile.png" alt="">
                                            </div>
                                            <div class="name mx-2 align-self-center">
                                                <p>{{blog?.authorName}}</p>
                                            </div>
                                        </div>
                                        <div style="opacity: 50%;" class="time align-self-center">
                                            <p class="days mb-0">2 Days Ago</p>
                                        </div>
                                    </div>
                                </div> -->
                            </div>

                        </div>
                        <!-- pagination button  -->
                        <div class="d-flex justify-content-end">
                            <pagination-controls id="foo" (pageChange)="pageChanged($event)" [maxSize]="9"
                                [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="Previous"
                                nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
                            </pagination-controls>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- <div class="frame-3 container w-100 my-5 min-vh-100">
            <div class="contributors-section d-flex flex-column h-auto flex-lg-row">
                <div class="contributors w-auto flex-lg-grow-0 flex mx-lg-2 mx-0">
                    <div  class="card py-4"
                        [ngStyle]="{'color':isDarkTheme?'white':'black','background':isDarkTheme?'#111111':'#ECF0FF'}">
                        <div class="card-body">
                            <h5 class="card-title fw-bold linear-text">Top Contributors</h5>
                        </div>
                        <div [ngStyle]="{'color':isDarkTheme?'white':'black'}"
                            class="card-body d-flex flex-column justify-content-between">
                            <div *ngFor="let contributor of contributors"
                                class="profile my-3 d-flex align-items-center ">
                                <div class="img mx-2">
                                    <img style="object-fit: contain;" class=" rounded-circle" height="60" width="60"
                                        [src]="contributor.profileImage" alt="">
                                </div>
                                <div class="name mx-2">
                                    <p class="mb-0">{{contributor.name}}</p>
                                    <span class="opacity-50" style="font-size: 10px;">{{contributor.numberOfArticles}}
                                        articles</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="contributor-image position-relative w-100 h-auto flex-lg-grow-1 mx-0 mx-lg-2">
                    <div class="text-white single-cont w-50 d-flex flex-column h-100 p-sm-5 p-3 top-0 position-absolute">
                        <div class="title my-2">
                            <h2>Technologies For Future Of Healthcare</h2>
                        </div>
                        <div class="profile d-flex my-2 align-items-center">
                            <div class="image me-2">
                                <img src="../../../../assets/blog/contr-img.svg" alt="">
                            </div>
                            <div class="name">Samantha William</div>
                        </div>
                        <div class="desc my-2">
                            <p class=" opacity-50">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<app-form></app-form>