* {
    font-family: 'Plus Jakarta Sans';
}

.numbers-section {
    padding: 50px 50px;
    background: linear-gradient(90deg, #43BAFF 0%, #7141B1 100%);
}

.linear-text {
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.contributor-image::before {
    content: "";
    background-position: top;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    /* opacity: 30%; */
    background-image: url("../../../../assets/blog/contributer-bg.svg")
}

.days {
    font-size: 12px;
}

.card-footer {
    border-top: 1px solid;
}

.popular {
    position: relative;
}

.popular::after {
    content: '';
    /* Required for pseudo-elements */
    position: absolute;
    /* Position relative to the container */
    bottom: 10%;
    /* Align at the bottom */
    left: 10%;
    /* Adjust as needed, this is the starting point */
    width: 80%;
    /* Adjust as needed, this is the width of the border */
    height: 1px;
    /* Height of the border */
    background-color: white;
    /* Color of the border */
    opacity: 10%;
}

.fa-arrow-right {
    cursor: pointer;
}

@media (max-width: 575.98px) {

    .cards,
    .contributors-section {
        align-items: center;
    }

    .single-cont,
    .latest-news {
        width: 100% !important;
    }
}