<div class="d-flex flex-column" style="overflow:hidden">
    <!-- Section One -->
    <div class="section1" [ngClass]="isDarkTheme ? 'dark' : 'light'">
        <div class=" container d-flex flex-column align-items-center justify-content-center">
            <div class="container w-lg-50 d-flex align-items-center justify-content-center my-3">
                <h1 class="tagline text-center fw-bolder">Pioneering Your
                    <span class="linear-text">Digital Transformation Journey</span>
                </h1>
            </div>
            <div class="container d-flex align-items-center justify-content-center my-3">
                <h1 class="text-center sub-heading fs-5 fw-light w-lg-50 text-capitalize">Comprehensive solutions for
                    seamless
                    development and
                    maintenance of <br> your digital platforms.</h1>
            </div>
            <div class="container d-flex align-items-center justify-content-center my-3">
                <button (click)="scrollToGetStarted()" class="btn btn-primary fs-6 rounded-3 p-3">Let’s Begin</button>
            </div>
        </div>
    </div>
    <!-- Section One Ends -->

    <!-- Section Two -->
    <div class="section2 container-fluid w-100 h-100 mt-5">
        <div class="categories">
            <div class="container-fluid text-center  cursor-pointer"
                [ngClass]="isDarkTheme?'categories-dark':'categories-light'">
                <div class="row gap-lg-0 gap-3" data-aos="fade-up">
                    <div *ngFor="let data of services" [ngClass]="isDarkTheme?'dark-card':'light-card'"
                        class=" position-relative col cards d-flex flex-column align-items-center justify-content-evenly">
                        <i class="fa-solid fa-arrow-right  position-absolute text-secondary"
                            style="transform: rotate(325deg); top:10px; right:10px"></i>
                        <img [src]="data.img" alt="logo">
                        <p>{{data.label}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section Two Ends -->

    <!-- Section Three -->
    <div id="get-started" class="container-fluid d-flex flex-column mt-3" data-aos="fade-in" data-aos-duration="1000">
        <div class="section3 container-fluid w-100 h-100 d-flex flex-column flex-lg-row mt-3">
            <div class="left-side" data-aos="fade-up">
            </div>
            <div class="right-side d-flex justify-content-start align-items-center" data-aos="fade-up">
                <div class="container d-flex flex-column align-items-start justify-content-between ">
                    <div class="text">
                        <h1 class="section3-tagline text-capitalize">
                            Creating pathways for seamless collaboration among businesses
                        </h1>
                    </div>
                    <div>
                        <p class="section3-desc">Facilitating synergistic partnerships that drive collective success.
                            Our tailored approach fosters open communication channels, innovation, enabling companies to
                            achieve their shared objectives efficiently.
                    </div>
                    <div class="container btn-container d-flex align-items-center justify-content-start my-3">
                        <button (click)="scrollToGetServices()"
                            class="btn fs-5 rounded d-flex align-items-center justify-content-between">
                            Begin Your Journey
                            <i class="fa-solid fa-arrow-right ms-3"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-3">
            <div class="slider" [ngClass]="isDarkTheme?'slider-dark':'slider-light'">
                <div class="slide-track">
                    <div class="slide" *ngFor="let img of brandLogo">
                        <img [ngStyle]="{filter:isDarkTheme?'grayscale(100%)':'invert(1)'}" height="100" width="100"
                            [src]="img.img" class="d-block w-auto" alt="...">
                    </div>
                    <div class="slide" *ngFor="let img of brandLogo">
                        <img [ngStyle]="{filter:isDarkTheme?'grayscale(100%)':'invert(1)'}" height="100" width="100"
                            [src]="img.img" class="d-block w-auto" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section Three Ends -->

    <div class="section4 d-flex flex-column">
        <div class="container services-section w-100 h-100 d-flex flex-column">
            <div class="container heading w-75 h-100 d-flex flex-column align-items-center justify-content-center">
                <div class="button" data-aos="slide-up">
                    <button class="our-service-btn">
                        Our Services
                    </button>
                </div>
                <div class="sec4-headline " data-aos="slide-up">
                    <h1 class="service-tagline text-align-center text-capitalize">
                        We provide an extensive range of IT Services
                    </h1>
                </div>
            </div>
            <div id="services" class="container services w-100 h-100">
                <div class="row">
                    <div *ngFor="let service of ourServices" data-aos="slide-up"
                        class="service-card col-md-4 d-flex flex-column align-items-center justify-content-center px-lg-5 px-2 my-4">
                        <div class="image my-3">
                            <img [src]="service.img" alt="Mobile">
                        </div>
                        <div class="title my-3 text-align-center">
                            <h4>
                                {{service.title}}
                            </h4>
                        </div>
                        <div class="description">
                            <p class="fw-light text-align-center">
                                {{service.desc}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container numbers w-100">
            <div class="numbers-section container w-100">
                <div class="row text-align-center justify-content-center align-content-center">
                    <div *ngFor="let nums of sectionFourNums" class="col-3 text-white">
                        <div class="miletone-number fw-bolder">{{nums.num}}</div>
                        <div class="miletone-title fw-bolder text-uppercase">● {{nums.heading}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid section5">
        <div class="container d-flex flex-column justify-content-between my-5 px-lg-5">
            <div class="heading d-flex justify-content-between align-items-center">
                <div class="text d-flex flex-column ">
                    <div class="button" data-aos="slide-up">
                        <button class="our-service-btn">
                            Latest Projects
                        </button>
                    </div>
                    <div class="txt" data-aos="slide-up">
                        <h1>Our Successful Projects</h1>
                    </div>
                </div>
                <div class="learnMore">
                    <button routerLink="portfolio" type="button"
                        class="btn fs-5 rounded d-flex align-items-center justify-content-between">View All
                    </button>
                </div>
            </div>
            <div class="projects-section d-flex flex-column flex-lg-row container">
                <div data-aos="fade-in"
                    class="container p-0 project-sec-one project-one flex-lg-grow-1 position-relative">
                    <div
                        class="project-one-details details d-flex justify-content-between align-items-center position-absolute px-3 ">
                        <div class="w-auto">
                            <div class=" w-auto">
                                <h3 class="project-title text-white">AMPS App Design</h3>
                            </div>
                            <div style="color: #D1D4DC;" class="decs w-75">
                                We provided app development services for The AMPS Institute, delivering a platform
                                tailored to support its programs focused on the Roadmap to Entrepreneurship Excellence.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-100 container d-flex gap-4 flex-column align-items-center justify-content-center">
                    <div data-aos="fade-in" class="project-two project-sec-two position-relative">
                        <div
                            class="project-two-details details d-flex justify-content-between align-items-center position-absolute px-3 ">
                            <div class="w-auto">
                                <div>
                                    <h3 class="project-title w-auto text-white">MainHaus Website Design</h3>
                                </div>
                                <div style="color: #D1D4DC;" class="decs w-100">
                                    We developed MeinHaus' website, linking service providers and users for services
                                    like painting, demolition, cleaning, and appliance installation.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-in" class="project-three project-sec-two position-relative">
                        <div
                            class="project-three-details details d-flex justify-content-between align-items-center position-absolute px-3 ">
                            <div class="w-auto">
                                <div>
                                    <h3 class="project-title w-auto text-white">Wikistrings Website Design</h3>
                                </div>
                                <div style="color: #D1D4DC;" class="decs w-100">
                                    We crafted the website for Wikistrings, a dynamic platform designed for real-life
                                    interaction and evaluation of guitar strings.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 6 -->
    <div class="section6 container">
        <div class="container d-flex flex-column justify-content-between my-1 px-5 my-lg-5">
            <div class="heading d-flex flex-column flex-lg-row justify-content-between align-items-center">
                <div class="sec6-text d-flex flex-column ">
                    <div class="our-cust-button d-flex justify-content-center justify-content-lg-start"
                        data-aos="slide-up">
                        <button class="our-service-btn">
                            Our Customers
                        </button>
                    </div>
                    <div data-aos="slide-up">
                        <h1 class="trusted-over-worldwild text-align-center text-lg-left">Trusted Over Worldwide</h1>
                    </div>
                </div>
                <!-- <div class="learnMore" data-aos="slide-up">
                    <button class="btn rounded d-flex align-items-center justify-content-between"
                        (click)="scrollToCustomers()">View All
                    </button>
                </div> -->
            </div>
        </div>
        <div class="our-customers d-flex container">
            <img src="../../../assets/home/home_map_light.png" alt="">
        </div>
    </div>

    <!-- Section7 -->
    <div class="container-fluid section7 w-100 mt-5" id="customers">
        <div class="container-fluid h-100">
            <ngb-carousel [showNavigationIndicators]="showNavigationIndicators"
                [ngStyle]="{'filter':isDarkTheme ? 'none' : 'invert(1)'}" #myCarousel>
                <ng-template ngbSlide *ngFor="let reviewPair of groupedReviews">
                    <div class="d-flex flex-column flex-md-row justify-content-around h-100 w-100">
                        <div *ngFor="let review of reviewPair" class="customer-feedback h-100 w-100 p-5 p-md-3"
                            data-aos="fade-up">
                            <div [ngStyle]="{'filter':isDarkTheme ? 'none' : 'invert(1)'}"
                                [ngClass]="isDarkTheme ? 'cf-cont-dark' : 'cf-cont-light'"
                                class="container cf-cont d-flex flex-column justify-content-around align-items-start">
                                <div class="stars">
                                    <i *ngFor="let star of getStars(review.stars)" class="fa-solid fa-star mx-1"
                                        [ngStyle]="{'color':isDarkTheme ? 'white' : '#212529'}"></i>
                                </div>
                                <div class="feedback" [ngStyle]="{'opacity':isDarkTheme ? '0.5' : '1'}">
                                    {{review.message}}</div>
                                <div class="customer d-flex justify-content-between w-100 align-items-end">
                                    <div class="customer-name">
                                        <h5>{{review.name}}</h5>
                                        <p class="m-0" [ngStyle]="{'opacity':isDarkTheme ? '0.5' : '1'}">
                                            {{review.designation}}</p>
                                    </div>
                                    <div class="profile">
                                        <img height="50" width="50" style="border-radius: 50px;"
                                            class="object-fit-contain" [src]="review.profileImg" alt="profile">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <!-- <a class="custom-prev " role="button" (click)="myCarousel.prev()">
                    <span class="carousel-control-prev-icon justify-content-start" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="custom-next " role="button" (click)="myCarousel.next()">
                    <span class="carousel-control-next-icon justify-content-end" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a> -->
            </ngb-carousel>


        </div>
    </div>


</div>