* {
    font-family: 'Plus Jakarta Sans';
}

.casestudy::before {
    height: 100%;
    width: 100%;
    background-image: url("../../../../assets/backgroungimages/section4-bg-image.png"), url("../../../../assets/backgroungimages/section4-bg-image2.png");
    content: "";
    background-position: top left, center right;
    background-size: 25% 60%, 25% 60%;
    background-repeat: no-repeat no-repeat;
    position: absolute;
    z-index: -1;
    opacity: 50%;
}

figure {
    overflow: hidden;
    width:81%;
}

.banner figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 8s ease-in-out;
    transition: 8s ease-in-out;
}

.banner figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.our-process-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0099FF;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.our-result-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid white;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.linear-text {
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 21);
}

.slider .slide {
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.slide h5 {
    box-shadow: 0px 13px 12px 0px #B5B8C808;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translate(calc(-250px*7));
    }
}


.numbers {
    height: 100%;
    width: 100%;
    position: relative;
}

.numbers-section {
    padding: 40px 40px;
    background: linear-gradient(90deg, #43BAFF 0%, #7141B1 100%);
}

.miletone-number {
    font-size: 42px;
    line-height: 50px;
    font-weight: 700 !important;
}

.miletone-title {
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 16px;
    text-align: center;
}

.numbers-section .heading {
    padding: 0 50px;
}

.app-details>.details>.detail>.title>.linear-text {
    white-space: nowrap;
}

.app-details>.details>.detail:not(:last-child) {
    border-right: 3px solid rgb(208, 194, 194);
    padding-right: 7%;
    padding-left: 3%;
}

.app-details>.details>.detail {
    padding-left: 4%;
}

.frame-2-head .txt>h1,
.txt h2 {
    font-size: 42px;
    line-height: 50px;
    font-weight: 600 !important;
}

.desc p {
    white-space: nowrap;
    text-wrap: wrap;
}

.title h3 {
    font-size: 30px;
    line-height: 37px;
    font-weight: 500 !important;
}

.desc>p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.detail .desc p {
    white-space: nowrap;
    text-align: center;
}

.detail .desc p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400 !important;
}

@media(max-width:1366px) {
    .banner {
        height: auto !important;
    }

    .banner>img {
        width: 95vw;
        height: 37vh;
    }
}

@media(max-width:1024px) {
    .app-details>.details {
        justify-content: center !important;
    }

    .app-details>.details>.detail:not(:last-child) {
        border-right: 3px solid rgb(208, 194, 194);
        padding-right: 2%;
        padding-left: 2%;
    }

    .app-details>.details>.detail {
        padding-left: 2%;
    }
}

@media(max-width:768px) {
    .desc {
        width: 100% !important;
        justify-content: center;
    }


    .desc p {
        text-align: center;
        width: 75%;
    }

    .details .desc p {
        width: 100%;
    }

    .app-details .details {
        width: 35% !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .app-details>.details>.detail:not(:last-child) {
        border-right: 1px solid rgb(208, 194, 194);
        padding-right: 6%;
        padding-left: 6%;
    }

    .app-details>.details>.detail {
        padding-left: 6%;
    }
}

@media (max-width: 575.98px) {
    .w-75 {
        width: 100% !important;
    }
    figure{
        width:100%;
    }

    .desc {
        width: 100% !important;
        justify-content: start;
    }

    .desc p {
        width: 100% !important;
    }

    .title h3 {
        font-size: 14px;
        line-height: 25px;
    }

    .desc>p {
        font-size: 12px;
        line-height: 18px;
        text-align: start;
    }

    .detail .desc p {
        font-size: 12px;
        line-height: 18px;
    }

    .numbers-section {
        padding: 10px
    }

    .miletone-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        text-align: start;
        padding-left: 33% !important;
    }

    .miletone-number {
        font-size: 48px;
        line-height: 48px;
    }

    .miletone-title {
        font-size: 14px;
        text-align: start;
    }

    .num-sec .row div {
        padding: 0px;
    }

    .our-process-btn,
    .our-result-btn {
        font-size: 9px;
        line-height: 20px;
        padding: 4px 10px 4px 10px;
    }

    .numbers-section .heading {
        padding: 0px;
    }

    .frame-2-head .txt>h1,
    .txt h2 {
        font-size: 22px;
        line-height: 30px;
    }


    .app-details>.details {
        /* flex-wrap: wrap; */
        align-items: center;
        justify-content: center !important;
    }

    .app-details>.details>.detail:not(:last-child) {
        padding-right: 9%;
        padding-left: 0%;
    }
}