<div class="contianer-fluid casestudy">
    <div class="container frame-1 p-lg-5 p-0 my-2">
        <div class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
            <div class="text frame-2-head w-100 d-flex align-items-center align-items-lg-start flex-column ">
                <div class="d-flex flex-column p-3 p-lg-0 flex-lg-row">
                    <div class="w-100">
                        <div class="button d-flex justify-content-center d-lg-block">
                            <button class="our-process-btn">
                                UX Case Study
                            </button>
                        </div>
                        <div class="txt w-100 mt-3">
                            <h1 class=" text-align-center text-lg-start text-capitalize">
                                Wikistrings
                                Website Development
                            </h1>
                        </div>
                    </div>

                    <div class="desc w-100 d-flex align-items-center">
                        <p class=" opacity-50">


                            Is An Iconic American Footwear Brand Known For Its Timeless Style And Cultural Significance.
                            Established In 1908, Converse Initially Gained Fame For Its Canvas Basketball Shoes. Over
                            The Years,
                        </p>
                    </div>
                </div>
                <div class="container mt-5">
                    <div class="app-details justify-content-center d-flex">
                        <div class="details w-75 justify-content-between gap-3 gap-lg-0  d-flex">
                            <div class="detail">
                                <div class="title">
                                    <h3 class="linear-text text-align-center">
                                        Zoe Stewart
                                    </h3>
                                </div>
                                <div class="desc">
                                    <p class=" text-align-center">
                                        Client
                                    </p>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="title">
                                    <h3 class="linear-text text-align-center">
                                        Services
                                    </h3>
                                </div>
                                <div class="desc">
                                    <p class=" text-align-center">
                                        Web Design
                                    </p>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="title">
                                    <h3 class="linear-text text-align-center">
                                        16.12.2023
                                    </h3>
                                </div>
                                <div class="desc">
                                    <p class=" text-align-center">
                                        Date
                                    </p>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="title">
                                    <h3 class="linear-text text-align-center">
                                        Live Link
                                    </h3>
                                </div>
                                <div class="desc">
                                    <p class=" text-align-center">
                                        Website
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex p-lg-5 justify-content-center">
        <img class="rounded-3" src="../../../../assets/webdev/casestudy/banner.png" alt="">
    </div>

    <div class="container frame-3 mt-5">
        <div class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
            <div class="text frame-2-head w-100 d-flex align-items-center flex-column ">
                <div class="button">
                    <button class="our-process-btn">
                        Challenges
                    </button>
                </div>
                <div class="txt w-100 mt-3">
                    <h1 class="text-align-center text-capitalize">
                        The Problem Statement
                    </h1>
                </div>


                <div class="desc w-100 mt-4 mt-lg-0 align-items-center">
                    <p class=" opacity-50 mb-0 text-align-center">
                        ​The main constrain was to design for an audience that has minimum reading proficiency.

                    </p>
                    <p class=" opacity-50 text-align-center">
                        We designed visual cues and interactions at each step to familiarize the users with the system's
                        status and updates.
                    </p>
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="slider">
                <div class="slide-track">
                    <div class="slide" *ngFor="let img of aiService">
                        <h5 [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}" class=" fw-lighter">{{img.title}}
                        </h5>
                    </div>
                    <div class="slide" *ngFor="let img of aiService">
                        <h5 [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}" class=" fw-lighter">{{img.title}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
            <div class="text frame-2-head w-100 d-flex align-items-center flex-column ">
                <div class="button ">
                    <button class="our-process-btn">
                        Solution
                    </button>
                </div>
                <div class="txt w-100 mt-3">
                    <h1 class="text-center text-capitalize">
                        UX Design & UI Deliverables
                    </h1>
                </div>


                <div class="desc w-100 mt-4 align-items-center">
                    <p class=" opacity-50 text-center">
                        The 4 step delivery of the project included: User flows, wireframes, UI mockups and
                        micro-interaction design.
                    </p>
                    <p class=" opacity-50 mb-0 text-center">
                        An integrated system of lights on the device and micro-interaction in the application was
                        created to signal the users for the required actionable. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4 mt-lg-0 d-flex justify-content-center">
        <img class="w-75" src="../../../../assets/webdev/casestudy.svg" alt="">
    </div>
    <div class="container mt-5">
        <div class="container-fluid numbers w-100">
            <div class="numbers-section rounded-3 container-fluid w-100">
                <div
                    class="heading container d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
                    <div
                        class="text text-white frame-2-head w-100 d-flex align-items-center align-items-lg-start flex-column ">
                        <div class="button">
                            <button class="our-result-btn">
                                Result
                            </button>
                        </div>
                        <div class="txt w-100 mt-4">
                            <h2 class="text-align-center text-lg-start text-capitalize">
                                Results & Feedback
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="container our-numbers w-100 mt-lg-5 mt-3">
                    <div class="num-sec container w-100">
                        <div class="row text-align-center justify-content-center align-content-center">
                            <div *ngFor="let nums of sectionFourNums" class="col-3 text-white">
                                <div class="miletone-number fw-bolder">{{nums.num}}</div>
                                <div>
                                    <p class="miletone-title fw-light text-uppercase ">
                                        {{nums.heading}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>