* {
    font-family: 'Plus Jakarta Sans';
}

.casestudy::before {
    height: 100%;
    width: 100%;
    background-image: url("../../../../assets/backgroungimages/section4-bg-image.png"), url("../../../../assets/backgroungimages/section4-bg-image2.png");
    content: "";
    background-position: top left, center right;
    background-size: 25% 60%, 25% 60%;
    background-repeat: no-repeat no-repeat;
    position: absolute;
    z-index: -1;
    opacity: 50%;
}

figure {
    overflow: hidden;
}

.banner figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 8s ease-in-out;
    transition: 8s ease-in-out;
}

.banner figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.our-process-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0099FF;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.our-result-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid white;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.linear-text {
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.slide h5 {
    box-shadow: 0px 13px 12px 0px #B5B8C808;
    padding: 10px 30px;
    border-radius: 5px;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translate(calc(-250px*7));
    }
}


.numbers {
    height: 100%;
    width: 100%;
    position: relative;
}

.numbers-section {
    padding: 40px 40px;
    background: linear-gradient(90deg, #43BAFF 0%, #7141B1 100%);
}

.miletone-number {
    font-size: 50px;
}

.miletone-title {
    font-size: 15px;
}

.numbers-section .heading {
    padding: 0 90px;
}

.app-details>.details>.detail>.title>.linear-text {
    white-space: nowrap;
}
.app-details > .details > .detail:not(:last-child) {
    border-right: 3px solid white;
    padding-right: 4%;
    padding-left: 4%;
}
.app-details > .details > .detail {
    padding-left: 4%;
}

@media(max-width:1366px) {
    .banner {
        height: auto !important;
    }

    .banner>img {
        width: 95vw;
        height: 37vh;
    }
}

@media (max-width: 575.98px) {
    .w-75 {
        width: 100% !important;
    }

    .title h3 {
        font-size: 15px;
    }
    .desc p{
        text-align: center;
    }

    .numbers-section {
        padding: 10px
    }

    .miletone-number {
        font-size: 15px;
    }

    .miletone-title {
        font-size: 10px;
    }

    .our-process-btn,
    .our-result-btn {
        font-size: 10px;
        line-height: 20px;
        padding: 5px 12px 5px 12px;
    }

    .numbers-section .heading {
        padding: 0px;
    }

    .txt>h1 {
        font-size: 22px;
        line-height: 30px;
    }

    .txt>h2 {
        font-size: 22px;
        line-height: 30px;
    }

    .frame-1 .txt>h1 {
        font-size: 28px;
        line-height: 38px;
    }

    .app-details>.details {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center !important;
    }
    .app-details > .details > .detail:not(:last-child) {
        padding-right: 3%;
        padding-left: 0%;
    }
}