* {
    font-family: 'Plus Jakarta Sans';
}

.frame-4::before {
    height: 100%;
    width: 100%;
    background-image: url("../../../../assets/backgroungimages/section4-bg-image.png"), url("../../../../assets/backgroungimages/section4-bg-image.png");
    content: "";
    background-position: top left, bottom left;
    background-size: 25% 60%, 25% 60%;
    background-repeat: no-repeat no-repeat;
    position: absolute;
    z-index: -1;
    opacity: 30%;
}

.numbers {
    height: 100%;
    width: 100%;
    position: relative;
}

.numbers-section {
    padding: 82px 60px;
    background: linear-gradient(90deg, #43BAFF 0%, #7141B1 100%);
}

.our-service-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0099FF;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.service-tagline {
    font-size: 42px;
    line-height: 50px;
}

.number {
    font-size: 150px;
}

.partner-detail {
    border-radius: 10px;
}

.miletone-number {
    font-size: 50px;
    color: #43BAFF;
}

.miletone-title {
    font-size: 20px;
}


.process-square {
    width: 70px;
    height: 60px;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Position for vertical line */
}

.process-square::after {
    content: '';
    position: absolute;

    /* Width of the vertical line */
    background-color: #fff;
    /* Color of the vertical line */
}

.process {
    border-bottom: 1px solid #5E5A5A6E;
    padding: 10px 0;
}



@media (max-width: 1024px) {
    .number {
        font-size: 75px;
    }
}


@media (max-width: 992px) {
    .what-we-do {
        justify-content: center;
        align-items: center;
    }

    .row {
        justify-content: center;
    }

    .col-12 {
        width: auto;
    }

    .miletone-number {
        font-size: 30px;
    }

    .miletone-title {
        font-size: 20px;
    }
}
@media(max-width:768px){
    .service-tagline{
        font-size: 34px;

    }
}

@media (max-width: 575.98px) {
    .numbers-section {
        padding: 40px 20px;
        background: linear-gradient(90deg, #43BAFF 0%, #7141B1 100%);
    }

    .desc-txt {
        font-size: 15px;
    }

    .list-check {
        font-size: 12px;
    }

    .font-italic {
        line-height: 20px;
        font-size: 15px;
    }

    .w-75,
    .w-50 {
        width: 100% !important;
    }

    .title {
        /* padding: 15px; */
        font-size: 10px;
    }

    .miletone-number {
        font-size: 12px;
    }

    .miletone-title {
        font-size: 10px;
    }

    .name h4 {
        font-size: 12px;
    }

    .name p {
        font-size: 10px;
    }

    .service-tagline {
        font-size: 25px;
        line-height: 30px;
    }

    .number {
        font-size: 75px;
    }

}