<div class="container-fluid about-us">
    <div class="container">
        <div class="quote mt-5 w-100 ">
            <div class="container-fluid numbers w-100">
                <div class="numbers-section rounded-3 container-fluid w-100">
                    <div class="d-flex gap-3 text-white flex-column justify-content-center align-items-center">
                        <h1>About Us</h1>
                        <h4 class="text-white font-italic text-align-center fw-light">
                            Welcome to quantum, where collaboration, expertise, and client-centricity intersect to shape
                            the future of digital innovation.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="container mt-5 heading w-100 h-100 d-flex flex-column align-items-center justify-content-lg-start justify-content-center">
            <div class="button align-self-lg-start align-self-center">
                <button class="our-service-btn">
                    Our Services
                </button>
            </div>
            <div class="sec4-headline w-100 mt-3 mt-lg-0 text-white">
                <h1 class="service-tagline text-lg-left text-align-center text-capitalize">
                    We are a IT service Company working with talents on delivering unique ideas.
                </h1>
            </div>
        </div>
        <div class="what-we-do container d-flex flex-column gap-4 gap-lg-0 flex-lg-row mt-5">
            <div class="images row g-lg-5 g-3 w-100">
                <div class="col-12">
                    <img style="object-fit: cover;" class="rounded-4"
                        src="https://s3-alpha-sig.figma.com/img/f419/d7e0/1ee6f4180bb8895bae3fa088f44effa3?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=m4PIr7K1p7DEMrdfAI2is3mIOMDZeEetXaIh-dLlXGVscM7vFy5XrtAhKZYcTcko77XjILOV7qskLpb5OGWVjWazHUjRlM9afXP3OUjCpCYxnyRNpYGLRF9IfKHu6HKtEo0s-8uUaH0gz~K3ZbAOuJOcFo6d8h0agiF-~JBAMDbGnA-vdeW1HVhrE2rjdSDdtHLc6ljf~P9KQ5I~OIO6-eA5va4-ktM9QOkb0Pa9tE-a1xB8n4BquHlC~w411or2UjD-nyrGkydLMcjs0-P2EUJzAPq4YtFwjyJLzpIIXVyTbmfiDCrLk4xPk1AGhMGm303de5DcLlGV1ru8TbC9Nw__"
                        alt="">
                </div>
                <div class="col-6">
                    <img class="rounded-4"
                        src="https://s3-alpha-sig.figma.com/img/cace/dc16/a9f4d027becd149411802a00108c564e?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DXWQNjwchCXmk1uZICB7cYCBwyeJIYFrYJWx6i8gpfVyvl22U2~MM1EgSA9sBKE8VCjXEBKm8VO9GSi4-ut2CS-yZtH3nbQafbywGsyiUQMc7ODCKNknGgKkQGu300ZMRmGkQeQlCTsrTAEkMmRpbyIgyO2AxrKVrKu8uEl8ocpqGLCeTI3CCuPVvsb7JFAmgiaBn5S4Y~uGG4~u8u3NDNq2NNru2Ke1vU~GNqJ8bQbheHeQJbcCfG3RELzzVgmtDy9g2bxMBK3fcm9027riPGCMD~oseVOWopJrZstkcUXDFpiy2etodvyQjiyeWmEGkoMtoNMH9qSc7cbOs-jr5Q__"
                        alt="">
                </div>
                <div class="col-6">
                    <img class="rounded-4"
                        src="https://s3-alpha-sig.figma.com/img/cace/dc16/a9f4d027becd149411802a00108c564e?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DXWQNjwchCXmk1uZICB7cYCBwyeJIYFrYJWx6i8gpfVyvl22U2~MM1EgSA9sBKE8VCjXEBKm8VO9GSi4-ut2CS-yZtH3nbQafbywGsyiUQMc7ODCKNknGgKkQGu300ZMRmGkQeQlCTsrTAEkMmRpbyIgyO2AxrKVrKu8uEl8ocpqGLCeTI3CCuPVvsb7JFAmgiaBn5S4Y~uGG4~u8u3NDNq2NNru2Ke1vU~GNqJ8bQbheHeQJbcCfG3RELzzVgmtDy9g2bxMBK3fcm9027riPGCMD~oseVOWopJrZstkcUXDFpiy2etodvyQjiyeWmEGkoMtoNMH9qSc7cbOs-jr5Q__"
                        alt="">
                </div>
            </div>
            <div class="text-white w-75 px-lg-5 px-2 align-content-between">
                <div class="desc">
                    <p class=" opacity-50">
                        Where innovation meets passion in a journey that started with a simple idea and a shared dora
                        Founded in recent year we embarked on a mission told bring the new innovation and introduct the
                        technology. From humble beginnings to our current aspirations.
                    </p>
                </div>
                <div class="nums d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-6">
                            <h1 class="number text-align-center">30</h1>
                            <p class="text-align-center">Projects Completed</p>
                        </div>
                        <div class="col-6">
                            <h1 class="number text-align-center">1K</h1>
                            <p class="text-align-center">Projects Completed</p>
                        </div>
                        <div class="col-6">
                            <h1 class="number text-align-center">6</h1>
                            <p class="text-align-center">Projects Completed</p>
                        </div>
                        <div class="col-6">
                            <h1 class="number text-align-center">19</h1>
                            <p class="text-align-center">Projects Completed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>