<div class="container-fluid about-us">
    <div class="container">
        <div class="quote my-0 my-sm-5 pt-5 w-100 py-sm-5">
            <div class="container-fluid numbers w-100">
                <div class="numbers-section rounded-3 container-fluid w-100">
                    <div class="d-flex gap-3 text-white flex-column justify-content-center align-items-center">
                        <h1>About Us</h1>
                        <h4 class=" text-align-center fw-light">
                            Quantum IT Innovation: Your partner in digital innovation and transformation.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 heading w-100 h-100 d-flex flex-column align-items-center  justify-content-center">
            <div class="button  align-self-start">
                <button class="our-service-btn">
                    What We Do
                </button>
            </div>
            <div class="sec4-headline w-100 mt-3 mt-lg-0 ">
                <h1 class="service-tagline text-start text-capitalize pt-sm-3">
                    We specialize in delivering cutting-edge <br class="d-none d-sm-block"> solutions across web
                    development, app <br class="d-none d-sm-block">development,
                    AI, and
                    digital marketing domains.
                </h1>
            </div>
        </div>
        <div class="what-we-do container d-flex flex-column gap-4 gap-lg-0 flex-lg-row my-5 py-5">
            <div class="images row g-lg-5 g-3 w-100 h-100">
                <div class="col-12">
                    <img style="object-fit: cover;" class="rounded-4 w-100" src="../../../../assets/about/img1.png"
                        alt="">
                </div>
                <div class="col-6">
                    <img class="rounded-4 w-100 " style="height:90%" src="../../../../assets/about/img2.png" alt="">
                </div>
                <div class="col-6">
                    <img class="rounded-4 w-100" style="height:90%"
                        src="../../../../assets/about/team-meeting-office-mock-up.jpg" alt="">
                </div>
            </div>
            <div class=" w-100 px-lg-5 px-2 align-content-between">
                <div class="desc">
                    <p class=" " [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                        From crafting bespoke websites to developing innovative mobile apps, harnessing the power of
                        artificial intelligence, to driving digital marketing strategies, we empower businesses to
                        thrive in the digital age. Our expert team combines creativity, technology, and strategic
                        thinking to deliver results that exceed expectations.
                    </p>
                </div>
                <div class="nums d-flex align-items-center justify-content-center">
                    <div class="row position-relative">
                        <div class="horizontal-line position-absolute "
                            [ngStyle]="{'background-color':isDarkTheme?'white':'black'}"></div>
                        <div class="vertical-line position-absolute"
                            [ngStyle]="{'background-color':isDarkTheme?'white':'black'}"></div>
                        <div class="col-6">
                            <h1 [ngStyle]="{'color':isDarkTheme?'white':'#43BAFF'}" class="number text-align-center">850
                            </h1>
                            <p class="text-align-center">Projects Completed</p>
                        </div>
                        <div class="col-6">
                            <h1 [ngStyle]="{'color':isDarkTheme?'white':'#43BAFF'}" class="number text-align-center">250
                            </h1>
                            <p class="text-align-center">Awesome Clients</p>
                        </div>
                        <div class="col-6">
                            <h1 [ngStyle]="{'color':isDarkTheme?'white':'#43BAFF'}" class="number text-align-center">10
                            </h1>
                            <p class="text-align-center">Years of Experience</p>
                        </div>
                        <div class="col-6">
                            <h1 [ngStyle]="{'color':isDarkTheme?'white':'#43BAFF'}" class="number text-align-center">19
                            </h1>
                            <p class="text-align-center">Awards Winning</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="container mt-5 heading w-100 h-100 d-flex flex-column pt-5 align-items-center justify-content-center">
            <div class="button align-self-center ">
                <button class="our-service-btn">
                    Our Partners
                </button>
            </div>
            <div class="sec4-headline w-100 mt-3 mt-lg-0 ">
                <h1 class="service-tagline text-align-center text-capitalize">
                    Our Partnerships Assurance </h1>
            </div>
        </div>
        <div class="container partners w-100 my-5 pb-5">
            <div class="row g-4 my-3">
                <div class="col-lg-3 col-6 hover-card" *ngFor="let partner of partners">
                    <div class="container-fluid partner-detail px-sm-5 py-sm-4 px-3 py-3"
                        [ngStyle]="{'background':isDarkTheme?'#242627':'#ECF0FF'}">
                        <div class="d-flex gap-sm-3 gap-1 flex-column h-100 w-100 justify-content-between">
                            <p style="font-size: 14px;" class="text-uppercase fw-lighter">{{partner.title}}</p>
                            <img style="filter: grayscale(100)" [ngStyle]="{filter:isDarkTheme?'none':'invert(1)'}"
                                [width]="partner.width" [height]="partner.height" [src]="partner.img" alt="">
                            <p class="mb-0 opacity-50">{{partner.name}}</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="row g-4 my-3">
                <div class="col-lg-3 col-12" *ngFor="let partner of partners">
                    <div class="container-fluid partner-detail px-5 py-4"
                        [ngStyle]="{'background':isDarkTheme?'#242627':'#ECF0FF'}">
                        <div class="d-flex gap-3 flex-column h-100 w-100 justify-content-between">
                            <p style="font-size: 14px;" class="text-uppercase fw-lighter">{{partner.title}}</p>
                            <img [ngStyle]="{'filter':isDarkTheme?'none':'invert(1)'}" [width]="partner.width"
                                [height]="partner.height" [src]="partner.img" alt="">
                            <p class="mb-0 opacity-50">{{partner.name}}</p>
                        </div>
                    </div>
                </div>

            </div> -->
        </div>
        <div
            class="container mt-5 heading w-100 h-100 pt-5 d-flex flex-column align-items-center justify-content-center">
            <div class="button align-self-center">
                <button class="our-service-btn">
                    Our Numbers
                </button>
            </div>
            <div class="sec4-headline w-75 w-lg-50 mt-3 mt-lg-0  align-self-center">
                <h1 class="service-tagline w-100 text-align-center">
                    Businesses all over the world trust <br class="d-none d-lg-block">
                    Buffer to build their brand </h1>
            </div>
        </div>

        <div class="container our-numbers w-100 mt-5 pb-5">
            <div class="num-sec container w-100">
                <div class="row text-align-center justify-content-sm-center align-content-sm-center">
                    <div *ngFor="let nums of sectionFourNums" class="col-sm-3 col-12 pb-3 pb-sm-0">
                        <div class="miletone-number fw-bolder mb-1">{{nums.num}}</div>
                        <div>
                            <p class="miletone-title fw-light text-capitalize ">
                                {{nums.heading}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="what-we-do container d-flex align-items-center flex-column gap-4 gap-lg-0 flex-lg-row mt-0 pt-0 mt-lg-5 pt-lg-5">

            <div class=" w-75 pe-lg-5 px-3 align-content-between ">
                <div class="desc">
                    <div
                        class="container px-0 heading w-100 h-100 d-flex flex-column align-items-center justify-content-start">
                        <div class="button align-self-center align-self-lg-start my-3">
                            <button class="our-service-btn">
                                What We Do
                            </button>
                        </div>
                        <div class="sec4-headline w-100 mt-3 mt-lg-0  align-self-start my-3">
                            <h1 class="service-tagline w-100 text-center text-lg-start text-capitalize">
                                Our Mission</h1>
                        </div>
                    </div>
                    <div class="d-block d-sm-none">
                        <div class="images row g-lg-5 g-3 w-100 ">
                            <div class="col-6">
                                <img width="500" height="820" class="rounded-4"
                                    src="../../../../assets/about/view-professional-business-people-working-together.jpg"
                                    alt="">
                            </div>
                            <div class="col-6">
                                <img width="500" height="820" class="rounded-4"
                                    src="../../../../assets/about/coworkers-discussing-business-project-indoors.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <p class=" opacity-50 my-3">
                        Our mission at Quantum is to empower businesses with innovative digital solutions, driving
                        growth and success in today's dynamic landscape. Through creativity, expertise, and
                        collaboration, we strive to exceed expectations and unlock the full potential of our clients'
                        brands.
                    </p>
                </div>
                <div class="list">
                    <ul class=" list-unstyled p-0">
                        <li class=" d-flex align-items-center justify-content-start list-unstyled my-3"
                            *ngFor="let data of list2">
                            <i class="fa-regular fa-circle-check me-2 fs-4 text-success"></i>
                            <p class="fw-light m-0 list-check">{{data}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-none d-sm-block">
                <div class="images row g-lg-5 g-3 w-100 ">
                    <div class="col-6">
                        <img width="500" height="820" class="rounded-4"
                            src="../../../../assets/about/view-professional-business-people-working-together.jpg"
                            alt="">
                    </div>
                    <div class="col-6">
                        <img width="500" height="820" class="rounded-4"
                            src="../../../../assets/about/coworkers-discussing-business-project-indoors.jpg" alt="">
                    </div>
                </div>
            </div>

        </div>

        <!-- <div class="quote mt-5 w-100 ">
            <div class="container-fluid numbers w-100">
                <div class="numbers-section rounded-3 container-fluid w-100">
                    <div class="d-flex gap-3 text-white flex-column justify-content-start align-items-start">
                        <h1>Our Team</h1>
                        <h4 class=" w-75 font-italic text-left fs-5 fw-light">
                            Building an enterprise level site doesn't need nightmare or cost your thousands. Felix is
                            purpose built for
                        </h4>
                    </div>

                    <div class="team container mt-4">
                        <div class="d-flex gap-4">
                            <div class="member text-white" *ngFor="let member of members.members">
                                <div class="mem-img">
                                    <img [src]="member.image" alt="">
                                </div>
                                <div class="name  mt-3">
                                    <h4 class="text-align-center">{{member.firstName}}</h4>
                                    <p class="text-align-center">{{member.position}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="frame-4 my-5 container-fluid our-process">
            <div class="container d-flex w flex-column flex-lg-row justify-content-center">
                <div class="text frame-2-head w-100 d-flex flex-column align-items-center align-items-lg-start ">
                    <div class="button my-3">
                        <button class="our-service-btn">
                            Our Partners
                        </button>
                    </div>
                    <div class="txt w-100 sec4-headline">
                        <h1 class="service-tagline text-align-center text-lg-start text-capitalize">
                            Celebrating Quantum's Association
                        </h1>
                    </div>
                </div>
                <div class="container w-100 d-flex">
                    <div class="processes w-100 d-flex flex-column justify-content-center">
                        <!-- carousel -->
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"
                            data-interval="4000">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="process d-flex flex-row-reverse justify-content-between">
                                        <div class="logo mx-3">
                                            <img class="hover-card" height="100" width="100"
                                                src="../../../../assets/about/award1.png" alt="">
                                        </div>
                                        <div class="text mx-3 ">
                                            <div class="title">
                                                <h4>
                                                    Top App Creators Award
                                                </h4>
                                            </div>
                                            <div class="desc">
                                                <p class=" fw-light" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                                    Top Mobile App Development
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="process d-flex flex-row-reverse justify-content-between">
                                        <div class="logo mx-3">
                                            <img class="hover-card" height="100" width="100"
                                                src="../../../../assets/about/award2.png" alt="">
                                        </div>
                                        <div class="text mx-3 ">
                                            <div class="title">
                                                <h4>
                                                    Good Firms Award
                                                </h4>
                                            </div>
                                            <div class="desc">
                                                <p class=" fw-light" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                                    Top Mobile App Developers
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="process d-flex flex-row-reverse justify-content-between">
                                        <div class="logo mx-3">
                                            <img class="hover-card" height="100" width="100"
                                                src="../../../../assets/about/award3.png" alt="">
                                        </div>
                                        <div class="text mx-3 ">

                                            <div class="title">
                                                <h4>
                                                    Reliable Company
                                                </h4>
                                            </div>
                                            <div class="desc">
                                                <p class=" fw-light" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                                    Site Of the Month
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="process d-flex flex-row-reverse justify-content-between">
                                        <div class="logo mx-3">
                                            <img class="hover-card" height="100" width="100"
                                                src="../../../../assets/about/award4.png" alt="">
                                        </div>
                                        <div class="text mx-3 ">

                                            <div class="title">
                                                <h4>
                                                    Applancer
                                                </h4>
                                            </div>
                                            <div class="desc">
                                                <p class=" fw-light" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                                    Certified Mobile App Developer
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="process d-flex flex-row-reverse justify-content-between">
                                        <div class="logo mx-3">
                                            <img class="hover-card" height="100" width="100"
                                                src="../../../../assets/about/award5.png" alt="">
                                        </div>
                                        <div class="text mx-3 ">

                                            <div class="title">
                                                <h4>
                                                    App Futura
                                                </h4>
                                            </div>
                                            <div class="desc">
                                                <p class="  fw-light" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                                    Certified Mobile App Developer
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a> -->
                        </div>
                        <!-- <div class="process d-flex flex-row-reverse justify-content-between">
                            <div class="logo mx-3">
                                <img class="hover-card" height="100" width="100"
                                    src="../../../../assets/about/award1.png" alt="">
                            </div>
                            <div class="text mx-3 ">
                                <div class="title">
                                    <h4>
                                        Top App Creators Award
                                    </h4>
                                </div>
                                <div class="desc">
                                    <p class=" fw-light" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                        Top Mobile App Development
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="process d-flex flex-row-reverse justify-content-between">
                            <div class="logo mx-3">
                                <img class="hover-card" height="100" width="100"
                                    src="../../../../assets/about/award2.png" alt="">
                            </div>
                            <div class="text mx-3 ">
                                <div class="title">
                                    <h4>
                                        Good Firms Award
                                    </h4>
                                </div>
                                <div class="desc">
                                    <p class=" fw-light" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                        Top Mobile App Developers
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="process d-flex flex-row-reverse justify-content-between">
                            <div class="logo mx-3">
                                <img class="hover-card" height="100" width="100"
                                    src="../../../../assets/about/award3.png" alt="">
                            </div>
                            <div class="text mx-3 ">

                                <div class="title">
                                    <h4>
                                        Reliable Company
                                    </h4>
                                </div>
                                <div class="desc">
                                    <p class=" fw-light" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                        Site Of the Month
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="process d-flex flex-row-reverse justify-content-between">
                            <div class="logo mx-3">
                                <img class="hover-card" height="100" width="100"
                                    src="../../../../assets/about/award4.png" alt="">
                            </div>
                            <div class="text mx-3 ">

                                <div class="title">
                                    <h4>
                                        Applancer
                                    </h4>
                                </div>
                                <div class="desc">
                                    <p class=" fw-light" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                        Certified Mobile App Developer
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="process d-flex flex-row-reverse justify-content-between">
                            <div class="logo mx-3">
                                <img class="hover-card" height="100" width="100"
                                    src="../../../../assets/about/award5.png" alt="">
                            </div>
                            <div class="text mx-3 ">

                                <div class="title">
                                    <h4>
                                        App Futura
                                    </h4>
                                </div>
                                <div class="desc">
                                    <p class="  fw-light" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                        Certified Mobile App Developer
                                    </p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-form></app-form>