<div class="contianer-fluid services">
    <div class="container frame-1 p-lg-5 p-2 my-4">
        <div class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
            <div class="text frame-2-head w-100 d-flex align-items-center align-items-lg-start flex-column text-white">
                <div class="button">
                    <button class="our-process-btn">
                        Our Services > <span style="color: white;" class="text-white">Services</span>
                    </button>
                </div>
                <div class="txt w-50 mt-3 mt-lg-0">
                    <h1 class="text-align-center text-lg-start text-capitalize">Top-Notch
                        <span class="linear-text text-decoration-underline">search engine optimization</span>
                        Services
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-2 container p-0 p-lg-5 my-2">
        <div class="service-section">
            <div class="d-flex align-items-center flex-column h-100 w-100 text-white">
                <div class="d-flex align-items-center flex-column flex-lg-row my-5 h-100 w-100">
                    <div class="text w-75 pe-lg-5 p-0">
                        <div class="title">
                            <h2 class="mb-3">
                                Increase Your Organic Ranking with Best SEO Company in USA

                            </h2>
                        </div>
                        <div class="brief opacity-50">
                            <p>
                                Through a research, 90% of the users use Google, Bing, Yahoo etc respectively to
                                purchase,
                                info,
                                inquiry etc. The brands, companies, who lose visibility on search engines they may lose
                                their
                                leads, sales also.
                            </p>

                            <p>
                                This is the reason people focus on organic search visibility on the search engine, this
                                process
                                achieving website search visibility and ranking is called search engines optimization
                                (SEO). 
                            </p>

                            <p>
                                Quantum IT Innovation is trusted best SEO Company in USA, India, and the UK . We are
                                serving
                                complete SEO services worldwide with advanced methodologies.
                            </p>
                        </div>
                    </div>
                    <div class="image h-100 w-50">
                        <img src="https://s3-alpha-sig.figma.com/img/f489/59be/4790cedcf19b3572f272e30995aa0b34?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GLX11eZwjTI15rrvmwU4gXnkvAslLlMF-P2gaoXwVAenERKagOMgv14-sCPRMhACH6EXwM7GwhN2rso2~h1~KgrEprU9Go3VIHrgAnqC0A30aayaRB2yP2gS0s5ApfBaSrajxIxXfGoyiXn9xZLPiR1RjYFcaF72gSidLjVKnEhFbsSo1v6mC6hupz7Qq8C0FClQUAxIVhnZ5AD4U5XSXY7e2NAEpSTmuxPmNag7p6m3WP31vRmlIJnN3Xd1GLXkp4cLYzYTUc7freq8lvEOXusxSOHlpHvdRf8lV7ovLyJluGOYyR6JnJ9c-NBv2gfYGA~f4GgdgsRK-zk3Ge4DBw__"
                            alt="">
                    </div>
                </div>
                <div class="d-flex align-items-center my-5 flex-column flex-lg-row-reverse">
                    <div class="text w-75 ps-lg-5 p-0">
                        <div class="title">
                            <h2 class="mb-3">
                                Increase Your Organic Ranking with Best SEO Company in USA

                            </h2>
                        </div>
                        <div class="brief opacity-50">
                            <p>
                                At Quantum IT Innovation, we're your go-to for top-notch SEO services in the USA. Our
                                goal? Getting your website to the coveted first page of search engine results. Why?
                                Because that's where the action is. With most people sticking to the first page of
                                search results, being there puts you front and center for your customers, whether
                                they're searching on engines, Maps, or elsewhere.

                            </p>

                            <p>
                                SEO isn't just about websites anymore. It's about optimizing everything – videos, apps,
                                social media, images, content – to boost your online reputation and brand visibility. As
                                one of the leading SEO companies in the USA, we've got the expertise and experience to
                                back it up. With a track record of delivering results for both local and global clients,
                                we're ready to take your keywords to the top 10 spots, guaranteed.

                            </p>

                            <p>
                                But we're not just about visibility – we're about driving revenue. Our approach focuses
                                on attracting, engaging, and converting queries faster, so you can see real results.
                                Ready to take your online presence to the next level? Let's work together.
                            </p>
                        </div>
                    </div>
                    <div class="image h-100 w-50">
                        <img src="https://s3-alpha-sig.figma.com/img/f489/59be/4790cedcf19b3572f272e30995aa0b34?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GLX11eZwjTI15rrvmwU4gXnkvAslLlMF-P2gaoXwVAenERKagOMgv14-sCPRMhACH6EXwM7GwhN2rso2~h1~KgrEprU9Go3VIHrgAnqC0A30aayaRB2yP2gS0s5ApfBaSrajxIxXfGoyiXn9xZLPiR1RjYFcaF72gSidLjVKnEhFbsSo1v6mC6hupz7Qq8C0FClQUAxIVhnZ5AD4U5XSXY7e2NAEpSTmuxPmNag7p6m3WP31vRmlIJnN3Xd1GLXkp4cLYzYTUc7freq8lvEOXusxSOHlpHvdRf8lV7ovLyJluGOYyR6JnJ9c-NBv2gfYGA~f4GgdgsRK-zk3Ge4DBw__"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-3 container-fluid px-0 d-flex">
        <div class="container-fluid d-flex flex-column justify-content-center my-5 px-lg-5">
            <div class="heading d-flex justify-content-center align-items-center">
                <div class="text w-100 d-flex flex-column justify-content-center align-items-center text-white">
                    <div class="button my-3">
                        <button class="our-process-btn">
                            Our Services
                        </button>
                    </div>
                    <div class="txt w-75 text-center my-3">
                        <h1 class="text-capitalize">Our Search Engine optimization services</h1>
                    </div>

                    <div class="steps-container squares w-100 mt-lg-5 mt-4 mb-lg-3 text-white">
                        <div class="step-line"></div>
                        <div class="step-square">Step 01</div>
                        <div class="step-line"></div>
                        <div class="step-square">Step 02</div>
                        <div class="step-line"></div>
                        <div class="step-square">Step 03</div>
                        <div class="step-line"></div>
                    </div>
                    <div class="steps-container w-100 mt-5 text-white">
                        <div
                            class="step-title w-25 mt-3 mt-lg-0 d-flex flex-column align-items-center justify-content-center">
                            <p class="w-50 fw-lighter fs-5 text-align-center">Client Consultation</p>
                            <p class="w-75 fw-lighter fs-6 text-align-center" style="color: #B5B5B5;">Sed accumsan
                                sem cursus
                                luctus porta. amem Phasellu du
                                enim, efficitur quis velit ac, fringilla posuere leo fusci.</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                        <div
                            class="step-title w-25 mt-3 mt-lg-0 d-flex justify-content-center align-items-center flex-column">
                            <p class="w-50 fw-lighter fs-5 text-align-center">Strategy Development
                            </p>
                            <p class="w-75 fw-lighter fs-6 text-align-center" style="color: #B5B5B5;">Sed accumsan
                                sem cursus
                                luctus porta. amem Phasellu du
                                enim, efficitur quis velit ac, fringilla posuere leo fusci.</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                        <div
                            class="step-title w-25 mt-3 mt-lg-0 d-flex justify-content-center align-items-center flex-column">
                            <p class="w50 fw-lighter fs-5 text-align-center">Market Research</p>
                            <p class="w-75 fw-lighter fs-6 text-align-center" style="color: #B5B5B5;">Sed accumsan
                                sem cursus
                                luctus porta. amem Phasellu du
                                enim, efficitur quis velit ac, fringilla posuere leo fusci.</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                    </div>

                    <div class="container button w-100 d-flex mt-5 align-items-center justify-content-center">
                        <button class="our-marketing-btn text-white">
                            <i class="fa-solid fa-arrow-left text-white mx-2"></i>
                            Our Marketing Challenge
                            <i class="fa-solid fa-arrow-right text-white mx-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-4 my-5 container-fluid our-process">
        <div class="container d-flex flex-column flex-lg-row justify-content-center">
            <div class="text frame-2-head w-50 d-flex flex-column align-items-center align-items-lg-start text-white">
                <div class="button">
                    <button class="our-process-btn">
                        Our Services
                    </button>
                </div>
                <div class="txt w-100">
                    <h1 class="text-align-center text-lg-start text-capitalize">Our Process
                    </h1>
                </div>
                <div class="txt w-100">
                    <p class="text-align-center text-lg-start text-capitalize">we rank your website at top of google
                        Everest
                    </p>
                </div>
            </div>
            <div class="container w-100 d-flex">
                <div class="processes d-flex flex-column">
                    <div class="process d-flex justify-content-between">
                        <div class="logo mx-3">
                            <div class="process-square">
                                <img src="../../../../assets/dm/services/obj.svg" alt="">
                            </div>
                        </div>
                        <div class="text mx-3 text-white">
                            <div class="title">
                                <h4>Understand Objectives

                                </h4>
                            </div>
                            <div class="desc">
                                <p class=" fw-light">
                                    Before optimizing your website, we analyze customer requirements. Our SEO team
                                    tailors a
                                    plan, ensuring it aligns with Google's guidelines. We also suggest less competitive
                                    yet
                                    highly searchable keywords if needed.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="process d-flex justify-content-between">
                        <div class="logo mx-3">
                            <div class="process-square">
                                <img src="../../../../assets/dm/services/key.svg" alt="">
                            </div>
                        </div>
                        <div class="text mx-3 text-white">
                            <div class="title">
                                <h4>Keyword Research

                                </h4>
                            </div>
                            <div class="desc">
                                <p class=" fw-light">
                                    Before optimizing your website, we analyze customer requirements. Our SEO team
                                    tailors a
                                    plan, ensuring it aligns with Google's guidelines. We also suggest less competitive
                                    yet
                                    highly searchable keywords if needed.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="process d-flex justify-content-between">
                        <div class="logo mx-3">
                            <div class="process-square">
                                <img src="../../../../assets/dm/services/comp.svg" alt="">
                            </div>
                        </div>
                        <div class="text mx-3 text-white">
                            <div class="title">
                                <h4>Understanding Competitors

                                </h4>
                            </div>
                            <div class="desc">
                                <p class=" fw-light">
                                    Before optimizing your website, we analyze customer requirements. Our SEO team
                                    tailors a
                                    plan, ensuring it aligns with Google's guidelines. We also suggest less competitive
                                    yet
                                    highly searchable keywords if needed.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="process d-flex justify-content-between">
                        <div class="logo mx-3">
                            <div class="process-square">
                                <img src="../../../../assets/dm/services/web.svg" alt="">
                            </div>
                        </div>
                        <div class="text mx-3 text-white">
                            <div class="title">
                                <h4>Web Design & Development

                                </h4>
                            </div>
                            <div class="desc">
                                <p class=" fw-light">
                                    Before optimizing your website, we analyze customer requirements. Our SEO team
                                    tailors a
                                    plan, ensuring it aligns with Google's guidelines. We also suggest less competitive
                                    yet
                                    highly searchable keywords if needed.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-5 my-5">
        <div class="container px-lg-5 d-flex flex-column">
            <div
                class="text my-5 frame-2-head w-50 d-flex flex-column align-items-center align-items-lg-start text-white">
                <div class="button mb-4">
                    <button class="our-process-btn">
                        Our Tools
                    </button>
                </div>
                <div class="txt w-100">
                    <h1 class="text-align-center text-lg-start text-capitalize">
                        Our Design Technology Tool Stack
                    </h1>
                </div>
            </div>
            <div class="tech-stack my-5">
                <div class="d-flex flex-wrap w-100 justify-content-between m-auto text-white align-items-center">
                    <div class="stack d-flex align-items-center justify-content-between">
                        <div class="logo mx-3">
                            <img src="../../../../assets/dm/services/figma.svg" alt="">
                        </div>
                        <div class="name mx-3">
                            <h5 class=" fw-light">Figma</h5>
                        </div>
                    </div>
                    <div class="stack d-flex align-items-center justify-content-between">
                        <div class="logo mx-3">
                            <img src="../../../../assets/dm/services/vs.svg" alt="">
                        </div>
                        <div class="name mx-3">
                            <h5 class=" fw-light">Visual Studio</h5>
                        </div>
                    </div>
                    <div class="stack d-flex align-items-center justify-content-between">
                        <div class="logo mx-3">
                            <img src="../../../../assets/dm/services/react.svg" alt="">
                        </div>
                        <div class="name mx-3">
                            <h5 class=" fw-light">React</h5>
                        </div>
                    </div>
                    <div class="stack d-flex align-items-center justify-content-between">
                        <div class="logo mx-3">
                            <img src="../../../../assets/dm/services/git.svg" alt="">
                        </div>
                        <div class="name mx-3">
                            <h5 class=" fw-light">Gitlab</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-form></app-form>