* {
    font-family: 'Plus Jakarta Sans';
}

.casestudy::before {
    height: 100%;
    width: 100%;
    background-image: url("../../../../assets/backgroungimages/section4-bg-image.png"), url("../../../../assets/backgroungimages/section4-bg-image2.png");
    content: "";
    background-position: top left, bottom right;
    background-size: 25% 90%, 30% 85%;
    background-repeat: no-repeat no-repeat;
    position: absolute;
    z-index: -1;
    opacity: 50%;
}

.our-process-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0099FF;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.problems-stat-border {
    border-bottom: 1px solid white;
}

.result-heading {
    padding: 3rem 6rem;
}

.miletone-number {
    font-size: 50px;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.miletone-title {
    font-size: 15px;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media(max-width:820px){
    .frame-3>.app-details>.details{
        align-items:end;
    }
    .miletone-number{
        font-size: 35px;
    }
}

@media (max-width: 575.98px) {
    .w-75 {
        width: 100% !important;
    }

    .title h3 {
        font-size: 15px;
    }

    .miletone-number {
        font-size: 20px;
    }

    .miletone-title {
        font-size: 12px;
    }

    .casestudy::before {
        background-size: 70% 45%, 65% 60%;
    }
}