<div class="contianer-fluid casestudy">
    <div class="container frame-1 p-3 mt-5">
        <div class="heading d-flex flex-column flex-lg-row justify-content-between align-items-center">
            <div
                class="text frame-2-head w-100 d-flex align-items-start align-items-sm-center align-items-lg-start flex-column ">
                <div class="button">
                    <button class="our-process-btn">
                        Mobile Case Study
                    </button>
                </div>
                <div class="txt w-100 mt-3">
                    <h1 class="text-start text-sm-center text-lg-start text-capitalize">
                        AMPS App
                    </h1>
                </div>
                <div class="desc w-100">
                    <p [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                        We partnered with The AMPS Institute to develop a customized app supporting their entrepreneurial excellence programs, aligning with their vision for empowering aspiring entrepreneurs.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container frame-2 d-flex justify-content-center banner rounded-2">
        <figure class="rounded-2 vandan">
            <img src="../../../../assets/mobile/casestudy/banner.svg" alt="image banner">
        </figure>
    </div>

    <div class="container frame-3 my-5">
        <div class="app-details justify-content-center d-flex">
            <div class="details w-75 justify-content-between gap-3 gap-lg-0  d-flex">
                <div class="detail">
                    <div class="title">
                        <h3 class=" text-align-center">
                            James
                        </h3>
                    </div>
                    <div class="desc">
                        <p class=" text-align-center" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                            Client
                        </p>
                    </div>
                </div>
                <div class="detail">
                    <div class="title">
                        <h3 class=" text-align-center">
                            Services
                        </h3>
                    </div>
                    <div class="desc">
                        <p class=" text-align-center" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                            Mobile App
                        </p>
                    </div>
                </div>
                <div class="detail">
                    <div class="title">
                        <h3 class=" text-align-center">
                            17-10-2024
                        </h3>
                    </div>
                    <div class="desc">
                        <p class=" text-align-center" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                            Date
                        </p>
                    </div>
                </div>
                <div class="detail">
                    <div class="title">
                        <h3 class=" text-align-center text-decoration-underline">
                            <a href="https://apps.apple.com/us/app/amps-institute/id6450774904"target="_blank" [ngClass]="isDarkTheme?'text-white':'text-black'"
                                class=" text-decoration-underline text-align-center">
                                Live Link
                            </a>
                        </h3>
                    </div>
                    <div class="desc">
                        <p class=" text-align-center" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                            Website
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-4 prob-stat container p-5">
        <div class="container d-flex flex-column flex-lg-row">
            <div class="problem-statement">
                <div
                    class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
                    <div
                        class="text frame-2-head w-100 d-flex align-items-start align-items-sm-center align-items-lg-start flex-column ">
                        <div class="button">
                            <button class="our-process-btn">
                                Challenges
                            </button>
                        </div>
                        <div class="txt w-100 mt-3">
                            <h1 class="text-start text-sm-center text-lg-start text-capitalize">
                                The Problem Statement
                            </h1>
                        </div>
                        <div class="desc">
                            <p [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                One significant challenge we encountered during the development of the AMPS
                                Institute
                                app was integrating complex data analytics features while ensuring seamless user
                                experience and performance.
                            </p>
                        </div>
                        <div class="w-100 problems-stat-border"></div>
                        <div class="list py-4">
                            <ul class="list-unstyled list-group-numbered">
                                <li class="">
                                    <h3>
                                        1. Integrating complex data analytics features.
                                    </h3>
                                </li>
                                <li class="">
                                    <h3>
                                        2. Ensuring seamless user experience.

                                    </h3>
                                </li>
                                <li class="">
                                    <h3>
                                        3. Optimizing app performance.
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image w-100 d-flex justify-content-center">
                <img src="../../../../assets/mobile/casestudy/aim.svg" alt="">
            </div>
        </div>
    </div>

    <div class="frame-5 container p-3 p-sm-5">
        <div class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
            <div
                class="text frame-2-head w-100 d-flex align-items-start align-items-sm-center align-items-lg-start flex-column ">
                <div class="button">
                    <button class="our-process-btn">
                        Solution
                    </button>
                </div>
                <div class="txt w-100 mt-3">
                    <h1 class="text-start text-sm-center text-lg-start text-capitalize">
                        Solution Implementation
                    </h1>
                </div>
                <div class="desc w-100 mt-sm-3">
                    <p class="" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                        We prioritized features, conducted thorough testing, and collaborated closely with analysts and
                        designers. This ensured seamless integration and optimized performance, resulting in a robust
                        app merging advanced analytics with user-friendly design.
                    </p>
                    <!-- <p class="opacity-50">
                        An integrated system of lights on the device and micro-interaction in the application was
                        created to signal the users for the required actionable.
                    </p> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container app-img d-flex justify-content-center mt-2">
        <img src="../../../../assets/mobile/casestudy/solution.png" alt="">
    </div>
    <!-- <div class="result-heading container d-flex flex-column flex-lg-row justify-content-between align-items-center">
        <div class="text frame-2-head w-100 d-flex align-items-center align-items-lg-start flex-column ">
            <div class="button">
                <button class="our-process-btn">
                    Result
                </button>
            </div>
            <div class="txt w-100 mt-4">
                <h1 class="text-center text-lg-start text-capitalize">
                    Results & Feedback
                </h1>
            </div>
        </div>
    </div> -->
    <!-- <div class="container our-numbers w-100 mb-5">
        <div class="num-sec container w-100">
            <div class="row text-align-center justify-content-center align-content-center">
                <div *ngFor="let nums of sectionFourNums" class="miletone-container col-lg-3 col-sm-6 col-12 mb-5">
                    <div class="miletone-number fw-bolder">{{nums.currentNum}}+</div>
                    <div>
                        <p class="miletone-title fw-bold text-uppercase mt-3">
                            ● {{nums.heading}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<div class="container-fluid d-flex justify-content-end mb-5 me-5">
    <div class="buttons d-flex flex-row align-items-end pe-5">
        <button class="next our-process-btn cursor-pointer"(click)="next()">Next</button>
    </div>
</div>