<div class="contianer-fluid casestudy">
    <div class="container frame-1 p-5 my-2">
        <div class="heading d-flex flex-column flex-lg-row justify-content-between align-items-center">
            <div class="text frame-2-head w-100 d-flex align-items-center align-items-lg-start flex-column ">
                <div class="button">
                    <button class="our-process-btn">
                        UX Case Study
                    </button>
                </div>
                <div class="txt w-100 mt-3">
                    <h1 class="text-align-center text-lg-start text-capitalize">AMPS App Development
                    </h1>
                </div>
                <div class="desc">
                    <p>
                        Is An Iconic American Footwear Brand Known For Its Timeless Style And Cultural Significance.
                        Established In 1908, Converse Initially Gained Fame For Its Canvas Basketball Shoes. Over The
                        Years, It Has Evolved Into A Symbol Of Self-Expression, Embraced By Athletes, Musicians,
                        Artists, And Rebels Worldwide.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container frame-2 d-flex justify-content-center">
        <img src="../../../../assets/mobile/casestudy/banner.svg" alt="">
    </div>

    <div class="container frame-3 my-5">
        <div class="app-details justify-content-center d-flex">
            <div class="details w-75 justify-content-between gap-3 gap-lg-0  d-flex">
                <div class="detail">
                    <div class="title">
                        <h3 class=" text-align-center">
                            Zoe Stewart
                        </h3>
                    </div>
                    <div class="desc">
                        <p class=" text-align-center">
                            Client
                        </p>
                    </div>
                </div>
                <div class="detail">
                    <div class="title">
                        <h3 class=" text-align-center">
                            Services
                        </h3>
                    </div>
                    <div class="desc">
                        <p class=" text-align-center">
                            Web Design
                        </p>
                    </div>
                </div>
                <div class="detail">
                    <div class="title">
                        <h3 class=" text-align-center">
                            16.12.2023
                        </h3>
                    </div>
                    <div class="desc">
                        <p class=" text-align-center">
                            Date
                        </p>
                    </div>
                </div>
                <div class="detail">
                    <div class="title">
                        <h3 class=" text-align-center text-decoration-underline">
                            Live Link
                        </h3>
                    </div>
                    <div class="desc">
                        <p class=" text-align-center">
                            Website
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-4 prob-stat container p-5">
        <div class="container d-flex flex-column flex-lg-row">
            <div class="problem-statement">
                <div
                    class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
                    <div class="text frame-2-head w-100 d-flex align-items-center align-items-lg-start flex-column ">
                        <div class="button">
                            <button class="our-process-btn">
                                Challenges
                            </button>
                        </div>
                        <div class="txt w-100 mt-3">
                            <h1 class="text-align-center text-lg-start text-capitalize">
                                The Problem Statement
                            </h1>
                        </div>
                        <div class="desc">
                            <p>
                                ​The main constrain was to design for an audience that has minimum reading proficiency.
                                We designed visual cues and interactions at each step to familiarize the users with the
                                system's status and updates.
                            </p>
                        </div>
                        <div class="w-100 problems-stat-border"></div>
                        <div class="list py-4">
                            <ul class="list-unstyled list-group-numbered">
                                <li class="">
                                    <h3>
                                        1. Cluttered UX
                                    </h3>
                                </li>
                                <li class="">
                                    <h3>
                                        2. Stiffed Growth
                                    </h3>
                                </li>
                                <li class="">
                                    <h3>
                                        3. Stiffed Growth
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image w-100 d-flex justify-content-center">
                <img src="../../../../assets/mobile/casestudy/aim.svg" alt="">
            </div>
        </div>
    </div>

    <div class="frame-5 container p-5">
        <div class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
            <div class="text frame-2-head w-100 d-flex align-items-center align-items-lg-start flex-column ">
                <div class="button">
                    <button class="our-process-btn">
                        Solution
                    </button>
                </div>
                <div class="txt w-100 mt-4">
                    <h1 class="text-align-center text-lg-start text-capitalize">
                        UX Design & UI Deliverables
                    </h1>
                </div>
                <div class="desc mt-5">
                    <p class="opacity-50">
                        The 4 step delivery of the project included: User flows, wireframes, UI mockups and
                        micro-interaction design.
                    </p>
                    <p class="opacity-50">
                        An integrated system of lights on the device and micro-interaction in the application was
                        created to signal the users for the required actionable.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container app-img d-flex justify-content-center mt-2">
        <img src="../../../../assets/mobile/casestudy/solution.png" alt="">
    </div>
    <div class="result-heading container d-flex flex-column flex-lg-row justify-content-between align-items-center">
        <div class="text frame-2-head w-100 d-flex align-items-center align-items-lg-start flex-column ">
            <div class="button">
                <button class="our-process-btn">
                    Result
                </button>
            </div>
            <div class="txt w-100 mt-4">
                <h1 class="text-align-center text-lg-start text-capitalize">
                    Results & Feedback
                </h1>
            </div>
        </div>
    </div>
    <div class="container our-numbers w-100 mb-5">
        <div class="num-sec container w-100">
            <div class="row text-align-center justify-content-center align-content-center">
                <div *ngFor="let nums of sectionFourNums" class="col-3 ">
                    <div class="miletone-number fw-bolder">{{nums.num}}</div>
                    <div>
                        <p class="miletone-title fw-bold text-uppercase ">
                            ● {{nums.heading}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>