<div class="container-fluid website-details d-flex align-items-center justify-content-center">
    <div class="container-fluid">
        <div class="project d-flex align-items-center flex-column">
            <div class="brief d-flex flex-column align-items-center justify-content-center">

                <div class="image mt-3">
                    <img class="rounded-2"
                        src="https://s3-alpha-sig.figma.com/img/23d7/c847/c3a3990d41b1db77285635af17875a74?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=V4I7iKMvRLuRi-Isx25OvAwGwrTzdA70durraQlPBFZEtTUHBpQYnDRLwKwlWb~PPbaRfi2hd5RHkIMDQFs7HRv7LFiorOXYXFHdC7U2zX7GtYg1WLLDYruytCTfXZsg0CUd~ChFSw~upwiGcIDXmNpHDBd5NkrSZPkOSp5uPZb320-2VJ~viWfxBKrtpSD7fFPEf3mAQrxhmJFP8mTh-4~BySlEjuU9Bfyy07TDPY3nynwEewZjxstw8utBM9SLwOl-mgQBb1m~pTL5~T5PaQ385xAETu5jfME6lW2Hwae638yZld48OL~pZAWBL2yNU4D~GqIbbu3JAihJPugZxQ__"
                        alt="">
                </div>

                <div class="project-details">
                    <div class="container d-flex">

                    </div>
                </div>
            </div>

            <div class="about-project container w-100">
                <div class="container align-self-center d-flex flex-column justify-content-center align-items-center">
                    <div
                        class="container heading w-75 h-100 d-flex flex-column align-items-center justify-content-center">
                        <div class="sec4-headline text-white w-100">
                            <h1 class="service-tagline text-left">
                                Automated Google Search Ads Autopilot
                            </h1>
                        </div>
                        <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna
                                adipiscing praesent velit viverra sit semper lorem eu cursus vel hendrerit elementum.
                                Morbi curabitur etiam nibh justo, lorem aliquet donec. Sed sit mi dignissim at ante
                                massa mattis egestas.
                            </p>
                        </div>
                        <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna
                                adipiscing praesent velit viverra sit semper lorem eu cursus vel hendrerit elementum.
                                Morbi curabitur etiam nibh justo, lorem aliquet donec. Sed sit mi dignissim at ante
                                massa mattis egestas.
                            </p>
                        </div>
                        <div class="list mt-3 w-75">
                            <ul class=" list-group-numbered list-group text-white">
                                <li class="list-group-item d-flex align-items-center my-1 bg-black border-0 text-white"
                                    *ngFor="let check of checks">
                                    <p class="fw-light mb-0 ms-2 list-check">{{check}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna
                                adipiscing praesent velit viverra sit semper lorem eu cursus vel hendrerit elementum.
                                Morbi curabitur etiam nibh justo, lorem aliquet donec. Sed sit mi dignissim at ante
                                massa mattis egestas.
                            </p>
                        </div>
                        <div class="project-img-container d-flex justify-content-center w-100 mt-5">
                            <img width="800"
                                class="rounded-2 w-100 align-self-center project-img border-2 border-white border"
                                src="https://s3-alpha-sig.figma.com/img/4594/28d9/95386bb169a4d6b82624fbda6004be60?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Made0xX0yZLv4061WDtTIXBSapw8johF0GWmAPurNxXmNGuYbVI56-U5jQW5esK8gueJvKbmi084KCIrwsQCiGyDJxFyYwKZ0B9gebLVm~SEP3kdn3W7FC9hZuvjmBytgHrg22yANN7vXTNoZtD3Tc1rDkVV0R--R0A0Fh0oCZJDZRpSMuh-yNAmuQAYDbqCsGQvV72CEtrMu1M~BZzysK95IvS-~o9aybC-wJPcs6qZ-265PGOrPZvHyWDz086i89SRYkI1gS0KOxf5ZTGN4ABpNKXuoyojTfDvFfPjeAFWLjrZUZuPe-k9l5gP2d6NPms1y7kL5DEAMCv2YlbZ9w__"
                                alt="">
                        </div>

                        <div class="sec4-headline text-white w-100 mt-5">
                            <h1 class="service-tagline text-left">
                                Detailed insights for your social media
                            </h1>
                        </div>
                        <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna
                                adipiscing praesent velit viverra sit semper lorem eu cursus vel hendrerit elementum.
                                Morbi curabitur etiam nibh justo, lorem aliquet donec. Sed sit mi dignissim at ante
                                massa mattis egestas.
                            </p>
                        </div>
                        <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letrsheets containing Lorem Ipsum passages, and more recently with desktop publishing
                                software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                        <div class="list mt-3 w-75">
                            <ul class="list-group-numbered list-group text-white">
                                <li class="list-group-item d-flex align-items-center my-1 bg-black border-0 text-white"
                                    *ngFor="let check of checks">
                                    <p class="fw-light mb-0 ms-2 list-check">{{check}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                When an unknown printegalley of type and scrambled it to make a type specimen book. It
                                has survived not only five centuries, but also the leap into electronic typesetting.
                            </p>
                        </div>
                        <div class="quote mt-5 w-100 ">
                            <div class="container-fluid numbers w-100">
                                <div class="numbers-section rounded-3 container-fluid w-100">
                                    <div class="d-flex gap-3 flex-column justify-content-center align-items-center">
                                        <img height="70" width="70" src="../../../../assets/blog/inner.svg" alt="">
                                        <h4 class="text-white font-italic text-align-center fw-light">
                                            <span class="first-letter fw-bold fs-1">W</span>hen an unknown printegalley
                                            of type
                                            and scrambled it to make a type
                                            specimen book. It has survived not only five centuries, but also the leap
                                            into electronic typesetting.
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sec4-headline text-white w-100 mt-5">
                            <h2 class="service-tagline text-left">
                                What technology stack do we use at Technology?
                            </h2>
                        </div>
                        <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                It was popularised in the 1960s with the release of Letrsheets containing Lorem Ipsum
                                passages, and more recently with desktop publishing software like Aldus PageMaker
                                including versions of Lorem Ipsum.
                            </p>
                        </div>

                        <div class="socials container-fluid mt-5">
                            <div
                                class="container d-flex flex-column flex-lg-row gap-3 gap-lg-0 justify-content-lg-between">
                                <div
                                    class="content d-flex justify-content-lg-evenly justify-content-between align-items-center w-100 text-white">
                                    <div class="title">SEO</div>
                                    <div class="title">Digital Marketing</div>
                                </div>
                                <div
                                    class="social-icons w-100 d-flex justify-content-lg-end justify-content-center align-items-center">
                                    <i class="fa-brands fs-5 fa-instagram mx-2"></i>
                                    <i class="fa-brands fs-5 fa-facebook mx-2"></i>
                                    <i class="fa-brands fs-5 fa-twitter mx-2"></i>
                                    <i class="fa-brands fs-5 fa-pinterest mx-2"></i>
                                </div>
                            </div>
                        </div>

                        <div class="py-4 profile container-fluid">
                            <div
                                class="container profile-cont p-4 p-lg-5 d-flex flex-column flex-lg-row text-white gap-4">
                                <div class="image rounded-circle">
                                    <img class="rounded-circle" height="200" width="200"
                                        src="../../../../assets/blog/profile-img.png" alt="">
                                </div>
                                <div class="details">
                                    <div class="head">
                                        <h3>
                                            Caroline Parker
                                        </h3>
                                        <p>
                                            Marketing Leader
                                        </p>
                                    </div>
                                    <div class="body">
                                        <p>
                                            Lorem Ipsum is simply dummy text the printing and typesetting industry.
                                            Lorem Ipsum has been the standard dummy.
                                        </p>
                                    </div>
                                    <div class="social-icon">
                                        <i class="fa-brands fs-5 fa-instagram mx-2"></i>
                                        <i class="fa-brands fs-5 fa-facebook mx-2"></i>
                                        <i class="fa-brands fs-5 fa-twitter mx-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>