<div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status" *ngIf="loadingStatus">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div *ngIf="!loadingStatus" class="container-fluid website-details d-flex align-items-center justify-content-center">
    <div class="container-fluid">
        <div class="project d-flex align-items-center flex-column">
            <div class="brief d-flex flex-column align-items-center justify-content-center">

                <div class="image mt-3">
                    <img class="rounded-2" src="{{blogDetail.image}}" alt="Banner"style="opacity:0.8">
                </div>

                <div class="project-details">
                    <div class="container d-flex">

                    </div>
                </div>
            </div>

            <div class="about-project container w-100 p-0">
                <div class="container align-self-center d-flex flex-column justify-content-center align-items-center p-0">
                    <div
                        class="container heading w-75 h-100 d-flex flex-column align-items-center justify-content-center">
                        <div class="sec4-headline  w-100">
                            <h1 class="service-tagline text-left">
                                {{blogDetail.title}}
                            </h1>
                        </div>
                        <div class="desc mt-3 w-100">
                            <p class="m-0 desc-txt text-left" style="color:#959595"[innerHTML]="blogDetail.description">
                            </p>
                        </div>
                        <!-- <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna
                                adipiscing praesent velit viverra sit semper lorem eu cursus vel hendrerit elementum.
                                Morbi curabitur etiam nibh justo, lorem aliquet donec. Sed sit mi dignissim at ante
                                massa mattis egestas.
                            </p>
                        </div> -->
                        <div class="list mt-3 w-100">
                            <ul class=" list-group-numbered list-group ">
                                <li [ngClass]="isDarkTheme?'text-white bg-black':'text-black bg-light'"
                                    [ngStyle]="{'background-color':isDarkTheme?'black !important':'white !important'}"
                                    class="list-group-item d-flex align-items-center my-1 border-0 "
                                    *ngFor="let check of blogDetail.keyPoints">
                                    <p class="fw-light mb-0 ms-2 list-check">{{check}}</p>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna
                                adipiscing praesent velit viverra sit semper lorem eu cursus vel hendrerit elementum.
                                Morbi curabitur etiam nibh justo, lorem aliquet donec. Sed sit mi dignissim at ante
                                massa mattis egestas.
                            </p>
                        </div> -->
                        <div class="project-img-container d-flex justify-content-center w-100 mt-5">
                            <img width="800"
                                class="rounded-2 w-100 align-self-center project-img border-2 border-white border"
                                src="{{blogDetail.image2}}" alt=""style="opacity:0.8">
                        </div>

                        
                        <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                {{blogDetail.detailedInsights}}
                            </p>
                        </div>
                        
                        <div class="list mt-3 w-75">
                            <ul class="list-group-numbered list-group ">
                                <li [ngClass]="isDarkTheme?'text-white bg-black':'text-black bg-light'"
                                    [ngStyle]="{'background-color':isDarkTheme?'black !important':'white !important'}"
                                    class="list-group-item d-flex align-items-center my-1 border-0 "
                                    *ngFor="let check of blogDetail.keyInsights">
                                    <p class="fw-light mb-0 ms-2 list-check">{{check}}</p>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                When an unknown printegalley of type and scrambled it to make a type specimen book. It
                                has survived not only five centuries, but also the leap into electronic typesetting.
                            </p>
                        </div> -->
                        <div class="quote mt-5 w-100 ">
                            <div class="container-fluid numbers w-100">
                                <div class="numbers-section rounded-3 container-fluid w-100">
                                    <div class="d-flex gap-3 flex-column justify-content-center align-items-center">
                                        <img height="70" width="70" src="../../../../assets/blog/inner.svg" alt="">
                                        <h4 class=" font-italic text-white text-align-center fw-light"
                                            [innerHTML]="blogDetail?.quote">
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <!-- <div [ngClass]="isDarkTheme?'socials':'socials-light'" class="socials container-fluid mt-5">
                            <div
                                class="container d-flex flex-column flex-lg-row gap-3 gap-lg-0 justify-content-lg-between">
                                <div
                                    class="content d-flex justify-content-lg-evenly justify-content-between align-items-center w-100 ">
                                    <div [ngStyle]="{'background':isDarkTheme?'#111111':'white'}" class="title">SEO
                                    </div>
                                    <div [ngStyle]="{'background':isDarkTheme?'#111111':'white'}" class="title">Digital
                                        Marketing</div>
                                </div>
                                <div
                                    class="social-icons w-100 d-flex justify-content-lg-end justify-content-center align-items-center">
                                    <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                        class="fa-brands fs-5 fa-instagram mx-2"></i>
                                    <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                        class="fa-brands fs-5 fa-facebook mx-2"></i>
                                    <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                        class="fa-brands fs-5 fa-x-twitter mx-2"></i> <i
                                        class="fa-brands fs-5 fa-pinterest mx-2"></i>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="py-4 profile container-fluid">
                            <div [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}"
                                class="container profile-cont p-4 p-lg-5 d-flex flex-column flex-lg-row  gap-4">
                                <div class="image rounded-circle">
                                    <img class="rounded-circle" height="200" width="200"
                                        src="../../../../assets/blog/profile-img.png" alt="">
                                </div>
                                <div class="details">
                                    <div class="head">
                                        <h3>
                                            Caroline Parker
                                        </h3>
                                        <p>
                                            Marketing Leader
                                        </p>
                                    </div>
                                    <div class="body">
                                        <p>
                                            Lorem Ipsum is simply dummy text the printing and typesetting industry.
                                            Lorem Ipsum has been the standard dummy.
                                        </p>
                                    </div>
                                    <div class="social-icon">
                                        <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                            class="fa-brands fs-5 fa-instagram mx-2"></i>
                                        <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                            class="fa-brands fs-5 fa-facebook mx-2"></i>
                                        <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                            class="fa-brands fs-5 fa-x-twitter mx-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-end mb-5 me-5">
    <div class="buttons d-flex flex-row align-items-end pe-5 gap-3">
        <button class="prev our-process-btn cursor-pointer"(click)="prev()"*ngIf="nextBlogCount!=0">Prev</button>
        <button class="next our-process-btn cursor-pointer"(click)="next()"*ngIf="nextBlogCount!=blogs.length-1">Next</button>
    </div>
</div>