.alert-warning {
    --bs-alert-color: white;
    --bs-alert-bg: black;
    --bs-alert-border-color: black;
    --bs-alert-link-color: var(--bs-warning-text-emphasis);
    position: relative;
}

.alert-warning::before {
    display: block;
    content: "";
    height: 100%;
    width: 96%;
    background-image: url("../assets/abstract.svg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 30%;
    position: absolute;
}

.alert-warning-light {
    --bs-alert-color: black;
    --bs-alert-bg: white;
    --bs-alert-border-color: white;
    --bs-alert-link-color: var(--bs-warning-text-emphasis);
}

.alert-warning-light::before {
    background-image: none
}

.btn-close {
    --bs-btn-close-bg: url("../assets/banner-close.svg");
    opacity: 100%;
}

.alert-dismissible .btn-close {
    font-size: 30px;
    padding: 13px;
}

.btn-close:focus,
.btn-close::active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

span {
    cursor: pointer;
}