.alert-warning {
    --bs-alert-color: white;
    --bs-alert-bg: black;
    --bs-alert-border-color: black;
    --bs-alert-link-color: var(--bs-warning-text-emphasis);
    position: relative;
    z-index: 1;
}

.alert::before {
    display: block;
    content: "";
    height: 100%;
    width: 96%;
    background-image: url("../assets/abstract.svg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 30%;
    position: absolute;
    z-index: -1;
    top: 0px;
}

.alert-warning-light {
    /* --bs-alert-color: black;
    --bs-alert-bg: white;
    --bs-alert-border-color: white;
    --bs-alert-link-color: var(--bs-warning-text-emphasis); */

    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    opacity: 0.8;
    /* background: #ECF0FF; */
    color: white;
    border: none;
}

.alert-warning-light::before {
    background-image: none
}

.btn-close {
    --bs-btn-close-bg: url("../assets/banner-close.svg");
    opacity: 100%;
}

.alert-dismissible .btn-close {
    font-size: 30px;
    padding: 13px;
}

.btn-close:focus,
.btn-close::active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

span {
    cursor: pointer;
}

.move {
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move a {
    display: flex;
    justify-content: center;
    align-items: center;
}