* {
  font-family: "Plus Jakarta Sans";
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.heading {
  width: 35%;
  margin-left: 70px;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.description {
  width: 60%;
  justify-content: space-between;
  padding: 20px;
}

.heading + h1 {
  margin: 0;
  font-size: 42px;
}

.p-desc {
  margin: 0;
  line-height: 1.6;
  font-size: 16px;
  color: rgb(181, 181, 181);
  text-align: justify;
}

.image-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.image-container {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
}

.left-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  flex: 0 0 36%;
  margin-top: 20px;
}

.right-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 20px;
  height: 450px;
}

.image3 {
  width: 50%;
  border-radius: 30px;
  margin-top: 130px;
  margin-left: 100px;
  margin-right: 80px;
  height: 300px;
  object-fit: cover;
}

.container1 {
  margin-left: 33%;
  font-size: larger;
  width: 173%;
  margin-top: 30px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 2px solid #9f9f9f;
  color: #9f9f9f;
}

.item:last-child {
  border-bottom: none;
}

.item-number {
  margin-right: 50px;
  font-size: 20px;
}

.item-text {
  flex-grow: 1;
  padding-left: 10px;

  font-size: 20px;
}

.arrow {
  font-size: 25px;
}

.container2 {
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}

.container h1 {
  font-size: 42px;
  line-height: 63px;
  margin-bottom: 10px;
}

.p {
  font-size: 1rem;
  margin-bottom: 30px;
  color: #999999;
  word-spacing: normal;
}

.container {
  width: 80%;
  margin-bottom: 100px;
}

.top-row,
.bottom-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  gap: 20px;
}

.category {
  background-color: rgb(17, 17, 17);
  padding: 30px 30px 40px 30px;
  text-align: center;
  border-radius: 30px;
  transition: background 0.3s ease-in, color 0.3s ease-in;
}

.category:hover {
  background: linear-gradient(90deg, #43baff 0%, #7141b1 100%);
  color: white;
  transition: background 0.3s ease-out, color 0.3s ease-out;
}

.category:hover img {
  filter: brightness(0) invert(1);
}

.top-row .category {
  flex: 1;
  padding-left: 63px;
  padding-right: 63px;
}

.bottom-row .category {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}

.top-row {
  flex: 2;
}

.bottom-row {
  flex: 1;
}

.category > div > img {
  width: 50px;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}

.category > div + div {
  margin-top: 30px;
  margin-bottom: 10px;
}

.container3 {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.text {
  width: 642px;
  height: 706px;
  padding: 60px;
  margin-right: 30px;
  text-align: justify;
  background: linear-gradient(90deg, #43baff 0%, #7141b1 100%);
  border-radius: 30px;
  line-height: 32px;
  margin-left: 50px;
}

.image4 {
  margin-right: 50px;
  flex: 1;
}

.image4 img {
  border-radius: 40px 40px 0px 0px;
  height: auto;
  width: 700px;
  top: 361px;
  left: 795px;
}

.last-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.stats-section {
  position: absolute;
  top: 3510px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  border-radius: 30px;
  width: 641px;
  height: 308px;
  text-align: center;
  background-color: rgb(17, 17, 17);
  padding-top: 60px;
  padding-bottom: 60px;
}

.stat-item h2 {
  font-size: 1.8rem;
  margin-bottom: 5px;
  margin-top: 8px;
  display: flex;
  margin-left: 10px;
  background: linear-gradient(90deg, #43baff 0%, #7141b1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.stat-item h2 span {
  font-size: 1.8rem;
}

.stat-item p {
  font-size: 22px;
  line-height: 27.72px;
  text-align: justify;
  font-weight: 600;
  margin-left: 20px;
}

.stat-item {
  display: flex;
  margin-left: 20px;
}

.our-service-btn {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 7px 15px 7px 15px;
  gap: 0px;
  border-radius: 32px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #0099ff;
  box-shadow: 0px -7px 11px 0px #a48fff1f inset;
  background: linear-gradient(91.58deg, #43baff 0.52%, #7044b3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(2px);
}

.container2 p + p {
  display: none;
}

.container1 > .item + .highlight {
  color: white;
}

.get-started-btn {
  padding: 15px;
  background-color: #0099ff;
  border-radius: 12px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  display: none;
}

.banner {
  z-index: -1;
  height: 680px;
  width: 100%;
  background-image: url("../../../../assets/healthcare/vector1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.light-banner {
  z-index: 0;
  height: 680px;
  width: 100%;
  background-image: url("../../../../assets/healthcare/lightVector1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.banner-image1 {
  position: absolute;
  rotate: -13deg;
  width: 20%;
  clip-path: polygon(0 10%, 100% 10%, 100% 90%, 0 90%);
  left: 6%;
  top: 28%;
}

.banner-image2 {
  position: absolute;
  width: 20%;
  right: 8%;
  top: 30%;
}
.banner-false-left {
  top: 23%;
}
.banner-false-right {
  top: 25%;
}
.scroll-down {
  cursor: pointer;
}

.banner-button {
  margin-bottom: 20px;
}

.banner-text {
  text-align: center;
  padding-top: 70px;
}

.banner-h1 {
  font-weight: 100;
  font-size: 68px;
}

.healthcare {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.healthcare::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -5px;
  right: 0;
  bottom: -5px;
  background-color: #0099ff;
  border-radius: 36px;
  transform: rotate(3deg);
  z-index: -1;
  padding: 0px 0px;
  margin: 0px -10px;
}

.banner-p {
  padding-top: 30px;
  display: flex;
  width: 50%;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  color: gainsboro;
  text-align: left;
  font-size: 14px;
}

.banner-span {
  color: #008cbf;
  margin-right: 80px;
}

.scroll-down {
  cursor: pointer;
  z-index: 1200;
}

@media (max-height: 500px) {
  .banner-image1 {
    top: 40% !important;
  }
  .banner-image2 {
    top: 30% !important;
  }
  .banner-false-left {
    top: 35% !important;
  }
  .banner-false-right {
    top: 100px !important;
  }
}
@media screen and (max-width: 766px) {
  .banner-h1 {
    font-size: 22px;
  }

  .banner-button > button {
    display: none;
  }
  .banner-false-left {
    top: 13% !important;
  }
  .banner-false-right {
    top: 120px !important;
  }
  .banner-image1 {
    top: 20%;
    width: 20%;
    left: 2%;
  }

  .banner-image2 {
    top: 170px;
    width: 20%;
    right: 1%;
    z-index: 0;
  }

  .scroll-down {
    display: none;
  }

  .banner-p {
    margin-top: 20px;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    width: 80%;
    font-size: 8px;
    margin-bottom: 30px;
    color: white;
  }

  .banner {
    height: auto;
  }

  .light-banner {
    height: fit-content;
  }

  .get-started-btn {
    display: block;
    border-color: #0099ff;
    align-items: center;
    width: fit-content;
    margin: auto;
    padding: 10px 12px 10px 12px;
    font-size: 10px;
  }

  .container2 p + p {
    display: block;
  }

  .container2 p {
    display: none;
  }

  .heading {
    margin-left: 0px;
    box-sizing: border-box;
    padding-bottom: 0px;
    border-radius: 10px;
  }

  .container2 {
    margin-bottom: 0;
  }

  .right-image {
    height: auto;
    margin-top: 20px;
    margin-left: 0px;
    margin-top: 20px;
  }

  .heading,
  .description {
    width: 100%;
  }

  .about-us {
    padding: 10px;
  }

  .image-container {
    padding: 0px;
    margin: 0;
    margin: auto;
  }

  .p-desc {
    font-size: 14px;
  }

  .container1 {
    margin-top: 0;
    margin-left: 0;
    width: 133% !important;
    font-size: small;
    align-items: center;
    margin-left: 9%;
  }

  .item-text,
  .item-number,
  .item-text {
    font-size: 12px !important;
  }

  .item-text {
    margin-bottom: 5px;
  }

  .item-number {
    margin-right: 0px !important;
  }

  .arrow {
    display: none;
  }

  .top-row {
    flex-direction: column;
  }

  .bottom-row {
    flex-direction: column;
  }

  .category {
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .container {
    margin-bottom: 0;
  }

  .container3 {
    flex-direction: column;
    margin: 0;
    padding: 30px;
  }

  .text {
    height: 470px;
    width: 329px;
    border-radius: 30px;
    margin: auto;
    padding: 30px;
  }

  .last-text {
    line-height: 22px;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    text-align: justify;
  }

  .image4 {
    margin: auto;
    padding: 0;
  }

  .image4 img {
    height: 224px;
    width: 332px;
    border-radius: 40px 40px 0px 0px;
    margin-top: 20px;
  }

  .stats-section {
    position: static;
    padding: 20px;
    height: 142.2px;
    width: 332px;
    border-radius: 0px 0px 30px 30px;
    text-align: center;
    background-color: rgb(17, 17, 17);
  }

  .stat-item {
    margin-left: 0;
  }

  .stat-item p,
  .stat-item h2 span,
  .stat-item h2 {
    font-size: 12px;
  }

  .stat-item p,
  .stat-item h2 {
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
  }
  .image-section {
    display: block;
  }
  .image3 {
    display: none;
  }
  .healthcare::before {
    content: "";
    position: absolute;
    top: 0px !important;
    left: 5px !important;
    right: 5px !important;
    bottom: -5px;
    background-color: #0099ff;
    border-radius: 36px;
    transform: rotate(3deg);
    z-index: -1;
    padding: 0px 0px;
    margin: 0px -10px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .banner-image1 {
    top: 21%;
  }

  .banner-image2 {
    top: 20%;
    right: 5%;
  }
  .banner-false-left {
    top: 16%;
  }
  .banner-false-right {
    top: 18%;
  }

  .our-service-btn {
    margin: auto;
  }

  .about-us {
    padding: 15px;
  }

  .heading {
    width: 40%;
    margin-left: 30px;
    padding: 15px;
  }

  .description {
    width: 55%;
    padding: 15px;
  }

  .heading + h1 {
    font-size: 1.8em;
  }

  .container2 h1 {
    margin-top: 10px;
  }

  .p-desc {
    font-size: 18px;
  }

  .image-section {
    padding: 15px;
  }

  .image-container {
    padding: 5px;
  }
  .image-container > img {
    border-radius: 20px;
  }
  .left-image {
    margin-right: 20px;
    margin-top: 15px;
    width: 50%;
  }

  .right-image {
    width: 50%;
    margin-top: 20px;
    margin-left: 10px;
  }

  .image3 {
    width: 60%;
    margin-top: 10px !important;
    margin-left: 50px;
    margin-right: 50px;
    height: 250px;
  }

  .container1 {
    margin-left: 6%;
    width: 120%;
  }

  .item {
    padding: 8px 0;
  }

  .item-number {
    margin-right: 30px;
    font-size: 14px;
  }

  .item-text {
    font-size: 14px;
  }

  .arrow {
    font-size: 35px;
  }

  .container2 {
    padding: 10%;
    margin-bottom: 30px;
    text-align: center;
  }

  .container h1 {
    font-size: 36px;
    line-height: 50px;
  }

  .p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .container {
    width: 90%;
    margin-bottom: 80px;
  }

  .top-row,
  .bottom-row {
    gap: 15px;
  }

  .category {
    padding: 20px;
    margin-bottom: 20px;
  }

  .top-row {
    margin-bottom: 0;
  }

  .bottom-row .category {
    flex: 1;
  }

  .top-row,
  .bottom-row {
    display: block;
  }

  .category > div > img {
    width: 40px;
  }

  .container3 {
    padding: 40px;
    flex-direction: column;
    align-items: center;
  }

  .text {
    width: 642px;
    height: auto;
    padding: 20px;
    margin-bottom: 30px;
  }

  .image4 {
    align-items: center;
  }

  .image4 img {
    height: auto;
    width: 642px;
    margin-left: 50px;
    border-radius: 30px 30px 0px 0px;
  }

  .last-text {
    font-size: 20px;
    line-height: 28px;
    margin: 20px;
  }

  .stats-section {
    align-items: center;
    position: static;
    width: 642px;
    margin: auto;
    margin-left: 50px;
    height: auto;
    padding: 20px;
    border-radius: 0px 0px 30px 30px;
    text-align: center;
    background-color: rgb(17, 17, 17);
  }

  .stat-item {
    margin-left: 40px;
    font-size: 16px;
  }
  .stat-item > p {
    font-size: 16px;
  }
  .stat-item > h2 {
    font-size: 16px;
  }
  .stat-item > h2 > span {
    font-size: 16px;
  }

  .healthcare::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0099ff;
    border-radius: 36px;
    transform: rotate(3deg);
  }

  .banner {
    height: fit-content;
    background-size: cover;
  }

  .light-banner {
    height: fit-content;
  }

  .get-started-btn {
    display: block;
    border-color: #0099ff;
    margin: auto;
    padding: 10px 20px;
    font-size: 14px;
  }

  .banner-p {
    padding: 20px;
    font-size: 12px;
    color: white;
  }

  .banner-h1 {
    font-size: 36px;
  }

  .scroll-down {
    display: none;
  }

  .banner-button > button {
    display: block;
  }
}
