<section class="about-us">
  <div class="heading">
    <h1>About Us</h1>
  </div>
  <div class="description">
    <p class="p-desc">
      Become a remarkable healthcare practitioner with GMP healthcare marketing
      strategies.
      <span style="color: white">Gain More Patients (GMP) </span>
      healthcare digital marketing agency provides marketing strategies for your
      healthcare services to support you in growing your practice and get
      recognized easily. We enhance your web presence by optimizing your web
      presence, content, client interface, SEO, and social media.
    </p>
  </div>

  <section class="image-section">
    <div class="image-container left-image">
      <img src="../../../../assets/download.png" alt="Left Image" />
    </div>
    <div class="image-container right-image">
      <img src="{{ images.doctorImage }}" alt="Right Image" />
    </div>
  </section>

  <div>
    <img src="{{ images.discussionImage }}" alt="" class="image3" />
  </div>

  <div>
    <div class="container1">
      <div class="item">
        <div class="item-number">01.</div>
        <div class="item-text">Mobile-responsive websites</div>
        <div class="arrow">→</div>
      </div>
      <div class="item">
        <div class="item-number">02.</div>
        <div class="item-text">Influential social media presence</div>
        <div class="arrow">→</div>
      </div>
      <div class="item">
        <div class="item-number">03.</div>
        <div class="item-text">Online appointment scheduling facility</div>
        <div class="arrow">→</div>
      </div>
      <div class="item">
        <div class="item-number">04.</div>
        <div class="item-text">Email marketing & Content marketing</div>
        <div class="arrow">→</div>
      </div>
      <div class="item">
        <div class="item-number">05.</div>
        <div class="item-text">Targeting key audiences</div>
        <div class="arrow">→</div>
      </div>
      <div class="item">
        <div class="item-number">06.</div>
        <div class="item-text">Enhancing search engine rankings.</div>
        <div class="arrow">→</div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container2">
    <button class="our-service-btn">Our Services</button>

    <h1 class="h1">Oue Top Class Services</h1>
    <p class="p">
      Our refined methodology guarantees premium website development, elevating
      brands with precision.
    </p>
  </div>
  <div>
    <div class="container">
      <div class="top-row">
        <div class="category">
          <div>
            <img src="../../../../assets/healthcare/1st.png" alt="" />
          </div>
          <div>
            Healthcare <br />
            Website Design
          </div>
        </div>
        <div class="category">
          <div>
            <img src="../../../../assets/healthcare/2nd.png" alt="" />
          </div>
          <div>
            Healthcare <br />
            SEO Service
          </div>
        </div>
        <div class="category highlight-category">
          <div>
            <img src="../../../../assets/healthcare/3rd.png" alt="" />
          </div>
          <div>
            Healthcare <br />
            Paid Ads
          </div>
        </div>
        <div class="category">
          <div>
            <img src="../../../../assets/healthcare/4th.png" alt="" />
          </div>
          <div>
            Healthcare <br />
            Content Marketing
          </div>
        </div>
      </div>
      <div class="bottom-row">
        <div class="category">
          <div>
            <img src="../../../../assets/healthcare/5th.png" alt="" />
          </div>
          <div>Healthcare Local <br />Business Targeting</div>
        </div>
        <div class="category">
          <div>
            <img src="../../../../assets/healthcare/6th.png" alt="" />
          </div>
          <div>Healthcare Social <br />Media Marketing</div>
        </div>
        <div class="category">
          <div>
            <img src="../../../../assets/healthcare/7th.png" alt="" />
          </div>
          <div>Healthcare <br />Reputation Management</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container2">
    <button class="our-service-btn">Our Process</button>

    <h1>How Quantum develops top-notch websites</h1>
    <p class="p">
      Our refined methodology guarantees premium website development, elevating
      brands with precision.
    </p>
  </div>
  <div class="container3">
    <div class="text">
      <div class="last-text">
        The new marketing trend involves reaching out to new patients and
        connecting with the existing ones. With a large magnitude of data
        available out there, new and innovative digital marketing strategies
        keep the company afloat.
        <br /><br />
        As a healthcare service provider in this day and age, a medical clinic
        requires a healthcare digital marketing agency to stay dominant in the
        trade. <br /><br />Some of the effective ways to grow your practice and
        attract more patients:
      </div>
    </div>
    <div class="image4">
      <img
        src="https://s3-alpha-sig.figma.com/img/91ad/d963/b59cd5182399f8ac33d6ca8732ac2b31?Expires=1725235200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=cFBFD06xC7IQt8~Shk6~6mfKegKJKZ-TWIBq0EGzl--eZ2IXt9VIYnm~blFzQMf~6qtWDBYxSNyiMNqLPzV5FiE4H4HgC8kwJf1wyegUe-euhUQNno6iXDKLC7q2tMeMQAAIEIejUjobpFbVMbGDC-JsCXYwBUPMCTj7~ySfXzCWL6VIQJPiRcV4Qn5112aNGEo~81LHbUYuXbY1HwL3OEe7mj9MwqWL2RcyUOV6O29KA7HNCHHZtIWRWux89pX-fRI-HK60vBH6m7qIdhEqL3KuWYq9tz69csHHIkytbRF~9lzzn5CqAdQX-OfDP32n6uAjhlmB67AXYD9ZBis7bQ__"
        alt="Placeholder Image"
      />
      <div class="stats-section">
        <div class="stat-item">
          <h2>80 <span>%</span></h2>
          <p>
            Patient <br />
            Revenue
          </p>
        </div>
        <div class="stat-item">
          <h2>88 <span>%</span></h2>
          <p>
            Reputation <br />
            Management
          </p>
        </div>
        <div class="stat-item">
          <h2>85 <span>%</span></h2>
          <p>Patient <br />Engagement</p>
        </div>
        <div class="stat-item">
          <h2>98 <span>%</span></h2>
          <p>
            Patient <br />
            Acquisition
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
