<section [ngClass]="isDarkTheme ? 'banner' : 'light-banner'">
  <div>
    <img
      src="{{ images.doctorImage }}"
      alt="image"
      class="banner-image1"
      [ngClass]="bannerVisible ? '' : 'banner-false-left'"
    />
    <img
      src="{{ images.discussionImage }}"
      alt="image"
      class="banner-image2"
      [ngClass]="bannerVisible ? '' : 'banner-false-right'"
    />
  </div>
  <div class="banner-text">
    <div class="banner-button">
      <button class="our-service-btn">Expertise You Can Trust</button>
    </div>
    <div>
      <h1 class="banner-h1">
        Elevate
        <span class="healthcare">Healthcare</span>
        <br />With Digital Marketing
      </h1>
    </div>
    <div class="banner-p">
      <div style="margin-right: 30px">
        <span>
          <div style="display: flex">
            <span style="color: #0099ff"> 100+ </span>
            <span [ngStyle]="{ color: isDarkTheme ? '' : '#333333' }"
              >healpful</span
            >
          </div>
          <span [ngStyle]="{ color: isDarkTheme ? '' : '#333333' }"
            >businesses</span
          >
        </span>
      </div>
      <div [ngStyle]="{ color: isDarkTheme ? '' : '#333333' }">
        Let AI be the catalyst for unparalleled digital marketing excellence,
        propelling your business to new heights of success.
      </div>
    </div>
    <div
      class="scroll-down"
      style="padding-top: 20px; cursor: pointer"
      (click)="scrollDown()"
    >
      Scroll Down<svg
        style="
          background-color: #0099ff;
          border-radius: 40px;
          margin-left: 5px;
          padding: 2px;
        "
        width="16"
        height="16"
        viewBox="0 0 8 8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          style=""
          d="M1.15527 3.88986L4.11406 6.8457M4.11406 6.8457L7.25236 3.71052M4.11406 6.8457L4.15704 0.748616"
          stroke="white"
          stroke-miterlimit="10"
        />
      </svg>
    </div>
    <div>
      <button class="get-started-btn" (click)="scrollDown()">
        Get Started
      </button>
    </div>
  </div>
</section>
<section class="about-us" id="about-us">
  <div class="heading">
    <button class="our-service-btn">About Us</button>
    <h1>About Us</h1>
  </div>
  <div class="description">
    <p
      class="p-desc"
      [ngStyle]="{ color: isDarkTheme ? 'rgb(181, 181, 181)' : ' #333333' }"
    >
      Become a remarkable healthcare practitioner with GMP healthcare marketing
      strategies.
      <span [ngStyle]="{ color: isDarkTheme ? 'white' : ' black' }"
        >Gain More Patients (GMP)
      </span>
      healthcare digital marketing agency provides marketing strategies for your
      healthcare services to support you in growing your practice and get
      recognized easily. We enhance your web presence by optimizing your web
      presence, content, client interface, SEO, and social media.
    </p>
  </div>

  <section class="image-section">
    <div class="image-container left-image">
      <img
        src="../../../../assets/download.png"
        alt="Left Image"
        *ngIf="isDarkTheme"
      />
      <img
        src="../../../../assets/healthcare/stat20.webp"
        alt="Left Image"
        *ngIf="!isDarkTheme"
      />
    </div>
    <div class="image-container right-image">
      <img src="{{ images.doctorImage }}" alt="Right Image" />
    </div>
  </section>

  <div>
    <img src="{{ images.discussionImage2 }}" alt="" class="image3" />
  </div>

  <div>
    <div class="container1">
      <div class="item">
        <div class="item-number">01.</div>
        <div class="item-text">Mobile-responsive websites</div>
        <div class="arrow">→</div>
      </div>
      <div
        class="item highlight"
        [ngStyle]="{ color: isDarkTheme ? 'white' : 'black' }"
      >
        <div class="item-number">02.</div>
        <div class="item-text">Influential social media presence</div>
        <div class="arrow">→</div>
      </div>
      <div class="item">
        <div class="item-number">03.</div>
        <div class="item-text">Online appointment scheduling facility</div>
        <div class="arrow">→</div>
      </div>
      <div class="item">
        <div class="item-number">04.</div>
        <div class="item-text">Email marketing & Content marketing</div>
        <div class="arrow">→</div>
      </div>
      <div class="item">
        <div class="item-number">05.</div>
        <div class="item-text">Targeting key audiences</div>
        <div class="arrow">→</div>
      </div>
      <div class="item">
        <div class="item-number">06.</div>
        <div class="item-text">Enhancing search engine rankings.</div>
        <div class="arrow">→</div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container2">
    <button class="our-service-btn">Our Services</button>

    <h1 class="h1">Our Top Class Services</h1>
    <p class="p">
      Our refined methodology guarantees premium website development, elevating
      brands with precision.
    </p>
    <p class="p">Let's do great work together</p>
  </div>
  <div>
    <div
      class="container"
      [ngStyle]="{
        color: isDarkTheme ? 'white' : 'black',
       
      }"
    >
      <div class="top-row">
        <div
          class="category"
          [ngStyle]="{ backgroundColor: isDarkTheme ? '' : '#ECF0FF' }"
        >
          <div>
            <img src="../../../../assets/healthcare/1st.png" alt="" />
          </div>
          <div>
            Healthcare <br />
            Website Design
          </div>
        </div>
        <div
          class="category"
          [ngStyle]="{ backgroundColor: isDarkTheme ? '' : '#ECF0FF' }"
        >
          <div>
            <img src="../../../../assets/healthcare/2nd.png" alt="" />
          </div>
          <div>
            Healthcare <br />
            SEO Service
          </div>
        </div>
        <div
          class="category"
          [ngStyle]="{ backgroundColor: isDarkTheme ? '' : '#ECF0FF' }"
        >
          <div>
            <img
              src="../../../../assets/healthcare/ads.svg"
              alt=""
              class="healthcareimage"
            />
          </div>
          <div>
            Healthcare <br />
            Paid Ads
          </div>
        </div>
        <div
          class="category"
          [ngStyle]="{ backgroundColor: isDarkTheme ? '' : '#ECF0FF' }"
        >
          <div>
            <img src="../../../../assets/healthcare/4th.png" alt="" />
          </div>
          <div>
            Healthcare <br />
            Content Marketing
          </div>
        </div>
      </div>
      <div class="bottom-row">
        <div
          class="category"
          [ngStyle]="{ backgroundColor: isDarkTheme ? '' : '#ECF0FF' }"
        >
          <div>
            <img src="../../../../assets/healthcare/5th.png" alt="" />
          </div>
          <div>Healthcare Local <br />Business Targeting</div>
        </div>
        <div
          class="category"
          [ngStyle]="{ backgroundColor: isDarkTheme ? '' : '#ECF0FF' }"
        >
          <div>
            <img src="../../../../assets/healthcare/6th.png" alt="" />
          </div>
          <div>Healthcare Social <br />Media Marketing</div>
        </div>
        <div
          class="category"
          [ngStyle]="{ backgroundColor: isDarkTheme ? '' : '#ECF0FF' }"
        >
          <div>
            <img src="../../../../assets/healthcare/7th.png" alt="" />
          </div>
          <div>Healthcare <br />Reputation Management</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container2">
    <button class="our-service-btn">Our Process</button>

    <h1>How Quantum develops top-notch websites</h1>
    <p class="p">
      Our refined methodology guarantees premium website development, elevating
      brands with precision.
    </p>
    <p class="p">Let's do great work together</p>
  </div>
  <div class="container3">
    <div class="text">
      <div
        class="last-text"
        [ngStyle]="{ color: isDarkTheme ? 'white' : 'white' }"
      >
        The new marketing trend involves reaching out to new patients and
        connecting with the existing ones. With a large magnitude of data
        available out there, new and innovative digital marketing strategies
        keep the company afloat.

        <br /><br />
        As a healthcare service provider in this day and age, a medical clinic
        requires a healthcare digital marketing agency to stay dominant in the
        trade. <br /><br />Some of the effective ways to grow your practice and
        attract more patients include improving your online presence and using
        targeted communication. <br /><br />
        Additionally, leveraging social media and online reviews can greatly
        enhance patient trust and clinic visibility.
      </div>
    </div>
    <div class="image4">
      <img src="{{ images.nurseImage }}" alt="Placeholder Image" />
      <div
        class="stats-section"
        [ngStyle]="{ 'background-color': isDarkTheme ? '' : '#ECF0FF' }"
      >
        <div class="stat-item">
          <h2>80 <span>%</span></h2>
          <p>
            Patient <br />
            Revenue
          </p>
        </div>
        <div class="stat-item">
          <h2>88 <span>%</span></h2>
          <p>
            Reputation <br />
            Management
          </p>
        </div>
        <div class="stat-item">
          <h2>85 <span>%</span></h2>
          <p>Patient <br />Engagement</p>
        </div>
        <div class="stat-item">
          <h2>98 <span>%</span></h2>
          <p>
            Patient <br />
            Acquisition
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
