body {
  margin: 0;
}
.about-us {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.heading {
  width: 35%;
  margin-left: 70px;
  box-sizing: border-box;
}

.description {
  width: 60%;
  box-sizing: border-box;
}

.heading {
  padding: 20px;
}

.description {
  padding: 20px;
}

.heading + h1 {
  margin: 0;
  font-size: 2em;
}

.p-desc {
  margin: 0;
  line-height: 1.6;
  font-size: 1.3em;
  color: rgb(181, 181, 181);
  text-align: justify;
}

.image-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.image-container {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
}

.left-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  flex: 0 0 36%;
  margin-top: 20px;
}

.right-image {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 20px;
  height: 450px;
}

.image-container > img {
  height: auto;
  display: block;
  border-radius: 30px;
}

.image3 {
  width: 50%;
  border-radius: 30px;
  margin-top: 130px;
  margin-left: 100px;
  margin-right: 80px;
  height: 300px;
  object-fit: cover;
}
.container1 {
  font-size: larger;
  width: 170%;
  margin-top: 30px;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid #444;
}
.item:last-child {
  border-bottom: none;
}
.item-number {
  margin-right: 50px;
  color: #888;
  font-size: larger;
}
.item-text {
  flex-grow: 1;
  padding-left: 10px;
  color: #aeaeae;
  font-size: larger;
}
.arrow {
  color: #aeaeae;
  font-size: 40px;
}
.container2 {
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.p {
  font-size: 1rem;
  margin-bottom: 30px;
  color: #888;
  word-spacing: normal;
}
.container {
  width: 80%;
  margin-bottom: 100px;
}

.top-row,
.bottom-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  gap: 20px;
}

.category {
  background-color: rgb(17, 17, 17);
  padding: 30px;
  text-align: center;
  border-radius: 30px;
}

.top-row .category {
  flex: 1;
}

.bottom-row .category {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 26px;
  font-weight: 600;
}

.top-row {
  flex: 2;
}

.bottom-row {
  flex: 1;
}
.category > div > img {
  width: 50px;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}
.category > div + div {
  margin-top: 30px;
  margin-bottom: 10px;
}
.highlight-category {
  background: linear-gradient(90deg, #43baff 0%, #7141b1 100%);
}
.container3 {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.text {
  flex: 1;
  padding: 60px;
  margin-right: 30px;
  text-align: justify;
  background: linear-gradient(90deg, #43baff 0%, #7141b1 100%);
  border-radius: 30px;
  line-height: 32px;
  margin-left: 50px;
  padding-bottom: 100px;
}

.image4 {
  margin-left: 30px;
  margin-right: 50px;
  flex: 1;
}

.image4 img {
  max-width: 100%;
  height: auto;

  border-radius: 30px 30px 0px 0px;
}
.last-text {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.stats-section {
  position: absolute;
  top: 2920px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  border-radius: 30px;
  width: 38%;
  text-align: center;
  background-color: rgb(17, 17, 17);
  padding-top: 60px;
  padding-bottom: 60px;
}

.stat-item h2 {
  font-size: 1.8rem;
  margin-bottom: 5px;
  margin-top: 8px;
  display: flex;
  margin-left: 10px;
  background: linear-gradient(90deg, #43baff 0%, #7141b1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.stat-item h2 span {
  font-size: 1.8rem;
}

.stat-item p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 20px;

  text-align: start;
}
.stat-item {
  display: flex;
}
.our-service-btn {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 7px 15px 7px 15px;
  gap: 0px;
  border-radius: 32px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #0099ff;
  box-shadow: 0px -7px 11px 0px #a48fff1f inset;
  background: linear-gradient(91.58deg, #43baff 0.52%, #7044b3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(2px);
}

@media (max-width: 768px) {
  .heading {
    margin-left: 0px;
    box-sizing: border-box;
    padding-bottom: 0px;
    border-radius: 10px;
  }
  .right-image {
    height: 200px;
    margin-top: 20px;
  }
  .heading,
  .description {
    width: 100%;
  }
  .about-us {
    padding: 10px;
  }
  .image-container {
    flex: 1 0 100%;
    margin: 0px;
    padding: 0px;
  }
  .p-desc {
    font-size: medium;
  }
  .image3 {
    display: none;
  }
  .container1 {
    margin-top: 0;
    width: 130% !important;
    font-size: small;
  }
  .item-text,
  .item-number,
  .item-text {
    font-size: medium !important;
  }
  .item-text {
    margin-bottom: 5px;
  }
  .item-number {
    margin-right: 0px !important;
  }

  .arrow {
    display: none;
  }
  .top-row {
    flex-direction: column;
  }
  .bottom-row {
    flex-direction: column;
  }
  .category {
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .container3 {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 30px;
  }
  .text {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .last-text {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: medium;
  }
  .image4 {
    margin: 0;
    padding: 0;
  }
  .stats-section {
    position: static;
    padding: 20px;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
    text-align: center;
    background-color: rgb(17, 17, 17);
  }
  .stat-item p,
  .stat-item h2 span,
  .stat-item h2 {
    font-size: medium !important;
  }
  .stat-item p,
  .stat-item h2 {
    margin-left: 10px;
  }
}
