<div class="contianer-fluid casestudy">
  <div class="container frame-1 p-3 mt-sm-5 mt-4">
    <div
      class="heading d-flex flex-column flex-lg-row justify-content-between align-items-center"
    >
      <div
        class="text frame-2-head w-100 d-flex align-items-start align-items-sm-center align-items-lg-start flex-column"
      >
        <div class="button">
          <button class="our-process-btn">Web Case Study</button>
        </div>
        <div class="txt w-100 mt-3">
          <h1 class="text-start text-sm-center text-lg-start text-capitalize">
            String Geo
          </h1>
        </div>
        <div class="desc w-100">
          <p [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }">
            We partnered with The AMPS Institute to develop a customized app
            supporting their entrepreneurial excellence programs, aligning with
            their vision for empowering aspiring entrepreneurs.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container frame-2 d-flex justify-content-center banner rounded-2">
    <figure class="rounded-2 vandan">
      <img
        src="https://karmill.s3.us-east-1.amazonaws.com/profile_pictures/string1.png"
        alt="image banner"
      />
    </figure>
  </div>

  <div class="container frame-3 my-sm-5 my-2">
    <div class="app-details justify-content-center d-flex">
      <div class="details w-75 justify-content-between gap-3 gap-lg-0 d-flex">
        <div class="detail">
          <div class="title">
            <h3 class="text-align-center">Ravali</h3>
          </div>
          <div class="desc">
            <p
              class="text-align-center"
              [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }"
            >
              Client
            </p>
          </div>
        </div>
        <div class="detail">
          <div class="title">
            <h3 class="text-align-center">Web App</h3>
          </div>
          <div class="desc">
            <p
              class="text-align-center"
              [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }"
            >
              Services
            </p>
          </div>
        </div>
        <div class="detail">
          <div class="title">
            <h3 class="text-align-center">21.05.2024</h3>
          </div>
          <div class="desc">
            <p
              class="text-align-center"
              [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }"
            >
              Date
            </p>
          </div>
        </div>
        <div class="detail">
          <div class="title">
            <h3 class="text-align-center text-decoration-underline">
              <a
                href="https://www.stringevolve.in/"
                target="_blank"
                [ngClass]="isDarkTheme ? 'text-white' : 'text-black'"
                class="text-decoration-underline text-align-center"
              >
                Live Link
              </a>
            </h3>
          </div>
          <div class="desc">
            <p
              class="text-align-center"
              [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }"
            >
              App & Play store
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="frame-4 prob-stat container p-5">
    <div class="container d-flex flex-column flex-lg-row">
      <div class="problem-statement">
        <div
          class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center"
        >
          <div
            class="text frame-2-head w-100 d-flex align-items-start align-items-sm-center align-items-lg-start flex-column"
          >
            <div class="button">
              <button class="our-process-btn">Challenges</button>
            </div>
            <div class="txt w-100 mt-3">
              <h1
                class="text-start text-sm-center text-lg-start text-capitalize"
              >
                The Problem Statement
              </h1>
            </div>
            <div class="desc">
              <p [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }">
                In Bharat, there is a growing need to enhance social, cultural,
                and political awareness among its people. Despite the rich
                heritage and history, many stories that define Bharat's identity
                are not easily accessible or widely understood. Traditional
                media often fails to present these narratives in a way that
                resonates with modern audiences, leading to a disconnect between
                the people and their cultural roots. This gap has created a
                demand for a platform that can effectively communicate these
                stories, enriching the consciousness of Bharat and reconnecting
                its people with their heritage.
              </p>
            </div>
            <div class="w-100 problems-stat-border"></div>
            <div class="list py-4">
              <ul class="list-unstyled list-group-numbered">
                <li class="">
                  <h3>1. Integrating complex data analytics features.</h3>
                </li>
                <li class="">
                  <h3>2. Ensuring seamless user experience.</h3>
                </li>
                <li class="">
                  <h3>3. Optimizing app performance.</h3>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="image w-100 d-flex justify-content-center">
        <img src="../../../../assets/mobile/casestudy/aim.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="frame-5 container p-3 p-sm-5">
    <div
      class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center"
    >
      <div
        class="text frame-2-head w-100 d-flex align-items-start align-items-sm-center align-items-lg-start flex-column"
      >
        <div class="button">
          <button class="our-process-btn">Solution</button>
        </div>
        <div class="txt w-100 mt-3">
          <h1 class="text-start text-sm-center text-lg-start text-capitalize">
            Solution Implementation
          </h1>
        </div>
        <div class="desc w-100 mt-sm-3">
          <p class="" [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }">
            To address this challenge, String Geo was developed as an OTT
            (Over-The-Top) platform dedicated to raising the social, cultural,
            and political consciousness of Bharat. The platform offers a unique
            streaming experience that blends captivating stories with rich
            narratives, bringing the essence of Bharat to life. Key features of
            the solution include:
          </p>

          <ol>
            <li>
              Cultural Consciousness: The platform focuses on enhancing
              awareness of Bharat's social, cultural, and political landscape,
              making these vital aspects accessible to a wider audience.
            </li>
            <li>
              Captivating Stories: String Geo presents a vast collection of
              stories that seamlessly integrate culture, history, and politics,
              offering viewers a deep understanding of Bharat's identity.
            </li>
            <li>
              OTT Platform: By leveraging the power of an OTT platform, String
              Geo provides an exceptional streaming experience that ensures
              high-quality content is readily available to users.
            </li>
            <li>
              Cinematic Adventure: The platform offers a cinematic adventure
              that transcends geographical and cultural boundaries, allowing
              viewers to explore Bharat in a new and exciting way.
            </li>
            <li>
              Rich Narratives: String Geo showcases the diverse and enchanting
              storytelling traditions of Bharat, highlighting the country's
              multifaceted heritage.
            </li>
            <li>
              Immersive Experience: The content is designed to engage viewers
              deeply, offering an immersive experience that captures the spirit
              and essence of Bharat.
            </li>
          </ol>

          <p class="opacity-50">
            This solution successfully bridges the gap between Bharat's rich
            cultural heritage and the modern audience, fostering a greater
            connection with the nation's roots and enhancing the overall
            cultural consciousness.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container app-img d-flex justify-content-center mt-2">
    <img src="../../../../assets/mobile/casestudy/solution.png" alt="" />
  </div>
  <!-- <div class="result-heading container d-flex flex-column flex-lg-row justify-content-between align-items-center">
          <div class="text frame-2-head w-100 d-flex align-items-center align-items-lg-start flex-column ">
              <div class="button">
                  <button class="our-process-btn">
                      Result
                  </button>
              </div>
              <div class="txt w-100 mt-4">
                  <h1 class="text-center text-lg-start text-capitalize">
                      Results & Feedback
                  </h1>
              </div>
          </div>
      </div> -->
  <!-- <div class="container our-numbers w-100 mb-5">
          <div class="num-sec container w-100">
              <div class="row text-align-center justify-content-center align-content-center">
                  <div *ngFor="let nums of sectionFourNums" class="miletone-container col-lg-3 col-sm-6 col-12 mb-5">
                      <div class="miletone-number fw-bolder">{{nums.currentNum}}+</div>
                      <div>
                          <p class="miletone-title fw-bold text-uppercase mt-3">
                              ● {{nums.heading}}
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
</div>

<div
  class="container-fluid d-flex justify-content-sm-end justify-content-center mb-sm-5 mb-3 me-sm-5"
>
  <div class="buttons d-flex flex-row align-items-end pe-sm-5">
    <button class="next our-process-btn cursor-pointer" (click)="next()">
      Next
    </button>
  </div>
</div>
