<div class="container-fluid website-details d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="project">
            <div class="brief d-flex flex-column align-items-center justify-content-center">
                <div class="container heading w-100 h-100 d-flex flex-column align-items-center justify-content-center">
                    <div class="button">
                        <button class="our-service-btn">
                            Web Design
                        </button>
                    </div>
                    <div class="sec4-headline text-white mt-3">
                        <h1 class="service-tagline text-align-center">
                            Wikistrings Website
                        </h1>
                    </div>
                    <div class="desc mt-3 w-50">
                        <p class="m-0 head-desc-txt text-align-center" style="color:#959595">
                            At Estatein, we've designed a straightforward process to help you find and purchase your
                            dream property with ease. Here's a step-by-step guide to how it all works.
                        </p>
                    </div>
                </div>
                <div class="image mt-3">
                    <img class="rounded-2"
                        src="https://s3-alpha-sig.figma.com/img/2cc2/5cda/925925081fa4f2a9df0c206aee28d6c4?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MRcHCCea9aa27ut1UsKuVSwXaGseC~GBPN~yoI135PZBFo-X1CLpqH5d9YlgmGGhx3CsPmSSUh5cz85-14h2eEke32aR7RpH7Ny8u26cV2zvebYsR1TP3HRFIBeXZt8PxOmzRt7zR8ko-i077xjRApw~wEWIH5NvxWToII84VwyiSI~coUIYX11iCOIQzd74wZcV6zipsaYhq82zLy0c1TSvKb7esx0OU8smdm1EIu9-eY8g03X3bj7DeP5I7h96L3SU-IHLkUSsGBS9NxGfGeQlAOSbRM6efoeED5h~dmP4u9AtbVYBcJVeXPbhBmm6n2g7jYbDyMom8umyzYeZMQ__"
                        alt="">
                </div>

                <div class="project-details">
                    <div class="container d-flex">

                    </div>
                </div>
            </div>

            <div class="about-project container w-75">
                <div class="container d-flex flex-column justify-content-lg-start">
                    <div
                        class="container heading w-100 h-100 d-flex flex-column align-items-center justify-content-start">
                        <div class="sec4-headline text-white w-100">
                            <h1 class="service-tagline text-left">
                                About the project
                            </h1>
                        </div>
                        <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna
                                adipiscing praesent velit viverra sit semper lorem eu cursus vel hendrerit elementum.
                                Morbi curabitur etiam nibh justo, lorem aliquet donec. Sed sit mi dignissim at ante
                                massa mattis egestas.
                            </p>
                        </div>
                        <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna
                                adipiscing praesent velit viverra sit semper lorem eu cursus vel hendrerit elementum.
                                Morbi curabitur etiam nibh justo, lorem aliquet donec. Sed sit mi dignissim at ante
                                massa mattis egestas.
                            </p>
                        </div>
                        <div class="list mt-3 w-100">
                            <ul class=" list-group-numbered list-group text-white">
                                <li class="list-group-item d-flex align-items-center my-1 bg-black border-0 text-white"
                                    *ngFor="let check of checks">
                                    <p class="fw-light mb-0 ms-2 list-check">{{check}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="project-img-container w-100 mt-5">
                            <img width="800" class="rounded-2 project-img border-2 border-white border"
                                src="https://s3-alpha-sig.figma.com/img/2637/4f83/5ed9b8991d05163a6724bb0763ade8de?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OLbV8RkYg9~Yv3-wVPfd9~jACENW2uniL~pfIfN1OasN9dMbe9eP9uGVABrH95Iwb4xns6Dy4PsGKxTeCiPlrBQW1gDNiE3Rp6VGtk3xY8C7qaPErZfI-uFeoPhWKvUyqZKcvRn7Ai9PmYybgzJqm8UKwqhZzZjq7LbcO-w6gcgrtqSdS9GnxPTJSoXJSUB0nOnzHH9eMw1-AhNClXVVY8eG7gTLf0uFHKmxODdtkbHI7JdosiR-wRbvU4dYqTMk3HGdZu3rpEf3ObR5orLxw~fUnUo4I~7nwC7kzu6UEGsM9F9tGQLfI7bCJGY5DVMMxy6A~lHbsoWL2c7Pd-aQOA__"
                                alt="">
                        </div>

                        <div class="sec4-headline text-white w-100 mt-5">
                            <h1 class="service-tagline text-left">
                                Make real time a work improvements
                            </h1>
                        </div>
                        <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna
                                adipiscing praesent velit viverra sit semper lorem eu cursus vel hendrerit elementum.
                                Morbi curabitur etiam nibh justo, lorem aliquet donec. Sed sit mi dignissim at ante
                                massa mattis egestas.
                            </p>
                        </div>
                        <div class="list mt-3 w-100">
                            <ul class=" list-group text-white">
                                <li class="list-group-item d-flex align-items-center my-1 bg-black border-0 text-white"
                                    *ngFor="let check of checks">
                                    <p class="fw-light mb-0 ms-2 list-check">{{check}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna
                                adipiscing praesent velit viverra sit semper lorem eu cursus vel hendrerit elementum.
                                Morbi curabitur etiam nibh justo, lorem aliquet donec. Sed sit mi dignissim at ante
                                massa mattis egestas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>