* {
    font-family: 'Plus Jakarta Sans';
}

.container {
    margin: 20px 0;
}

.our-service-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0099FF;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.desc-txt {
    font-size: 16px;
    line-height: 25.2px;
}

.list-check {
    font-size: 16px;
    line-height: 25px;
}

.project-img {
    /* height: 400px; */
    object-fit: contain;
}

.sec4-headline>.service-tagline {
    font-size: 42px;
    line-height: 52px;
}

.desc {
    width: 100% !important;
}

.desc-1 {
    width: 80% !important;
}

.desc-1>p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.frame-3 .desc p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400 !important;
}

.app-details>.details>.detail:not(:last-child) {
    border-right: 3px solid white;
    padding-right: 6%;
    padding-left: 6%;
}

.app-details>.details>.detail:last-child {

    padding-left: 6%;
}

@media (max-width: 1366px) {
    .app-details>.details>.detail:not(:last-child) {
        border-right: 3px solid white;
        padding-right: 6%;
        padding-left: 6%;
    }

    .app-details>.details>.detail:last-child {
        padding-left: 6%;
    }
}

@media (max-width: 1024px) {

    .w-50,
    .w-75 {
        width: 100% !important;
    }

    .desc-txt {
        font-size: 15px;
    }

    .sec4-headline>.service-tagline {
        font-size: 38px;
        line-height: 48px;
    }
}

@media (max-width:575.98px) {
    .container {
        padding: 0px;
    }

    .frame-3 {
        background:none;
        /* padding: 5px; */
    }

    .frame-3 .desc p {
        font-size: 14px;
        line-height: 20px;
    }

    .our-process-btn {
        font-size: 10px;
        line-height: 20px;
        padding: 5px 12px 5px 12px;
    }

    .sec4-headline>.service-tagline {
        font-size: 22px;
        line-height: 30px;
    }

    .desc {
        width: 100% !important
    }

    .project-img {
        border: none !important;
        height: 200px;
    }

    .desc>p {
        font-size: 14px;
        line-height: 23px;
        text-align: center;
    }

    .title h3 {
        font-size: 14px;
    }

    .app-details>.details>.detail:not(:last-child) {
        border-right: none;
        padding-right: 0%;
        padding-left: 0px;
    }
}