<div class="container-fluid website-details d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="project d-flex flex-column justify-content-center align-items-center">
            <div class="brief d-flex flex-column align-items-center justify-content-center">
                <div class="container heading w-100 h-100 d-flex flex-column align-items-center justify-content-center">
                    <div class="button">
                        <button class="our-process-btn">
                            {{projectDetails.category[0]}}
                        </button>
                    </div>
                    <div class="sec4-headline  mt-3">
                        <h1 class="service-tagline text-align-center">
                            {{projectDetails.name}}
                        </h1>
                    </div>
                    <div class="desc desc-1 mt-3 w-50">
                        <p class="m-0 head-desc-txt text-align-center" style="color:#959595">
                            {{projectDetails.description}}
                        </p>
                    </div>
                </div>
                <div class="image mt-3 w-100 text-align-center">
                    <img class="rounded-2" width="1000" style="height: 500px;" [src]="projectDetails.image"
                        alt="Project Image">
                </div>

                <div class="project-details">
                    <div class="container d-flex">

                    </div>
                </div>

                <div class="container frame-3 my-5">
                    <div class="app-details justify-content-center d-flex">
                        <div class="details w-75 justify-content-between gap-3 gap-lg-0  d-flex">
                            <div class="detail hover-card">
                                <div class="title">
                                    <h3 class=" text-align-center">
                                        {{projectDetails.clientName}}
                                    </h3>
                                </div>
                                <div class="desc">
                                    <p class=" text-align-center opacity-50">
                                        Client
                                    </p>
                                </div>
                            </div>
                            <div class="detail hover-card">
                                <div class="title">
                                    <h3 class=" text-align-center">
                                        Services
                                    </h3>
                                </div>
                                <div class="desc">
                                    <p class=" text-align-center opacity-50">
                                        {{projectDetails.category[0]}}
                                    </p>
                                </div>
                            </div>
                            <div class="detail hover-card">
                                <div class="title">
                                    <h3 class=" text-align-center ">
                                        {{projectDetails.date | date:'dd.MM.yyyy'}}
                                    </h3>
                                </div>
                                <div class="desc">
                                    <p class=" text-align-center opacity-50">
                                        Date
                                    </p>
                                </div>
                            </div>
                            <div class="detail hover-card">
                                <div class="title">
                                    <h3>
                                        <a [href]="projectDetails.liveLink" target="_blank"
                                            [ngClass]="isDarkTheme?'text-white':'text-black'"
                                            class=" text-decoration-underline text-align-center">
                                            LiveLink
                                        </a>
                                    </h3>
                                </div>
                                <div class="desc">
                                    <p class=" text-align-center opacity-50">
                                        Website
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-project container w-75">
                <div class="container d-flex flex-column justify-content-lg-start">
                    <div
                        class="container heading w-100 h-100 d-flex flex-column align-items-center justify-content-start">
                        <div class="sec4-headline  w-100">
                            <h1 class="service-tagline text-left">
                                About the project
                            </h1>
                        </div>
                        <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                {{projectDetails.aboutProject}}
                            </p>
                        </div>
                        <div class="list mt-3 w-100">
                            <ul class=" list-group-numbered list-group ">
                                <li [ngStyle]="{'background-color':isDarkTheme?'black':'white','color':isDarkTheme?'white':'black'}"
                                    class="list-group-item d-flex align-items-center my-1 border-0 "
                                    *ngFor="let check of projectDetails.keyPoints">
                                    <p class="fw-light mb-0 ms-2 list-check">{{check}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="project-img-container object-fit-cover w-100 mt-5">
                            <img width="800" class="rounded-2 project-img border-2 border-white border"
                                [src]="projectDetails.imageTwo" alt="Project Image">
                        </div>

                        <div class="sec4-headline  w-100 mt-5">
                            <h1 class="service-tagline text-left">
                                Make real time a work improvements
                            </h1>
                        </div>
                        <div class="desc mt-3">
                            <p class="m-0 desc-txt text-left" style="color:#959595">
                                {{projectDetails.description}}
                            </p>
                        </div>
                        <div class="list mt-3 w-100">
                            <ul class="list-group-numbered list-group ">
                                <li [ngStyle]="{'background-color':isDarkTheme?'black':'white','color':isDarkTheme?'white':'black'}"
                                    class="list-group-item d-flex align-items-center my-1 border-0 "
                                    *ngFor="let check of projectDetails.keyInsights">
                                    <p class="fw-light mb-0 ms-2 list-check">{{check}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>