* {
    font-family: 'Plus Jakarta Sans';
}

.numbers {
    height: 100%;
    width: 100%;
    position: relative;
}

.numbers-section::before {
    z-index: -1;
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(90deg, #43BAFF 0%, #7141B1 100%);
}

.num-cont {
    padding: 82px 60px;
}

.our-process-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0099FF;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.accordion {
    --bs-accordion-bg: #111111;
    --bs-accordion-color: white;
    --bs-accordion-active-bg: black;
    --bs-accordion-btn-bg: black;
}

.accordion-button:not(.collapsed)::after {
    --bs-accordion-btn-active-icon: url("../../../../assets/contact/acc-body.svg");
}

.accordion-button::after {
    --bs-accordion-btn-icon: url("../../../../assets/contact/acc-btn.svg");
}

.accordion-light {
    --bs-accordion-bg: #ECF0FF;
    --bs-accordion-color: black;
    --bs-accordion-active-bg: #ECF0FF;
    --bs-accordion-btn-bg: #ECF0FF;
    /* --bs-accordion-btn-icon: url("../../../../assets/contact/acc-btn.svg");
    --bs-accordion-btn-active-icon: url("../../../../assets/contact/acc-body.svg"); */
}

.accordion-body {
    padding: 35px;
}

.accordion-item {
    border: none !important;

}

.accordion-header {
    border: 1px solid;
    border-radius: 10px;
    background: black;
}

.accordion-button:focus,
.accordion-button:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.accordion-button {
    padding: 25px;
    border-radius: 10px;
}

.accordion-button,
.collapsed {
    border-radius: 10px;
}

.accordion-item:first-of-type>.accordion-header .accordion-button,
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border-radius: 10px;

}

@media (min-width:575.98px) and (max-width:768px) {

    .addresses .address {
        padding: 0.5rem !important;
    }
}

@media (max-width: 575.98px) {
    .num-cont {
        padding: 10px;
    }

    .w-50,
    .w-75 {
        width: 100% !important;
    }

    .email p,
    .phone p {
        font-size: 12px;
    }

    .numbers-section::before {

        height: 18%;
    }

    .our-process-btn {
        font-size: 10px;
        line-height: 20px;
        padding: 5px 12px 5px 12px;
    }

    .frame-2-head>.txt>h1 {
        font-size: 22px;
        line-height: 30px;
    }
}