* {
    font-family: 'Plus Jakarta Sans';
}

.numbers {
    height: 100%;
    width: 100%;
    position: relative;
}

@keyframes vibrate {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-5deg);
    }

    20% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    60% {
        transform: rotate(0deg);
    }

    70% {
        transform: rotate(-5deg);
    }

    80% {
        transform: rotate(5deg);
    }

    90% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.fa-envelope-open,
.fa-phone-volume {
    animation: vibrate 1s ease;
}

.btn {
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    left: 10px;
    top: 10px;
}

.numbers-section::before {
    z-index: -1;
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(90deg, #43BAFF 0%, #7141B1 100%);
}

.num-cont {
    padding: 82px 60px;
}

.num-cont>div h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}

.socials .email a,
.socials .phone a {
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
}

.our-process-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0099FF;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.accordion {
    --bs-accordion-bg: #000000;
    --bs-accordion-color: white;
    --bs-accordion-active-bg: black;
    --bs-accordion-btn-bg: black;
}

.accordion-button:not(.collapsed)::after {
    --bs-accordion-btn-active-icon: url("../../../../assets/contact/acc-body.svg");
}

.accordion-button::after {
    --bs-accordion-btn-icon: url("../../../../assets/contact/acc-btn.svg");
}

.accordion-light {
    --bs-accordion-bg: #ffffff;
    --bs-accordion-color: black;
    --bs-accordion-active-bg: #ECF0FF;
    --bs-accordion-btn-bg: #ECF0FF;
    /* --bs-accordion-btn-icon: url("../../../../assets/contact/acc-btn.svg");
    --bs-accordion-btn-active-icon: url("../../../../assets/contact/acc-body.svg"); */
}

.accordion-body {
    padding: 35px;
}

.accordion-item {
    border: none !important;

}

.accordion-header {
    border: 1px solid;
    border-radius: 10px;
    background: black;
}

.accordion-button:focus,
.accordion-button:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.accordion-button {
    padding: 25px;
    border-radius: 10px;
}

.accordion-button,
.collapsed {
    border-radius: 10px;
}

.accordion-item:first-of-type>.accordion-header .accordion-button,
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border-radius: 10px;

}

.addr-col-2 {
    min-width: 342px;
}

.frame-2-head>.txt>h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 600;
}

.desc p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400 !important;
}

.name h4 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}

.address p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.questions button {

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.question h4 {

    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

}

.ans p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.list p {
    font-size: 16px;
    font-weight: 400 !important;
    line-height: 25px;
}

@media (min-width:575.98px) and (max-width:768px) {

    .addresses .address {
        padding: 0.5rem !important;
    }
}

@media (max-width: 575.98px) {
    .num-cont {
        padding: 25px 0px 10px 0px;
    }

    .num-cont>div h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .socials .email a,
    .socials .phone a {
        font-size: 14px;
        line-height: 23px;
    }

    .w-50,
    .w-75 {
        width: 100% !important;
    }

    .email p,
    .phone p {
        font-size: 12px;
    }

    .numbers-section::before {

        height: 15%;
    }

    .addr-col-2 {
        min-width: 270px;
    }

    .our-process-btn {
        font-size: 10px;
        line-height: 20px;
        padding: 5px 12px 5px 12px;
    }

    .frame-2-head>.txt>h1 {
        font-size: 22px;
        line-height: 30px;
    }

    .desc p {
        font-size: 16px;
        line-height: 25px;
    }

    .name h4 {
        font-size: 20px;
        line-height: 25px;
    }

    .address p {
        font-size: 12px;
        line-height: 20px;
    }

    .questions button {
        font-size: 14px;
        line-height: 15px;
    }

    .question h4 {

        font-size: 16px;
        line-height: 20px;

    }

    .list p {
        font-size: 12px;
        font-weight: 400;
        line-height: 23.1px;
    }

    .ans p {
        font-size: 12px;
        line-height: 23px;
    }
}