<div class="container-fluid about-us">
    <div class="container p-0 p-lg-auto">
        <div class="quote mt-5 w-100 ">
            <div class="container-fluid  p-0 p-lg-auto numbers w-100">
                <div class="numbers-section p-0 p-lg-auto position-relative rounded-3 container-fluid h-100 w-100">
                    <div class="num-cont">
                        <div class="d-flex gap-3  flex-column justify-content-center align-items-center">
                            <h1 class="text-white">Get In Touch</h1>
                            <div
                                class="socials d-flex flex-wrap w-50 justify-content-lg-evenly gap-3 justify-content-center">
                                <div class="email d-flex justify-content-start align-items-end">
                                    <i class="fa-solid fa-envelope mx-2 fs-5"></i>
                                    <a style="color: white;" href="mailto:sales@quantumitinnovation.com"
                                        class="mb-0 fw-bold mx-2 text-decoration-underline ">
                                        sales@quantumitinnovation.com
                                    </a>
                                </div>
                                <div class="phone d-flex justify-content-start align-items-end">
                                    <i class="fa-solid fa-phone mx-2 fs-5"></i>
                                    <a style="color: white;" href="tel:91 971 799 8517"
                                        class="mb-0 fw-bold mx-2 text-decoration-none ">+ 91
                                        971 799 8517</a>
                                </div>
                            </div>
                        </div>
                        <div class="container p-0 p-lg-auto pt-5 mt-5 rounded-5 form-container"
                            [ngStyle]="{'background':isDarkMode?'#111111':'#ECF0FF'}">
                            <app-form></app-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="heading d-flex flex-column mb-lg-5 mb-lg-0 mt-4 mt-lg-0 flex-lg-row justify-content-between align-items-center">
            <div class="text frame-2-head w-100 d-flex align-items-center flex-column ">
                <div class="button align-self-center">
                    <button class="our-process-btn">
                        Our Availability
                    </button>
                </div>
                <div class="txt w-100 mt-3">
                    <h1 class="text-align-center text-capitalize">
                        We’re Global and Growing
                    </h1>
                </div>
                <div class="desc w-50 align-items-center">
                    <p class=" opacity-50 text-align-center">
                        Building an enterprise level site doesn't need nightmare or cost your thousands. Felix is
                        purpose built
                    </p>
                </div>
            </div>
        </div>

        <div class="container addresses">
            <div class="d-flex justify-content-center align-items-center">
                <div class="addr-cont gap-3 d-flex flex-wrap justify-content-center">
                    <div [ngStyle]="{'background':isDarkMode?'#111111':'#ECF0FF'}"
                        class="address p-4  rounded-3 align-items-center flex-column gap-4 d-flex justify-content-center">
                        <div class="image">
                            <img src="../../../../assets/contact/USA.svg" alt="">
                        </div>
                        <div class="name">
                            <h4>United States</h4>
                        </div>
                        <div class="address w-75">
                            <p class=" opacity-50 text-align-center">
                                173 E Columbine LN, Westfield, Indiana <br> 46074-9741.
                            </p>
                        </div>
                    </div>
                    <div [ngStyle]="{'background':isDarkMode?'#111111':'#ECF0FF'}"
                        class="address p-4  rounded-3 align-items-center flex-column gap-4 d-flex justify-content-center">
                        <div class="image">
                            <img src="../../../../assets/contact/IND.svg" alt="">
                        </div>
                        <div class="name">
                            <h4>India</h4>
                        </div>
                        <div class="address w-75">
                            <p class=" opacity-50 text-align-center">
                                H-11, 1st Floor, Sector 63, Noida - 201301
                            </p>
                        </div>
                    </div>
                    <div [ngStyle]="{'background':isDarkMode?'#111111':'#ECF0FF'}"
                        class="address p-4  rounded-3 align-items-center flex-column gap-4 d-flex justify-content-center">
                        <div class="image">
                            <img src="../../../../assets/contact/uk.svg" alt="">
                        </div>
                        <div class="name">
                            <h4>United Kingdom</h4>
                        </div>
                        <div class="address w-75">
                            <p class=" opacity-50 text-align-center">
                                55/123 Norman Street,
                                Sydney NSW 20
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="heading d-flex flex-column mt-5 mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center">
            <div class="text frame-2-head w-100 d-flex align-items-center flex-column ">
                <div class="button align-self-center">
                    <button class="our-process-btn">
                        Questions Asked
                    </button>
                </div>
                <div class="txt w-100 mt-3">
                    <h1 class="text-align-center text-capitalize">
                        Frequently Asked Questions
                    </h1>
                </div>
            </div>
        </div>

        <div class="container questions">
            <div class="container w-75">
                <div class="accordion" [ngClass]="isDarkMode ? '' : 'accordion-light'"
                    id="accordionPanelsStayOpenExample">
                    <div *ngFor="let faq of faqs; let i = index" class="accordion-item my-3">
                        <h2 class="accordion-header border-bottom-0">
                            <button [ngClass]="isDarkMode ? 'text-white' : 'text-black'"
                                class="accordion-button border-0" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#faqCollapse' + i" aria-expanded="true"
                                [attr.aria-controls]="'faqCollapse' + i">
                                {{faq.question}}?
                            </button>
                        </h2>
                        <div [id]="'faqCollapse' + i" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p class="opacity-50">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    been the industry's standard dummy text ever since the
                                </p>
                                <div class="list">
                                    <ul class="list-unstyled">
                                        <li class="d-flex align-items-center list-unstyled my-3"
                                            *ngFor="let check of faq.keyPoints">
                                            <i [ngClass]="isDarkMode ? 'text-white' : 'text-black'"
                                                class="fa-solid fa-check mx-2"></i>
                                            <p class="fw-light m-0 list-check">{{check}}</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="question">
                                    <h4>{{faq.question}}?</h4>
                                </div>
                                <div class="ans">
                                    <p class="opacity-50">
                                        {{faq.answer}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>