<div class="container-fluid portfolio">
    <div class="container d-flex flex-column">
        <div class="container numbers w-100 my-5">
            <div class="numbers-section rounded-3 d-flex align-items-center justify-content-center container w-100">
                <div class="latest-news d-flex text-align-center w-75 justify-content-center align-content-center">
                    <div class="text-white">
                        <div class="miletone-number fw-bolder">
                            <h1>
                                Our Portfolio
                            </h1>
                        </div>
                        <div class="miletone-title fw-light">
                            <p>Welcome to quantum, where collaboration, expertise, and client-centricity intersect
                                to shape the <br> future of digital innovation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 heading w-100 h-100 d-flex flex-column align-items-center justify-content-center">
            <div class="button align-self-center">
                <button class="our-service-btn">
                    Our Portfolio
                </button>
            </div>
            <div class="sec4-headline w-100 mt-3 ">
                <h1 class="service-tagline text-align-center text-capitalize">
                    Our Portfolio
                </h1>
            </div>
            <div class="desc align-self-center mt-3 w-50">
                <p class=" opacity-50 text-align-center">
                    At Estatein, we've designed a straightforward process to help you find and purchase your dream
                    property with ease. Here's a step-by-step guide to how it all works.
                </p>
            </div>
        </div>
        <div class="container mt-4 categories d-flex justify-content-center w-100">
            <div class="container gap-3 gap-lg-0 d-flex flex-wrap w-75 justify-content-evenly ">
                <div class="button">
                    <button (click)="changeTab('all')"
                        [ngStyle]="{'background':activeTab==='all'?'linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%)':''}"
                        [ngClass]="isDarkTheme?'category-btn':'category-btn-light'" class="btn w-100">All
                        Work</button>
                </div>
                <div class="button">
                    <button (click)="changeTab('web-design')"
                        [ngStyle]="{'background':activeTab==='web-design'?'linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%)':''}"
                        [ngClass]="isDarkTheme?'category-btn':'category-btn-light'" class="btn w-100">Web
                        Design</button>
                </div>
                <div class="button">
                    <button (click)="changeTab('app')"
                        [ngStyle]="{'background':activeTab==='app'?'linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%)':''}"
                        [ngClass]="isDarkTheme?'category-btn':'category-btn-light'" class="btn w-100">App
                        design</button>
                </div>
                <div class="button">
                    <button (click)="changeTab('web-app')"
                        [ngStyle]="{'background':activeTab==='web-app'?'linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%)':''}"
                        [ngClass]="isDarkTheme?'category-btn':'category-btn-light'" class="btn w-100">Web
                        App</button>
                </div>
            </div>
        </div>
        <div class="container-fluid my-4 apps">
            <div class="d-flex justify-content-center apps-container">
                <div class="w-100 d-flex justify-content-evenly gap-3 gap-lg-0">
                    <div class="app1-cont d-flex flex-column gap-3">
                        <div class="app p-3 rounded-3" [ngStyle]="{'background-color':isDarkTheme?'#111111':'#ECF0FF'}">
                            <img src="../../../../assets/portfolio/view-project.svg" class="view-project" alt="">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    src="../../../../assets/portfolio/app1.svg" alt="">
                            </div>
                            <div class="app-detail  mt-4">
                                <h3>
                                    Website Design
                                </h3>
                                <p>
                                    Web Design
                                </p>
                            </div>
                        </div>
                        <div class="app p-3 rounded-3" [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}">
                            <img src="../../../../assets/portfolio/view-project.svg" class="view-project" alt="">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    src="../../../../assets/portfolio/app3.svg" alt="">
                            </div>
                            <div class="app-detail  mt-4">
                                <h3>
                                    Website Design
                                </h3>
                                <p>
                                    Web Design
                                </p>
                            </div>
                        </div>
                        <div class="app p-3 rounded-3" [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}">
                            <img src="../../../../assets/portfolio/view-project.svg" class="view-project" alt="">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    src="../../../../assets/portfolio/app5.svg" alt="">
                            </div>
                            <div class="app-detail  mt-4">
                                <h3>
                                    Website Design
                                </h3>
                                <p>
                                    Web Design
                                </p>
                            </div>
                        </div>
                        <div class="app p-3 rounded-3" [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}">
                            <img src="../../../../assets/portfolio/view-project.svg" class="view-project" alt="">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    src="../../../../assets/portfolio/app7.svg" alt="">
                            </div>
                            <div class="app-detail  mt-4">
                                <h3>
                                    Website Design
                                </h3>
                                <p>
                                    Web Design
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="app2-cont gap-3 justify-content-center d-flex flex-column">
                        <div class="app p-3 rounded-3" [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}">
                            <div class="app-img">
                                <img src="../../../../assets/portfolio/view-project.svg" class="view-project" alt="">
                                <img class="rounded-3" width="400" height="550"
                                    src="../../../../assets/portfolio/app2.svg" alt="">
                            </div>
                            <div class="app-detail  mt-4">
                                <h3>
                                    Website Design
                                </h3>
                                <p>
                                    Web Design
                                </p>
                            </div>
                        </div>
                        <div class="app p-3 rounded-3" [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}">
                            <img src="../../../../assets/portfolio/view-project.svg" class="view-project" alt="">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    src="../../../../assets/portfolio/app4.svg" alt="">
                            </div>
                            <div class="app-detail  mt-4">
                                <h3>
                                    Website Design
                                </h3>
                                <p>
                                    Web Design
                                </p>
                            </div>
                        </div>
                        <div class="app p-3 rounded-3" [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}">
                            <img src="../../../../assets/portfolio/view-project.svg" class="view-project" alt="">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    src="../../../../assets/portfolio/app6.svg" alt="">
                            </div>
                            <div class="app-detail  mt-4">
                                <h3>
                                    Website Design
                                </h3>
                                <p>
                                    Web Design
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>