<div class="container-fluid portfolio">
    <div class="container d-flex flex-column">
        <div class="container numbers w-100 my-5">
            <div class="numbers-section rounded-3 d-flex align-items-center justify-content-center container w-100">
                <div class="latest-news d-flex text-align-center w-75 justify-content-center align-content-center">
                    <div class="text-white">
                        <div class="milestone-number">
                            <h1 class="">
                                Our Portfolio
                            </h1>
                        </div>
                        <div class="milestone-title">
                            <p class="">Explore our diverse portfolio of digital solutions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container heading w-100 h-100 d-flex flex-column align-items-center justify-content-center">
            <div class="desc align-self-center mt-3 w-75">
                <p class="opacity-50 text-align-center">
                    Proud projects that make us stand out
                </p>
            </div>
        </div>
        <div class="container mt-4 categories d-flex justify-content-center w-100">
            <div class="container gap-3 gap-lg-0 d-flex flex-wrap w-75 justify-content-evenly">
                <div class="button">
                    <button (click)="fetchProjects()"
                        [ngStyle]="{'background':activeTab==='all'?'linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%)':''}"
                        [ngClass]="isDarkTheme?'category-btn':'category-btn-light'" class="btn w-100">All
                        Work</button>
                </div>
                <div class="button">
                    <button (click)="fetchWebProjects()"
                        [ngStyle]="{'background':activeTab==='Web Development'?'linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%)':''}"
                        [ngClass]="isDarkTheme?'category-btn':'category-btn-light'" class="btn w-100">Web
                        Design</button>
                </div>
                <div class="button">
                    <button (click)="fetchAppProjects()"
                        [ngStyle]="{'background':activeTab==='Mobile App'?'linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%)':''}"
                        [ngClass]="isDarkTheme?'category-btn':'category-btn-light'" class="btn w-100">App
                        Design</button>
                </div>
                <div class="button">
                    <button (click)="webAppTab()"
                        [ngStyle]="{'background':activeTab==='Web App'?'linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%)':''}"
                        [ngClass]="isDarkTheme?'category-btn':'category-btn-light'" class="btn w-100">Web
                        App</button>
                </div>
                <div class="button">
                    <button (click)="dmTab()"
                        [ngStyle]="{'background':activeTab==='Digital Marketing'?'linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%)':''}"
                        [ngClass]="isDarkTheme?'category-btn':'category-btn-light'" class="btn w-100">Digital
                        Marketing</button>
                </div>
            </div>
        </div>
        <div class="container-fluid my-4 apps">
            <div class="d-flex justify-content-center align-items-center mb-3" *ngIf="loadingStatus">
                <div class="spinner-border text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="d-flex justify-content-center apps-container">
                <div class="w-100 d-flex justify-content-evenly gap-3 gap-lg-0">
                    <div class="app1-cont d-flex flex-column gap-3">
                        <div *ngIf="filteredProjects[0]" class="app p-3 rounded-3"
                            [ngStyle]="{'background-color':isDarkTheme?'#111111':'#ECF0FF'}">
                            <img (click)="scrollToTop()"
                                [routerLink]="(filteredProjects[0].category[0] === 'Web Development' || filteredProjects[0].category[0] === 'Web App') ? '/web-development/details/' + filteredProjects[0]._id : '/app-development/app-details/' + filteredProjects[0]._id"
                                src="../../../../assets/portfolio/view-project.svg" class="view-project" alt="">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    [src]="filteredProjects[0].portfolioImage?filteredProjects[0].portfolioImage:'../../../../assets/portfolio/app1.svg'"
                                    alt="">
                            </div>
                            <div class="app-detail mt-4">
                                <h3>
                                    {{filteredProjects[0]?.name}}
                                </h3>
                                <p>
                                    {{filteredProjects[0]?.category[0]}}
                                </p>
                            </div>
                        </div>
                        <div *ngIf="filteredProjects[2]" class="app p-3 rounded-3"
                            [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}">
                            <img (click)="scrollToTop()"
                                [routerLink]="(filteredProjects[2].category[0] === 'Web Development' || filteredProjects[2].category[0] === 'Web App') ? '/web-development/details/' + filteredProjects[2]._id : '/app-development/app-details/' + filteredProjects[2]._id"
                                src="../../../../assets/portfolio/view-project.svg" class="view-project" alt="">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    [src]="filteredProjects[2].portfolioImage?filteredProjects[2].portfolioImage:'../../../../assets/portfolio/app2.svg'"
                                    alt="">
                            </div>
                            <div class="app-detail mt-4">
                                <h3>
                                    {{filteredProjects[2]?.name}}
                                </h3>
                                <p>
                                    {{filteredProjects[2]?.category[0]}}
                                </p>
                            </div>
                        </div>
                        <div *ngIf="filteredProjects[4]" class="app p-3 rounded-3"
                            [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}">
                            <img (click)="scrollToTop()"
                                [routerLink]="(filteredProjects[4].category[0] === 'Web Development' || filteredProjects[4].category[0] === 'Web App') ? '/web-development/details/' + filteredProjects[4]._id : '/app-development/app-details/' + filteredProjects[4]._id"
                                src="../../../../assets/portfolio/view-project.svg" class="view-project" alt="">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    [src]="filteredProjects[4].portfolioImage?filteredProjects[4].portfolioImage:'../../../../assets/portfolio/app3.svg'"
                                    alt="">
                            </div>
                            <div class="app-detail mt-4">
                                <h3>
                                    {{filteredProjects[4]?.name}}
                                </h3>
                                <p>
                                    {{filteredProjects[4]?.category[0]}}
                                </p>
                            </div>
                        </div>
                        <div *ngIf="filteredProjects[6]" class="app p-3 rounded-3"
                            [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}">
                            <img (click)="scrollToTop()"
                                [routerLink]="(filteredProjects[6].category[0] === 'Web Development' || filteredProjects[6].category[0] === 'Web App') ? '/web-development/details/' + filteredProjects[6]._id : '/app-development/app-details/' + filteredProjects[6]._id"
                                src="../../../../assets/portfolio/view-project.svg" class="view-project" alt="">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    [src]="filteredProjects[6].portfolioImage?filteredProjects[6].portfolioImage:'../../../../assets/portfolio/app7.svg'"
                                    alt="">
                            </div>
                            <div class="app-detail mt-4">
                                <h3>
                                    {{filteredProjects[6]?.name}}
                                </h3>
                                <p>
                                    {{filteredProjects[6]?.category[0]}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="app2-cont gap-3 justify-content-center d-flex flex-column">
                        <div *ngIf="filteredProjects[1]" class="app p-3 rounded-3"
                            [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}">
                            <div class="app-img">
                                <img (click)="scrollToTop()"
                                    [routerLink]="(filteredProjects[1].category[0] === 'Web Development' || filteredProjects[1].category[0] === 'Web App') ? '/web-development/details/' + filteredProjects[1]._id : '/app-development/app-details/' + filteredProjects[1]._id"
                                    src="../../../../assets/portfolio/view-project.svg" class="view-project" alt="">
                                <img class="rounded-3" width="400" height="550"
                                    [src]="filteredProjects[1].portfolioImage?filteredProjects[1].portfolioImage:'../../../../assets/portfolio/app2.svg'"
                                    alt="">
                            </div>
                            <div class="app-detail mt-4">
                                <h3>
                                    {{filteredProjects[1]?.name}}
                                </h3>
                                <p>
                                    {{filteredProjects[1]?.category[0]}}
                                </p>
                            </div>
                        </div>
                        <div *ngIf="filteredProjects[3]" class="app p-3 rounded-3"
                            [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}">
                            <img (click)="scrollToTop()"
                                [routerLink]="(filteredProjects[3].category[0] === 'Web Development' || filteredProjects[3].category[0] === 'Web App') ? '/web-development/details/' + filteredProjects[3]._id : '/app-development/app-details/' + filteredProjects[3]._id"
                                src="../../../../assets/portfolio/view-project.svg" class="view-project" alt="">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    [src]="filteredProjects[3].portfolioImage?filteredProjects[3].portfolioImage:'../../../../assets/portfolio/app4.svg'"
                                    alt="">
                            </div>
                            <div class="app-detail mt-4">
                                <h3>
                                    {{filteredProjects[3].name}}
                                </h3>
                                <p>
                                    {{filteredProjects[3]?.category[0]}}
                                </p>
                            </div>
                        </div>
                        <div *ngIf="filteredProjects[5]" class="app p-3 rounded-3"
                            [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}">
                            <img (click)="scrollToTop()"
                                [routerLink]="(filteredProjects[5].category[0] === 'Web Development' || filteredProjects[5].category[0] === 'Web App') ? '/web-development/details/' + filteredProjects[5]._id : '/app-development/app-details/' + filteredProjects[5]._id"
                                src="../../../../assets/portfolio/view-project.svg" class="view-project" alt="">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    [src]="filteredProjects[5].portfolioImage?filteredProjects[5].portfolioImage:'../../../../assets/portfolio/app6.svg'"
                                    alt="">
                            </div>
                            <div class="app-detail mt-4">
                                <h3>
                                    {{filteredProjects[5]?.name}}
                                </h3>
                                <p>
                                    {{filteredProjects[5]?.category[0]}}
                                </p>
                            </div>
                        </div>
                        <div *ngIf="filteredProjects[7]" class="app p-3 rounded-3"
                            [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}">
                            <img (click)="scrollToTop()"
                                [routerLink]="(filteredProjects[7].category[0] === 'Web Development' || filteredProjects[7].category[0] === 'Web App') ? '/web-development/details/' + filteredProjects[5]._id : '/app-development/app-details/' + filteredProjects[7]._id"
                                src="../../../../assets/portfolio/view-project.svg" class="view-project" alt="">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    [src]="filteredProjects[7].portfolioImage?filteredProjects[7].portfolioImage:'../../../../assets/portfolio/app6.svg'"
                                    alt="">
                            </div>
                            <div class="app-detail mt-4">
                                <h3>
                                    {{filteredProjects[7]?.name}}
                                </h3>
                                <p>
                                    {{filteredProjects[7]?.category[0]}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>