<div class="container-fluid portfolio">
    <div class="container d-flex flex-column">
        <div class="container numbers w-100 my-5">
            <div class="numbers-section rounded-3 d-flex align-items-center justify-content-center container w-100">
                <div class="latest-news d-flex text-align-center w-75 justify-content-center align-content-center">
                    <div class="text-white">
                        <div class="miletone-number fw-bolder">
                            <h1>
                                Our Portfolio
                            </h1>
                        </div>
                        <div class="miletone-title fw-light">
                            <p>Welcome to quantum, where collaboration, expertise, and client-centricity intersect
                                to shape the future of digital innovation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 heading w-100 h-100 d-flex flex-column align-items-center justify-content-center">
            <div class="button align-self-center">
                <button class="our-service-btn">
                    Our Portfolio
                </button>
            </div>
            <div class="sec4-headline w-100 mt-3 text-white">
                <h1 class="service-tagline text-align-center text-capitalize">
                    Our Portfolio
                </h1>
            </div>
            <div class="desc align-self-center mt-3 w-50">
                <p class="text-white opacity-50 text-align-center">
                    At Estatein, we've designed a straightforward process to help you find and purchase your dream
                    property with ease. Here's a step-by-step guide to how it all works.
                </p>
            </div>
        </div>
        <div class="container mt-4 categories d-flex justify-content-center w-100">
            <div class="container d-flex w-75 justify-content-evenly text-white">
                <div class="button">
                    <button class="category-selected">All Work</button>
                </div>
                <div class="button">
                    <button class="category-btn">Web Design</button>
                </div>
                <div class="button">
                    <button class="category-btn">App design</button>
                </div>
                <div class="button">
                    <button class="category-btn">Web App</button>
                </div>
            </div>
        </div>
        <div class="container-fluid my-4 apps">
            <div class="d-flex justify-content-center apps-container">
                <div class="w-100 d-flex justify-content-evenly">
                    <div class="app1-cont d-flex flex-column gap-3">
                        <div class="app p-3 rounded-3">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    src="https://s3-alpha-sig.figma.com/img/f629/da58/b501117fa72d288c476f498c5d4c238d?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Hr6wd53NyrRUh1hbrlZncTocLUc3qKrXHjN99JJFdffsmH5AtfMLVszvUMNEM9cdhrmMqB7zh5cjLZ809SbhDhq50kUMU-QmYcpCzwpFt34P~yUYurZyjM8AOCGuz8IwNBTBsZYT26LqCyVyrx2HcEliGwHqzNSgTQMOYMi4b2aP5JhpPtEv6VcazFZXOoXu9HK6AMP6Z5iT9~jrs0x~4moOgxr7tBeeLx-JAbBAh1snNgYpA6EFhVPFIA8o-tL0pAVSMEUef9UMM7OiEzoLg-JQ92YxumbEedXVXMHUSx6Xv3NI~V1XQz7iD-HGnPruUVhjUNLVtRk3GfMFVxyS2A__"
                                    alt="">
                            </div>
                            <div class="app-detail text-white mt-4">
                                <h3>
                                    Website Design
                                </h3>
                                <p>
                                    Web Design
                                </p>
                            </div>
                        </div>
                        <div class="app p-3 rounded-3">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    src="https://s3-alpha-sig.figma.com/img/f629/da58/b501117fa72d288c476f498c5d4c238d?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Hr6wd53NyrRUh1hbrlZncTocLUc3qKrXHjN99JJFdffsmH5AtfMLVszvUMNEM9cdhrmMqB7zh5cjLZ809SbhDhq50kUMU-QmYcpCzwpFt34P~yUYurZyjM8AOCGuz8IwNBTBsZYT26LqCyVyrx2HcEliGwHqzNSgTQMOYMi4b2aP5JhpPtEv6VcazFZXOoXu9HK6AMP6Z5iT9~jrs0x~4moOgxr7tBeeLx-JAbBAh1snNgYpA6EFhVPFIA8o-tL0pAVSMEUef9UMM7OiEzoLg-JQ92YxumbEedXVXMHUSx6Xv3NI~V1XQz7iD-HGnPruUVhjUNLVtRk3GfMFVxyS2A__"
                                    alt="">
                            </div>
                            <div class="app-detail text-white mt-4">
                                <h3>
                                    Website Design
                                </h3>
                                <p>
                                    Web Design
                                </p>
                            </div>
                        </div>
                        <div class="app p-3 rounded-3">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    src="https://s3-alpha-sig.figma.com/img/f629/da58/b501117fa72d288c476f498c5d4c238d?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Hr6wd53NyrRUh1hbrlZncTocLUc3qKrXHjN99JJFdffsmH5AtfMLVszvUMNEM9cdhrmMqB7zh5cjLZ809SbhDhq50kUMU-QmYcpCzwpFt34P~yUYurZyjM8AOCGuz8IwNBTBsZYT26LqCyVyrx2HcEliGwHqzNSgTQMOYMi4b2aP5JhpPtEv6VcazFZXOoXu9HK6AMP6Z5iT9~jrs0x~4moOgxr7tBeeLx-JAbBAh1snNgYpA6EFhVPFIA8o-tL0pAVSMEUef9UMM7OiEzoLg-JQ92YxumbEedXVXMHUSx6Xv3NI~V1XQz7iD-HGnPruUVhjUNLVtRk3GfMFVxyS2A__"
                                    alt="">
                            </div>
                            <div class="app-detail text-white mt-4">
                                <h3>
                                    Website Design
                                </h3>
                                <p>
                                    Web Design
                                </p>
                            </div>
                        </div>
                        <div class="app p-3 rounded-3">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    src="https://s3-alpha-sig.figma.com/img/f629/da58/b501117fa72d288c476f498c5d4c238d?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Hr6wd53NyrRUh1hbrlZncTocLUc3qKrXHjN99JJFdffsmH5AtfMLVszvUMNEM9cdhrmMqB7zh5cjLZ809SbhDhq50kUMU-QmYcpCzwpFt34P~yUYurZyjM8AOCGuz8IwNBTBsZYT26LqCyVyrx2HcEliGwHqzNSgTQMOYMi4b2aP5JhpPtEv6VcazFZXOoXu9HK6AMP6Z5iT9~jrs0x~4moOgxr7tBeeLx-JAbBAh1snNgYpA6EFhVPFIA8o-tL0pAVSMEUef9UMM7OiEzoLg-JQ92YxumbEedXVXMHUSx6Xv3NI~V1XQz7iD-HGnPruUVhjUNLVtRk3GfMFVxyS2A__"
                                    alt="">
                            </div>
                            <div class="app-detail text-white mt-4">
                                <h3>
                                    Website Design
                                </h3>
                                <p>
                                    Web Design
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="app2-cont gap-3 justify-content-center d-flex flex-column">
                        <div class="app p-3 rounded-3">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    src="https://s3-alpha-sig.figma.com/img/f629/da58/b501117fa72d288c476f498c5d4c238d?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Hr6wd53NyrRUh1hbrlZncTocLUc3qKrXHjN99JJFdffsmH5AtfMLVszvUMNEM9cdhrmMqB7zh5cjLZ809SbhDhq50kUMU-QmYcpCzwpFt34P~yUYurZyjM8AOCGuz8IwNBTBsZYT26LqCyVyrx2HcEliGwHqzNSgTQMOYMi4b2aP5JhpPtEv6VcazFZXOoXu9HK6AMP6Z5iT9~jrs0x~4moOgxr7tBeeLx-JAbBAh1snNgYpA6EFhVPFIA8o-tL0pAVSMEUef9UMM7OiEzoLg-JQ92YxumbEedXVXMHUSx6Xv3NI~V1XQz7iD-HGnPruUVhjUNLVtRk3GfMFVxyS2A__"
                                    alt="">
                            </div>
                            <div class="app-detail text-white mt-4">
                                <h3>
                                    Website Design
                                </h3>
                                <p>
                                    Web Design
                                </p>
                            </div>
                        </div>
                        <div class="app p-3 rounded-3">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    src="https://s3-alpha-sig.figma.com/img/f629/da58/b501117fa72d288c476f498c5d4c238d?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Hr6wd53NyrRUh1hbrlZncTocLUc3qKrXHjN99JJFdffsmH5AtfMLVszvUMNEM9cdhrmMqB7zh5cjLZ809SbhDhq50kUMU-QmYcpCzwpFt34P~yUYurZyjM8AOCGuz8IwNBTBsZYT26LqCyVyrx2HcEliGwHqzNSgTQMOYMi4b2aP5JhpPtEv6VcazFZXOoXu9HK6AMP6Z5iT9~jrs0x~4moOgxr7tBeeLx-JAbBAh1snNgYpA6EFhVPFIA8o-tL0pAVSMEUef9UMM7OiEzoLg-JQ92YxumbEedXVXMHUSx6Xv3NI~V1XQz7iD-HGnPruUVhjUNLVtRk3GfMFVxyS2A__"
                                    alt="">
                            </div>
                            <div class="app-detail text-white mt-4">
                                <h3>
                                    Website Design
                                </h3>
                                <p>
                                    Web Design
                                </p>
                            </div>
                        </div>
                        <div class="app p-3 rounded-3">
                            <div class="app-img">
                                <img class="rounded-3" width="400" height="550"
                                    src="https://s3-alpha-sig.figma.com/img/f629/da58/b501117fa72d288c476f498c5d4c238d?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Hr6wd53NyrRUh1hbrlZncTocLUc3qKrXHjN99JJFdffsmH5AtfMLVszvUMNEM9cdhrmMqB7zh5cjLZ809SbhDhq50kUMU-QmYcpCzwpFt34P~yUYurZyjM8AOCGuz8IwNBTBsZYT26LqCyVyrx2HcEliGwHqzNSgTQMOYMi4b2aP5JhpPtEv6VcazFZXOoXu9HK6AMP6Z5iT9~jrs0x~4moOgxr7tBeeLx-JAbBAh1snNgYpA6EFhVPFIA8o-tL0pAVSMEUef9UMM7OiEzoLg-JQ92YxumbEedXVXMHUSx6Xv3NI~V1XQz7iD-HGnPruUVhjUNLVtRk3GfMFVxyS2A__"
                                    alt="">
                            </div>
                            <div class="app-detail text-white mt-4">
                                <h3>
                                    Website Design
                                </h3>
                                <p>
                                    Web Design
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>