.numbers {
  height: 100%;
  width: 100%;
  position: relative;
}

.numbers-section {
  padding: 69.5px 60px;
  background: linear-gradient(90deg, #43baff 0%, #7141b1 100%);
}
h1 {
  font-size: 48px;
  line-height: 60.48px;
  font-weight: 600;
}
h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.pricing-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.pricing-card {
  background-color: rgb(17, 17, 17);
  border-radius: 20px;
  padding: 20px;
  width: 330px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

  position: relative;
}

.pricing-card.best-value {
  position: relative;
  border-radius: 16px;
  background-clip: padding-box;
}
.pricing-card.best-value::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 5px;
  background: linear-gradient(90deg, #43baff 0%, #7141b1 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
}
.our-service-btn {
  width: fit-content;
  font-size: small;
  padding: 5px 10px;
  border-radius: 32px;
  border: 1px solid #0099ff;
  background: linear-gradient(91.58deg, #43baff, #7044b3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pricing-card .price {
  font-size: 38px;
  margin-left: 5px;
  margin-bottom: 10px;
  font-weight: 700;
}
.currency {
  font-size: 28px;
  margin-top: 5px;
  color: rgb(179, 179, 179);
}
.pricing-card .description {
  font-size: 16px;
  margin-bottom: 20px;
}

.pricing-card .buy-button {
  display: inline-block;
  background: linear-gradient(91.58deg, #43baff, #7044b3);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 0px;
  padding: 15px 0px;
  width: 100%;
  box-shadow: 0px 5px 15px 0px rgba(51, 160, 255, 0.861);
  margin-bottom: 30px;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  text-align: left;
  font-size: 14px;
  margin-top: 20px;
}

.pricing-card ul li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.pricing-card ul li span {
  padding: 2px;
  padding-top: 0px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 60%;
  margin-right: 10px;
  background: linear-gradient(91.58deg, #43baff, #7044b3);
}
.buy-button div {
  text-align: center;
}
.buy-button span {
  margin-left: 90px;
  margin-right: 10px;
}
.badge {
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #43baff 0%, #7141b1 100%);
  color: white;
  padding: 5px 20px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 16px;
}
.cursor {
  margin-left: 55%;
  position: absolute;
  top: 0;
}
@media (max-width: 768px) {
  .pricing-card.best-value {
    padding: 20px;
  }
  .d-none {
    display: none;
  }
  .best-value {
    font-size: 18px;
    padding: 5px;
  }
  .our-service-btn {
    font-size: 10px;
    line-height: 20px;
    padding: 5px 12px 5px 12px;
  }
  .numbers-section {
    padding: 40px 20px;
  }
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  h4 {
    font-size: 14px;
    line-height: 20px;
  }
  .pricing-container {
    flex-direction: column;
    gap: 15px;
    margin: 37px;
    margin-top: 50px;
  }
  .pricing-card {
    height: 650px;
    width: 328px;
    padding: 25px, 20px, 25px, 20px;
    margin-bottom: 30px;
  }
  .our-service-btn {
    font-size: 15px;
  }
  .pricing-card .price {
    font-size: 48px;
    margin-bottom: 8px;
  }
  .currency {
    font-size: 28px;
  }
  .pricing-card .description {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .pricing-card ul {
    font-size: 12px;
    margin: 15px 0;
    margin-top: 48px;
  }
  .pricing-card ul li {
    gap: 12px;
    font-size: 18px;
    line-height: 28.8px;
    margin-bottom: 8px;
  }
  .pricing-card ul li span {
    width: 24px;
    height: 24px;
  }
  .pricing-card ul li span svg {
    margin-bottom: 8px;
  }
  .buy-button {
    font-size: 17px;
    padding: 10px 0px;
    margin: 15px 0px;
    width: 288px;
    height: 60px;
  }
  .buy-button span {
    margin-left: 35%;
  }
  .buy-button div {
    margin-top: 3px;
  }
  .badge {
    padding-top: 7px;
    font-size: 14px;
    top: -23px;
  }
}
