<div class="container h-auto w-100" style="background: linear-gradient(0deg, #000000, #000000),
linear-gradient(248.66deg, #000000 0%, #1A1B1E 98.1%);
">
    <div class="container frame-1 d-flex flex-column justify-content-end align-items-end">
        <div data-aos="fade-in"
            class="heading w-100 h-100 d-flex flex-column align-items-center justify-content-center ">
            <h1 class="tagline text-center fw-bolder w-lg-50">Supreme
                <span class="linear-text">Web Development </span>Solutions
            </h1>
            <p class="fs-5 text-align-center">
                Top-tier web development services, tailored to perfection
                for your digital needs.
            </p>
            <div class="buttons d-flex justify-content-center w-100 mt-3">
                <button class="btn btn-primary mx-3 px-2 px-lg-4 py-3" (click)="scrollToForm()">Get Started</button>
                <button class="btn btn-outline-primary mx-3 px-2 px-lg-4 py-3 text-uppercase "
                    (click)="scrollToProcess()">learn
                    More</button>
            </div>
        </div>
        <div data-aos="slide-up" class="image w-100 h-50">
            <img src="https://s3-alpha-sig.figma.com/img/2078/9a9e/a15c9c05bac9fa0273b018164c0ac790?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=j6PtDIRKFLeE1P4IF0fzhNIYyb46v3gFHgpdDp-RESDHai9KsqcZW4vHv~Icp5zgHnocYRfrjeMh5gmgipTX6Czdf-tSkGNOjimlEmHegkYTqKgZv2Pl~vFvuxr~cubkkL4PEHwroFu78E4QxAO9uzqK5Nygi~7MrUrA9h1wRcTGv9kgNdyAYxwm5mYqRHKqdmQKXY7IV2SPtlVcEWARzhpabiP0Qd0hMLNPq1GAbYURFlAjUicn71E3VCjnJbKB-NwwnyZ599BsBg983aBcYoY6FuDcAbF-8RmsmEEYGysxGHtqFQKVeEfCAeClA5mBl5AxR3z09vB-8rS46sSsCA__"
                alt="">
        </div>
    </div>

</div>
<div class="frame-2 d-flex position-relative flex-column justify-content-center align-items-center">
    <div class="container w-auto h-50 position-absolute d-flex flex-column justify-content-evenly align-items-center">
        <div class=" text-align-center">
            <h1 data-aos="fade-up" class="frame-2-text">Ready to go live?</h1>
            <h1 data-aos="fade-up" class="frame-2-text">Just hit publish — no</h1>
            <h1 data-aos="fade-up" class="frame-2-text">rebuilding, no code.</h1>
        </div>
        <div class="position-relative">
            <button class="publish fs-1 fw-medium  px-lg-4">Publish</button>
            <img data-aos="fade-up" src="../../../assets/pointer.png" alt="" class="position-absolute pointer-img">
        </div>
    </div>
</div>

<div class="frame-3 mt-5 mt-lg-0 d-flex align-items-center justify-content-center mt-lg-3">
    <div id="our-process" class="container f3-container h-75 w-75 m-auto d-flex flex-column">
        <div class="heading-process ">
            <div class="button my-2" data-aos="slide-up">
                <button class="our-process-btn">Our Process</button>
            </div>

            <div class="our-process my-2" data-aos="slide-up">
                <h1>How Quantum develops top-notch websites</h1>
            </div>

            <div class="desc w-75 my-2" data-aos="slide-up">
                <p style="color:#999999">Our refined methodology guarantees premium website development, elevating
                    brands with precision.</p>
            </div>
        </div>
        <div class="steps mt-lg-4">
            <div class="row">
                <div class="col-12 col-lg-4" data-aos="fade-in" *ngFor="let steps of our_steps">
                    <div class="container">
                        <div class="step-num ">
                            {{steps.stepNo}}
                        </div>
                        <div class="step-desc">
                            <div class="title ">
                                <h2 class="our-steps-title">{{steps.title}}</h2>
                            </div>
                            <div class="details" style="color: #999999;">
                                {{steps.desc}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12" data-aos="fade-in" *ngFor="let steps of our_steps2">
                    <div class="container">
                        <div class="step-num ">
                            {{steps.stepNo}}
                        </div>
                        <div class="step-desc h-100 w-100">
                            <div class="title ">
                                <h3 class="our-steps-title">{{steps.title}}</h3>
                            </div>
                            <div class="details" style="color: #999999;">
                                {{steps.desc}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="frame-4 d-flex align-items-center justify-content-center">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <div class="head w-100 h-100 d-flex flex-column align-items-center justify-content-center">
            <div class="button my-2" data-aos="slide-up">
                <button class="our-process-btn">Our Projects</button>
            </div>

            <div class="our-process my-2 " data-aos="slide-up">
                <h1>Highlighting Our
                    Accomplished Endeavors</h1>
            </div>

            <div class="desc w-50 my-2 text-align-center" data-aos="slide-up">
                <p style="color:#999999">We help businesses from healthcare, transportation, real estate,
                    communication,
                    and other
                    industries seize new opportunities, overcome business challenges.</p>
            </div>
        </div>

        <div class="projects container">
            <div class="container h-100 w-100">
                <div data-aos="fade-in"
                    class="project-one project w-100 position-relative d-flex justify-content-center align-items-center">
                    <div class="project-container h-75 w-100 position-absolute d-flex flex-column flex-lg-row p-lg-5">
                        <div class="app-details h-100 w-100 d-flex align-items-center justify-content-center">
                            <div data-aos="fade-up"
                                class="app-details-container w-50 h-100 m-auto d-flex flex-column align-items-center align-items-lg-start justify-content-evenly ">
                                <div>
                                    <button class="app-button app-button-one">App</button>
                                </div>
                                <div class="name">
                                    <h2>Wikistrings Website</h2>
                                </div>
                                <div class="details fw-lighter text-align-center text-lg-start fs-5">
                                    We designed Wikistrings' website, an interactive platform dedicated to real-world
                                    evaluation and interaction with guitar strings.
                                </div>
                                <div routerLink="details" (click)="scrollToTop()"
                                    class="view-more fw-light d-flex align-items-center">
                                    <p class="p-0 me-4 mb-0">View More Details</p>
                                    <i class="fa fa-solid fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        <div data-aos="fade-up" class="app-image h-100 w-100">
                            <div class="container project-img-container h-100 w-100 overflow-hidden p-0">
                                <img class="project-image border-white border-3 rounded-1 w-100"
                                    src="../../../../assets/webdev/proj1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-in"
                    class="project-two project w-100 position-relative d-flex justify-content-center align-items-center">
                    <div
                        class="project-container h-75 w-100 position-absolute d-flex p-lg-5 flex-lg-row-reverse flex-column">
                        <div class="app-details h-100 w-100 d-flex align-items-center justify-content-center">
                            <div
                                class="app-details-container w-75 h-100 m-auto d-flex flex-column align-items-center align-items-lg-start justify-content-evenly ">
                                <div>
                                    <button class="app-button app-button-two">App</button>
                                </div>
                                <div class="name">
                                    <h2>Super Car Warranty</h2>
                                </div>
                                <div class="details fw-lighter text-align-center text-lg-start text-l fs-5">
                                    Designed a website for Super Car Warranty which offers car warranties, featuring
                                    unbeatable deals with extensive coverage for maximum value
                                </div>
                                <div routerLink="details" (click)="scrollToTop()"
                                    class="view-more fw-light d-flex align-items-center">
                                    <p class="p-0 me-4 mb-0">View More Details</p>
                                    <i class="fa fa-solid fa-arrow-right "></i>
                                </div>
                            </div>
                        </div>
                        <div data-aos="fade-up" class="app-image h-100 w-100">
                            <div class="container project-img-container h-100 w-100 overflow-hidden p-0">
                                <img class="project-image border-white border-3 rounded-1 w-100"
                                    src="../../../../assets/webdev/proj2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-in"
                    class="project-three project w-100 position-relative d-flex justify-content-center align-items-center">
                    <div class="project-container h-75 w-100 position-absolute d-flex flex-column flex-lg-row p-lg-5">
                        <div data-aos="fade-up"
                            class="app-details h-100 w-100 d-flex align-items-center justify-content-center">
                            <div
                                class="app-details-container w-50 h-100 m-auto d-flex flex-column align-items-center align-items-lg-start justify-content-evenly ">
                                <div>
                                    <button class="app-button app-button-three">App</button>
                                </div>
                                <div class="name">
                                    <h2>MeinHaus</h2>
                                </div>
                                <div class="details fw-lighter text-align-center text-lg-start fs-5">
                                    We created the MeinHaus website, connecting users with service providers for
                                    painting, demolition, cleaning, and appliance installation services.
                                </div>
                                <div routerLink="details" (click)="scrollToTop()"
                                    class="view-more fw-light d-flex align-items-center">
                                    <p class="p-0 me-4 mb-0">View More Details</p>
                                    <i class="fa fa-solid fa-arrow-right "></i>
                                </div>
                            </div>
                        </div>
                        <div data-aos="fade-up" class="app-image h-100 w-100">
                            <div class="container project-img-container h-100 w-100 overflow-hidden p-0">
                                <img class="project-image border-white border-3 rounded-1 w-100"
                                    src="../../../../assets/webdev/proj3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-form></app-form>