<div class="container h-auto w-100">
    <div class="container frame-1 d-flex flex-column justify-content-end align-items-end">
        <div data-aos="fade-in"
            class="heading w-100 h-100 d-flex flex-column align-items-center justify-content-center ">
            <h1 class="tagline text-center fw-bolder w-lg-50">Supreme
                <span class="linear-text">Web <br> Development </span>Solutions
            </h1>
            <p class="fs-4 text-align-center text-capitalize">
                Top-tier web development services, tailored to perfection <br>
                for your digital needs.
            </p>
            <div class="buttons d-flex justify-content-center w-100 mt-3">
                <button class="btn btn-primary mx-3 px-2 px-lg-4 py-3" (click)="scrollToProcess()">Get Started</button>
                <button [ngClass]="isDarkTheme?'text-black':'text-white'"
                    class="btn d-block d-lg-none text-black btn-outline-primary mx-3 px-2 px-lg-4 py-3 text-uppercase "
                    (click)="scrollToForm()">learn
                    More</button>
                <button [ngClass]="isDarkTheme?'text-white':'text-black'"
                    class="btn d-lg-block d-none btn-outline-primary mx-3 px-2 px-lg-4 py-3 text-uppercase "
                    (click)="scrollToForm()">learn
                    More</button>
            </div>
        </div>
        <div data-aos="fade-in" class="image w-100 h-50">
            <img *ngIf="isDarkTheme" src="../../../../assets/webdev/banner.png" alt="">
            <img *ngIf="!isDarkTheme" src="../../../../assets/webdev/light-banner.png" alt="">
        </div>
    </div>

</div>
<div class="frame-2 d-flex position-relative flex-column justify-content-center align-items-center">
    <div class="container w-auto h-50 position-absolute d-flex flex-column justify-content-evenly align-items-center">
        <div class=" text-align-center">
            <h1 data-aos="fade-up" class="frame-2-text">Ready to go live?</h1>
            <h1 data-aos="fade-up" class="frame-2-text">Just hit publish — no</h1>
            <h1 data-aos="fade-up" class="frame-2-text">rebuilding, no code.</h1>
        </div>
        <div class="position-relative">
            <button class="publish fs-1 fw-medium  px-lg-4">Publish</button>
            <img data-aos="fade-up" src="../../../assets/pointer.png" alt="" class="position-absolute pointer-img">
        </div>
    </div>
</div>

<div class="frame-3 mt-5 mt-lg-0 d-flex align-items-center justify-content-center mt-lg-3">
    <div id="our-process" class="container f3-container h-75 w-75 m-auto d-flex flex-column">
        <div class="heading-process mb-3 mb-lg-0 ">
            <div class="button my-2 d-flex justify-content-center" data-aos="slide-up">
                <button class="our-process-btn">Our Process</button>
            </div>

            <div class="our-process my-2 w-100" data-aos="slide-up">
                <h1 class=" text-lg-start text-center w-100">How Quantum develops top-notch websites</h1>
            </div>

            <div class="desc w-100 my-2" data-aos="slide-up">
                <p class="text-left sub-heading" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">Our refined methodology
                    guarantees premium website
                    development, elevating <br>
                    brands with precision.</p>
            </div>
        </div>
        <div class="steps mt-lg-4">
            <div class="row">
                <div class="col-12 col-lg-4 hover-card" data-aos="fade-in" *ngFor="let steps of our_steps">
                    <div class="container">
                        <div class="step-num ">
                            {{steps.stepNo}}
                        </div>
                        <div class="step-desc">
                            <div class="title ">
                                <h2 class="our-steps-title">{{steps.title}}</h2>
                            </div>
                            <div class="details" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                {{steps.desc}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12 hover-card" data-aos="fade-in" *ngFor="let steps of our_steps2">
                    <div class="container">
                        <div class="step-num ">
                            {{steps.stepNo}}
                        </div>
                        <div class="step-desc h-100 w-100">
                            <div class="title ">
                                <h3 class="our-steps-title">{{steps.title}}</h3>
                            </div>
                            <div class="details" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                                {{steps.desc}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="frame-4 d-flex align-items-center justify-content-center mt-5">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <div class="head w-100 h-100 d-flex flex-column align-items-center justify-content-center">
            <div class="button my-2" data-aos="slide-up">
                <button class="our-process-btn">Our Projects</button>
            </div>

            <div class="our-process my-2 " data-aos="slide-up">
                <h1 class=" text-align-center">Highlighting Our <br>
                    Accomplished Endeavors</h1>
            </div>

            <div class="desc w-50 my-2 text-align-center" data-aos="slide-up">
                <p class="sub-heading" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">We help businesses from healthcare,
                    transportation, real estate,
                    communication,
                    and other
                    industries seize new opportunities, overcome business challenges.</p>
            </div>
        </div>

        <div class="projects container">
            <div class="container h-100 w-100">
                <ng-container *ngFor="let project of projects;let i=index;">
                    <div data-aos="fade-in" *ngIf="i%2==0"
                        class="project-one project w-100 position-relative d-flex justify-content-center align-items-center">
                        <div
                            class="project-container h-75 w-100 position-absolute d-flex flex-column flex-lg-row p-lg-5">
                            <div class="app-details h-100 w-100 d-flex align-items-center justify-content-center">
                                <div data-aos="fade-up"
                                    class="app-details-container d-none text-white w-50 h-100 m-auto d-lg-flex flex-column align-items-center align-items-lg-start justify-content-evenly ">
                                    <div>
                                        <button class="app-button app-button-one">App</button>
                                    </div>
                                    <div class="name">
                                        <h2>{{project.name}}</h2>
                                    </div>

                                    <div class="details fw-lighter text-align-center text-lg-start fs-4">

                                        {{(project.description.length>100)? (project.description |
                                        slice:0:100)+'...':(project.description)}}
                                    </div>
                                    <div [routerLink]="'details/' + project?._id" (click)="scrollToTop()"
                                        class="view-more fw-light d-flex align-items-center">
                                        <p class="p-0 me-4 mb-0">View More Details</p>
                                        <i class="fa fa-solid fa-arrow-right"></i>
                                    </div>
                                </div>
                                <div data-aos="fade-up"
                                    class="app-details-container d-lg-none w-50 h-100 m-auto d-flex flex-column align-items-center align-items-lg-start justify-content-evenly ">
                                    <div>
                                        <button class="app-button app-button-one">App</button>
                                    </div>
                                    <div class="name">
                                        <h2>{{project.name}}</h2>
                                    </div>
                                    <div class="details fw-lighter text-align-center text-lg-start fs-4">
                                        {{(project.description.length>100)? (project.description |
                                        slice:0:100)+'...':(project.description)}}
                                    </div>
                                    <div [routerLink]="'details/' + project._id" (click)="scrollToTop()"
                                        class="view-more fw-light d-flex align-items-center">
                                        <p class="p-0 me-4 mb-0">View More Details</p>
                                        <i class="fa fa-solid fa-arrow-right"
                                            [ngClass]="isDarkTheme?'text-black':'text-white'"></i>
                                    </div>
                                </div>
                            </div>
                            <div data-aos="fade-up" class="app-image h-100 w-100">
                                <div class="container project-img-container h-100 w-100 overflow-hidden p-0">
                                    <img class="project-image border-white border-3 rounded-1 w-100 h-100"
                                        [src]="project.image" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="i%2!=0" data-aos="fade-in"
                        class="project-two project w-100 position-relative d-flex justify-content-center align-items-center">
                        <div
                            class="project-container h-75 w-100 position-absolute d-flex p-lg-5 flex-lg-row-reverse flex-column">
                            <div class="app-details h-100 w-100 d-flex align-items-center justify-content-center">
                                <div
                                    class="app-details-container text-black d-none w-75 h-100 m-auto d-lg-flex flex-column align-items-center align-items-lg-start justify-content-evenly ">
                                    <div>
                                        <button class="app-button app-button-two">App</button>
                                    </div>
                                    <div class="name">
                                        <h2>{{project.name}}</h2>
                                    </div>
                                    <div
                                        class="details text-black opacity-50 fw-lighter text-align-center text-lg-start text-l fs-4">
                                        {{(project.description.length>100)? (project.description |
                                        slice:0:100)+'...':(project.description)}}
                                    </div>
                                    <div [routerLink]="'details/' + project._id" (click)="scrollToTop()"
                                        class="view-more fw-light d-flex align-items-center">
                                        <p class="p-0 me-4 mb-0" style="color:#656AE5">View More Details</p>
                                        <i class="fa fa-solid fa-arrow-right " style="color:#656AE5"></i>
                                    </div>
                                </div>
                                <div
                                    class="app-details-container w-75 h-100 m-auto d-lg-none d-flex flex-column align-items-center align-items-lg-start justify-content-evenly ">
                                    <div>
                                        <button class="app-button app-button-two">App</button>
                                    </div>
                                    <div class="name">
                                        <h2>{{projects[1].name}}</h2>
                                    </div>
                                    <div class="details fw-lighter text-align-center text-lg-start text-l fs-4">
                                        {{(project.description.length>100)? (project.description |
                                        slice:0:100)+'...':(project.description)}}
                                    </div>
                                    <div [routerLink]="'details/' + project._id" (click)="scrollToTop()"
                                        class="view-more fw-light d-flex align-items-center">
                                        <p class="p-0 me-4 mb-0">View More Details</p>
                                        <i class="fa fa-solid fa-arrow-right " style="color:inherit"
                                            [ngClass]="isDarkTheme?'text-black':'text-white'"></i>
                                    </div>
                                </div>
                            </div>
                            <div data-aos="fade-up" class="app-image h-100 w-100">
                                <div class="container project-img-container h-100 w-100 overflow-hidden p-0">
                                    <img class="project-image border-white border-3 rounded-1 w-100 h-100"
                                        [src]="project.image" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>
</div>

<app-form></app-form>