* {
    font-family: 'Plus Jakarta Sans';
}

.frame-1 {
    height: 130vh;
    padding: 0px 10rem;
}

.tagline {
    font-size: 68px;
    line-height: 80px;
    font-weight: 800 !important;
}

.frame-1>.heading>p {
    font-size: 16px !important;
    line-height: 25px;
    font-weight: 400 !important;
}

.linear-text {
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.frame-2 {
    height: 120vh;
    width: 100vw;
}

.frame-2::before {
    content: "";
    height: 100%;
    width: 100%;
    background-image: url("../../../../assets/backgroungimages/webdev-frame2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.frame-2-text {
    font-size: 76px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -3px;
    text-align: center;
}

.publish {
    border: none;
    background: radial-gradient(50% 50% at 50% 50%, #00CCFF 0%, #0099FF 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    box-shadow: 30px 10px 158.11399841308594px -3.75px #0099FF2D;

    box-shadow: 13.64680004119873px 4.548920154571533px 71.92479705810547px -3.125px #0099FF5D;

    box-shadow: 6.865600109100342px 2.288530111312866px 36.184898376464844px -2.5px #0099FF71;

    box-shadow: 3.6217598915100098px 1.2072499990463257px 19.088300704956055px -1.875px #0099FF7B;

    box-shadow: 1.8065600395202637px 0.6021869778633118px 9.521419525146484px -1.25px #0099FF80;

    box-shadow: 0.7065920233726501px 0.2355310022830963px 3.7240700721740723px -0.625px #0099FF84;

    box-shadow: 120px 110px 162.78799438476562px -3.75px #00020513;

    box-shadow: 65.94300079345703px 60.44770050048828px 89.4561996459961px -3.28125px #00020524;

    border-radius: 20px;
}

.pointer-img {
    left: 65px;
    top: 10px;
}

.frame-3 {
    height: auto;
    width: 100vw;
}

.hover-card:hover {
    cursor: pointer;
    transform: translateY(-5px) scale(1.050) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px var(--box-shadow-color);
    transition: all 0.5s;
}

.step-num {
    padding: 15px;
    border-left: 1px solid #43BAFF;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500 !important;
    line-height: 24px;
}


.step-desc {
    background: linear-gradient(120.79deg, #43BAFF -49.01%, rgba(67, 186, 255, 0) 13.65%);
    border: 1px solid;

    border-image-source:
        linear-gradient(117.89deg, #43BAFF 0%, rgba(67, 186, 255, 0) 24%);
    border-image-slice: 1;
    border-image-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;

    border-radius: 0 10px 10px 10px;
    padding: 35px;
    display: flex;
    /* Add Flexbox */
    flex-direction: column;
    /* Stack items vertically */
}

.step-desc .title,
.step-desc .details {
    flex: 1;
    /* Distribute remaining space equally */
}

.our-steps-title {
    font-size: 20px;
    font-weight: 600 !important;
    line-height: 30px;
}

.step-desc .details {
    font-size: 16px;
    font-weight: 500 !important;
    line-height: 24px;
}


.col-4 {
    box-sizing: border-box;
}

.projects {
    height: auto;
}

.project {
    height: 80vh;
}

.project-one::before {
    display: block;
    height: 100%;
    width: 85%;
    content: "";
    background-image: url("../../../../assets/mobile/proj1bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.project-two>.project-container {
    align-items: center;
}

.project-two::before {
    display: block;
    height: 100%;
    width: 85%;
    content: "";
    background-image: url("../../../../assets/mobile/proj2bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 0;
}

.project-three::before {
    display: block;
    height: 100%;
    width: 85%;
    content: "";
    background-image: url("../../../../assets/mobile/proj3bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.project-img-container {
    border-radius: 10px;
    border: 5px solid white;
}

.app-button {
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.view-more {
    cursor: pointer;
    margin-top: 15px;
}

.app-button-one {
    background: #7177FF;

}

.app-button-two {
    background: #87EAC3;
}

.app-button-three {
    background: #1D2546;
}

.project-two>.project-container>.app-details>.app-details-container {
    color: black;
}
/* 
p {
    font-size: 20px;
} */

.app-details .details {
    font-size: 16px !important;
    line-height: 30px;
    font-weight: 400 !important;
}

.view-more>p {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500 !important;
}

.our-process>h1 {
    font-size: 42px;
    line-height: 54px;
    font-weight: 700 !important;
}

.sub-heading {
    font-size: 16px;
    font-weight: 500 !important;
    line-height: 25px;
}

.app-details-container .name>h2 {
    font-size: 30px;
    font-weight: 600 !important;
    line-height: 44px;
}
.frame-3 .service-section{
    font-size: 16px;
    font-weight: 400;
}
.frame-3 .service-section .text{
    background: linear-gradient(120.79deg, #43BAFF -49.01%, rgba(67, 186, 255, 0) 13.65%);
    border: 1px solid;
    border-image-source: linear-gradient(117.89deg, #43BAFF 0%, rgba(67, 186, 255, 0) 24%);
    border-image-slice: 1;
}

@media (min-width:1180px) and (max-width:1366px) {
    .app-details-container {
        justify-content: center !important;
    }

    .project-two .app-details-container {
        padding-left: 30px;
    }

    .app-details-container .name {
        margin-top: 20px;
    }
}

@media (min-width:1180px) {
    .heading-process {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .our-process,
    .desc {
        /* width: 75% !important; */
    }
}

@media(min-width:1024px) and (max-width:1180px) {
    .project-one {
        justify-content: start !important;
    }

    .project-two>.project-container {
        align-items: center;
    }

    .app-details-container {
        width: 100% !important;
    }

    .project>.project-container {
        height: 85% !important;
    }

    .app-details-container .app-button {
        font-size: 14px;
        padding: 3px 9px;
    }

    .app-details-container .view-more {
        margin-top: 20px;
    }

    .app-details-container .view-more>p {
        margin-right: 0.5rem !important;
    }
}

@media(min-width:1025px) and (max-width:1180px) {
    .frame-1 {
        height: 100vh;
        padding: 0px 3rem;

    }

    .project {
        height: 55vh;
    }

    .project-one::before,
    .project-two::before,
    .project-three::before {
        width: 100%;
    }

    .project-one>.project-container {
        height: auto !important;
    }

    .project-two>.project-container,
    .project-three>.project-container {
        padding: 0px !important;
    }

    .project-three>.project-container>.app-image {
        height: 80% !important;
    }

    .project-two>.project-container>.app-image {
        height: 70% !important;
    }

    .project-two>.project-container>.app-details>.app-details-container {
        color: black;
    }

    .project-one::before,
    .project-two::before,
    .project-three::before {
        width: 85%;
    }
}

@media (max-width: 1024px) {
    .project-img-container>.project-image {
        height: 17vh !important;
    }

    .frame-1 {
        height: 100vh;
        padding: 0px 5rem;
    }

    .frame-2 {
        height: 85vh;
    }

    .frame-2::before {
        height: 75vh;
        width: 100vw;
    }

    .step-desc {
        padding: 20px;
    }

    .frame-3 {
        height: auto;
    }

    .project {
        height: 61vh;
    }

    .projects {
        height: 175vh;
    }

    .project-img-container {
        height: auto !important;
    }

    .app-details-container {
        width: 75% !important;
    }

    .project {
        height: 28vh;
    }
}

@media(min-width:1024px) and (min-height:1024px) {

    .frame-4>.container>.projects>.container>.project-one {
        height: 50vh;
    }
}

@media(min-width:1024px) and (min-height:1366px) {
    .frame-4>.container>.projects {
        height: auto;
    }

    .frame-4>.container>.projects>.container>.project-one {
        height: 30vh;
    }
}

@media (max-width: 992px) {

    /* .project-one::before,
    .project-two::before,
    .project-three::before {
        background-image: none;
    } */

    .project {
        height: 60vh;
        margin: 45px 0px;
    }

    .projects {
        height: auto;
    }

    .project-container {
        height: 100% !important;
    }

}

@media (max-width:820px) {
    .frame-1 {
        height: 65vh;
        padding: 0 1rem;
    }

    .frame-2 {
        height: 68vh;
    }
}

@media(max-width:768px) {
    .frame-1 {
        height: 80vh;
    }

    .frame-2 {
        height: 43vh;
        width: 100vw;
    }

    .frame-3>.f3-container {
        height: 125vh !important;
    }

    .projects {
        height: auto;
    }

    .project-container>.app-details {
        margin: 20px 0;
    }


    .project-two>.project-container>.app-details>.app-details-container>.details {
        font-size: 16px !important;
        margin-bottom: 10px;
    }

    .project-two>.project-container>.app-details>.app-image {
        margin-top: 25px;
    }

    .project-img-container>.project-image {
        height: 42vh !important;
    }
}

@media (max-width: 575.98px) {

    .frame-3 .service-section{
        padding:15px;
        font-size: 12px;
    }

    .view-more>p {
        font-size: 12px;
        line-height: 16px;
    }

    .our-process-btn {
        font-size: 10px;
        line-height: 20px;
        padding: 5px 12px 5px 12px;
    }

    .our-process>h1 {
        font-size: 22px;
        line-height: 30px;
    }

    .frame-1 {
        padding: 0;
        height: 70vh;
    }

    .frame-1 button {
        padding: 10px 18px !important;
        font-size: 12px !important;
        line-height: 18px;
        border-radius: 8px !important;
    }

    .frame-2 {
        height: 46vh;
    }

    .frame-2::before {
        height: 32vh;
    }

    .frame-1>.heading>.tagline {
        font-size: 22px;
        line-height: 30px;
    }

    .frame-1>.heading>p {
        font-size: 12px !important;
        line-height: 20px;
        width: 75%;
        font-weight: 400 !important;
    }

    .frame-2-text {
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0px;
    }

    .steps .row {
        gap: 30px;
        margin-bottom: 30px;
    }

    .step-num {
        font-size: 12px;
        font-weight: 500 !important;
        line-height: 20px;
    }

    .our-steps-title {
        font-size: 16px;
        line-height: 25px;
    }

    .step-desc .details {
        font-size: 12px;
        line-height: 20px;
    }

    .app-details-container .name>h2 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0px;
    }

    .app-details .details {
        font-size: 12px !important;
        line-height: 20px;
    }

    .frame-3 {
        height: auto;
    }

    .f3-container {
        width: 100% !important;
    }

    .frame-3>.f3-container {
        height: auto !important;
    }

    .heading-process {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .desc {
        width: 100% !important;
    }

    .sub-heading {
        font-size: 12px;
        line-height: 18px;
    }

    .project-container {
        height: 100% !important;
    }
    .project-container> .app-details{
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .project-one::before,
    .project-two::before,
    .project-three::before {
        width: 100%;
        height: 100%;
        background-size: cover;
        border-radius: 10px;
    }

    .app-details-container {
        width: 100% !important;
    }

    .text-black {
        color: white !important;
    }

    .text-white {
        color: black !important;
    }
    .project{
        height: 65vh;
    }
    .app-details-container .name{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .project-two > .project-container> .app-details > .app-details-container > .details{
        font-size: 12px !important;
        /* margin-bottom: 10px; */
    }


    .project-img-container {
        height: 75% !important;
        width: 85% !important;
    }

    .app-image {
        height: 50% !important;
        display: flex;
        justify-content: center;
        align-items:center;
    }


    .project-img-container>.project-image {
        height: 28vh !important;
    }
}