* {
    font-family: 'Plus Jakarta Sans';
}

.steps-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.steps-container-1 {
    display: flex;
    justify-content: center;
    align-items: start;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.step-square {
    width: 50px;
    height: 40px;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 22px;
    line-height: 20px;
    font-weight: 400 !important;
    /* Position for vertical line */
}

.step-square-light {
    width: 50px;
    height: 40px;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 22px;
    line-height: 20px;
    font-weight: 400 !important;
    /* Position for vertical line */
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(0.75, 0.75, 1);
    }

    to {
        opacity: 0;
        transform: scale3d(2, 2, 1);
    }
}

.step-square::before {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: #0460CC;
    animation-name: ripple;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.65, 0, .34, 1);
    z-index: -1;
}

.step-square-light::before {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: #0460CC;
    animation-name: ripple;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.65, 0, .34, 1);
    z-index: -1;
}

.step-title p:first-child {
    font-size: 20px !important;
    line-height: 30px;
    font-weight: 400 !important;
}

.step-title p:last-child {
    font-size: 16px !important;
    line-height: 27px;
    font-weight: 400 !important;
}

.step-square::after {
    content: '';
    position: absolute;
    top: 100%;
    /* Position the vertical line below the square */
    left: 50%;
    /* Position the vertical line in the middle of the square */
    transform: translateX(-50%);
    /* Center the vertical line horizontally */
    height: 100%;
    width: 1px;
    /* Width of the vertical line */
    background-color: #fff;
    /* Color of the vertical line */
}

.step-square-light::after {
    content: '';
    position: absolute;
    top: 100%;
    /* Position the vertical line below the square */
    left: 50%;
    /* Position the vertical line in the middle of the square */
    transform: translateX(-50%);
    /* Center the vertical line horizontally */
    height: 100%;
    width: 1px;
    /* Width of the vertical line */
    background-color: #0c0c0c;
    /* Color of the vertical line */
}

.step-text {
    color: #fff;
    margin-top: 5px;
    font-size: 14px;
}

.step-dashed-line {
    flex-grow: 1;
    height: 1px;
    background-image: linear-gradient(to right, #fff 50%, transparent 50%);
    background-size: 10px 1px;
    background-repeat: repeat-x;
    /* margin-top: 20px; */
}


.step-dashed-line-light {
    flex-grow: 1;
    height: 1px;
    background-image: linear-gradient(to right, #7EA6BE 50%, transparent 50%);
    background-size: 10px 1px;
    background-repeat: repeat-x;
    /* margin-top: 20px; */
}

.step-line {
    flex-grow: 1;
    height: 1px;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    /* margin-top: 20px; */
}

.our-marketing-btn {
    width: Hug (352px)px;
    height: Hug (66px)px;
    top: 524.35px;
    left: 544px;
    padding: 10px 30px;
    gap: 20px;
    border-radius: 50px 50px 0px 0px;
    opacity: 0px;
    background: #111111;
    border: #000000;
}


.circles {
    width: 80%;
}

.step-circle {
    width: 60px;
    height: 60px;
    background: #000000;
    border-radius: 50%;
    margin-right: 20px;
    transition: transform 0.2s ease;
}

.step-circle-light {
    width: 60px;
    height: 60px;
    background: #ECF0FF;
    border: 1px solid #7EA6BE;
    border-radius: 50%;
    margin-right: 20px;
    transition: transform 0.2s ease;
}
.step-circle:hover,.step-circle-light{
    transform:scale(1.2);
}
.steps-container-1 {
    justify-content: center;
}


.detaile p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500 !important;
}

.frame .heading .txt h1 {
    font-size: 42px;
    line-height: 50px;
    font-weight: 700 !important;
}

.txt p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500 !important;
}

.desc p {
    font-size: 16px !important;
    line-height: 23px;
    font-weight: 600 !important;
}

.icons {
    background: #111111;
    border-radius: 50%;
    padding: 10px;
    /* height: 100px; */
    /* width: 500px; */
}

@media (max-width: 575.98px) {

    .banner-img {
        height: auto;
    }

    .w-75,
    .w-25,
    .w-50 {
        width: 100% !important;
    }

    .fs-6 {
        font-size: 0.9rem !important;
    }

    .circles {
        width: 100%;
    }

    .detaile p {
        font-size: 14px;
        line-height: 20px;
    }

    .our-process-btn {
        font-size: 12px;
        line-height: 20px;
        padding: 5px 12px 5px 12px;
    }

    .frame .heading .txt h1 {
        font-size: 22px;
        line-height: 30px;
    }

    .txt p {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500 !important;
    }

    .step-square {
        font-size: 18px;
        line-height: 20px;
    }
    .step-circle{
        width: 50px;
        height: 50px;

    }
    .step-circle img{
        width:40px;
    }

    .step-title p:first-child {
        font-size: 18px;
        line-height: 25px;
    }

    .step-title p:last-child {
        font-size: 14px !important;
        line-height: 23px;
    }

    .steps-container-last .step-title p {
        font-size: 10px !important;
        line-height: 18px;
        margin: 4px;
    }

    .desc p {
        font-size: 12px !important;
        line-height: 20px;
    }

    .our-marketing-btn {
        padding: 7px 7px;
    }

    .our-marketing-btn>i {
        padding: 3px;
    }
}