<div class="casestudy">
    <img class="w-100" src="../../../../assets/ai/casestudy/banner.png" alt="">

    <div class="capsule-details container p-3 p-sm-5">
        <img class="w-100" src="../../../../assets/ai/casestudy/capsule.png" alt="">
        <div class="detaile mt-3">
            <p [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
                Capsule endoscopy is a procedure that uses a tiny wireless camera to take pictures of your digestive
                tract. A capsule endoscopy camera sits inside a vitamin-size capsule you swallow. As the capsule travels
                through your digestive tract, the camera takes thousands of pictures that are transmitted to a recorder
                you wear on a belt around your waist.
            </p>
        </div>
    </div>

    <div class="frame container-fluid px-0 d-flex">
        <div class="container-fluid d-flex flex-column justify-content-center my-5 px-lg-5">
            <div class="heading d-none d-sm-flex justify-content-center align-items-center">
                <div class="text w-100 d-flex flex-column justify-content-center align-items-center ">
                    <div class="button my-3">
                        <button class="our-process-btn">
                            Our Process
                        </button>
                    </div>
                    <div class="txt w-75 text-center my-3">
                        <h1 class="text-capitalize">How Does It Work</h1>
                    </div>

                    <div class="steps-container squares w-100 mt-lg-5 mt-4 mb-lg-3 ">
                        <div [ngStyle]="{'background':isDarkTheme?'#fff':'black'}" class="step-line"></div>
                        <div class="step-square">01</div>
                        <div [ngStyle]="{'background':isDarkTheme?'#fff':'black'}" class="step-line"></div>
                        <div class="step-square">02</div>
                        <div [ngStyle]="{'background':isDarkTheme?'#fff':'black'}" class="step-line"></div>
                        <div class="step-square">03</div>
                        <div [ngStyle]="{'background':isDarkTheme?'#fff':'black'}" class="step-line"></div>
                    </div>
                    <div class="steps-container-1 gap-lg-3 w-100 mt-5 ">
                        <div
                            class="step-title w-25 mt-3 mt-lg-0 d-flex flex-column align-items-center justify-content-center">
                            <p class="w-50 fw-lighter fs-4 text-align-center">Step 1</p>
                            <p class="w-75 fw-lighter fs-6 text-align-center"
                                [ngStyle]="{'color':isDarkTheme?'#fff':'black'}"[ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">Patient fasts for
                                several hours before swallowing the capsule</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                        <div
                            class="step-title w-25 mt-3 mt-lg-0 d-flex justify-content-center align-items-center flex-column">
                            <p class="w-50 fw-lighter fs-4 text-align-center">Step 2
                            </p>
                            <p class="w-75 fw-lighter fs-6 text-align-center"
                                [ngStyle]="{'color':isDarkTheme?'#fff':'black'}">Patient swallow
                                the capsule. The capsule has an inbuilt camera.</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                        <div
                            class="step-title w-25 mt-3 mt-lg-0 d-flex justify-content-center align-items-center flex-column">
                            <p class="w50 fw-lighter fs-4 text-align-center">Step 3</p>
                            <p class="w-75 fw-lighter fs-6 text-align-center"
                                [ngStyle]="{'color':isDarkTheme?'#fff':'black'}"[ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">Capsule travels
                                through the entire gastrointestinal tract. The camera can capture 1000 images at a time.
                            </p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                    </div>

                    <div class="container button w-100 d-flex mt-5 align-items-center justify-content-center">
                        <button [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}"
                            [ngClass]="isDarkTheme?'text-white':'text-black'" class="our-marketing-btn ">
                            <!-- <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                class="fa-solid fa-arrow-left  mx-2"></i> -->
                            Our Process
                            <!-- <i [ngClass]="isDarkTheme?'text-white':'text-black'"
                                class="fa-solid fa-arrow-right  mx-2"></i> -->
                        </button>
                    </div>
                </div>
            </div>
            <div id="carouselExampleControls" class="carousel slide d-block d-sm-none" data-ride="carousel">
                <div class="carousel-inner ">
                    <div class="text w-100 d-flex flex-column justify-content-center align-items-center ">
                        <div class="button my-3">
                            <button class="our-process-btn">
                                Our Process
                            </button>
                        </div>
                        <div class="txt w-75 text-center my-3">
                            <h1 class="text-capitalize">How Does It Work</h1>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="steps-container squares w-100 mt-lg-5 mt-4 mb-lg-3 ">
                            <div [ngStyle]="{'background':isDarkTheme?'#fff':'black'}" class="step-line"></div>
                            <div class="step-square">01</div>
                            <div [ngStyle]="{'background':isDarkTheme?'#fff':'black'}" class="step-line"></div>
                        </div>
                        <div class="steps-container-1 gap-lg-3 w-100 mt-5 ">
                            <div
                                class="step-title w-25 mt-3 mt-lg-0 d-flex flex-column align-items-center justify-content-center">
                                <p class="w-50 fw-lighter fs-5 text-align-center">Step 1</p>
                                <p class="w-75 fw-lighter fs-6 text-align-center"
                                    [ngStyle]="{'color':isDarkTheme?'#fff':'black'}"[ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">Patient fasts for
                                    several hours before swallowing the capsule</p>
                            </div>
                            <div class="step-dashed-line visually-hidden"></div>

                        </div>

                    </div>
                    <div class="carousel-item ">
                        <div class="steps-container squares w-100 mt-lg-5 mt-4 mb-lg-3 ">
                            <div [ngStyle]="{'background':isDarkTheme?'#fff':'black'}" class="step-line"></div>
                            <div class="step-square">02</div>
                            <div [ngStyle]="{'background':isDarkTheme?'#fff':'black'}" class="step-line"></div>

                        </div>
                        <div class="steps-container-1 gap-lg-3 w-100 mt-5 ">
                            <div
                                class="step-title w-25 mt-3 mt-lg-0 d-flex flex-column align-items-center justify-content-center">
                                <p class="w-50 fw-lighter fs-5 text-align-center">Step 2</p>
                                <p class="w-75 fw-lighter fs-6 text-align-center"
                                    [ngStyle]="{'color':isDarkTheme?'#fff':'black'}"[ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">Patient swallow
                                    the capsule. The capsule has an inbuilt camera.</p>
                            </div>
                            <div class="step-dashed-line visually-hidden"></div>

                        </div>

                    </div>
                    <div class="carousel-item ">
                        <div class="steps-container squares w-100 mt-lg-5 mt-4 mb-lg-3 ">
                            <div [ngStyle]="{'background':isDarkTheme?'#fff':'black'}" class="step-line"></div>
                            <div class="step-square">03</div>
                            <div [ngStyle]="{'background':isDarkTheme?'#fff':'black'}" class="step-line"></div>

                        </div>
                        <div class="steps-container-1 gap-lg-3 w-100 mt-5 ">
                            <div
                                class="step-title w-25 mt-3 mt-lg-0 d-flex flex-column align-items-center justify-content-center">
                                <p class="w-50 fw-lighter fs-5 text-align-center">Step 3</p>
                                <p class="w-75 fw-lighter fs-6 text-align-center"
                                    [ngStyle]="{'color':isDarkTheme?'#fff':'black'}"[ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">Capsule travels
                                    through the entire gastrointestinal tract. The camera can capture 1000 images at a time.</p>
                            </div>
                            <div class="step-dashed-line visually-hidden"></div>

                        </div>

                    </div>
                </div>
                <div class="container button w-100 d-flex mt-5 align-items-center justify-content-center">
                    <button [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}"
                        [ngClass]="isDarkTheme?'text-white':'text-black'" class="our-marketing-btn ">
                        <i [ngClass]="isDarkTheme?'text-white':'text-black'" class="fa-solid fa-arrow-left  mx-2"
                            href="#carouselExampleControls" role="button" data-slide="prev"></i>
                        Our Process
                        <i [ngClass]="isDarkTheme?'text-white':'text-black'" class="fa-solid fa-arrow-right  mx-2"
                            href="#carouselExampleControls" role="button" data-slide="next"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="frame container d-flex" id="our-process">
        <div class="container d-flex flex-column justify-content-center my-5 px-lg-5">
            <div class="heading d-flex justify-content-center align-items-center">
                <div class="text w-100 d-flex flex-column justify-content-center align-items-center ">
                    <div class="button my-lg-3" data-aos="slide-up">
                        <button class="our-process-btn">
                            Our Process
                        </button>
                    </div>
                    <div class="txt w-75 text-center my-lg-3" data-aos="slide-up">
                        <h1>How we Implement our Technique</h1>
                    </div>
                    <div class="txt w-75 text-center my-lg-3" data-aos="slide-up">
                        <p class="fw-light" [ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">Let's do great work together</p>
                    </div>

                    <div class="steps-container circles">
                        <div [ngClass]="isDarkTheme?'step-circle':'step-circle-light'"
                            class="align-content-center text-align-center m-0 m-lg-auto" data-aos="fade-up">
                            <img height="30" width="30" src="../../../../assets/ai/casestudy/cam.svg" alt="">
                        </div>
                        <div [ngClass]="isDarkTheme?'step-dashed-line':'step-dashed-line-light'" data-aos="slide-up">
                        </div>
                        <div class="align-content-center text-align-center m-0 m-lg-auto"
                            [ngClass]="isDarkTheme?'step-circle':'step-circle-light'" data-aos="fade-down">
                            <img height="30" width="30" src="../../../../assets/ai/casestudy/img.svg" alt="">
                        </div>
                        <div [ngClass]="isDarkTheme?'step-dashed-line':'step-dashed-line-light'" data-aos="slide-up">
                        </div>
                        <div class="align-content-center text-align-center m-0 m-lg-auto"
                            [ngClass]="isDarkTheme?'step-circle':'step-circle-light'" data-aos="fade-up">
                            <img height="30" width="30" src="../../../../assets/ai/casestudy/db.svg" alt="">
                        </div>
                        <div [ngClass]="isDarkTheme?'step-dashed-line':'step-dashed-line-light'" data-aos="slide-up">
                        </div>
                        <div class="align-content-center text-align-center m-0 m-lg-auto"
                            [ngClass]="isDarkTheme?'step-circle':'step-circle-light'" data-aos="fade-down">
                            <img height="30" width="30" src="../../../../assets/ai/casestudy/rep.svg" alt="">
                        </div>
                        <!-- Add more circles and dashed lines as needed -->
                    </div>
                    <div class="steps-container steps-container-last w-100 mt-4" data-aos="fade-up">
                        <div class="step-title w-25 d-flex justify-content-center">
                            <p class="w-50 fw-light text-align-center"[ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}"> Data Collection and Analysis</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                        <div class="step-title w-25 d-flex justify-content-center">
                            <p class="w-50 fw-light text-align-center"[ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">AI Model Development</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                        <div class="step-title w-25 d-flex justify-content-center">
                            <p class="w-50 fw-light text-align-center"[ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">Implementation and Integration</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                        <div class="step-title w-25 d-flex justify-content-center">
                            <p class="w-50 fw-light text-align-center"[ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">Continuous Improvement</p>
                        </div>
                        <div class="step-dashed-line visually-hidden"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container desc my-5 w-75">
        <p class=" text-align-center fs-4" [ngStyle]="{'color':isDarkTheme?'#fff':'black'}"[ngStyle]="{'opacity':isDarkTheme?'0.5':'1'}">
            Our AI development services empowered Omni Concept by providing invaluable insights into customer preferences, optimizing inventory management, and enhancing pricing strategies. This resulted in increased operational efficiency, higher sales, and improved customer satisfaction for Omni Concept.
        </p>
    </div>
</div>