/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/bootstrap/scss/_mixins.scss"; */

/* Light Theme */
.light-theme {
    background-color: #ffffff;
    color: #000000 !important;
}

/* Dark Theme */
.dark-theme {
    background-color: #000000;
    color: #ffffff !important;
}

.accordion-button {
    color: white !important;
}

@keyframes fadeInOpacity {

    0%,
    100% {
        opacity: 0%;
    }

    50% {
        opacity: 30%;
    }
}

/* Hide scrollbar */
::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar width */
    height: 0;
    /* Remove scrollbar height */
    background: transparent;
    /* Set background to transparent */
}

/* Optional: Prevent corner from displaying */
::-webkit-scrollbar-corner {
    display: none;
}


:root {
    --custom: #8C8C8C;
    --bs-table-bg: #000000 !important;
}

i {
    color: white;
    font-size: 15px;
}


.our-process-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0099FF;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.hover-card {
    transition: all 0.5s ease-in-out;
}

.hover-card:hover {
    cursor: pointer;
    transform: translateY(-15px) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px var(--box-shadow-color);
    transition: all 0.5s ease-in-out;
}