<div class="contianer-fluid casestudy">
  <div class="container frame-1 p-3 mt-sm-5 mt-4">
    <div
      class="heading d-flex flex-column flex-lg-row justify-content-between align-items-center"
    >
      <div
        class="text frame-2-head w-100 d-flex align-items-start align-items-sm-center align-items-lg-start flex-column"
      >
        <div class="button">
          <button class="our-process-btn">Mobile Case Study</button>
        </div>
        <div class="txt w-100 mt-3">
          <h1 class="text-start text-sm-center text-lg-start text-capitalize">
            Keep It Going
          </h1>
        </div>
        <div class="desc w-100">
          <p [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }">
            We partnered with The AMPS Institute to develop a customized app
            supporting their entrepreneurial excellence programs, aligning with
            their vision for empowering aspiring entrepreneurs.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container frame-2 d-flex justify-content-center banner rounded-2">
    <figure class="rounded-2 vandan">
      <img
        src="https://karmill.s3.us-east-1.amazonaws.com/profile_pictures/keepitupOne.webp"
        alt="image banner"
      />
    </figure>
  </div>

  <div class="container frame-3 my-sm-5 my-2">
    <div class="app-details justify-content-center d-flex">
      <div class="details w-75 justify-content-between gap-3 gap-lg-0 d-flex">
        <div class="detail">
          <div class="title">
            <h3 class="text-align-center">Luke</h3>
          </div>
          <div class="desc">
            <p
              class="text-align-center"
              [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }"
            >
              Client
            </p>
          </div>
        </div>
        <div class="detail">
          <div class="title">
            <h3 class="text-align-center">Mobile App</h3>
          </div>
          <div class="desc">
            <p
              class="text-align-center"
              [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }"
            >
              Services
            </p>
          </div>
        </div>
        <div class="detail">
          <div class="title">
            <h3 class="text-align-center">07.05.2024</h3>
          </div>
          <div class="desc">
            <p
              class="text-align-center"
              [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }"
            >
              Date
            </p>
          </div>
        </div>
        <div class="detail">
          <div class="title">
            <h3 class="text-align-center text-decoration-underline">
              <a
                href="https://play.google.com/store/apps/details?id=com.keepitgoingstory.keep_it_going"
                target="_blank"
                [ngClass]="isDarkTheme ? 'text-white' : 'text-black'"
                class="text-decoration-underline text-align-center"
              >
                Live Link
              </a>
            </h3>
          </div>
          <div class="desc">
            <p
              class="text-align-center"
              [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }"
            >
              App & Play store
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="frame-4 prob-stat container p-5">
    <div class="container d-flex flex-column flex-lg-row">
      <div class="problem-statement">
        <div
          class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center"
        >
          <div
            class="text frame-2-head w-100 d-flex align-items-start align-items-sm-center align-items-lg-start flex-column"
          >
            <div class="button">
              <button class="our-process-btn">Challenges</button>
            </div>
            <div class="txt w-100 mt-3">
              <h1
                class="text-start text-sm-center text-lg-start text-capitalize"
              >
                The Problem Statement
              </h1>
            </div>
            <div class="desc">
              <p [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }">
                In today's fast-paced world, the demands of adulthood—ranging
                from career responsibilities to family commitments—often leave
                little time for maintaining the deep, meaningful friendships
                formed during childhood and adolescence. These friendships, once
                nurtured through shared experiences of playing board games,
                engaging in playground sports, or bonding over video games, can
                become strained or even fade away entirely. The lack of a simple
                and effective way to relive these cherished memories and
                reconnect with old friends has created a gap in many people’s
                social lives, leading to feelings of nostalgia and longing for
                the past.
              </p>
            </div>
            <div class="w-100 problems-stat-border"></div>
            <div class="list py-4">
              <ul class="list-unstyled list-group-numbered">
                <li class="">
                  <h3>1. Integrating complex data analytics features.</h3>
                </li>
                <li class="">
                  <h3>2. Ensuring seamless user experience.</h3>
                </li>
                <li class="">
                  <h3>3. Optimizing app performance.</h3>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="image w-100 d-flex justify-content-center">
        <img src="../../../../assets/mobile/casestudy/aim.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="frame-5 container p-3 p-sm-5">
    <div
      class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center"
    >
      <div
        class="text frame-2-head w-100 d-flex align-items-start align-items-sm-center align-items-lg-start flex-column"
      >
        <div class="button">
          <button class="our-process-btn">Solution</button>
        </div>
        <div class="txt w-100 mt-3">
          <h1 class="text-start text-sm-center text-lg-start text-capitalize">
            Solution Implementation
          </h1>
        </div>
        <div class="desc w-100 mt-sm-3">
          <p class="" [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }">
            To address this problem, we developed an app designed to bridge the
            gap between the past and the present by rekindling friendships
            through the power of nostalgia. The app provides users with a
            platform to effortlessly revisit and celebrate the memories that
            shaped their youth. Key features include:
          </p>

          <ol>
            <li>
              1. Nostalgic Experience: The app offers a journey back to
              childhood and adolescence, allowing users to relive fond memories
              of shared games and laughter.
            </li>
            <li>
              2. Reconnecting Friendships: It facilitates the reconnection with
              friends from the past, enabling users to maintain and even
              strengthen bonds despite the demands of their busy lives.
            </li>
            <li>
              3. Effortless Reminiscence: With intuitive tools, users can easily
              discuss and reminisce about their favorite games, be it board
              games, playground sports, or video games, creating a shared space
              for nostalgia.
            </li>
            <li>
              4. Strengthening Bonds: By preserving and celebrating these shared
              memories, the app fosters stronger, more enduring relationships.
              Users can reconnect on a deeper level, reviving the joy of past
              experiences and integrating them into their current lives.
            </li>
          </ol>

          <p class="opacity-50">
            This solution not only helps users reconnect with old friends but
            also provides a meaningful way to strengthen those relationships,
            ensuring that the bonds formed in youth can withstand the test of
            time.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container app-img d-flex justify-content-center mt-2">
    <img src="../../../../assets/mobile/casestudy/solution.png" alt="" />
  </div>
  <!-- <div class="result-heading container d-flex flex-column flex-lg-row justify-content-between align-items-center">
        <div class="text frame-2-head w-100 d-flex align-items-center align-items-lg-start flex-column ">
            <div class="button">
                <button class="our-process-btn">
                    Result
                </button>
            </div>
            <div class="txt w-100 mt-4">
                <h1 class="text-center text-lg-start text-capitalize">
                    Results & Feedback
                </h1>
            </div>
        </div>
    </div> -->
  <!-- <div class="container our-numbers w-100 mb-5">
        <div class="num-sec container w-100">
            <div class="row text-align-center justify-content-center align-content-center">
                <div *ngFor="let nums of sectionFourNums" class="miletone-container col-lg-3 col-sm-6 col-12 mb-5">
                    <div class="miletone-number fw-bolder">{{nums.currentNum}}+</div>
                    <div>
                        <p class="miletone-title fw-bold text-uppercase mt-3">
                            ● {{nums.heading}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<div
  class="container-fluid d-flex justify-content-sm-end justify-content-center mb-sm-5 mb-3 me-sm-5"
>
  <div class="buttons d-flex flex-row align-items-end pe-sm-5">
    <button class="next our-process-btn cursor-pointer" (click)="next()">
      Next
    </button>
  </div>
</div>
