<div class="container form">
    <div class="container h-100 w-100 d-flex flex-column flex-lg-row justify-content-center align-items-center">
        <div
            class="options h-100 w-100 d-flex flex-column align-items-center align-items-lg-start gap-lg-5 gap-2 justify-content-center text-white">
            <div class="text">
                <h1>Lets Talk About:</h1>
            </div>
            <div class="option d-flex flex-lg-column flex-row gap-4">
                <div class="opt1 opt">
                    <h3>New Project</h3>
                </div>
                <div class="opt2 opt">
                    <h3>Joining our Team</h3>
                </div>
                <div class="opt3 opt">
                    <h3>General Enquries</h3>
                </div>
            </div>
        </div>
        <div class="form h-100 w-100 text-white mt-4 mt-lg-0">
            <div class="container h-100 w-100 d-flex flex-column align-items-center justify-content-center">
                <div class="desc w-75">
                    <p class="color:#A2A9B0 fw-lighter text-align-center">
                        Have a project in mind that you think we’d be a great fit for it? We’d love to know what you’re
                        thinking
                    </p>
                </div>
                <div class="form-container">
                    <form action="">
                        <div class="row my-3">
                            <div class="col-6">
                                <div class="input d-flex flex-column">
                                    <label for="">First Name</label>
                                    <input placeholder="Input first name your in here" type="text" class="bg-dark">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input d-flex flex-column">
                                    <label for="">Last Name</label>
                                    <input placeholder="Input last name your in here" type="text" class="bg-dark">
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6">
                                <div class="input d-flex flex-column">
                                    <label for="">Email</label>
                                    <input placeholder="Input email your in here" type="text" class="bg-dark">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input d-flex flex-column">
                                    <label for="">Company Name</label>
                                    <input placeholder="Input company name your in here" type="text" class="bg-dark">
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-12">
                                <div class="input d-flex flex-column">
                                    <label for="">Message</label>
                                    <textarea placeholder="Write your message in here" type="text"
                                        class="bg-dark"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>