.form {
    height: 100vh;
}

.opt {
    cursor: pointer;
}

.blue-opt {
    padding: 0px 10px;
    border-left: 3px solid #43BAFF;
    color: #43BAFF;
    border-radius: 5px 0 0 5px;
}

.bg-dark {
    background-color: #111111 !important;
}

.bg-light {
    background-color: #ECF0FF !important;
}

input,
textarea {
    border-radius: 0;
    border: 1px solid #636D79 !important;
    color: white;
}

@media (max-width: 575.98px) {
    .form {
        height: auto;
    }

    .blue-opt {
        border: none;
        border-bottom: 3px solid #43BAFF;
        color: #43BAFF;
        border-radius: 0 0 5px 5px;
        padding: 0;
    }

    .option {
        justify-content: center;
    }

    .opt h3 {
        font-size: 12px;
        text-align: center;
    }

    .blue-opt h3 {
        font-size: 12px;
        text-align: center;
    }


    .desc {
        width: 100% !important;
    }

    .desc p {
        font-size: 12px;
    }

}