<div class="container pt-5">
    <h1 class="text-center">REFUND & CANCELLATION POLICY</h1>
    <p class="mt-3">At Quantum IT, we have full confidence in our varied range of services, products and e-business
        solutions. We leave no stone unturned in providing our prestigious clients fast, reliable and exceptional
        service guarantee every time in time, we do business with them. All the services available at Quantum IT’s
        website are carried out for the clients after extensive project analysis using a complete scope document,
        agreement. It ensures full understanding of the work and almost no possibilities of any project cancellation or
        dispute. However, any refund and cancellation are taken place abiding a set of conditions.
    </p>

    <h5 class="mb-2">Cancellation Policy</h5>
    <ul style="list-style-type: disc">
        <li>A subscriber can place the cancellation order for a particular service within 7-10 days of service agreement
            via cancellation mail at sales@quantumitinnovation.com</li>
        <li>No cancellation is possible for the services offered with promotional discounts on special occasions such as
            Independence Day, Christmas and New Year. These are limited edition offers and hence any range of refund
            would not be possible for these.</li>
        <li>Quantum IT will not entertain cancellation requests made for services such as domain name registration and
            domain name transfer.</li>
        <li>A service stands to cancel if next payment is not received within 7 working days</li>
    </ul>
    <h5 class="mt-3 mb-2">Refund Policy</h5>
    <ul style="list-style-type: disc">
        <li>Every service offered by us takes a different course of action to get accomplished from start to end thus
            refund policy differs from one service to another.</li>
        <li>There is always a certain set of resources that are involved in achieving every milestone of a
            project/campaign. Thus, a refund would not be entertained for the work already completed.</li>
        <li>No refund is possible for the fee paid in the form of administrative, campaign setup fees or installation
            charges.</li>
        <li>Taxes paid on services levied by regulatory bodies would not be refunded with fee refund.</li>
        <li>No refund will be entertained in case service gets canceled due to any violation of terms stated in our
            Terms & Condition section.</li>
        <li>There is no refund policy for the services placed under same day or 24 hours delivery.</li>
        <li>Quantum IT is not liable to pay a refund if delay or service disruption happens due to third party
            involvement.</li>
    </ul>
    <p class="pb-5 pt-2"><strong>Sales/ Support:</strong> email: sales@quantumitinnovation.com Cell: + 91 11 4328 2001
        or + 1 877 877 3644.</p>
</div>