<div class="contianer-fluid casestudy">
  <div class="container frame-1 p-3 mt-sm-5 mt-4">
    <div
      class="heading d-flex flex-column flex-lg-row justify-content-between align-items-center"
    >
      <div
        class="text frame-2-head w-100 d-flex align-items-start align-items-sm-center align-items-lg-start flex-column"
      >
        <div class="button">
          <button class="our-process-btn">Digital Marketing</button>
        </div>
        <div class="txt w-100 mt-3">
          <h1 class="text-start text-sm-center text-lg-start text-capitalize">
            Citilandscape Supplies
          </h1>
        </div>
        <div class="desc w-100">
          <p [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }">
            We partnered with The AMPS Institute to develop a customized app
            supporting their entrepreneurial excellence programs, aligning with
            their vision for empowering aspiring entrepreneurs.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container frame-2 d-flex justify-content-center banner rounded-2">
    <figure class="rounded-2 vandan">
      <img
        src="https://karmill.s3.us-east-1.amazonaws.com/profile_pictures/citi2.webp"
        alt="image banner"
      />
    </figure>
  </div>

  <div class="container frame-3 my-sm-5 my-2">
    <div class="app-details justify-content-center d-flex">
      <div class="details w-75 justify-content-between gap-3 gap-lg-0 d-flex">
        <div class="detail">
          <div class="title">
            <h3 class="text-align-center">Prabhjot</h3>
          </div>
          <div class="desc">
            <p
              class="text-align-center"
              [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }"
            >
              Client
            </p>
          </div>
        </div>
        <div class="detail">
          <div class="title">
            <h3 class="text-align-center">Digital Marketing</h3>
          </div>
          <div class="desc">
            <p
              class="text-align-center"
              [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }"
            >
              Services
            </p>
          </div>
        </div>
        <div class="detail">
          <div class="title">
            <h3 class="text-align-center">18.10.2023</h3>
          </div>
          <div class="desc">
            <p
              class="text-align-center"
              [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }"
            >
              Date
            </p>
          </div>
        </div>
        <div class="detail">
          <div class="title">
            <h3 class="text-align-center text-decoration-underline">
              <a
                href="https://www.citilandscapesupplies.co.nz/"
                target="_blank"
                [ngClass]="isDarkTheme ? 'text-white' : 'text-black'"
                class="text-decoration-underline text-align-center"
              >
                Live Link
              </a>
            </h3>
          </div>
          <div class="desc">
            <p
              class="text-align-center"
              [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }"
            >
              App & Play store
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="frame-4 prob-stat container p-5">
    <div class="container d-flex flex-column flex-lg-row">
      <div class="problem-statement">
        <div
          class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center"
        >
          <div
            class="text frame-2-head w-100 d-flex align-items-start align-items-sm-center align-items-lg-start flex-column"
          >
            <div class="button">
              <button class="our-process-btn">Challenges</button>
            </div>
            <div class="txt w-100 mt-3">
              <h1
                class="text-start text-sm-center text-lg-start text-capitalize"
              >
                The Problem Statement
              </h1>
            </div>
            <div class="desc">
              <p [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }">
                Customers in Auckland often struggle to find a reliable supplier
                for high-quality landscaping materials that also offers a broad
                selection of products and competitive pricing. Many landscaping
                supply businesses either lack product variety or do not provide
                affordable options and convenient services like free delivery.
                This gap creates a challenge for homeowners and landscapers who
                need a dependable source for their landscaping projects that
                meets their quality and budgetary expectations.
              </p>
            </div>
            <div class="w-100 problems-stat-border"></div>
            <div class="list py-4">
              <ul class="list-unstyled list-group-numbered">
                <li class="">
                  <h3>1. Integrating complex data analytics features.</h3>
                </li>
                <li class="">
                  <h3>2. Ensuring seamless user experience.</h3>
                </li>
                <li class="">
                  <h3>3. Optimizing app performance.</h3>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="image w-100 d-flex justify-content-center">
        <img src="../../../../assets/mobile/casestudy/aim.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="frame-5 container p-3 p-sm-5">
    <div
      class="heading d-flex flex-column mb-lg-5 mb-lg-0 flex-lg-row justify-content-between align-items-center"
    >
      <div
        class="text frame-2-head w-100 d-flex align-items-start align-items-sm-center align-items-lg-start flex-column"
      >
        <div class="button">
          <button class="our-process-btn">Solution</button>
        </div>
        <div class="txt w-100 mt-3">
          <h1 class="text-start text-sm-center text-lg-start text-capitalize">
            Solution Implementation
          </h1>
        </div>
        <div class="desc w-100 mt-sm-3">
          <p class="" [ngStyle]="{ opacity: isDarkTheme ? '0.5' : '1' }">
            Citi Landscape Supplies addresses this problem with a comprehensive
            solution tailored to meet the needs of Auckland's landscaping
            community:
          </p>

          <ol>
            <li>
              1. Quality & Product Variety: We offer a diverse range of
              high-quality landscaping materials, including mulch, stones,
              pavers, and other essential products. This variety ensures that
              customers can find everything they need for their projects in one
              place.
            </li>
            <li>
              2. FREE Delivery Auckland Wide: To enhance convenience, we provide
              free delivery across Auckland for orders of more than two full
              pallets of Bowers & Firth products. This service reduces the
              hassle and cost associated with transporting large quantities of
              materials.
            </li>
            <li>
              3. Competitive Pricing: Our competitive pricing strategy ensures
              that customers receive top-quality products at the best possible
              rates. This approach offers an attractive value proposition,
              making Citi Landscape Supplies a preferred choice for
              budget-conscious customers.
            </li>
          </ol>

          <p class="opacity-50">
            By addressing these key areas, Citi Landscape Supplies effectively
            meets the needs of its customers, offering them a reliable,
            cost-effective, and convenient solution for their landscaping needs.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container app-img d-flex justify-content-center mt-2">
    <img src="../../../../assets/mobile/casestudy/solution.png" alt="" />
  </div>
  <!-- <div class="result-heading container d-flex flex-column flex-lg-row justify-content-between align-items-center">
          <div class="text frame-2-head w-100 d-flex align-items-center align-items-lg-start flex-column ">
              <div class="button">
                  <button class="our-process-btn">
                      Result
                  </button>
              </div>
              <div class="txt w-100 mt-4">
                  <h1 class="text-center text-lg-start text-capitalize">
                      Results & Feedback
                  </h1>
              </div>
          </div>
      </div> -->
  <!-- <div class="container our-numbers w-100 mb-5">
          <div class="num-sec container w-100">
              <div class="row text-align-center justify-content-center align-content-center">
                  <div *ngFor="let nums of sectionFourNums" class="miletone-container col-lg-3 col-sm-6 col-12 mb-5">
                      <div class="miletone-number fw-bolder">{{nums.currentNum}}+</div>
                      <div>
                          <p class="miletone-title fw-bold text-uppercase mt-3">
                              ● {{nums.heading}}
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
</div>

<div
  class="container-fluid d-flex justify-content-sm-end justify-content-center mb-sm-5 mb-3 me-sm-5"
>
  <div class="buttons d-flex flex-row align-items-end pe-sm-5">
    <button class="next our-process-btn cursor-pointer" (click)="next()">
      Next
    </button>
  </div>
</div>
