* {
    box-sizing: border-box;
}

.mobile-app {
    height: 100vh;
    background:
        linear-gradient(0deg, #191919, #000000),
        linear-gradient(248.66deg, #000000 0%, #1A1B1E 98.1%);
}

.tagline {
    font-size: 62px;
    line-height: 78px;
}

.linear-text {
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-lm {
    color: white;
    padding: 10px 20px;
    background-color: #43BAFF;
    border: none;
    border-radius: 5px;
}

.frame-2 {
    height: auto;
}

.our-process-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0099FF;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.fa-circle {
    color: #67FBAE
}

.frame-3 {
    height: 150vh;
    background-size: contain;
    background-image: url("../../../assets/backgroungimages/mobile-app.svg");
    background-repeat: no-repeat;
}

.ai-data {
    background: #111111;
    /* box-sizing: border-box; */
    height: 400px;
    border: 1px solid #FFFFFF0F;
    box-shadow: 0px 17px 25px 0px #07496F05;
}


.numbers-section {
    height: 200px;
    border-radius: 5px;
    padding: 40px 150px;
    background: linear-gradient(90deg, #43BAFF 0%, #7141B1 100%);
}

.projects {
    height: auto;
}

.project {
    height: 80vh;
}

.project-container {
    background: #111111;
}

.project-img-container {
    border-radius: 10px;
}

.app-button {
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    background: #43BAFF;
}

.view-more {
    color: #43BAFF;
}

.view-more .fa-arrow-right {
    color: #43BAFF;
}