<div class="container pt-5">
    <h1 class="text-center">TERMS AND CONDITION</h1>
    <p class="mt-3">We do not collect personally identifiable information about you unless you choose to fill your
        personal information on our website.
        We do gather certain non-personally identifiable information such as standard web log information, device,
        browser, and software information,
        carrier and connection information for all visitors of our web sites. We may use this information to analyze
        trends and statistics so as to
        help us provide you with better services. We use cookies to understand site usage and to improve the content and
        offerings on our website.
        We use cookies to personalize your experience on our web-page. You hereby agree to accept the terms and
        conditions set forth in this Terms of Use.
        In any event or situation, if you are not agreeing with these terms and conditions, you are requested by Quantum
        IT not to use the website or
        download any material from it. You hereby approve to follow all the copyright laws worldwide in your use of this
        website and to prevent any
        unauthorized copying of the material.
    </p>
    <p>Quantum IT is maintaining business relationships with thousands of customers, suppliers, governments, and others
        worldwide. We have used words like partnership, and partner in order to indicate business relationships
        involving common activities and interests, and words may not indicate precise legal relationships.</p>
    <p>You may access, update, correct or delete your Personal Information that we hold, including your profile and
        preferences. You may do so by contacting us at sales@quantumitinnovation.com.</p>
    <p>Our website is directed to people in their business and professional capacity only. It is not intended for
        children under thirteen (13) years of age. Therefore, we do not knowingly/unknowingly solicit data or market it
        to children under the age of thirteen (13).</p>
    <h5>Unlawful or Prohibited Use of the Website</h5>
    <p>You shall not use the website for any purpose that is unlawful or prohibited by the Terms of Use. You are not
        allowed to use the website in any manner that could damage, disable, malware, or the network connected to the
        Quantum IT server.</p>
    <h5>Modifications in Terms of Use</h5>
    <p>Quantum IT reserves the right to change, modify, add or remove any portion of the Terms of Use in whole or in
        part, at any time. The modification or change in Terms of Use will be effective once the notice of such changes
        is posted.</p>
    <p class="pb-5"><strong>Sales/ Support:</strong> email: sales@quantumitinnovation.com Tel: + 91 9717998517</p>
</div>