<div class="container-fluid portfolio">
    <div class="container d-flex flex-column">
        <div class="container numbers w-100 my-5">
            <div class="numbers-section rounded-3 d-flex align-items-center justify-content-center container w-100">
                <div class="latest-news d-flex text-align-center w-75 justify-content-center align-content-center">
                    <div class="text-white">
                        <div class="milestone-number">
                            <h1 class="">
                                Case Study
                            </h1>
                        </div>
                        <div class="milestone-title">
                            <p class="">Look Into Our Success Stories</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container heading w-100 h-100 d-flex flex-column align-items-center justify-content-center">
            <div class="desc align-self-center mt-3 w-75">
                <p class="opacity-50 text-align-center">
                    Real Results from Our Proven SEO Strategies
                </p>
            </div>
        </div>
        <div class="container mt-4 categories d-flex justify-content-center w-100">
            <div class="container gap-3 gap-lg-4 d-flex flex-wrap w-100 justify-content-center">
                <div class="button">
                    <button (click)="ChangeCaseStudy('Mobile App')"
                        [ngStyle]="{'background':activeTab==='Mobile App'?'linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%)':''}"
                        [ngClass]="isDarkTheme?'category-btn':'category-btn-light'" class="btn w-100">Mobile App
                        Development
                    </button>
                </div>
                <div class="button">
                    <button (click)="ChangeCaseStudy('Web Development')"
                        [ngStyle]="{'background':activeTab==='Web Development'?'linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%)':''}"
                        [ngClass]="isDarkTheme?'category-btn':'category-btn-light'" class="btn w-100">Web
                        App Development</button>
                </div>
                <div class="button">
                    <button (click)="ChangeCaseStudy('Digital Marketing')"
                        [ngStyle]="{'background':activeTab==='Digital Marketing'?'linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%)':''}"
                        [ngClass]="isDarkTheme?'category-btn':'category-btn-light'" class="btn w-100">Digital
                        Marketing</button>
                </div>
                <div class="button">
                    <button (click)="ChangeCaseStudy('Artificial Intilligence')"
                        [ngStyle]="{'background':activeTab==='Artificial Intilligence'?'linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%)':''}"
                        [ngClass]="isDarkTheme?'category-btn':'category-btn-light'" class="btn w-100">Artificial
                        Intelligence</button>
                </div>
            </div>
        </div>
        <div class="container-fluid my-4 apps">
            <!-- <div class="d-flex justify-content-center align-items-center mb-3">
                <div class="spinner-border text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div> -->
            <div class="d-flex justify-content-center apps-container">
                <div class="w-100 d-flex justify-content-evenly gap-3 gap-lg-0">
                    <div class="app2-cont gap-3 justify-content-center d-flex flex-column">
                        <div *ngIf="filteredProjects[0]" class="app p-3 rounded-3"
                            [ngStyle]="{'background':isDarkTheme?'#111111':'#ECF0FF'}">
                            <div class="app-img">
                                <img (click)="scrollToTop()" src="../../../../assets/portfolio/view-project.svg"
                                    [routerLink]="filteredProjects[0].link" class="view-project" alt="">
                                <img class="rounded-3" width="400" height="550"
                                    [src]="filteredProjects[0].portfolioImage" alt="">
                            </div>
                            <div class="app-detail mt-4">

                                <h3>

                                    {{filteredProjects[0]?.projectName}}
                                </h3>
                                <p>{{filteredProjects[0]?.name}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>