<div class="frames h-auto w-100">
    <div class="container-fluid p-0 mobile-app w-100 frame-1"
        [ngClass]="isDarkTheme?'mobile-app-dark':'mobile-app-light'">
        <div class="header h-100 container-fluid p-0 d-flex flex-column flex-lg-row">
            <div class="headline h-100 w-100">
                <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
                    <div
                        class="heading pl-lg-5 w-100 h-100 d-flex flex-column align-items-lg-start align-items-center justify-content-center ">
                        <h1 class="tagline text-center text-md-start fw-bolder w-lg-50">Premier
                            <span class="linear-text">Mobile App Development </span>Innovations
                        </h1>
                        <p class="fs-5 text-align-center text-lg-left ">
                            Our Mobile App Development services redefine the digital landscape, pushing boundaries with
                            revolutionary solutions that drive success.
                        </p>
                        <div class="buttons d-flex justify-content-center justify-content-lg-start w-100">
                            <button (click)="scrollToServices()"
                                class="btn-lm btn-primary mx-3 me-lg-3 mx-lg-0 px-lg-4 px-2 py-lg-3">Get
                                Started</button>
                            <button class="btn btn-outline-primary mx-3 px-lg-4 px-2 py-lg-3 text-uppercase "
                                (click)="scrollToFooter()">learn
                                More</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image h-100 w-100">
                <img class="w-100" src="../../../assets/mobile/heading.svg" alt="">
            </div>
        </div>
    </div>

    <div class="frame-2 w-100 my-5 ">
        <div class="container d-flex flex-column flex-lg-row align-items-center justify-content-center">
            <div class="image h-100 w-100" data-aos="fade-in">
                <img src="../../../../assets/mobile/ourservice.png" alt="">
            </div>
            <div id="our-services" class="desc h-100 w-100 d-flex align-items-center justify-content-center">
                <div class="heading-frame-2 ">
                    <div data-aos="fade-up" class="button my-2 d-flex justify-content-center justify-content-lg-start">
                        <button class="our-process-btn">Our Services</button>
                    </div>

                    <div data-aos="fade-up" class="our-process mb-4">
                        <h1 class="text-align-center text-lg-start">Services We Offer
                        </h1>
                    </div>

                    <div data-aos="fade-up" class="w-75 my-3">
                        <h3 class="fw-light">What We Do</h3>
                    </div>

                    <div class="list mb-2">
                        <ul class=" list-unstyled ">
                            <li data-aos="fade-up"
                                class=" d-flex align-items-center justify-content-start list-unstyled my-3"
                                *ngFor="let data of list1">
                                <i class="fa-regular fa-circle mx-2"></i>
                                <p class="fw-light m-0 list-check">{{data}}</p>
                            </li>
                        </ul>
                    </div>
                    <div data-aos="fade-up" class="button d-flex justify-content-lg-start justify-content-center">
                        <button (click)="scrollToFooter()"
                            class="btn-lm mt-5 fs-5 rounded-5 d-flex align-items-center justify-content-between">
                            Develop Your App
                            <i class="fa-solid fa-arrow-right ms-3"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-3 container-fluid p-lg-0 w-100 ">
        <img *ngIf="isDarkTheme" src="../../../../assets/mobile/service-bg.svg" class="w-100" alt="">
        <img *ngIf="!isDarkTheme" src="../../../../assets/mobile/service-light.svg" class="w-100" alt="">
    </div>

    <div class="container d-flex frame-2 r">
        <div class="container d-flex flex-column justify-content-between my-5 pe-lg-5 what-we-do-title-container">
            <div class="heading my-5 my-lg-0 d-flex flex-column flex-lg-row justify-content-between align-items-center">
                <div data-aos="fade-up"
                    class="text w-100 align-items-center align-items-lg-start  d-flex flex-column justify-content-center justify-content-lg-start ">
                    <div class="button my-3 my-lg-0">
                        <button class="our-process-btn">
                            Our Process
                        </button>
                    </div>
                    <div class="txt my-3 my-lg-0">
                        <h1 class="dev-ai w-75">
                            How Quantum Develops <br> State-of-the-Art Apps
                        </h1>
                    </div>
                </div>
            </div>

            <div class="what-we-do w-100 h-100 mt-lg-5">
                <div class="row w-100 h-100  g-4 align-items-center">
                    <div data-aos="slide-up" *ngFor="let data of aiService" class="col-lg-4 col-12">
                        <div [ngClass]="isDarkTheme?'ai-bg-dark':'ai-bg-light'"
                            class="col-details px-5 ai-data py-lg-2 d-flex align-items-start justify-content-evenly flex-column">
                            <div data-aos="slide-up" class="serial-no">
                                <h3 class="fw-light" style="color: #43BAFF;">{{data?.num}}</h3>
                            </div>
                            <div data-aos="slide-up" class="title w-75">
                                <h4 class="">{{data?.title}}</h4>
                            </div>
                            <div data-aos="slide-up" class="desc w-100">
                                <p style="color: #8990AC; line-height:30px">{{data?.desc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container numbers w-100">
        <div class="numbers-section container w-100">
            <div
                class="d-flex flex-column text-white flex-lg-row text-align-left justify-content-lg-center justify-content-evenly align-items-center h-100 w-100">
                <div class=" w-75">
                    <div class="miletone-number fw-bold fs-1">Got a Project or Idea?</div>
                    <div class="miletone-title fw-lighter fs-4">Leave your details and we’ll be in touch
                        within 24 hours.</div>
                </div>
                <div class="buttons-milestone d-flex justify-content-start">
                    <button (click)="scrollToFooter()" class="btn-lm btn-primary mx-3 px-lg-4 p-2 py-lg-3 ">Get In
                        Touch</button>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-4 d-flex align-items-center justify-content-center my-5">
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <div class="head w-100 h-100 d-flex flex-column align-items-center justify-content-center">
                <div class="button my-2" data-aos="slide-up">
                    <button class="our-process-btn">Our Projects</button>
                </div>

                <div class="our-process my-2 " data-aos="slide-up">
                    <h1 class=" text-align-center">Highlighting Our <br>
                        Accomplished Endeavors</h1>
                </div>

                <div class="success-desc w-50 my-2 text-align-center" data-aos="slide-up">
                    <p>We assist businesses in healthcare real estate and various other industries
                        in capitalizing on new opportunities and navigating business challenges.</p>
                </div>
            </div>

            <div class="projects container">
                <div class="container d-flex d-lg-block flex-column gap-5 gap-lg-0 h-100 w-100">
                    <div *ngIf="projects[0]"
                        class="project-one project w-100 position-relative d-flex justify-content-center align-items-center">
                        <div [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                            class="project-container h-75 w-100 position-absolute d-flex flex-column flex-lg-row p-lg-5">
                            <div class="app-details h-100 w-100 d-flex align-items-center justify-content-center">
                                <div data-aos="fade-in"
                                    class="app-details-container w-75 h-100 m-auto d-flex flex-column align-items-center align-items-lg-start justify-content-evenly ">
                                    <div>
                                        <button class="app-button app-button-one text-capitalize">App</button>
                                    </div>
                                    <div class="name">
                                        <h2>{{projects[0]?.name}}</h2>
                                    </div>
                                    <div class="details fw-lighter text-align-center text-lg-start fs-5">
                                        {{(projects[0]?.description.length>100)? (projects[0]?.description | slice:0:100)+'...':(projects[0]?.description)}}
                                    </div>
                                    <div [routerLink]="'app-details/' + projects[0]?._id" (click)="scrollToTop()"
                                        class="view-more fw-light d-flex align-items-center">
                                        <p class="p-0 me-4 mb-0">View More Details</p>
                                        <i class="fa fa-solid fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div data-aos="fade-in" class="app-image h-100 w-100">
                                <div class="container project-img-container h-100 w-100 overflow-hidden p-0">
                                    <img class="project-image border-white border-3 rounded-1 w-100 h-100"
                                        [src]="projects[0]?.image" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="projects[1]"
                        class="project-two project w-100 position-relative d-flex justify-content-center align-items-center">
                        <div [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                            class="project-container h-75 w-100 position-absolute d-flex p-lg-5 flex-lg-row-reverse flex-column">
                            <div class="app-details h-100 w-100 d-flex align-items-center justify-content-center">
                                <div data-aos="fade-in"
                                    class="app-details-container align-items-center align-items-lg-start w-75 h-100 m-auto d-flex flex-column justify-content-evenly ">
                                    <div>
                                        <button class="app-button app-button-two text-capitalize">App</button>
                                    </div>
                                    <div class="name">
                                        <h2>{{projects[1]?.name}}</h2>
                                    </div>
                                    <div class="details text-align-center text-lg-start fw-lighter fs-5">

                                        {{(projects[1]?.description.length>100)? (projects[1]?.description | slice:0:100)+'...':(projects[1]?.description)}}
                                    </div>
                                    <div [routerLink]="'app-details/' + projects[1]?._id" (click)="scrollToTop()"
                                        class="view-more fw-light d-flex align-items-center">
                                        <p class="p-0 me-4 mb-0">View More Details</p>
                                        <i class="fa fa-solid fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div data-aos="fade-in" class="app-image h-100 w-100">
                                <div class="container project-img-container h-100 w-100 overflow-hidden p-0">
                                    <img class="project-image border-white border-3 rounded-1 w-100 h-100"
                                        [src]="projects[1]?.image" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="projects[2]" [ngStyle]="{background:isDarkTheme?'#111111':'#ECF0FF'}"
                        class="project-three project w-100 position-relative d-flex justify-content-center align-items-center">
                        <div
                            class="project-container h-75 w-100 position-absolute d-flex flex-column flex-lg-row p-lg-5">
                            <div class="app-details h-100 w-100 d-flex align-items-center justify-content-center">
                                <div data-aos="fade-in"
                                    class="app-details-container align-items-center align-items-lg-start w-75 h-100 m-auto d-flex flex-column justify-content-evenly ">
                                    <div>
                                        <button class="app-button app-button-three text-capitalize">App</button>
                                    </div>
                                    <div class="name">
                                        <h2>{{projects[2]?.name}}</h2>
                                    </div>
                                    <div class="details text-align-center text-lg-start fw-lighter fs-5">
                                        {{(projects[2]?.description.length>100)? (projects[2]?.description |
                                        slice:0:100)+'...':(projects[2]?.description)}}
                                    </div>
                                    <div [routerLink]="'app-details/' + projects[2]?._id" (click)="scrollToTop()"
                                        class="view-more fw-light d-flex align-items-center">
                                        <p class="p-0 me-4 mb-0">View More Details</p>
                                        <i class="fa fa-solid fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div data-aos="fade-in" class="app-image h-100 w-100">
                                <div class="container project-img-container h-100 w-100 overflow-hidden p-0">
                                    <img class="project-image border-white border-3 rounded-1 w-100 h-100"
                                        [src]="projects[2]?.image" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-running-dots" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner><app-form></app-form> -->