* {
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
}

.heading-frame-2 {
    width: 75%;
}

.mobile-app {
    height: 100vh;
}

.mobile-app-dark {

    background:
        linear-gradient(0deg, #191919, #000000),
        linear-gradient(248.66deg, #000000 0%, #1A1B1E 98.1%);
}

.mobile-app-light {
    background-color: white;
}

.tagline {
    font-size: 62px;
    line-height: 78px;
}

.linear-text {
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-lm {
    color: white;
    padding: 10px 20px;
    background-color: #43BAFF;
    border: none;
    border-radius: 5px;
}

.frame-2 {
    height: auto;
}

.our-process-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0099FF;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.fa-circle {
    color: #67FBAE
}

.txt {
    width: 75%;
}

.frame-3 {
    height: auto;
    background-size: contain;
    /* background-image: url("../../../../assets/backgroungimages/mobile-app.svg"); */
    background-repeat: no-repeat;
}

.ai-data {
    /* box-sizing: border-box; */
    height: 400px;
    border: 1px solid #FFFFFF0F;
    box-shadow: 0px 17px 25px 0px #07496F05;
}

.ai-bg-dark {
    background: #111111;
}

.ai-bg-light {
    background: #ECF0FF;
}

.numbers-section {
    height: 200px;
    border-radius: 5px;
    padding: 40px 150px;
    background: linear-gradient(90deg, #43BAFF 0%, #7141B1 100%);
}

.projects {
    height: auto;
}

.project {
    height: 80vh;
}

.project-container {
    background: #111111;
}

.project-img-container {
    border-radius: 10px;
}

.app-button {
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    background: #43BAFF;
}

.view-more {
    color: #43BAFF;
    cursor: pointer;
}

.view-more .fa-arrow-right {
    color: #43BAFF;
}

@media (max-width: 1024px) {
    .mobile-app {
        height: auto;
    }

    .ai-data,
    .frame-2 .container {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .numbers-section {
        padding: 40px 50px;
    }

    .project {
        height: 35vh;
    }

    .app-details {
        height: auto !important;
    }

    .app-details-container {
        height: 100% !important;
    }
}

@media (max-width: 992px) {

    .frame-3 {
        height: 35vh;
    }

    .w-75 {
        width: 100% !important;
    }

    .numbers-section {
        padding: 15px 50px;
    }

    .project {
        height: 60vh;
    }

    .project-container {
        height: 100% !important;
    }

    .app-details {
        height: 100% !important;
    }

}

@media (max-width: 575.98px) {

    .mobile-app {
        height: auto;
    }

    .tagline {
        font-size: 40px;
        line-height: 50px;
        text-align: center !important;
    }

    .what-we-do {
        display: flex;
        justify-content: center;
    }

    .txt {
        width: 100% !important;
        text-align: center;
    }

    .dev-ai {
        font-size: 20px;
    }

    .heading-frame-2 {
        width: 100%;
    }

    .numbers-section {
        padding: 20px;
    }

    .btn-lm {
        font-size: 12px;
    }

    .miletone-number {
        font-size: 15px !important;
    }

    .miletone-title {
        font-size: 10px !important;
    }

    .buttons-milestone {
        width: 100%;
    }

    .success-desc {
        width: 90% !important;
    }

    .app-details-container {
        width: 95% !important;
    }

    .project-container {
        height: 100% !important;
    }

    .project-img-container {
        height: 80% !important;
        width: 70% !important;
    }

    .app-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50% !important;
    }
}