* {
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
}

.heading-frame-2 {
    width: 75%;
}

.mobile-app {
    height: 100vh;
}

.mobile-app-dark {

    background:
        linear-gradient(0deg, #191919, #000000),
        linear-gradient(248.66deg, #000000 0%, #1A1B1E 98.1%);
}

.mobile-app-light {
    background-color: white;
}

.tagline {
    font-size: 55px;
    line-height: 78px;
}

.linear-text {
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-lm {
    color: white;
    padding: 10px 20px;
    background-color: #43BAFF;
    border: none;
    border-radius: 5px;
}

.frame-2 {
    height: auto;
}

.our-process-btn {
    padding: 7px 15px 7px 15px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0099FF;
    box-shadow: 0px -7px 11px 0px #A48FFF1F inset;
    background: linear-gradient(91.58deg, #43BAFF 0.52%, #7044B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.fa-circle {
    color: #67FBAE
}

.txt {
    width: 75%;
}

.service-card:hover {
    cursor: pointer;
    transform: translateY(-5px) scale(1.050) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px var(--box-shadow-color);
    transition: all 0.5s;
}



.frame-3 {
    height: auto;
    background-size: contain;
    /* background-image: url("../../../../assets/backgroungimages/mobile-app.svg"); */
    background-repeat: no-repeat;
}

.frame-4>.container>.head>.success-desc>p {
    color: #999999;
}

.ai-data {
    /* box-sizing: border-box; */
    height: 400px;
    border: 1px solid #FFFFFF0F;
    box-shadow: 0px 17px 25px 0px #07496F05;
}

.ai-bg-dark {
    background: #111111;
}

.ai-bg-light {
    background: #ECF0FF;
}

.numbers-section {
    height: 200px;
    border-radius: 5px;
    padding: 40px 150px;
    background: linear-gradient(90deg, #43BAFF 0%, #7141B1 100%);
}

.projects {
    height: auto;
}

.project {
    height: 80vh;
}


.project-img-container {
    border-radius: 10px;
}

.app-button {
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    background: #43BAFF;
}

.view-more {
    color: #43BAFF;
    cursor: pointer;
}

.view-more .fa-arrow-right {
    color: #43BAFF;
}

@media(min-width:1024px) and (max-width:1366px) {
    .project-one>.project-container>.app-image>.project-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1025px) and (max-width: 1180px) {
    .what-we-do-title-container {
        padding-left: 0px !important;
    }

    .ai-data {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .project {
        height: 50vh;
    }
}

@media (max-width: 1024px) {
    .mobile-app {
        height: auto;
    }

    .ai-data,
    .frame-2 .container {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .frame-2>.container>.heading>.text {
        align-items: center !important;
    }

    .frame-2>.container>.heading>.text>.txt {
        width: 100% !important;
    }

    .frame-2>.container>.heading>.text>.txt>.dev-ai {
        width: 100% !important;
        text-align: center;
    }

    .numbers-section {
        padding: 40px 50px;
    }

    .project {
        height: 60vh;
    }

    .app-details {
        height: auto !important;
    }

    .app-details-container {
        height: 100% !important;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .heading>.tagline {
        text-align: center !important;
    }
}

@media (max-width: 992px) {

    .frame-3 {
        height: 35vh;
    }

    .w-75 {
        width: 100% !important;
    }

    .numbers-section {
        padding: 15px 50px;
    }

    .project {
        height: 60vh;
    }

    .project-container {
        height: 100% !important;
    }

    .app-details {
        height: 100% !important;
    }

}

@media(min-width:768px) and (max-width:820px) {
    .details {
        width: 75% !important;
    }
}

@media(max-width:820px) {
    .frames>.mobile-app>.header>.image {
        padding: 10px;
    }
}

@media(max-width:768px) {
    .header>.headline {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .heading>.tagline {
        font-size: 47px;
        line-height: 69px;
    }

    .heading>p {
        margin-bottom: 35px;
        font-size: 16px !important;
    }

    .header>.image>img {
        width: 85vw !important;
        height: 55vh;
    }

    .frame2>.container>.desc {
        width: 85vw;
    }

    .frame2>.container>.desc>.heading-frame-2 {
        margin-top: 20px;
    }

    .desc>.heading-frame-2>.button {
        margin: 5px !important;
    }

    .desc>.heading-frame-2 {
        padding-bottom: 51px;
        padding-top: 30px;
    }

    .frame-4>.container>.head>.success-desc>p {
        font-size: 1.25rem;
        font-weight: lighter;
        color: unset;
    }
}

@media (max-width: 575.98px) {

    .mobile-app {
        height: auto;
    }

    .heading>.tagline {
        font-size: 28px;
        line-height: 38px;
        text-align: center !important;
    }

    .heading>p {
        font-size: 16px !important;
        line-height: 23px;
    }


    .our-process-btn {
        font-size: 10px;
        line-height: 20px;
        padding: 5px 12px 5px 12px;
    }

    .our-process>h1,
    .dev-ai {
        font-size: 22px;
        line-height: 30px;
    }

    .what-we-do {
        display: flex;
        justify-content: center;
    }

    .txt {
        width: 100% !important;
        text-align: center;
    }

    .heading-frame-2 {
        width: 100%;
    }

    .numbers-section {
        padding: 20px;
    }

    .btn-lm {
        font-size: 12px;
    }

    .miletone-number {
        font-size: 15px !important;
    }

    .miletone-title {
        font-size: 10px !important;
    }

    .buttons-milestone {
        width: 100%;
    }

    .success-desc {
        width: 90% !important;
    }

    .app-details-container {
        width: 95% !important;
    }

    .project-container {
        height: 100% !important;
    }

    .project-img-container {
        height: 80% !important;
        width: 70% !important;
    }

    .app-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50% !important;
    }

    <<<<<<< HEAD .frame-4>.container>.head>.success-desc>p {
        font-size: 12px !important;
        line-height: 16px;

        =======.frame-4>.container>.head>.success-desc>p {
            font-size: 16px !important;
            line-height: 23px;
            >>>>>>>238ed53c6d965324ca3553744465a9189db4e4a8
        }
    }